<div class="page">
  <div class="container">
    <div class="party">
      <app-top [data]="top"></app-top>
      <app-leader [head]="head" *ngIf="partyId !== 1"></app-leader>
      <div class="sample">
        <div class="sample-title">{{'party-page.sample-title' | translate}}</div>
        <div class="sample_selects">
          <div class="sample-content">{{'party-page.sample-first-select' | translate}}</div>
          <app-simple-select [setValues]="sampleList" (valueChange)="switchSample($event)"></app-simple-select>
        </div>
      </div>
      <app-single-opition-widget *ngIf="loadOpition" [question]="'party-page.voting.question' | translate" [opitionUrl]="'/vote/party-user'" [setOpition]="opition" [infoSlug]="'party.vote'" [id]="partyId"></app-single-opition-widget>
      <div class="title">
        <h2>{{'party-page.composition-title' | translate}}</h2>
        <!--        <div class="icon">-->
        <!--          <svg class="svg-info">-->
        <!--            <use [attr.xlink:href]="'#info'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
        <!--          </svg>-->
        <!--        </div>-->
      </div>
      <app-party-composition [setParties]="parties" [mainParty]="top" (partiesIsOpen)="openModal($event)"></app-party-composition>
      <div class="title">
        <div class="icon" (click)="showInfo('party.influence')">
          <svg class="svg-info">
            <use [attr.xlink:href]="'#info'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <h2>{{'party-page.influence-title' | translate}}</h2>
      </div>
      <app-influence [setInfluence]="influence"></app-influence>
      <div class="title">
        <div class="icon" (click)="showInfo('party.stat.improve')">
          <svg class="svg-info">
            <use [attr.xlink:href]="'#info'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <h2>{{'party-page.indicators-title' | translate}}</h2>
      </div>
      <app-statistic [checkSingle]="false" [setAdoption]="static"></app-statistic>
      <h3 *ngIf="missings">
        <div class="icon" (click)="showInfo('party.stat.vote')">
          <svg class="svg-info">
            <use [attr.xlink:href]="'#info'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        {{'party-page.inactive-label' | translate}} - {{((+missings.not_vote * 100 / missings.votes) + +(missings.absent * 100 / missings.votes)).toFixed(1) }}%
      </h3>
      <app-missings *ngIf="missings" [setVoting]="missings"></app-missings>


      <!--      <app-statistic [setAdoption]="{adoption: stats?.voting, check: statsCheck}"></app-statistic>-->
      <!--      <h3>{{15}}% {{'person-page.missing-label' | translate}}</h3>-->
      <!--      <app-missings  [setVoting]="{voting: stats?.voting, check: statsCheck}"></app-missings>-->
      <div class="row" *ngIf="lawsProblemsList.length">
        <div class="title">
          <div class="icon" (click)="showInfo('party.law.violation')">
            <svg class="svg-info">
              <use [attr.xlink:href]="'#info'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <h2>{{'person-page.laws-problems-head' | translate}}</h2>
        </div>
        <app-add-article-btn [rLink]="['/create/material']" [skipLoc]="false"></app-add-article-btn>
      </div>
      <app-laws-problems *ngIf="lawsProblemsList.length" [setProblems]="lawsProblemsList"></app-laws-problems>
      <div class="title">
        <h2>{{'party-page.members-title' | translate}}</h2>
      </div>
      <app-members [members]="members"></app-members>
      <app-social-widget></app-social-widget>
      <app-more-articles-widget [setArticles]="{articles: articles, check: checkHttpArticles}" [title]="'party-page.more-articles-title' | translate"></app-more-articles-widget>
    </div>
    <app-fixed-social [rotate]="false" [social]="true"></app-fixed-social>
    <app-right-widget [slug]="{articles: articles, check: checkHttpArticles}"></app-right-widget>
    <app-parties-modal [setVisibility]="modalData" (close)="closeModal()"></app-parties-modal>
  </div>
</div>
