@import "~src/assets/scss/_variables";

.page {
  padding: v_2xl(1200, 0) 0;
  //box-sizing: content-box;
}

.container {
  padding: 0 88px;
  position: relative;
}

.party {
  max-width: 590px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  app-top, app-leader, app-single-opition-widget, app-party-composition, app-influence, app-statistic, app-missings, app-laws-problems {
    display: block;
    width: 100%;
  }
  
  app-top {
    margin-bottom: 24px;
  }
  
  app-statistic {
    margin-bottom: 28px;
  }
  
  app-leader {
    margin-bottom: 45px;
  }
  
  app-single-opition-widget {
    margin-bottom: 50px;
  }
  
  app-party-composition, app-influence, app-laws-problems, app-missings {
    margin-bottom: 40px;
  }
  
  app-more-articles-widget, app-social-widget {
    display: none;
  }
  
  h3 {
    font-family: 'SourceSansProSemiBold';
    font-size: 20px;
    letter-spacing: 0.3px;
    color: #303233;
    margin-bottom: 10px;
    position: relative;
    .icon {
      position: absolute;
      right: 100%;
      transform: translate(0, -36%);
      padding: 5px;
      cursor: pointer;
      display: inline-block;
      vertical-align: super;
      &:hover {
        svg {
          fill: #303233;
        }
      }
    
      svg {
        width: 6.2px;
        height: 15px;
        fill: #A3ACB3;
      }
    }
  }
  h2 {
    font-family: 'SourceSansProSemiBold';
    font-size: 25px;
    color: #303233;
  }
  
  .title {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 24px;
    position: relative;
  
    .icon {
      position: absolute;
      right: 100%;
      transform: translate(0, -15%);
      padding: 5px;
      cursor: pointer;
      display: inline-block;
      vertical-align: super;
      &:hover {
        svg {
          fill: #303233;
        }
      }
    
      svg {
        width: 6.2px;
        height: 15px;
        fill: #A3ACB3;
      }
    }
  }
  
  
  .sample {
    margin-bottom: 50px;
    width: 100%;
    .sample-title {
      font-family: 'SourceSansPro';
      font-size: 15px;
      color: #A3ACB3;
      margin-bottom: 7px;
    }
    
    .sample-content {
      font-family: 'SourceSansPro';
      font-size: 16px;
      color: #767D80;
      display: flex;
      align-items: center;
      background: #EAECED;
      border-radius: 3px;
      overflow: hidden;
      min-height: 35px;
      padding: 8px 14px;
      margin-right: 20px;
      //max-width: 400px;
      //width: 100%;
    }
    
    .sample_selects {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  
  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    
    .title {
      margin-bottom: 0;
    }
    
    ::ng-deep {
      .add_article {
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}


@media all and (max-width: 1199px) {
  //@import "~src/assets/scss/_variables";
  
  .page {
    padding: 50px 0;
    //padding: v_2xl(1200, 0) 0;
    //box-sizing: content-box;
  }
  
  .container {
    padding-right: 335px;
    padding-left: 95px;
    //padding: 0 88px;
    //position: relative;
  }
  
  .party {
    max-width: none;
    //max-width: 590px;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
    
    app-top, app-leader, app-single-opition-widget, app-party-composition, app-influence, app-statistic, app-missings, app-laws-problems {
      //display: block;
      //width: 100%;
    }
    
    app-top{
      margin-bottom: 30px;
    }
    
    app-statistic {
      //margin-bottom: 28px;
    }
    
    app-leader {
      //margin-bottom: 45px;
    }
    
    app-single-opition-widget {
      //margin-bottom: 50px;
    }
    
    app-party-composition, app-influence, app-laws-problems {
      //margin-bottom: 40px;
    }
    
    h3 {
      //font-family: 'SourceSansProSemiBold';
      //font-size: 20px;
      //letter-spacing: 0.3px;
      //color: #303233;
      //margin-bottom: 10px;
      margin-bottom: 18px;
    }
    h2 {
      //font-family: 'SourceSansProSemiBold';
      //font-size: 25px;
      //color: #303233;
    }
    
    .title {
      //display: flex;
      //align-items: flex-start;
      //width: 100%;
      //margin-bottom: 24px;
      
      .icon {
        //margin-left: 3px;
        //transform: translateY(-10px);
        //padding: 5px;
        //cursor: pointer;
        
        svg {
          //width: 6.2px;
          //height: 15px;
          //fill: #A3ACB3
        }
      }
    }
    
    
    .sample {
      //margin-bottom: 50px;
      
      .sample-title {
        //font-family: 'SourceSansPro';
        //font-size: 15px;
        //color: #A3ACB3;
        //margin-bottom: 7px;
      }
      
      .sample-content {
        //font-family: 'SourceSansPro';
        //font-size: 16px;
        //color: #767D80;
        //
        //background: #EAECED;
        //border-radius: 3px;
        //overflow: hidden;
        //height: 35px;
        //padding: 8px 14px;
        //min-width: 400px;
      }
    }
    
    .row {
      //width: 100%;
      //display: flex;
      //justify-content: space-between;
      //margin-bottom: 16px;
      
      ::ng-deep {
        .add_article {
          &:hover {
            //background-color: transparent;
          }
        }
      }
    }
  }
}


@media all and (max-width: 959px) {
  //@import "~src/assets/scss/_variables";
  
  .page {
    padding: 40px 0;
    //padding: v_2xl(1200, 0) 0;
    //box-sizing: content-box;
  }
  
  .container {
    padding-right: 30px;
    padding-left: 85px;
    //padding: 0 88px;
    //position: relative;
  }
  
  .party {
    //max-width: none;
    //max-width: 590px;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
    
    app-top, app-leader, app-single-opition-widget, app-party-composition, app-influence, app-statistic, app-missings, app-laws-problems {
      //display: block;
      //width: 100%;
    }
    
    app-top{
      margin-bottom: 20px;
    }
    
    app-statistic {
      //margin-bottom: 28px;
    }
    
    app-leader, app-single-opition-widget {
      margin-bottom: 36px;
    }
    
    app-single-opition-widget {
      //margin-bottom: 50px;
    }
    
    app-party-composition, app-influence, app-laws-problems {
      //margin-bottom: 40px;
    }
  
    app-more-articles-widget {
      display: block;
      width: 100%;
      margin-top: 34px;
    
      ::ng-deep {
        .top {
          padding-right: 12px;
        }
      }
    }
    
    h3 {
      //font-family: 'SourceSansProSemiBold';
      //font-size: 20px;
      //letter-spacing: 0.3px;
      //color: #303233;
      //margin-bottom: 10px;
      margin-bottom: 14px;
    }
    h2 {
      //font-family: 'SourceSansProSemiBold';
      //font-size: 25px;
      //color: #303233;
    }
    
    .title {
      //display: flex;
      //align-items: flex-start;
      //width: 100%;
      //margin-bottom: 24px;
      
      .icon {
        //margin-left: 3px;
        //transform: translateY(-10px);
        //padding: 5px;
        //cursor: pointer;
        
        svg {
          //width: 6.2px;
          //height: 15px;
          //fill: #A3ACB3
        }
      }
    }
    
    
    .sample {
      margin-bottom: 38px;
      
      .sample-title {
        //font-family: 'SourceSansPro';
        //font-size: 15px;
        //color: #A3ACB3;
        //margin-bottom: 7px;
      }
      
      .sample-content {
        //font-family: 'SourceSansPro';
        //font-size: 16px;
        //color: #767D80;
        //
        //background: #EAECED;
        //border-radius: 3px;
        //overflow: hidden;
        //height: 35px;
        //padding: 8px 14px;
        //min-width: 400px;
      }
    }
    
    .row {
      //width: 100%;
      //display: flex;
      //justify-content: space-between;
      //margin-bottom: 16px;
      
      ::ng-deep {
        .add_article {
          &:hover {
            //background-color: transparent;
          }
        }
      }
    }
  }
}

@media all and (max-width: 599px) {
  //@import "~src/assets/scss/_variables";
  
  .page {
    padding: 30px 0 50px;
    //padding: v_2xl(1200, 0) 0;
    //box-sizing: content-box;
  }
  
  .container {
    padding: 0 10px;
    //padding: 0 88px;
    //position: relative;
  }
  
  app-fixed-social {
    display: none;
  }
  
  .party {
    //max-width: none;
    //max-width: 590px;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
    app-top, app-leader {
      padding: 0 10px;
    }
    app-top, app-leader, app-single-opition-widget, app-party-composition, app-influence, app-statistic, app-missings, app-laws-problems {
      //display: block;
      //width: 100%;
    }
    
    app-top{
      //margin-bottom: 20px;
    }
    
    app-statistic {
      //margin-bottom: 28px;
    }
    app-party-composition, .title, h3, app-influence, app-statistic, app-missings {
      padding: 0 10px;
    }
    
    app-leader, app-single-opition-widget {
      margin-bottom: 36px;
    }
    
    app-single-opition-widget {
      //margin-bottom: 50px;
    }
    
    app-party-composition, app-influence, app-laws-problems {
      //margin-bottom: 40px;
    }
  
    app-more-articles-widget {
      //display: block;
      //width: 100%;
      //margin-top: 34px;
      //
      //::ng-deep {
      //  .top {
      //    padding-right: 12px;
      //  }
      //}
    }
    app-social-widget {
      display: block;
      width: 100%;
      margin-top: 28px;
    }
    h3 {
      //font-family: 'SourceSansProSemiBold';
      //font-size: 20px;
      //letter-spacing: 0.3px;
      //color: #303233;
      //margin-bottom: 10px;
      //margin-bottom: 14px;
  
      .icon {
        right: auto;
        left: -4px;
      }
    }
    h2 {
      //font-family: 'SourceSansProSemiBold';
      font-size : 22px;
      //color: #303233;
    }
    
    .title {
      //display: flex;
      //align-items: flex-start;
      //width: 100%;
      margin-bottom: 14px;
  
      .icon {
        right: auto;
        left: -4px;
      }
      .icon {
        //margin-left: 3px;
        //transform: translateY(-10px);
        //padding: 5px;
        //cursor: pointer;
        
        svg {
          //width: 6.2px;
          //height: 15px;
          //fill: #A3ACB3
        }
      }
    }
    
    
    .sample {
      margin-bottom: 38px;
      padding: 0 10px;
      
      .sample-title {
        //font-family: 'SourceSansPro';
        //font-size: 15px;
        //color: #A3ACB3;
        //margin-bottom: 7px;
      }
      
      .sample-content {
        //font-family: 'SourceSansPro';
        //font-size: 16px;
        //color: #767D80;
        //
        //background: #EAECED;
        //border-radius: 3px;
        //overflow: hidden;
        //height: 35px;
        //padding: 8px 14px;
        //min-width: 400px;
      }
    }
    
    .row {
      //width: 100%;
      //display: flex;
      //justify-content: space-between;
      //margin-bottom: 16px;
      
      ::ng-deep {
        .add_article {
          &:hover {
            //background-color: transparent;
          }
        }
      }
    }
  }
}


