<!--<div class="label" *ngIf="!problems.length && problemsCheck">{{'person-page.laws-problems.label' | translate}}</div>-->
<div class="list" *ngIf="problems.length" [class.__hidden]="!isOpen">
  <a href="" [routerLink]="['/material', problem.slug]" class="item" *ngFor="let problem of problems">
    <div class="photo">
      <img [src]="problem.cover" alt="">
    </div>
    <div class="data">
      <div class="title">{{problem.title}}</div>
      <div class="date">{{dateService.convert(problem.pub_time)}}</div>
    </div>
  </a>
</div>
<div class="more" *ngIf="problems.length && problems.length > 2" (click)="isOpen = !isOpen">{{('person-page.laws-problems.btn-label-' + (isOpen ? 'close' : 'open')) | translate}}</div>
<app-empy-list-string [text]="'errors.empy-widget-list' | translate" *ngIf="!problems.length"></app-empy-list-string>
