:host {
  text-align: center;
}

.label {
  font-family: 'SourceSansProSemiBold';
  font-size: 17px;
  letter-spacing: 0.26px;
  color: #A3ACB3;
  text-align: left;
}

.list {
  &.__hidden {
    .item {
      display: none;
      
      &:nth-of-type(1),
      &:nth-of-type(2) {
        display: flex;
      }
    }
  }
}
app-empy-list-string {
  text-align: left;
  display: block;
  width: 100%;
}
.item {
  background: #FFFFFF;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  height: 80px;
  margin-bottom: 10px;
  &:last-of-type {
    margin-bottom: 0;
  }
  
  .photo {
    overflow: hidden;
    max-width: 80px;
    min-width: 80px;
    border-radius: 3px;
    margin-right: 20px;
    img {
      width: 100%;
    }
  }
  
  .data {
    padding: 13px 15px;
    text-align: left;
  }
  
  .title {
    font-family : 'SourceSansProSemiBold';
    font-size : 17px;
    line-height : 17px;
    letter-spacing : 0.26px;
    color : #303233;
    margin-bottom: 7px;
  }
  
  .date {
    font-family : 'SourceSansPro';
    font-size : 14px;
    color : #AEB5BB;
  }
}

.more {
  display: inline-block;
  margin: 20px auto 0;
  padding: 5px;
  font-family : 'SourceSansPro';
  font-size : 16px;
  color : #2053AB;
  cursor: pointer;
}
