<div class="box">
  <div class="gallery_nav" [perfectScrollbar]="{}">
    <div class="gallery_nav-list" cdkDropListOrientation="horizontal" cdkDropList (cdkDropListDropped)="drop($event)">
      <div class="gallery_nav-item" *ngFor="let slide of slides; let indx = index" (click)="swiper.directiveRef.swiper().slideTo(indx)" cdkDrag>
        <img [src]="slide.img | safeUrl" alt="">
        <div class="item_tint">
          <div class="icon" (click)="deleteSlide(slide)">
            <svg class="svg-basket">
              <use [attr.xlink:href]="'#basket'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery_nav-add">
      <label>
        <input type="file" multiple (change)="getPhotos($event)"/>
      </label>
    </div>
  </div>
  <div class="slider_wrap">
    <div class="slider">
      <swiper *ngIf="slides.length" [config]="config" (indexChange)="i = $event; activeSlide = slides[i];" #slider>
        <div *ngFor="let slide of slides">
          <img [src]="slide.img | safeUrl" alt="">
        </div>
      </swiper>
      <div class="swiper_cover" *ngIf="!slides.length">
        <div class="tooltip">
          <svg class="svg-tools-4">
            <use [attr.xlink:href]="'#tools-4'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <div class="text" [innerHTML]="'add-material-page.photo-block.label' | translate"></div>
        </div>
      </div>

      <div class="button-prev">
        <svg class="svg-arr">
          <use [attr.xlink:href]="'#swiper-arr'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
      <div class="button-next">
        <svg class="svg-arr">
          <use [attr.xlink:href]="'#swiper-arr'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
    </div>
    <div class="bottom" *ngIf="slides.length">
      <span class="current">{{i + 1}}/{{slides.length}}</span>
      <div class="inp" *ngIf="this.activeSlide">
        <input [hidden]="lang !== 'ru'" title="" type="text" [(ngModel)]="this.activeSlide.caption_ru" [placeholder]="'add-material-page.blocks.placeholder_ru' | translate" (ngModelChange)="setSlidesChange.emit(slides)">
        <input [hidden]="lang !== 'ua'" title="" type="text" [(ngModel)]="this.activeSlide.caption_ua" [placeholder]="'add-material-page.blocks.placeholder_ua' | translate" (ngModelChange)="setSlidesChange.emit(slides)">
      </div>
    </div>
  </div>
</div>
<div class="error">{{error}}</div>
