@import "~src/assets/scss/_variables";

.gallery_nav {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 10px;
  
  .gallery_nav-list {
    position: relative;
    display: flex;
    align-items: center;
    //flex: 1;
  }
  
  .gallery_nav-item {
    width: 90px;
    margin-right: 16px;
    cursor: pointer;
    position: relative;
    line-height: 0;
    
    &:hover {
      .item_tint {
        opacity: 1;
      }
    }
  }
  
  .item_tint {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(48, 50, 51, .7);
    opacity: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 10;
    transition: opacity .15s ease-in-out;
    .icon {
      position: relative;
      padding: 5px;
    }
    .svg-basket {
      width: 10px;
      height: 10px;
      fill: #fff;
    }
  }
  
  .gallery_nav-add {
    position: relative;
    min-width: 92px;
    max-width: 92px;
    height: 63px;
    background-color: #E6E8EB;
    cursor: pointer;
    
    label {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      cursor: pointer;
    }
    
    input {
      display: none;
    }
    
    &:hover {
      &:before, &:after {
        background-color: #303233;
      }
    }
    
    &:before, &:after {
      display: block;
      content: '';
      width: 15px;
      height: 2px;
      background-color: #7C858C;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    &:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    
  }
}

.swiper_cover {
  background-color: #E6E8EB;
  border-radius: 3px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  display: flex;
  align-items: center;
  
  svg {
    width: 40px;
    height: 33.4px;
    fill: #7C858C;
    margin-right: 20px;
  }
  
  .text {
    font-family: 'SourceSansPro';
    font-size: 16px;
    line-height: 18px;
    color: #7C858C;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);

  .icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
  }
  .svg-basket {
    width: 10px!important;
    height: 10px!important;
    fill: #fff!important;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.gallery_nav-list.cdk-drop-list-dragging .gallery_nav-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.slider {
  user-select: none;
  position: relative;
  margin-bottom: v_xs(1200, 3);
  width: 100%;
  height: 360px;
  ::ng-deep {
    swiper {
      display: block;
      height: 360px;
      width: 100%;
    }
  }

  
  .swiper-slide {
    overflow: hidden !important;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      width: 100%;
      //height: auto !important;
      //width: auto !important;;
      //display: block !important;
      //margin: 0 auto !important;
    }
  }
  
  //overflow: hidden;
  
  .button-prev, .button-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    
    &:hover {
      .svg-arr {
        transform: scale(1.15);
      }
    }
    
    .svg-arr {
      width: 15px;
      height: 30px;
      fill: transparent;
      stroke: #303233;
    }
    
    &.swiper-button-disabled {
      opacity: .6;
      pointer-events: none;
      
      .svg-arr {
        stroke: #9FA5AB;
      }
    }
  }
  
  .button-prev {
    right: 100%;
    transform: rotate(180deg);
    padding-left: 22px;
  }
  
  .button-next {
    left: 100%;
    padding-left: 22px;
  }
  
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .current, .descr {
    font-family: 'SourceSansPro';
    font-size: 16px;
    color: #A3ACB3;
  }
  
  .inp {
    input {
      font-family: 'SourceSansProSemiBold';
      background-color: transparent;
      border-radius: 3px;
      overflow: hidden;
      
      width: 305px;
      height: 33px;
      text-align: right;
      padding: 0 18px;
      
      font-size: 16px;
      color: #303233;
      
      &:focus {
        background-color: #fff;
      }
    }
  }
}

.error {
  position: absolute;
  right: 0;
  bottom: -10px;
  transform: translateY(50%);
  font-family : 'SourceSansPro';
  font-size : 14px;
  letter-spacing : 0.35px;
  color : #FF0000;
  z-index: 100;
  background-color: #F7F7F7;
  padding: 3px 10px;
}
