@import "~src/assets/scss/_variables";

.box {
  background: #FFFFFF;
  border-radius: 3px;
  padding: 15px;
  overflow: hidden;
  //min-height: 305px;
}

.head {
  font-family: 'SourceSansProSemiBold';
  font-size: 17px;
  text-transform: uppercase;
  color: #AEB5BB;
  margin-bottom: v_l(1200, 10);
}

.row_top {
  display: flex;
  align-items: flex-end;
  margin-bottom: 14px;
  
  .percent {
    font-family : 'SourceSansProBold';
    font-size : 25px;
    letter-spacing : 0.38px;
    color : #585D61;
    display: inline-block;
    margin-right: 9px;
  }
  
  .label {
    font-family : 'SourceSansPro';
    font-size : 15px;
    letter-spacing : 0.22px;
    color : #585D61;
    padding-bottom: 2px;
  }
}

.summary {
  margin-bottom: 20px;
}

.row {
  display: flex;
  align-items: center;
  padding-left: 16px;
  margin-bottom: 4px;
  .separator {
    font-family: 'SourceSansPro';
    font-size: 11px;
    letter-spacing: 0.16px;
    color: #AEB5BB;
    margin: 0 7px;
  }
  
  .label {
    font-family : 'SourceSansProSemiBold';
    font-size : 15px;
    letter-spacing : 0.22px;
    color : #585D61;
    margin-right: 8px;
  }
  
  svg {
    width: 15px;
    height: 14px;
    margin-bottom: 1px;
    
    &.__green {
      fill: #6DCF3C;
    }
    &.__red {
      fill: #E82F2E;
    }
    &.__grey {
      fill: #A3ACB3;
    }
    
    
  }
  
  img {
    display: block;
    width: 20px;
  }
  
}

.tip {
  padding-left: 16px;
  font-family : 'SourceSansPro';
  font-size : 14px;
  letter-spacing : 0.21px;
  color : #AEB5BB;
  margin-bottom: 12px;
}

