<div class="box">
  <div class="head" [innerHTML]="'laws-list-page.ratio-voting-widget.head' | translate"></div>
  <div class="content" *ngIf="!empty">
    <div class="summary">
      <div class="row_top">
        <span class="percent">{{vote_compartion.for_percent + vote_compartion.against_percent + vote_compartion.abstained_percent}}%</span>
        <span class="label">{{'laws-list-page.ratio-voting-widget.coincidences-label' | translate}}</span>
      </div>


      <ng-container *ngIf="vote_compartion.for_percent">
        <div class="row">
          <div class="label">{{vote_compartion.for_percent}}%</div>
          <svg class="svg-building __green" [matTooltip]="'tooltips.widget.laws-gov-users-overlap.gov.for' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
            <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <div class="separator">/</div>
          <img src="/assets/img/btns/btn-1.png" [matTooltip]="'tooltips.widget.laws-gov-users-overlap.users.for' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip" alt="">
        </div>
        <div class="tip">{{'laws-list-page.ratio-voting-widget.coincidences.for' | translate}}</div>
      </ng-container>
      <ng-container *ngIf="vote_compartion.against_percent">
        <div class="row">
          <div class="label">{{vote_compartion.against_percent}}%</div>
          <svg class="svg-building __red" [matTooltip]="'tooltips.widget.laws-gov-users-overlap.gov.against' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
            <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <div class="separator">/</div>
          <img src="/assets/img/btns/btn-2.png" [matTooltip]="'tooltips.widget.laws-gov-users-overlap.users.against' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip" alt="">
        </div>
        <div class="tip">{{'laws-list-page.ratio-voting-widget.coincidences.against' | translate}}</div>
      </ng-container>
      <ng-container *ngIf="vote_compartion.abstained_percent">
        <div class="row">
          <div class="label">{{vote_compartion.abstained_percent}}%</div>
          <svg class="svg-building __grey" [matTooltip]="'tooltips.widget.laws-gov-users-overlap.gov.abstained' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
            <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <div class="separator">/</div>
          <img src="/assets/img/btns/btn-3.png" [matTooltip]="'tooltips.widget.laws-gov-users-overlap.users.abstained' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip" alt="">
        </div>
        <div class="tip">{{'laws-list-page.ratio-voting-widget.coincidences.abstained' | translate}}</div>
      </ng-container>
    </div>
    <div class="summary">
      <div class="row_top">
        <span class="percent">{{vote_compartion.diff_abstained_user_percent + vote_compartion.diff_against_user_percent + vote_compartion.diff_for_user_percent}}%</span>
        <span class="label">{{'laws-list-page.ratio-voting-widget.disagreement-label' | translate}}</span>
      </div>
      <ng-container *ngIf="vote_compartion.diff_for_user_percent">
        <div class="row">
          <div class="label">{{vote_compartion.diff_for_user_percent}}%</div>
          <svg
            [matTooltip]="('tooltips.widget.laws-gov-users-overlap.gov.' + vote_compartion.diff_for_vr_vote) | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip" class="svg-building" [ngClass]="{
          '__green': vote_compartion.diff_for_vr_vote === 'for',
          '__red': vote_compartion.diff_for_vr_vote === 'against',
          '__grey': vote_compartion.diff_for_vr_vote === 'abstained'
          }">
            <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <div class="separator">/</div>
          <img src="/assets/img/btns/btn-1.png" [matTooltip]="'tooltips.widget.laws-gov-users-overlap.users.for' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip" alt="">
        </div>
        <div class="tip">{{('laws-list-page.ratio-voting-widget.disagreement.gov.' + vote_compartion.diff_for_vr_vote) | translate}}
          {{'laws-list-page.ratio-voting-widget.disagreement.users.for' | translate}}</div>
      </ng-container>
      <ng-container *ngIf="vote_compartion.diff_against_user_percent">
        <div class="row">
          <div class="label">{{vote_compartion.diff_against_user_percent}}%</div>
          <svg class="svg-building" [matTooltip]="('tooltips.widget.laws-gov-users-overlap.gov.' + vote_compartion.diff_against_vr_vote) | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip" [ngClass]="{
          '__green': vote_compartion.diff_against_vr_vote === 'for',
          '__red': vote_compartion.diff_against_vr_vote === 'against',
          '__grey': vote_compartion.diff_against_vr_vote === 'abstained'
          }">
            <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <div class="separator">/</div>
          <img src="/assets/img/btns/btn-2.png" [matTooltip]="'tooltips.widget.laws-gov-users-overlap.users.against' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip" alt="">
        </div>
        <div class="tip">{{('laws-list-page.ratio-voting-widget.disagreement.gov.' + vote_compartion.diff_against_vr_vote) | translate}}
          {{'laws-list-page.ratio-voting-widget.disagreement.users.against' | translate}}</div>
      </ng-container>
      <ng-container *ngIf="vote_compartion.diff_abstained_user_percent">
        <div class="row">
          <div class="label">{{vote_compartion.diff_abstained_user_percent}}%</div>
          <svg class="svg-building" [matTooltip]="('tooltips.widget.laws-gov-users-overlap.gov.' + vote_compartion.diff_abstained_vr_vote) | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip" [ngClass]="{
          '__green': vote_compartion.diff_abstained_vr_vote === 'for',
          '__red': vote_compartion.diff_abstained_vr_vote === 'against',
          '__grey': vote_compartion.diff_abstained_vr_vote === 'abstained'
          }">
            <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <div class="separator">/</div>
          <img src="/assets/img/btns/btn-3.png" [matTooltip]="'tooltips.widget.laws-gov-users-overlap.users.abstained' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip" alt="">
        </div>
        <div class="tip">
          {{('laws-list-page.ratio-voting-widget.disagreement.gov.' + vote_compartion.diff_abstained_vr_vote) | translate}}
          {{'laws-list-page.ratio-voting-widget.disagreement.users.abstained'  | translate}}</div>
      </ng-container>
    </div>


  </div>
  <app-empy-list-string  *ngIf="empty" [text]="'errors.empy-widget-list-2' | translate"></app-empy-list-string>
</div>
