@import "../../../../../assets/scss/variables";

:host {
  width: 100%;
}

.box {
  width: 100%;
  background: #ECF2FA;
  border-radius: 3px;
  padding: 28px 20px 1px 22px;
  
}

.head {
  position: relative;
  display: inline-block;
  margin-bottom: v_l(1200, 10);
  
  span {
    font-family: 'SourceSansProSemiBold';
    font-size: 25px;
    color: #303233;
  }
  
  .icon {
    position: absolute;
    right: 100%;
    transform: translate(0, -15%);
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    vertical-align: super;
    &:hover {
      svg {
        fill: #303233;
      }
    }
    
    svg {
      width: 6.2px;
      height: 15px;
      fill: #A3ACB3;
    }
  }
}

.row {
  margin-bottom: v_l(1200, 3);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  
  &:last-of-type {
    //margin-bottom: 0;
  }
}

.label {
  font-family: 'SourceSansProSemiBold';
  font-size: 17px;
  letter-spacing: 0.26px;
  color: #2053AB;
  margin-bottom: v_md(1200, 3);
}

.choice, .result_line {
  display: flex;
  
  .choice_item {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 35px;
    border-radius: 17px;
    background-color: #FFFFFF;
    margin-right: 20px;
    cursor: pointer;
    
    &:hover {
      transform: scale(1.04);
    }
    
    &:last-of-type {
      margin-right: 0;
    }
    
    .icon {
      width: 22px;
      height: 22px;
      margin-right: 8px;
  
      img {
        //width: 100%;
        //max-width: none!important;
        //min-width: auto!important;
      }
    }
    
    .icon-svg {
      margin-right: 8px;
      line-height: 0;
    }
    
    .svg-truth {
      width: 17px;
      height: 20px;
      fill: #6ED53B;
    }
    
    .svg-lying {
      width: 15.6px;
      height: 15.6px;
      fill: #F22A29;
    }
    
    .svg-question-mark {
      width: 7.8px;
      height: 15px;
      fill: #767D80;
    }
    
    
    span {
      font-family: 'SourceSansPro';
      font-size: 15px;
      color: #767D82;
    }
  }
}

.row_result {
  //max-width: 70%;
  width: 100%;
  padding-right: 140px;
}

.result_line {
  position: relative;
  height: 35px;
  border-radius: 17px;
  //min-width: 34px;
  background-color: #fff;
  //background-color: #EDF0F2;
  width: 100%;
  max-width: 0;
  margin-bottom: v_xs(1200, 0);
  transition: max-width .8s ease-in-out;
  will-change: max-width;
  &:last-of-type {
    margin-bottom: 0;
  }
  
  &.__top {
    //background-color: #E8F2FF;
    
    .result_line-count {
      color: #2053AB;
    }
  }
  
  .choice_item {
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    pointer-events: none;
    transform: none!important;
    padding-right: 0;
    span {
      color: #303233;
    }
  }
  
  .result_line-count {
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    //margin-left: 20px;
    display: flex;
    align-items: center;
    font-family: 'SourceSansPro';
    font-size: 20px;
    color: #AEB5BB;
    opacity: 0;
    transition: opacity .35s ease-in-out .8s;
    
    b {
      font-family: 'SourceSansProSemiBold';
      font-size: 25px;
    }
    
    &.__active {
      opacity: 1;
    }
  }
}

@media all and (max-width: 599px) {
  :host {
    //width: 100%;
  }
  
  .box {
    //width: 100%;
    //background: #ECF2FA;
    //border-radius: 3px;
    //padding: 28px 20px;
    
  }
  
  .head {
    //position: relative;
    //display: inline-block;
    //margin-bottom: v_l(1200, 10);
    
    span {
      //font-family: 'SourceSansProSemiBold';
      font-size : 20px;
      //color: #303233;
    }
    
    .icon {
      //position: absolute;
      //bottom: 30%;
      //left: 100%;
      //padding: 5px;
      //cursor: pointer;
      
      &:hover {
        svg {
          //fill: #303233;
        }
      }
      
      svg {
        //width: 6.2px;
        //height: 15px;
        //fill: #A3ACB3;
      }
    }
  }
  
  .row {
    //margin-bottom: v_l(1200, 3);
    //display: flex;
    //justify-content: flex-start;
    //align-items: flex-start;
    //flex-direction: column;
    
    &:last-of-type {
      //margin-bottom: 0;
    }
  }
  
  .label {
    //font-family: 'SourceSansProSemiBold';
    //font-size: 17px;
    //letter-spacing: 0.26px;
    //color: #2053AB;
    //margin-bottom: v_md(1200, 3);
  }
  .choice {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .choice_item {
      margin-bottom: 10px;
      margin-right: 0;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .choice, .result_line {
    //display: flex;
    
    .choice_item {
      //display: flex;
      //align-items: center;
      //padding: 0 20px;
      //height: 35px;
      //border-radius: 17px;
      //background-color: #FFFFFF;
      //margin-right: 20px;
      //cursor: pointer;
      
      &:hover {
        //transform: scale(1.04);
      }
      
      &:last-of-type {
        //margin-right: 0;
      }
      
      .icon {
        //width: 27px;
        //height: 27px;
        //margin-right: 8px;
      }
      
      .icon-svg {
        //margin-right: 8px;
        //line-height: 0;
      }
      
      .svg-truth {
        //width: 17px;
        //height: 20px;
        //fill: #6ED53B;
      }
      
      .svg-lying {
        //width: 15.6px;
        //height: 15.6px;
        //fill: #F22A29;
      }
      
      .svg-question-mark {
        //width: 7.8px;
        //height: 15px;
        //fill: #767D80;
      }
      
      
      span {
        //font-family: 'SourceSansPro';
        //font-size: 15px;
        //color: #767D82;
      }
    }
  }
  
  .row_result {
    //max-width: 70%;
    //width: 100%;
    padding-right: 0;
  }
  
  .result_line {
    //position: relative;
    //height: 35px;
    //border-radius: 17px;
    ////min-width: 34px;
    //background-color: #fff;
    ////background-color: #EDF0F2;
    //width: 100%;
    //max-width: 0;
    //margin-bottom: v_xs(1200, 0);
    //transition: max-width .8s ease-in-out;
    //will-change: max-width;
    &:last-of-type {
      //margin-bottom: 0;
    }
    
    &.__top {
      //background-color: #E8F2FF;
      
      .result_line-count {
        //color: #2053AB;
      }
    }
    
    .choice_item {
      //position: absolute;
      //left: 0;
      //top: 0;
      //background-color: transparent;
      //pointer-events: none;
      //transform: none!important;
      //padding-right: 0;
      span {
        //color: #303233;
      }
    }
    
    .result_line-count {
      //position: absolute;
      //left: 100%;
      //top: 0;
      //bottom: 0;
      ////margin-left: 20px;
      //display: flex;
      //align-items: center;
      //font-family: 'SourceSansPro';
      font-size: 16px;
      //color: #AEB5BB;
      //opacity: 0;
      //transition: opacity .35s ease-in-out .8s;
      
      b {
        //font-family: 'SourceSansProSemiBold';
        font-size: 20px;
      }
      
      &.__active {
        //opacity: 1;
      }
    }
  }
}
