<div class="box">
  <div class="head">
    <span>{{'material-page.popular-opinion-widget.head' | translate}}</span>
    <div class="icon" (click)="showInfo()">
      <svg class="svg-info">
        <use [attr.xlink:href]="'#info'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
  </div>
  <div class="row" [hidden]="!mood.can_vote">
    <div class="label">{{'material-page.popular-opinion-widget.q-label-1' | translate}}</div>
    <div class="choice">
      <div class="choice_item" (click)="checkOpitionMood('true')">
        <div class="icon">
          <img class="smile-improve" [src]="'/assets/img/smiles/x3_improve.png'" alt="">
        </div>
        <span>{{'material-page.popular-opinion-widget.choice-label-1' | translate}}</span>
      </div>
      <div class="choice_item" (click)="checkOpitionMood('false')">
        <div class="icon">
          <img class="smile-negative" [src]="'/assets/img/smiles/x3_negative.png'" alt="">
        </div>
        <span>{{'material-page.popular-opinion-widget.choice-label-2' | translate}}</span>
      </div>
      <div class="choice_item" (click)="checkOpitionMood('null')">
        <span>{{'material-page.popular-opinion-widget.choice-label-3' | translate}}</span>
      </div>
    </div>
  </div>
  <div class="row row_result" [hidden]="!mood.total && mood.can_vote">
    <div class="label">{{'material-page.popular-opinion-widget.q-label-1' | translate}}</div>
    <div class="result_line" [class.__top]="mood.true > mood.false &&mood.true > mood.null" [style.maxWidth.%]="mood.true_width">
      <div class="choice_item">
        <div class="icon">
          <img class="smile-improve" [src]="'/assets/img/smiles/x3_improve.png'" alt="">
        </div>
        <span>{{'material-page.popular-opinion-widget.choice-label-1' | translate}}</span>
      </div>
      <div class="result_line-count"
           [class.__active]="mood.true_width"
           [check]="mood.total"
           appCheckCountPos><b>{{mood.true_width}}%</b></div>
    </div>
    <div class="result_line" [class.__top]="mood.false > mood.true && mood.false > mood.null" [style.maxWidth.%]="mood.false_width">
      <div class="choice_item">
        <div class="icon">
          <img class="smile-negative" [src]="'/assets/img/smiles/x3_negative.png'" alt="">
        </div>
        <span>{{'material-page.popular-opinion-widget.choice-label-2' | translate}}</span>
      </div>
      <div class="result_line-count"
           [class.__active]="mood.false_width"
           [check]="mood.total"
           appCheckCountPos><b>{{mood.false_width}}%</b></div>
    </div>
    <div class="result_line" [class.__top]="mood.null > mood.true && mood.null > mood.false" [style.maxWidth.%]="mood.null_width">
      <div class="choice_item">
        <span>{{'material-page.popular-opinion-widget.choice-label-3' | translate}}</span>
      </div>
      <div class="result_line-count"
           [class.__active]="mood.null_width"
           [check]="mood.total"
           appCheckCountPos><b>{{mood.null_width}}%</b></div>
    </div>
  </div>
  <div class="row" [hidden]="!verity.can_vote">
    <div class="label">{{'material-page.popular-opinion-widget.q-label-2' | translate}}</div>
    <div class="choice">
      <div class="choice_item" (click)="checkOpitionVerity('true')">
        <div class="icon-svg">
          <svg class="svg-truth">
            <use [attr.xlink:href]="'#truth'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <span>{{'material-page.popular-opinion-widget.choice-label-2-1' | translate}}</span>
      </div>
      <div class="choice_item" (click)="checkOpitionVerity('false')">
        <div class="icon-svg">
          <svg class="svg-lying">
            <use [attr.xlink:href]="'#lying'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <span>{{'material-page.popular-opinion-widget.choice-label-2-2' | translate}}</span>
      </div>
      <div class="choice_item" (click)="checkOpitionVerity('null')">
        <div class="icon-svg">
          <svg class="svg-question-mark">
            <use [attr.xlink:href]="'#question-mark'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <span>{{'material-page.popular-opinion-widget.choice-label-2-3' | translate}}</span>
      </div>
    </div>
  </div>
  <div class="row row_result" [hidden]="!verity.total && verity.can_vote">
    <div class="label">{{'material-page.popular-opinion-widget.q-label-2' | translate}}</div>
    <div class="result_line" [class.__top]="verity.true > verity.false &&verity.true > verity.null" [style.maxWidth.%]="verity.true_width">
      <div class="choice_item">
        <div class="icon-svg">
          <svg class="svg-truth">
            <use [attr.xlink:href]="'#truth'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <span>{{'material-page.popular-opinion-widget.choice-label-2-1' | translate}}</span>
      </div>
      <div class="result_line-count"
           [class.__active]="verity.true_width"
           [check]="verity.total"
           appCheckCountPos><b>{{verity.true_width}}%</b></div>
    </div>
    <div class="result_line" [class.__top]="verity.false > verity.true && verity.false > verity.null" [style.maxWidth.%]="verity.false_width">
      <div class="choice_item">
        <div class="icon-svg">
          <svg class="svg-lying">
            <use [attr.xlink:href]="'#lying'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <span>{{'material-page.popular-opinion-widget.choice-label-2-2' | translate}}</span>
      </div>
      <div class="result_line-count"
           [class.__active]="verity.false_width"
           [check]="verity.total"
           appCheckCountPos><b>{{verity.false_width}}%</b></div>
    </div>
    <div class="result_line" [class.__top]="verity.null > verity.true && verity.null > verity.false" [style.maxWidth.%]="verity.null_width">
      <div class="choice_item">
        <div class="icon-svg">
          <svg class="svg-question-mark">
            <use [attr.xlink:href]="'#question-mark'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <span>{{'material-page.popular-opinion-widget.choice-label-2-3' | translate}}</span>
      </div>
      <div class="result_line-count"
           [class.__active]="verity.null_width"
           [check]="verity.total"
           appCheckCountPos><b>{{verity.null_width}}%</b></div>
    </div>
  </div>

</div>
