@function v_2xl($responsive, $diff) {
  @if $responsive >= 1200 {
    @return 60px - $diff
  } @else {
    @return 50px - $diff
  }
}

@function v_xl($responsive, $diff) {
  @if $responsive >= 1200 {
    @return 50px - $diff
  } @else {
    @return 40px - $diff
  }
}

@function v_l($responsive, $diff) {
  @return 30px - $diff
}

@function v_md($responsive, $diff) {
  @if $responsive > 600 {
    @return 20px - $diff
  } @else {
    @return 10px - $diff
  }
}

@function v_s($responsive, $diff) {
  @return 15px - $diff
}

@function v_xs($responsive, $diff) {
  @return 15px - $diff
}





