:host {
  display: flex;
  align-items: center;
  position: relative;
  &.__arrow {
    .icon {
      display: block;
    }
  }
  .icon {
    position: absolute;
    top: 100%;
    margin-top: 8px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    
    &.__rotate {
      transform: scale(-1, 1) translateX(50%);
    }
  }
  
  .svg-arrow {
    width: 29px;
    height: 12px;
    fill: #AEB5BB;
  }
}

.lang {
  background-color: #D8DCDF;
  overflow: hidden;
  height: 35px;
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'SourceSansPro';
  font-size: 17px;
  color: #FFFFFF;
  outline: none;
  padding-bottom: 3px;
  
  &.__active {
    background-color: #3A70CF;
  }
  
  &:first-of-type {
    border-radius: 3px 0 0 3px;
  }
  
  &:last-of-type {
    border-radius: 0px 3px 3px 0px;
  }
}
