<button class="lang" *ngFor="let lang of langs" [class.__active]="lang.selected" (click)="switchLang(lang)">{{lang.title}}</button>
<div class="icon" [class.__rotate]="activeLang !== 'ua'">
  <svg class="svg-arrow">
    <use [attr.xlink:href]="'#round_arrow'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
  </svg>
</div>
