@import "../../../../../assets/scss/variables";

.box {
  background: #FFFFFF;
  border-radius: 3px;
  padding: 10px 0 v_l(1200, -4) 10px;
  overflow: hidden;
}

.top {
  display: flex;
  justify-content: space-between;
  //margin-bottom: v_s(1200, 0);
  padding-right: 6px;
  padding-left: 10px;
  margin-bottom: v_l(1200, 6);
  height: 35px;
  .head {
    font-family: 'SourceSansProSemiBold';
    font-size: 17px;
    text-transform: uppercase;
    color: #AEB5BB;
    display: flex;
    align-items: center;
    padding-right: 10px;
  }
  
  .add_article {
    position: relative;
    display: flex;
    align-items: center;
    padding: 3px 10px;
    //height: 35px;
    border-radius : 3px;
    overflow: hidden;
    &:hover {
      background-color: #F3F4F5;
    }
    
    span {
      font-family: 'SourceSansProSemiBold';
      font-size: 16px;
      letter-spacing: 0.24px;
      color: #2053AB;
    }
  }
  
  .icon {
    display: block;
    position: relative;
    width: 8px;
    height: 8px;
    margin-right: 6px;
    &:before, &:after {
      display: block;
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 2px;
      background-color: #2053AB;
    }
    
    &:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}

.total {
  padding: 0 10px;
  font-family : 'SourceSansPro';
  font-size : 14px;
  letter-spacing : 0.21px;
  color : #AEB5BB;
}
.list {
  position: relative;
  padding-right: 15px;
  max-height: 308px;
}

app-empy-list-string {
  padding-left: 10px;
}
.article {
  display: block;
  position: relative;
  padding-left: 10px;
  margin-bottom: v_md(1200, 6);
  
  &:last-of-type {
    margin-bottom: 0;
  }
  
  &:hover {
    .name {
      color : #2053AB;
    }
  }
  &:before {
    display: block;
    content: '';
    width: 4px;
    height: 4px;
    position: absolute;
    left: 0;
    top: 8px;
    border-radius: 50%;
  }
  
  &.__1 {
    &:before {
      background-color: #F22A29;
    }
  }
  &.__2 {
    &:before {
      background-color: #FFC800;
    }
  }
  &.__3 {
    &:before {
      background-color: #A3ACB3;
    }
  }
  
  .name {
    font-family : 'SourceSansPro';
    font-size : 17px;
    letter-spacing : 0.26px;
    color : #303233;
    //margin-bottom: v_xs(1200, 8);
  }
  
  .position {
    font-family : 'SourceSansPro';
    font-size : 14px;
    color : #AEB5BB;
  }
}
