<div class="box">
  <div class="top">
    <div class="head">{{'attracted-widget.head' | translate}}</div>
    <!--    <a href="" class="add_article">-->
    <!--      <span class="icon"></span>-->
    <!--      <span>{{'attracted-widget.add-btn' | translate}}</span>-->
    <!--    </a>-->
  </div>
  <!--  <div class="total">{{persons.length}} {{'attracted-widget.total-label' | translate}}</div>-->
  <div class="list" [perfectScrollbar]="{wheelPropagation:false}">
    <app-news-html-template *ngIf="!init" [length]="5"></app-news-html-template>
    <ng-container>
      <a href="" class="article" [routerLink]="['/person', person.slug]" *ngFor="let person of persons">
        <div class="name">{{person.sirname}} {{person.name}}</div>
        <div class="position">{{person.position.short}}</div>
      </a>
    </ng-container>
    <app-empy-list-string *ngIf="!persons.length && init" [text]="'errors.empy-widget-list' | translate"></app-empy-list-string>
  </div>
</div>
