<div class="box" [class.__show]="isOpen">
  <div class="content">
    <app-btn-close (click)="close()"></app-btn-close>
    <p [ngClass]="{
    '__warning': type === 'warning',
    '__succsess': type === 'succsess'
    }" [innerHTML]="content"></p>
    <span>{{'notification-modal.close-label' | translate}}: {{count}}</span>
  </div>
</div>
