@import "../../../../../assets/scss/variables";

.box {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1001;
  max-height: 95%;
  opacity: 0;
  visibility: hidden;
  max-width: 450px;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
  z-index: 1100;
  padding: 0 15px;
  &.__show {
    opacity: 1;
    visibility: visible;
  }

}

.content {
  position: relative;
  background: #FFFFFF;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 50px 20px;
  overflow: hidden;
  box-shadow : 0px 4px 6px rgba(29, 54, 73, 0.1);
}

p {
  font-family : 'SourceSansProSemiBold';
  font-size : 20px;
  line-height : 24px;
  letter-spacing : 0.1px;
  color : #303233;
  margin-bottom: v_xs(1200, 6);
  text-align: center;
  
  &.__warning {
    color : #FF0000;
  }
  
  &.__succsess {
    color : #30BF3C;
  }
}

span {
  font-family : 'SourceSansPro';
  font-size : 15px;
  color : #A3ACB3;
  text-align: center;
}


