@import "~src/assets/scss/_variables";

.page {
  padding: v_2xl(1200, 0) 0;
}

.container {
  padding: 0 5px;
  position: relative;
}

.info {
  max-width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

h1 {
  font-family: 'SourceSansProBold';
  font-size: 45px;
  line-height: 54px;
  letter-spacing: 0.23px;
  color: #303233;
  margin-bottom: v_l(1200, 10);
}

p {
  font-family: 'SourceSansPro';
  font-size: 17px;
  line-height: 26px;
  color: #303233;
  margin-bottom: v_xl(1200, 4);
  word-break: break-word;
  
  ::ng-deep {
    a {
      font-family: 'SourceSansPro';
      font-size: 17px;
      color: #2053AB;
      
      &:hover {
        color: #3A70CF;
      }
    }
  }
  
}

h2 {
  font-family: 'SourceSansProSemiBold';
  font-size: 25px;
  color: #303233;
  margin-bottom: v_l(1200, 4);
}


app-article-photo, app-article-fb-embed {
  display: block;
  margin-bottom: v_xl(1200, 4);
}


@media all and (max-width: 1199px) {
  //@import "~src/assets/scss/_variables";
  
  .page {
    //padding: v_2xl(1200, 0) 0;
    padding: 50px 0;
  }
  .container {
    //padding: 0 88px;
    //position: relative;
    padding-right: 335px;
    padding-left: 20px;
  }
  
  .info {
    max-width: none;
    //max-width: 590px;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
  }
  
  
  h1 {
    //font-family : 'SourceSansProBold';
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.18px;
    //color : #303233;
    margin-bottom: 20px;
  }
  
}

@media all and (max-width: 959px) {
  //@import "~src/assets/scss/_variables";
  
  .page {
    //padding: v_2xl(1200, 0) 0;
    padding: 40px 0;
  }
  .container {
    //padding: 0 88px;
    //position: relative;
    padding: 0 12px;
  }
  
  p {
    //font-family : 'SourceSansPro';
    //font-size : 17px;
    //line-height : 26px;
    //color : #303233;
    //margin-bottom: v_xl(1200, 4);
    margin-bottom: 34px;
    //word-break: break-word;
    ::ng-deep {
      a {
        //font-family : 'SourceSansPro';
        //font-size : 17px;
        //color : #2053AB;
        
        &:hover {
          //color: #3A70CF;
        }
      }
    }
    
  }
  
  app-article-photo, app-article-fb-embed {
    //display: block;
    margin-bottom: 30px;
  }
  
}

@media all and (max-width: 599px) {
  //@import "~src/assets/scss/_variables";
  
  .page {
    //padding: v_2xl(1200, 0) 0;
    padding: 30px 0 50px;
  }
  .container {
    padding: 0;
  }
  
  h1, h2, p {
    padding: 0 12px;
  }
  
  app-article-fb-embed {
    //padding: 0 20px;
  }
  
  h1 {
    //font-family : 'SourceSansProBold';
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.13px;
    //color : #303233;
    margin-bottom: 20px;
  }
  
  h2 {
    //font-family : 'SourceSansProSemiBold';
    font-size: 22px;
    //line-height : 32.5px;
    //color : #303233;
    margin-bottom: 22px;
  }
  
  app-article-photo, app-article-fb-embed {
    //display: block;
    margin-bottom: 35px;
  }
}
