<div class="page">
  <div class="container">
    <div class="info">
      <h1>{{'info-page.title' | translate}}</h1>
      <div class="section" *ngFor="let section of sections">
        <h2>{{section.title}}</h2>
        <ng-container *ngFor="let block of section.blocks">
          <p *ngIf="block.type === 2" [innerHTML]="block.data"></p>
          <app-article-photo *ngIf="block.type === 3" [src]="block.data"></app-article-photo>
          <app-article-fb-embed *ngIf="block.type === 8" [html]="block.data"></app-article-fb-embed>
        </ng-container>
      </div>
    </div>
    <app-right-widget [sections]="sections"></app-right-widget>
  </div>
</div>
