<div class="list" *ngIf="missings">
  <div class="item" [matTooltip]="'tooltips.person.votes' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
    <svg class="svg-doc">
      <use [attr.xlink:href]="'#doc'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span>{{missings.votes}}</span>
  </div>
  <div class="item" [matTooltip]="'tooltips.person.influence' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
    <div class="icon">
      <svg class="svg-building svg-building-1">
        <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
      <svg class="svg-building svg-building-2">
        <use [attr.xlink:href]="'#half-building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
      <svg class="svg-building svg-building-3">
        <use [attr.xlink:href]="'#half-building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
    <span>{{missings.vote}}</span>
  </div>
  <div class="item __cross" [matTooltip]="'tooltips.person.not-vote' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
    <svg class="svg-building svg-building-3">
      <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span>{{missings.not_vote}}</span>
  </div>
  <div class="item __cross1" [matTooltip]="'tooltips.person.absent' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
    <svg class="svg-user">
      <use [attr.xlink:href]="'#user'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span>{{missings.absent}}</span>
  </div>
</div>
<!--<app-empy-list-string [text]="'errors.empy-widget-list-1' | translate" *ngIf="check && !voting.laws_count"></app-empy-list-string>-->


