.list {
  display: flex;
  
  .item {
    margin-right: 33px;
    display: flex;
    align-items: center;
    
    &.__cross {
      position: relative;
      
      &:before {
        display: block;
        content: '';
        z-index: 3;
        position: absolute;
        left: -5px;
        top: 50%;
        margin-top: -1px;
        width: 28px;
        height: 2px;
        background-color: #f22a29;
        transform: rotate(-45deg);
      }
    }
    &.__cross1 {
      position: relative;
      
      &:before {
        display: block;
        content: '';
        z-index: 3;
        position: absolute;
        left: -7px;
        top: 50%;
        margin-top: -1px;
        width: 28px;
        height: 2px;
        background-color: #f22a29;
        transform: rotate(-45deg);
      }
    }
    
    
    &:last-of-type {
      margin-right: 0;
    }
    
    svg {
    }
    
    
    span {
      font-family: 'SourceSansPro';
      font-size: 17px;
      letter-spacing: 0.09px;
      color: #000000;
      margin-left: 8px;
    }
  }
  
  .icon {
    position: relative;
    padding-right: 15px;
    .svg-building-2 {
      position: absolute;
      right: 3px;
      bottom: 5px;
    }
    .svg-building-3 {
      position: absolute;
      right: -6px;
      bottom: 7px;
    }
    
  }
  
  .svg-doc {
    width: 17.7px;
    height: 20px;
    fill: #AEB5BB;
    margin-bottom: 2px;
  }
  
  .svg-building {
    width: 20px;
    height: 18.8px;
    //margin-bottom: 5px;
  }
  
  .svg-building-1 {
    fill: #6DCF3C
  }
  .svg-building-2 {
    fill: #F22A29
  }
  .svg-building-3 {
    fill: #A3ACB3
  }
  .svg-user {
    fill: #A3ACB3;
    width: 16px;
    height: 20px;
  }
  
  
  
  
  
}



@media all and (max-width: 599px) {
  .list {
    //display: flex;
    flex-wrap: wrap;
    position: relative;
    
    &:after {
      display: block;
      content: '';
      width: 100%;
      order: 2;
      opacity: 0;
      margin-bottom: 22px;
    }
    .item {
      margin-right: 0;
      width: 80px;
      //display: flex;
      //align-items: center;
      &:nth-of-type(1),
      &:nth-of-type(2) {
        order: 1;
      }
      
      &:nth-of-type(3),
      &:nth-of-type(4) {
        order: 3;
      }
      
      
      &.__cross {
        //position: relative;
        
        &:before {
          //display: block;
          //content: '';
          //z-index: 3;
          //position: absolute;
          //left: -5px;
          //top: 50%;
          //margin-top: -1px;
          //width: 28px;
          //height: 2px;
          //background-color: #f22a29;
          //transform: rotate(-45deg);
        }
      }
      &.__cross1 {
        //position: relative;
        
        &:before {
          //display: block;
          //content: '';
          //z-index: 3;
          //position: absolute;
          //left: -7px;
          //top: 50%;
          //margin-top: -1px;
          //width: 28px;
          //height: 2px;
          //background-color: #f22a29;
          //transform: rotate(-45deg);
        }
      }
      
      
      &:last-of-type {
        //margin-right: 0;
      }
      
      svg {
        //margin-right: 8px;
      }
      
      
      span {
        //font-family: 'SourceSansPro';
        //font-size: 17px;
        //letter-spacing: 0.09px;
        //color: #000000;
      }
    }
    
    .svg-doc {
      //width: 17.7px;
      //height: 20px;
      //fill: #AEB5BB;
      //margin-bottom: 2px;
    }
    
    .svg-building {
      //width: 20px;
      //height: 18.8px;
      //margin-bottom: 5px;
    }
    
    .svg-building-1 {
      //fill: #6DCF3C
    }
    .svg-building-2 {
      //fill: #F22A29
    }
    .svg-building-3 {
      //fill: #A3ACB3
    }
    .svg-user {
      //fill: #A3ACB3;
      //width: 16px;
      //height: 20px;
    }
    
    
    
    
    
  }
}
