.tip {
  font-family : 'SourceSansPro';
  font-size : 17px;
  line-height : 26px;
  color : #303233;
  margin-bottom: 12px;
}
.top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 13px;
  height: 0;
  overflow: hidden;
  //height: 100%;
  transition: height .1s ease-in-out;
  
  span {
    font-family: 'SourceSansProSemiBold';
    font-size: 16px;
    color: #AEB5BB;
  }
  
  &.__toggle {
    height: 65px;
  }
  
  .top_item {
    margin-right: 40px;
    margin-bottom: 15px;
    //width: 70px;
    //height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      max-width: 70px;
      max-height: 50px;
    }
    
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.tags_list {
  display: flex;
  flex-wrap: wrap;
  
  .tags_list-item {
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: #EBECED;
    border-radius: 3px;
    overflow: hidden;
    font-family: 'SourceSansProSemiBold';
    font-size: 16px;
    color: #767D82;
    margin-right: 12px;
    cursor: pointer;
    margin-bottom: 20px;
    padding-bottom: 3px;
    
    &:hover {
      background-color: #E1E2E3;
      //color: #FFFFFF;
    }
    &.__active {
      background-color: #3A70CF!important;
      color: #FFFFFF;
    }
    
    
    &.__active {
      //pointer-events: none;
    }
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}


@media all and (max-width: 599px) {
  
  .top {
    height: auto!important;
    transition: none;
  
    span {
      display: block;
      margin-bottom: 15px;
    }
    .top_item {
      img {
        max-width: 44px;
        max-height: 50px;
      }
    }
  }
  
}
