<div class="tip">{{'election-page.own-party.tip' | translate}}</div>
<div class="top" [class.__toggle]="activeTop">
  <div class="top_item" *ngFor="let consignment of consignmentImgs">
    <img [src]="consignment.logo" alt="">
  </div>
  <span *ngIf="showError">{{'election-page.own-party.error' | translate}}</span>
</div>
<div class="tags_list">
  <div class="tags_list-item" *ngFor="let tag of tags" [class.__active]="tag.selected" (click)="change(tag)">#{{tag.name}}</div>
</div>
