<div class="box" appClickOutside (clickOutside)="close()">
  <div class="dropdown_select">
    <div class="dropdown_select-top" [class.__placeholder]="placeholder" (click)="active = !active">
      <div class="value">{{choiceTitle}}</div>
      <svg class="svg-array" [class.__rotate]="active">
        <use [attr.xlink:href]="'#array'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
    <div class="dropdown_list-wrap" [hidden]="!active">
      <div class="dropdown_list" [perfectScrollbar]="{wheelPropagation:false}">
        <div class="dropdown_list-item" *ngFor="let item of data" (click)="apply(item)">
          <span *ngIf="item.hasOwnProperty('title')">{{item.title}}</span>
          <span *ngIf="item.hasOwnProperty('sirname')">{{item.sirname + ' ' + item.name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
