@import "../../../../../assets/scss/mixins";

.box {
  width: 140px;
  position: relative;
  z-index: 100;
  
  
  .dropdown_select-top {
    display: flex;
    align-items: center;
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    height: 35px;
    overflow: hidden;
    box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
    padding-left: 14px;
    cursor: pointer;
    
    &:hover, &:focus {
      box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
    }
    
    &.__placeholder {
      .svg-array {
        fill: #AEB5BB;
      }
  
      .value {
        color: #AEB5BB;
      }
    }
    
 
  }
  
  .value {
    font-family: 'SourceSansPro';
    font-size: 16px;
    color: #303233;
  }
  
  .dropdown_select {
    position: relative;
  }
  
  .dropdown_list-wrap {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 6px rgba(29, 54, 73, 0.1);
    background: #FFFFFF;
    border-radius: 3px;
    margin-top: 3px;
  }
  
  .dropdown_list {
    position: relative;
    max-height: 285px;
  }
  
  
  .dropdown_list-group_label, .dropdown_list-item {
    display: flex;
    align-items: center;
  
    min-height:  35px;
    padding: 6px 30px 6px 13px;
    position: relative;
    cursor: pointer;
    
    &:hover {
      background-color: #F7F7F7;
      
      span {
        color: #303233
      }
      
      .svg-array {
        fill: #303233;
      }
    }
    
    span {
      font-family: 'SourceSansPro';
      font-size: 16px;
      //line-height: 23px;
      color: #767D80;
      //white-space: nowrap;
      word-break: break-word;
    }
  }
  
  .svg-array {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: 10.1px;
    height: 5px;
    fill: #303233;
    z-index: 1;
    transition: transform .1s ease-in-out;
    
    &.__rotate {
      transform: translateY(-50%) rotate(0);
      //fill: #767D80;
    }
  }
}


