<div class="wrap" [class.__active]="isOpen">
  <div class="tint" (click)="close()"></div>
  <div class="box">
    <app-btn-close  (click)="close()"></app-btn-close>
    <svg class="svg-finger">
      <use [attr.xlink:href]="'#finger'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <div class="content">
      <div class="head">{{'auth-modal.head' | translate}}</div>
      <div class="cols">
        <div class="col">
          <div class="input">
            <input type="text" name="email" [placeholder]="'auth-modal.email-placeholder' | translate" (input)="errors.email = ''" required [(ngModel)]="model.email" #email="ngModel"/>
            <div class="error" *ngIf="errors.email">{{errors.email}}</div>
<!--            <input type="text" name="email" [placeholder]="'auth-modal.email-placeholder' | translate" pattern="^\S*[@]\S*[.]\S*$"  email required [(ngModel)]="model.email" #email="ngModel"/>-->
<!--            <div class="error" *ngIf="errors.email">{{errors.email}}</div>-->
<!--            -->
          </div>
          <button type="button"
                  class="submit"
                  (click)="submit()"
                  [ngClass]="{
          '__active': email.valid,
          '__load': isPost
          }">
            <span>{{'auth-modal.continue-btn' | translate}}</span>
            <div class="spinner">
              <div class="bubbles">
                <div class="bubble">
                  <div class="circle"></div>
                </div>
                <div class="bubble">
                  <div class="circle"></div>
                </div>
                <div class="bubble">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </button>
        </div>
        <div class="col __social">
          <button type="button" class="social_btn __fb" (click)="signInWithFB()">
            <div class="icon">
              <svg class="svg-fb">
                <use [attr.xlink:href]="'#fb'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
            <span>facebook</span>
          </button>
          <button type="button" class="social_btn __ggl" (click)="signInWithGoogle()">
            <div class="icon">
              <svg class="svg-ggl">
                <use [attr.xlink:href]="'#ggl'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
            <span>google</span>
          </button>
<!--          <button type="button" class="social_btn __ggl" (click)="signInWithGoogle()">-->
<!--            <div class="icon">-->
<!--              <svg class="svg-ggl">-->
<!--                <use [attr.xlink:href]="'#ggl'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
<!--              </svg>-->
<!--            </div>-->
<!--            <span>google</span>-->
<!--          </button>-->


          <button type="button" class="social_btn __tw" (click)="signInWithTwitter()">
            <div class="icon">
              <svg class="svg-tw">
                <use [attr.xlink:href]="'#tw'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
            <span>twitter</span>
          </button>
        </div>
      </div>
      <div class="switch_wrap">
<!--        <label class="switch">-->
<!--          <input type="checkbox" (input)="errors.agreement = ''" [(ngModel)]="checkbox">-->
<!--          <span class="slider round"></span>-->
<!--        </label>-->
        <app-checkbox [value]="checkbox" (newValue)="checkbox = $event; errors.agreement = ''"></app-checkbox>
        <div class="switch_label">{{'auth-modal.checkbox-label' | translate}}</div>
        <div class="error" *ngIf="errors.agreement">{{errors.agreement}}</div>
      </div>
      <a href="/user-agreement" target="_blank" class="rools_link">{{'auth-modal.rools-btn' | translate}}</a>
      <a href="/privacy-policy" target="_blank" class="rools_link">{{'auth-modal.politics-btn' | translate}}</a>
    </div>
  </div>
</div>

