.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  &.__column {
    flex-direction: column;
    
    .social_item {
      //margin-left: 8px;
      margin-bottom: 6px;
      margin-left: 0 !important;
      
      &:first-of-type {
        margin-left: 0;
      }
      
    }
  }
}

.social_item {
  padding: 5px;
  margin-left: 8px;
  line-height: 0;
  
  &:first-of-type {
    margin-left: 0;
  }
  
  &:hover {
    transform: scale(1.1);
    
    svg {
      fill: #7C858C;
    }
  }
}

svg {
  fill: #A3ACB3;
}

.svg-fb {
  width: 10.4px;
  height: 20px;
}

.svg-tw {
  width: 20px;
  height: 15.8px;
}

.svg-tm {
  width: 20px;
  height: 16.8px;
}

.svg-vb {
  width: 19px;
  height: 20px;
}

.svg-link {
  width: 20px;
  height: 20px;
}



@media all and (max-width: 599px) {
  .social {
    //display: flex;
    //flex-direction: row;
    //align-items: center;
    
    &.__column {
      //flex-direction: column;
      
      .social_item {
        margin-left: 22px;
        //margin-bottom: 6px;
        //margin-left: 0 !important;
        
        &:first-of-type {
          margin-left: 0;
        }
        
      }
    }
  }
  
  .social_item {
    //padding: 5px;
    margin-left: 22px;
    
    &:first-of-type {
      //margin-left: 0;
    }
    
    &:hover {
      //transform: scale(1.1);
      
      svg {
        //fill: #7C858C;
      }
    }
  }
  
  svg {
    //fill: #A3ACB3;
  }
  
  .svg-fb {
    width: 13px;
    height: 25px;
  }
  
  .svg-tw {
    width: 25px;
    height: 19.7px;
  }
  
  .svg-tm {
    width: 25px;
    height: 21px;
  }
  
  .svg-vb {
    width: 23.7px;
    height: 25px;
  }
  
  .svg-link {
    width: 2.5em;
    width: 2.5em;
    width: 2px;
    width: 2.5em;
    width: 2px;
    width: 2.1em;
    width: 2.1em;
    width: 25px;
    height: 25px;
  }
  
}

