<div class="social" [class.__column]="direction">
  <a href="javascript:void(0);" (click)="share.openWindow(shares.fb)" class="social_item">
    <svg class="svg-fb">
      <use [attr.xlink:href]="'#fb'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </a>
  <a [href]="shares.tw" class="social_item">
    <svg class="svg-tw">
      <use [attr.xlink:href]="'#tw'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </a>
  <a href="javascript:void(0);" (click)="share.openWindow(shares.tm)" class="social_item">
    <svg class="svg-tm">
      <use [attr.xlink:href]="'#tm'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </a>
  <a href="javascript:void(0);" (click)="share.openWindow(shares.vb)" class="social_item">
    <svg class="svg-vb">
      <use [attr.xlink:href]="'#vb'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </a>
  <a href="javascript:void(0);" (click)="share.copyText(true)" class="social_item">
    <svg class="svg-link">
      <use [attr.xlink:href]="'#link'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </a>
</div>
