@import "~src/assets/scss/_variables";
@import "~src/assets/scss/_mixins";

.disabled_layout {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #F7F7F7;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'SourceSansProBold';
  font-size: 24px;
  letter-spacing: 0.18px;
  color: #303233;
  padding: 30px;
  text-align: center;
  display: none;
}

.page {
  padding: v_2xl(1200, 0) 0;
  
  button {
    outline: none;
  }
  
  ::ng-deep {
    button {
      outline: none;
    }
    
  }
}
.content {
  padding: 0 0 0 88px;
  max-width: 768px;
}
.top_cover {
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  
  &:hover {
    .delete {
      opacity: 1;
      visibility: visible;
    }
  }
  
  .top_cover-inp {
    position: relative;
  }
  
  .delete {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    margin-left: 6px;
    padding: 10px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    //transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
    
    &:hover {
      .svg-basket {
        fill: #fff;
      }
    }
    
    .svg-basket {
      fill: #A3ACB3;
      width: 15px;
      height: 15px;
    }
  }
}

.time_place {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  z-index: 5;
  
  .inp {
    //margin-right: 40px;
    &.__workplace {
      flex: 1;
      margin-left: 40px;
    }
  }
  
  app-select-search {
    display: block;
    flex: 1;
    
    ::ng-deep {
      .box {
        width: 100%;
      }
    }
  }
}

.workplace_selects {
  display: flex;
  margin-bottom: 34px;
  position: relative;
  z-index: 2;
  
  .inp {
    flex: 1;
  }
  
  app-simple-select, app-select-search, app-select-with-groups {
    display: flex;
    flex: 1;
  }
  
  app-simple-select {
    ::ng-deep {
      .box {
        width: 100%;
      }
    }
  }
  
  app-select-with-groups {
    ::ng-deep {
      .box {
        width: 100%;
      }
    }
  }
  
  
  app-select-search {
    ::ng-deep {
      .box {
        width: 100%;
      }
    }
  }
  
  & > * {
    margin-left: 40px;
  }
  
  & > *:first-child {
    margin-left: 0;
  }
}
.info_icon {
  position: relative;
  
  .icon {
    position: absolute;
    right: 100%;
    top: 0;
    transform: translate(10px, -43%);
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    vertical-align: super;
    &:hover {
      svg {
        fill: #303233;
      }
    }
    
    svg {
      width: 6.2px;
      height: 15px;
      fill: #A3ACB3;
    }
  }
}
.checkboxes_wrap {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  .checkboxes_title {
    margin-bottom: 15px;
    position: relative;
    
    
  }
  
  .checkboxes {
    display: flex;
    align-items: center;
    
    .checkbox {
      display: flex;
      align-items: center;
      
      
      &:first-of-type {
        margin-right: 32px;
      }
      
      app-checkbox {
        display: block;
        margin-right: 12px;
        
        ::ng-deep {
          .switch {
            
            input:checked + .slider {
              background-color: #3A70CF;
            }
            
            input:focus + .slider {
              box-shadow: 0 0 1px #3A70CF;
            }
          }
          
        }
      }
      
      .checkbox_label {
        font-family: 'SourceSansPro';
        font-size: 16px;
        color: #A3ACB3;
        transition: color .4s;
        
        &.__checked {
          color: #3A70CF;
        }
      }
    }
  }
}

.label {
  font-family: 'SourceSansPro';
  font-size: 17px;
  color: #AEB5BB;
  margin-bottom: 6px;
  padding-left: 10px;
}

.container {
  //padding: 0 0 0 88px;
  position: relative;
}

.page-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 0 0 88px;
  
  h1 {
    font-family: 'SourceSansProBold';
    font-size: 35px;
    letter-spacing: 0.18px;
    color: #303233;
  }
  
  .top_tips {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .top_tips-item {
    display: flex;
    align-items: center;
    margin-left: 24px;
    padding: 3px;
    position: relative;
    z-index: 2;
    
    &:hover {
      span {
        color: #7C858C;
      }
      
      svg {
        fill: #7C858C;
      }
    }
    
    
    svg {
      fill: #A3ACB3;
      //margin-right: 10px;
    }
    
    .svg-attantion-2 {
      width: 25px;
      height: 22.4px;
    }
    
    .svg-play {
      width: 25px;
      height: 25px;
    }
    
    .svg-eye {
      width: 27px;
      height: 18px;
    }
    
    .svg-list {
      width: 25px;
      height: 14.2px;
    }
    
    span {
      font-family: 'SourceSansPro';
      font-size: 16px;
      color: #A3ACB3;
    }
  }
}

.login_error {
  font-family: 'SourceSansProSemiBold';
  font-size: 17px;
  letter-spacing: 0.26px;
  color: #FF0000;
  margin-bottom: 32px;
  
  //max-width: 770px;
  width: 100%;
  padding: 0 0 0 88px;
  max-width: 590px;
  box-sizing: content-box;
}

.right_widget {
  position: absolute;
  padding-top: 50px;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  width: 132px;
  
  .langs {
    display: flex;
    align-items: center;
  }
  
  .gglTranslate {
    margin-left: 20px;
    line-height: 0;
  }
}

.error {
  position: absolute;
  top: 100%;
  margin-top: 2px;
  right: 0;
  font-family: 'Source Sans Pro';
  font-size: 13px;
  letter-spacing: 0.33px;
  color: #FF0000;
  text-align: right;
}

.inp {
  position: relative;
}

.wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
  overflow: auto;
  &.__active {
    opacity: 1;
    visibility: visible;
  }
}

.tint {
  background: rgba(247, 247, 247, 0.7);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  pointer-events: none;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 55px;
  height: 55px;
  z-index: 2;
  
  
  &:hover {
    &:before, &:after {
      background-color: #1C1D1F;
    }
  }
  
  &:before, &:after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 22px;
    height: 2px;
    background-color: #A3ACB3;
  }
  
  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
}

.error {
  position: absolute;
  top: 100%;
  margin-top: 2px;
  right: 0;
  font-family: 'Source Sans Pro';
  font-size: 13px;
  letter-spacing: 0.33px;
  color: #FF0000;
  text-align: right;
}

.box {
  position: relative;
  background: #FBFBFB;
  border-radius: 3px;
  //overflow: hidden;
  padding: 22px 40px 35px;
  max-width: 770px;
  width: 100%;
  z-index: 1001;
  //max-height: 95%;
  //overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 6px rgba(29, 54, 73, 0.1);
}

.top {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  padding-right: 40px;
  justify-content: space-between;
  
  span {
    font-family: 'SourceSansProSemiBold';
    font-size: 20px;
    color: #303233;
  }
  
  .tools {
    display: flex;
    align-items: center;
  }
  
  .gglTranslate {
    margin-left: 20px;
    line-height: 0;
  }
}

.content {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  form {
    display: block;
    width: 100%;
  }
  
  &.__disabled {
    pointer-events: none;
  }
}

.row {
  display: flex;
}

.personPhoto {
  max-width: 140px;
  min-width: 140px;
  margin-right: 26px;
  position: relative;
}

.row {
  //flex: 1;
  width: 100%;
  margin-bottom: 18px;
  
  &:first-of-type {
    margin-bottom: 36px;
  }
  & > *:first-child {
    margin-left: 0;
  }
}

.label {
  font-family: 'SourceSansPro';
  font-size: 17px;
  color: #AEB5BB;
  margin-bottom: 6px;
  padding-left: 10px;
}

.personData_row {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.inp {
  flex: 1;
  margin-left: 40px;
  position: relative;
  
  
  &.__sirname {
    //margin-right: 40px;
    max-width: 270px;
    min-width: 270px;
    margin-left: 0;
  }
  
  &.__date {
    max-width: 210px;
    min-width: 210px;
    margin-left: 0;
  }
  
  &.__position {
    max-width: 300px;
    min-width: 300px;
  }
  
  app-simple-select, app-select-search, app-select-with-groups {
    display: flex;
    flex: 1;
    
    ::ng-deep {
      .box {
        width: 100%;
      }
    }
  }
  
  app-datepicker-block {
    display: block;
    width: 100%;
    
    ::ng-deep {
      .mat-form-field-flex {
        width: 100% !important;
        box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
        background-color: #fff;
        border-radius: 3px;
        overflow: hidden;
      }
    }
  }
  
  input {
    width: 100%;
    height: 35px;
    box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
    padding: 0 18px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    
    font-family: 'SourceSansPro';
    font-size: 16px;
    color: #303233;
    
    @include placeholder {
      font-family: 'SourceSansPro';
      font-size: 16px;
      color: #AEB5BB;
    }
    
    &:hover, &:focus {
      box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
    }
  }
}

.personData {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  .inp {
    margin-left: 0;
    max-width: 360px;
  }
  

}

.btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 40px;
  width: 100%;

  
  .btnFull {
    font-family: 'SourceSansPro';
    font-size: 16px;
    letter-spacing: 0.24px;
    color: #ffffff;
    padding: 0 20px 3px;
    background-color: #A3ACB3;
    height: 35px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    &:hover {
      background-color: #3A70CF;
    }
  }
}



.error {
  position: absolute;
  right: 0;
  bottom: 0;
  font-family: 'SourceSansPro';
  font-size: 14px;
  letter-spacing: 0.35px;
  color: #FF0000;
}

@media all and (max-width: 959px) {
  .disabled_layout {
    //position: fixed;
    //left: 0;
    //right: 0;
    //top: 0;
    //bottom: 0;
    //background-color: #F7F7F7;
    //z-index: 100;
    display: flex;
    //align-items: center;
    //justify-content: center;
    //font-family: 'SourceSansProBold';
    //font-size: 24px;
    //letter-spacing: 0.18px;
    //color: #303233;
    //padding: 30px;
    //text-align: center;
    //display: none;
  }
}
