<div class="page" *ngIf="platform.check()">
  <div class="container">
    <div class="page-top">
      <h1>{{'add-person-page.title' | translate}}</h1>
      <div class="top_tips">
        <!--        <a [href]="'/preview/' + slug " target="_blank" *ngIf="isAuth && slug" class="top_tips-item" rel="nofollow" [matTooltip]="'tooltips.global-icn.preview-material' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">-->
        <!--          <svg class="svg-eye">-->
        <!--            <use [attr.xlink:href]="'#eye'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
        <!--          </svg>-->
        <!--          &lt;!&ndash;          <span>{{'add-material-page.rools-btn' | translate}}</span>&ndash;&gt;-->
        <!--&lt;!&ndash;        </a>&ndash;&gt;-->
        <!--        <a href="" rel="nofollow" [routerLink]="['/account/materials']" *ngIf="isAuth" class="top_tips-item" [matTooltip]="'tooltips.global-icn.user-materials' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">-->
        <!--          <svg class="svg-list">-->
        <!--            <use [attr.xlink:href]="'#list'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
        <!--          </svg>-->
        <!--          &lt;!&ndash;          <span>{{'add-material-page.rools-btn' | translate}}</span>&ndash;&gt;-->
        <!--        </a>-->
        <button type="button" class="top_tips-item" (click)="showInfo('person.publish.rules')" [matTooltip]="'tooltips.global-icn.rules' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
          <svg class="svg-attantion-2">
            <use [attr.xlink:href]="'#attantion-2'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <!--          <span>{{'add-material-page.rools-btn' | translate}}</span>-->
        </button>
        <!--        -->
        <button type="button" class="top_tips-item" (click)="showInfo('person.publish.video')"

                [matTooltip]="'tooltips.global-icn.video-tutors' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
          <svg class="svg-play">
            <use [attr.xlink:href]="'#play'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <!--          <span>{{'add-material-page.training-btn' | translate}}</span>-->
        </button>
        <div class="right_widget">
          <div class="fixed_wrap">
            <div class="langs" appFixedWidget>
              <app-langs-widget [lang]="lang" (switch)="switchLang($event)"></app-langs-widget>
<!--              <button type="button" [matTooltip]="'tooltips.global-icn.translate-all' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip" (click)="translate()" class="gglTranslate">-->
<!--                &lt;!&ndash; Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  &ndash;&gt;-->
<!--                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30.5px" height="30px" viewBox="0 0 30.5 30" style="enable-background:new 0 0 30.5 30;" xml:space="preserve">-->
<!--<style type="text/css">-->
<!--	.st0 {-->
<!--    fill: #E6E6E6;-->
<!--  }-->

<!--  .st1 {-->
<!--    fill: #64818E;-->
<!--  }-->

<!--  .st2 {-->
<!--    fill: #4455B6;-->
<!--  }-->

<!--  .st3 {-->
<!--    fill: #518FF5;-->
<!--  }-->
<!--</style>-->
<!--                  <defs>-->
<!--</defs>-->
<!--                  <g>-->
<!--	<path class="st0" d="M28.5,5.5H15.7l2.7,8.2l2.4,7.4l1.2,3.5L16.8,30l0,0h11.7c1.1,0,2-0.9,2-2V7.4C30.5,6.3,29.6,5.5,28.5,5.5z"/>-->
<!--                    <path class="st1" d="M23.2,13.1v-1.7H22v1.7h-3.8l0.2,0.6l0.2,0.6h6.1c-0.4,0.8-1,2.1-2,3.5c-0.8-1.1-1.4-1.8-1.4-1.8l-0.4-0.5-->
<!--		l-1,0.7l0.4,0.5c0,0,0.6,0.9,1.6,2.1c-0.4,0.4-0.9,1-1.4,1.5l0.2,0.7l0.2,0.6c0.6-0.6,1.2-1.3,1.7-1.9c1,1.2,1.9,2.2,2.9,3.1-->
<!--		l0.4,0.4l0.9-0.9L26.5,22c-0.9-0.9-1.9-2-3-3.3c1.3-1.9,2.2-3.7,2.5-4.5h2v-1.2H23.2z"/>-->
<!--                    <polygon class="st2" points="15,24.5 16.8,30 22,24.5 	"/>-->
<!--                    <path class="st3" d="M20.8,21l-2.4-7.4l-2.7-8.2L13.8,0H2C0.9,0,0,0.9,0,2v20.6c0,1.1,0.9,2,2,2h13h7L20.8,21z M13.3,12.7-->
<!--		c0,0.1,0,0.1,0,0.1c0,0.1,0,0.2-0.1,0.4c0,0.1,0,0.1,0,0.2c0,0.1,0,0.2-0.1,0.3c0,0,0,0.1-0.1,0.1c0,0.1-0.1,0.2-0.1,0.3-->
<!--		c0,0,0,0.1-0.1,0.1c0,0.1-0.1,0.2-0.1,0.3c0,0,0,0.1-0.1,0.1c-0.1,0.1-0.1,0.2-0.2,0.3c0,0-0.1,0.1-0.1,0.1-->
<!--		c-0.1,0.1-0.1,0.2-0.2,0.2c0,0-0.1,0.1-0.1,0.1c-0.1,0.1-0.1,0.2-0.2,0.2c0,0,0,0,0,0l0,0c-0.8,0.7-1.9,1.1-3,1.1-->
<!--		c-1.8,0-3.4-1-4.1-2.6l0,0l0,0l0,0l0,0c-0.3-0.6-0.5-1.3-0.5-2c0-0.7,0.2-1.4,0.5-2C5.6,8.6,7.2,7.6,9,7.6c1.2,0,2.2,0.4,3,1.1-->
<!--		L10.7,10c-0.5-0.4-1-0.6-1.7-0.6c-1.2,0-2.2,0.8-2.6,1.9c-0.1,0.3-0.1,0.6-0.1,0.8c0,0.3,0,0.6,0.1,0.8c0.4,1.1,1.4,1.9,2.6,1.9-->
<!--		c0.6,0,1.1-0.2,1.6-0.4c0.1-0.1,0.2-0.1,0.2-0.2c0,0,0.1-0.1,0.1-0.1c0.1-0.1,0.1-0.1,0.2-0.2c0,0,0.1-0.1,0.1-0.1-->
<!--		c0.1-0.1,0.1-0.2,0.1-0.3c0,0,0-0.1,0.1-0.1c0.1-0.1,0.1-0.3,0.1-0.4H9v-1.8h4.3c0.1,0.3,0.1,0.6,0.1,0.8-->
<!--		C13.4,12.3,13.4,12.5,13.3,12.7z"/>-->
<!--</g>-->
<!--</svg>-->

<!--              </button>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="login_error" *ngIf="!isAuth">{{'add-person-page.login-error' | translate}}</div>
    <div class="content">
      <div class="row">
        <div class="personPhoto">
          <app-input-photo [img]="person.photo" [formats]="['jpg', 'jpeg', 'png', 'gif']" [minWidth]="1" (newImg)="person.photo = $event; errors.photo = null"></app-input-photo>
          <div class="error" *ngIf="errors.photo">{{errors.photo}}</div>
        </div>
        <div class="personData">
          <div class="personData_row">
            <div class="inp __sirname">
              <div class="label">{{'add-person-modal.sriname-label' | translate}}</div>
              <input type="text" [hidden]="lang !== 'ru'" (input)="errors.sirname_ru = null" [(ngModel)]="person.sirname_ru" [placeholder]="'add-person-modal.sirname-placeholder_ru' | translate"> <input type="text" [hidden]="lang !== 'ua'" (input)="errors.sirname_ua = null" [(ngModel)]="person.sirname_ua" [placeholder]="'add-person-modal.sirname-placeholder_ua' | translate">
              <div class="error" [hidden]="lang !== 'ru'" *ngIf="errors.sirname_ru">{{errors.sirname_ru}}</div>
              <div class="error" [hidden]="lang !== 'ua'" *ngIf="errors.sirname_ua">{{errors.sirname_ua}}</div>
            </div>
            <div class="inp __date">
              <div class="label">{{'add-person-modal.date-label' | translate}}</div>
              <app-datepicker-block [setDate]="person.birthday" (newDate)="person.birthday = $event; errors.birthday = null"></app-datepicker-block>
              <div class="error" *ngIf="errors.birthday">{{errors.birthday}}</div>
            </div>
          </div>
          <div class="inp __sirname">
            <div class="label">{{'add-person-modal.name-label' | translate}}</div>
            <input type="text" [hidden]="lang !== 'ru'" (input)="errors.name_ru = null" [(ngModel)]="person.name_ru" [placeholder]="'add-person-modal.name-placeholder_ru' | translate"> <input type="text" [hidden]="lang !== 'ua'" (input)="errors.name_ua = null" [(ngModel)]="person.name_ua" [placeholder]="'add-person-modal.name-placeholder_ua' | translate">
            <div class="error" [hidden]="lang !== 'ru'" *ngIf="errors.name_ru">{{errors.name_ru}}</div>
            <div class="error" [hidden]="lang !== 'ua'" *ngIf="errors.name_ua">{{errors.name_ua}}</div>
          </div>
        </div>
      </div>
      <div class="row" style="z-index: 3">
        <div class="inp">
          <div class="label">{{'add-person-modal.structure-label' | translate}}</div>
          <app-select-search [url]="'/workplaces/dict'" [placeholder]="'add-material-page.where-workplace-placeholder' | translate" [icon]="'portfolio'" [setDefault]="false" [allBtn]="false" [listKey]="'title'" [key]="'short'" (valueChange)="person.workplace_id = $event.id; errors.workplace_id = null"></app-select-search>
          <div class="error" *ngIf="errors.workplace_id">{{errors.workplace_id}}</div>
        </div>
        <div class="inp __position">
          <div class="label">{{'add-person-modal.position-label' | translate}}</div>
          <app-select-search [url]="'/workpositions/dict' + (person.workplace_id ? '?workplace_id=' + person.workplace_id : '')" [placeholder]="'add-person-modal.position-placeholder' | translate" [icon]="'array'" [allBtn]="false" [key]="'title'" [listKey]="'title'" (valueChange)="person.position_id = $event.id; errors.position_id = null"></app-select-search>
          <div class="error" *ngIf="errors.position_id">{{errors.position_id}}</div>
        </div>
      </div>
      <div class="row" style="z-index: 2">
        <div class="inp">
          <div class="label">{{'add-person-modal.region-label' | translate}}</div>
          <app-select-search [url]="'/regions/dict'" [placeholder]="'add-material-page.region-placeholder' | translate" [key]="'title'" [listKey]="'title'" [icon]="'place'" (valueChange)="changeRegion($event)"></app-select-search>
          <div class="error" *ngIf="errors.region_id">{{errors.region_id}}</div>
        </div>
        <div class="inp">
          <div class="label">{{'add-person-modal.district-label' | translate}}</div>
          <app-select-with-groups [placeholder]="'add-material-page.district-placeholder' | translate" (change)="changeDistrict($event)" [reset]="{region_id: person.region_id}" [url]="'/districts/dict' + (person.region_id ? '?region_id=' + person.region_id : '')"></app-select-with-groups>
          <div class="error" *ngIf="errors.district_id">{{errors.district_id}}</div>
        </div>
        <div class="inp">
          <div class="label">{{'add-person-modal.city-label' | translate}}</div>
          <app-select-with-groups [placeholder]="'add-material-page.city-placeholder' | translate" (change)=" person.city_id = $event.id; errors.city_id = null" [reset]="{district_id: person.district_id, region_id: person.region_id}" [url]="'/cities/dict?' + (person.district_id ? 'district_id=' + person.district_id : '')
           + (person.district_id ? '&': '?')
            + (person.region_id ? 'region_id=' + person.region_id : '')
"></app-select-with-groups>
          <div class="error" *ngIf="errors.city_id">{{errors.city_id}}</div>
        </div>
      </div>
      <div class="bottom" style="z-index: 1">
        <div class="inp">
          <div class="label">{{'add-person-modal.party-label' | translate}}</div>
          <app-select-search class="first_select" [url]="'/parties/dict'" [placeholder]="'add-person-modal.party-placeholder' | translate" [icon]="'array'" [key]="'short'" [listKey]="'title'" (valueChange)="person.party_id = $event.id; errors.party_id = null;"></app-select-search>
          <div class="error" *ngIf="errors.party_id">{{errors.party_id}}</div>
        </div>
      </div>
      <div class="btns" *ngIf="isAuth">
        <!--          <button class="btn" (click)="close()">{{'add-person-modal.cancel-btn' | translate}}</button>-->
        <button class="btnFull" (click)="submit()">{{'add-person-modal.submit-btn' | translate}}</button>
      </div>
    </div>
    <app-fixed-social [social]="false"></app-fixed-social>
  </div>
</div><!--<div class="disabled_layout">--><!--  {{'errors.response-error' | translate}}--><!--</div>-->
