<div class="box">
  <div class="top">
    <label> <input type="file" (change)="getPhoto($event)"/> </label>
    <div class="cover" *ngIf="!img">
      <div class="tooltip">
        <svg class="svg-camera">
          <use [attr.xlink:href]="'#camera'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
    </div>
    <div class="img" *ngIf="img">
      <div class="img_tint">
        <div class="tooltip">
          <div class="text" [innerHTML]="'input-photo.change-label' | translate"></div>
        </div>
      </div>
      <img [src]="img | safeUrl" alt="image">
    </div>
  </div>
</div>
<div class="error" *ngIf="error">{{error}}</div>
