.add_article {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 35px;
  border-radius : 3px;
  overflow: hidden;
  &:hover {
    background-color: #F3F4F5;
  }
  
  span {
    font-family: 'SourceSansProSemiBold';
    font-size: 16px;
    letter-spacing: 0.24px;
    color: #2053AB;
  }
}

.icon {
  display: block;
  position: relative;
  width: 8px;
  height: 8px;
  margin-right: 6px;
  &:before, &:after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 2px;
    background-color: #2053AB;
  }
  
  &:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

@media all and (max-width: 599px) {
  .add_article {
    //position: relative;
    //display: flex;
    //align-items: center;
    justify-content: center;
    padding: 0;
    height: 26px;
    width: 26px;
    border-radius : 50%;
    border: 2px solid #2053AB;
    //overflow: hidden;
    &:hover {
      //background-color: #F3F4F5;
    }
    
    span {
      //font-family: 'SourceSansProSemiBold';
      //font-size: 16px;
      //letter-spacing: 0.24px;
      //color: #2053AB;
      display: none;
    }
  }
  
  .icon {
    display: block!important;
    //display: block;
    //position: relative;
    //width: 8px;
    //height: 8px;
    margin-right: 0;
    //margin-top: 1px;
    &:before, &:after {
      //display: block;
      //content: '';
      //position: absolute;
      //left: 50%;
      //top: 50%;
      //transform: translate(-50%, -50%);
      //width: 8px;
      //height: 2px;
      //background-color: #2053AB;
    }
    
    &:after {
      //transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}
