:host {
  display: block;
  width: 100%;
  
  .template {
    margin-bottom: 25px;
  }
  
  .row {
    background-color: #F7F7F7;
    
    &.__big {
      width: 95%;
      height: 29px;
      margin-bottom: 10px;
    }
    
    &.__small {
      width: 45%;
      height: 9px;
    }
    
    
  }
}
