<div class="box">
  <div class="head" [innerHTML]="'law-page.ratio-voting-widget.head' | translate"></div>
  <!--  <app-empy-list-string *ngIf="!data.bottom_percent" [text]="'law-page.ratio-voting-widget.empty-string' | translate"></app-empy-list-string>-->
  <div class="content" *ngIf="!empty">
    <div class="row_top">
      <span *ngIf="data.is_gov_adopted === data.is_users_adopted">{{'law-page.ratio-voting-widget.label-1' | translate}}</span>
      <span *ngIf="data.is_gov_adopted !== data.is_users_adopted">{{'law-page.ratio-voting-widget.label-2' | translate}}</span>
    </div>
    <div class="row">
      <div class="label" [class.__green]="data.is_gov_adopted">{{data.gov_percent}}%</div>
      <div class="icon __2" [matTooltip]="'tooltips.widget.law-for-negative.for' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip" *ngIf="data.is_gov_adopted;  else elseEl">
        <svg class="svg-building" *ngIf="data.gov_vote !== 'absent'">
          <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <!--          <svg class="svg-user" *ngIf="data.gov_vote === 'absent'">-->
        <!--            <use [attr.xlink:href]="'#user'" [attr.xmlns:xlink]="'http://www.w3.org/1999/xlink'"></use>-->
        <!--          </svg>-->
      </div>
      <ng-template #elseEl>
        <div class="icons">
          <div class="icon-1" [matTooltip]="'tooltips.widget.law-for-negative.negative-1' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
            <svg class="svg-building-1">
              <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <svg class="svg-half-building">
              <use [attr.xlink:href]="'#half-building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <div class="icon-2" [matTooltip]="'tooltips.widget.law-for-negative.negative-2' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
            <svg class="svg-user-building">
              <use [attr.xlink:href]="'#user-building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
      </ng-template>
      <!--      <ng-container *ngIf="data.gov_vote === 'for' && data.gov_vote_count < data.majority;  else elseEl">-->
      <!--        <div class="icons">-->
      <!--          <div class="icon-1" [matTooltip]="'tooltips.widget.law-for-negative.negative-1' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">-->
      <!--            <svg class="svg-building-1">-->
      <!--              <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
      <!--            </svg>-->
      <!--            <svg class="svg-half-building">-->
      <!--              <use [attr.xlink:href]="'#half-building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
      <!--            </svg>-->
      <!--          </div>-->
      <!--          <div class="icon-2" [matTooltip]="'tooltips.widget.law-for-negative.negative-2' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">-->
      <!--            <svg class="svg-user-building">-->
      <!--              <use [attr.xlink:href]="'#user-building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
      <!--            </svg>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </ng-container>-->
      <!--      <ng-template #elseEl>-->
      <!--        <div class="icon" [ngClass]="{-->
      <!--      '__1': !data.is_gov_adopted,-->
      <!--      '__2': data.is_gov_adopted,-->
      <!--      }"  [matTooltip]="('tooltips.widget.law-gov-vs-users.gov.' + data.gov_vote) | translate"-->
      <!--             matTooltipPosition="above"-->
      <!--             matTooltipClass="add-material-tooltip">-->
      <!--          <svg class="svg-building" *ngIf="data.gov_vote !== 'absent'">-->
      <!--            <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
      <!--          </svg>-->
      <!--&lt;!&ndash;          <svg class="svg-user" *ngIf="data.gov_vote === 'absent'">&ndash;&gt;-->
      <!--&lt;!&ndash;            <use [attr.xlink:href]="'#user'" [attr.xmlns:xlink]="'http://www.w3.org/1999/xlink'"></use>&ndash;&gt;-->
      <!--&lt;!&ndash;          </svg>&ndash;&gt;-->
      <!--        </div>-->
      <!--      </ng-template>-->
      <div class="separator">/</div>
      <div class="img_icon" [matTooltip]="('tooltips.widget.law-gov-vs-users.users.' + (data.is_users_adopted ? 'icn-for' : 'icn-negative')) | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
<!--        <img src="/assets/img/btns/btn-1.png" *ngIf="data.users_vote === 'for'" alt=""> <img src="/assets/img/btns/btn-2.png" *ngIf="data.users_vote === 'against'" alt=""> <img src="/assets/img/btns/btn-3.png" *ngIf="data.users_vote === 'abstained'" alt="">-->
        <img src="/assets/img/btns/btn-4.png" class="btn4" *ngIf="!data.is_users_adopted" alt="">
        <img src="/assets/img/btns/btn-1.png" class="btn1" *ngIf="data.is_users_adopted" alt="">

      </div>
      <div class="label" [class.__green]="data.is_users_adopted">{{data.users_percent}}%</div>
    </div>
    <div class="tip">{{'law-page.ratio-voting-widget.gov.' + (data.is_gov_adopted ? 'for' : 'negative') | translate}} {{'law-page.ratio-voting-widget.users.' + (data.is_users_adopted ? 'for' : 'negative') | translate}}</div>
  </div>
  <app-empy-list-string *ngIf="empty" [text]="'errors.empy-widget-list' | translate"></app-empy-list-string>
</div>
