@import "~src/assets/scss/_variables";

.box {
  background: #FFFFFF;
  border-radius: 3px;
  padding: 15px;
  overflow: hidden;
}

.head {
  font-family: 'SourceSansProSemiBold';
  font-size: 17px;
  text-transform: uppercase;
  color: #AEB5BB;
  margin-bottom: v_l(1200, 10);
}

app-empy-list-string {
  display: block;
  padding-bottom: 10px;
}

.row_top {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  
  svg {
    width: 21.4px;
    height: 20px;
    fill: #AEB5BB;
    margin-right: 10px;
  }
  
  span {
    font-family: 'SourceSansProSemiBold';
    font-size: 16px;
    letter-spacing: 0.24px;
    color: #585D61;
  }
}
.icons {
  align-items: center;
  display: flex;
  //margin-right: 12px;
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: 3px;
  
  .svg-building {
    width: 16px;
    height: 15px;
    fill: #6DCF3C;
    margin-bottom: 2px;
  }
  
  .svg-building-1 {
    width: 16px;
    height: 15px;
    fill: #E82F2E!important;
    margin-bottom: 2px;
  }
  
  .svg-user-building {
    width: 21.7px;
    height: 17px;
    fill: #A3ACB3!important;
  }
  
  .svg-half-building {
    position: absolute;
    width: 11px;
    height: 15px;
    fill: #A3ACB3!important;
  }
}

.icon-1, .icon-2 {
  position: relative;
  line-height: 0;
  display: flex;
  align-items: center;
}

.icon-1 {
  margin-right: 6px;
  padding-right: 8px;
  
  .svg-half-building {
    right: 1px;
    bottom: 4px;
  }
}

.icon-2 {
  padding-bottom: 4px;
  position: relative;
  
  &:before {
    display: block;
    content: '';
    z-index: 3;
    position: absolute;
    left: -4px;
    top: 50%;
    margin-top: -1px;
    width: 26px;
    height: 2px;
    background-color: #f22a29;
    transform: rotate(-45deg);
  }
}
.row {
  display: flex;
  align-items: center;
  
  .separator {
    font-family: 'SourceSansPro';
    font-size: 11px;
    letter-spacing: 0.16px;
    color: #AEB5BB;
    margin: 0 7px;
  }
  
  .label {
    font-family: 'SourceSansProBold';
    font-size: 25px;
    letter-spacing: 0.38px;
    color: #E82F2E;
    &.__green {
      color: #6DCF3C;
    }
  }
  
  .svg-building {
    width: 20px;
    height: 18.8px;
  }
  
  .svg-user {
    width: 18px;
    height: 20px;
  }
  
  
  .icon {
    cursor: pointer;
    position: relative;
    margin-left: 20px;
    margin-bottom: 2px;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &.__1 {
      svg {
        fill: #E82F2E;
      }
    }
    
    &.__2 {
      svg {
        fill: #6DCF3C;
      }
    }
    
    &.__3, &.__4 {
      position: relative;
      &:before {
        display: block;
        content: '';
        z-index: 3;
        position: absolute;
        left: -5px;
        top: 50%;
        margin-top: 2px;
        width: 28px;
        height: 2px;
        background-color: #f22a29;
        transform: rotate(-45deg);
      }
      svg {
        fill: #A3ACB3;
      }
      
    }
    &.__4 {
      &:before {
        left: -6px;
        margin-top: 1px;
      }
    }
    
    &.__5 {
      svg {
        fill: #A3ACB3;
      }
    }
  }
  .img_icon {
    cursor: pointer;
    position: relative;
    margin-right: 20px;
  }
  img {
    display: block;
  }
  
  .btn1 {
    width: 20px;
  }
  .btn1 {
    width: 26px;
  }
  
  
}

.tip {
  font-family: 'SourceSansPro';
  font-size: 14px;
  letter-spacing: 0.21px;
  color: #AEB5BB;
  margin-top: 6px;
}

