<div class="box">
  <div class="content">
    <div class="photo">
      <app-input-photo [img]="person.photo" [formats]="['jpg', 'jpeg', 'png', 'gif']" [minWidth]="640" (newImg)="person.photo = $event; errors.photo = null"></app-input-photo>
      <div class="error" *ngIf="errors.photo">{{errors.photo}}</div>
    </div>
    <div class="data">
      <div class="personData_row">
        <div class="inp __sirname">
          <div class="label">{{'account-page.profile-tab.name-label' | translate}}</div>
          <input type="text" (input)="errors.nickname = null" [(ngModel)]="person.nickname" [placeholder]="'account-page.profile-tab.name-placeholder' | translate">
          <div class="error" *ngIf="errors.nickname">{{errors.nickname}}</div>
        </div>
        <div class="inp __date">
          <div class="label">{{'account-page.profile-tab.date-label' | translate}}</div>
          <app-datepicker-block [setDate]="person.birthday" (newDate)="person.birthday = $event; errors.birthday = null"></app-datepicker-block>
          <div class="error" *ngIf="errors.birthday">{{errors.birthday}}</div>
        </div>
      </div>
      <div class="inp __sirname">
        <div class="label">Email</div>
        <input type="text" (input)="errors.email = null" [(ngModel)]="person.email" placeholder="Email">
        <div class="error" *ngIf="errors.email">{{errors.email}}</div>
      </div>
    </div>
  </div>
  <div class="btns">
    <button class="submit" (click)="submit()">{{'account-page.profile-tab.submit-btn' | translate}}</button>
  </div>
</div>
