@import "~src/assets/scss/_mixins";
:host {
  width: 100%;
}
.content {
  display: flex;
  align-items: center;
}


.photo {
  max-width: 160px;
  min-width: 160px;
  margin-right: 40px;
  position: relative;
  
}
.error {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 2px;
  font-family: 'SourceSansPro';
  font-size: 14px;
  letter-spacing: 0.35px;
  color: #FF0000;
}


.label {
  font-family: 'SourceSansPro';
  font-size: 17px;
  color: #AEB5BB;
  margin-bottom: 6px;
  padding-left: 10px;
}

.personData_row {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.inp {
  flex: 1;
  margin-left: 40px;
  position: relative;
  
  
  &.__sirname {
    //margin-right: 40px;
    max-width: 230px;
    min-width: 230px;
    margin-left: 0;
  }
  
  &.__date {
    max-width: 210px;
    min-width: 210px;
    margin-left: 0;
  }
  
  &.__position {
    //max-width: 250px;
    //min-width: 250px;
  }
  
  app-simple-select, app-select-search, app-select-with-groups {
    display: flex;
    flex: 1;
    
    ::ng-deep {
      .box {
        width: 100%;
      }
    }
  }
  
  app-datepicker-block {
    display: block;
    width: 100%;
    
    ::ng-deep {
      .mat-form-field-flex {
        width: 100% !important;
        box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
        background-color: #fff;
        border-radius: 3px;
        overflow: hidden;
      }
    }
  }
  
  input {
    width: 100%;
    height: 35px;
    box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
    padding: 0 18px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    
    font-family: 'SourceSansPro';
    font-size: 16px;
    color: #303233;
    
    @include placeholder {
      font-family: 'SourceSansPro';
      font-size: 16px;
      color: #AEB5BB;
    }
    
    &:hover, &:focus {
      box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
    }
  }
}

.data {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
  
  .submit {
    font-family: 'SourceSansPro';
    font-size: 16px;
    letter-spacing: 0.24px;
    color: #ffffff;
    padding: 5px 20px;
    background-color: #A3ACB3;
    height: 35px;
    border-radius: 3px;
    padding-bottom: 7px;
    
    &:hover {
      background-color: #3A70CF;
    }
  }
}

@media all and (max-width: 959px) {
  //@import "~src/assets/scss/_mixins";
  
  .content {
    //display: flex;
    align-items: flex-start;
  }
  
  
  .photo {
    max-width: 180px;
    min-width: 180px;
    height: 180px;
    margin-top: 10px;
    //margin-right: 40px;
    //position: relative;
  
    app-input-photo {
      ::ng-deep {
      .cover, .img {
        height: 180px;
        width: 100%;
      }
      }
    }
    
  }
  .error {
    //position: absolute;
    //right: 0;
    //bottom: 0;
    //font-family: 'SourceSansPro';
    //font-size: 14px;
    //letter-spacing: 0.35px;
    //color: #FF0000;
  }
  
  
  
  .label {
    //font-family: 'SourceSansPro';
    //font-size: 17px;
    //color: #AEB5BB;
    //margin-bottom: 6px;
    //padding-left: 10px;
  }
  
  .personData_row {
    //display: flex;
    //margin-bottom: 20px;
    //justify-content: space-between;
    //align-items: flex-start;
    flex-direction: column;
  }
  
  .inp {
    //flex: 1;
    //margin-left: 40px;
    //position: relative;
    width: 100%;
    
    &.__sirname {
      //margin-right: 40px;
      max-width:none;
      min-width:auto;
      //margin-left: 0;
    }
    
    &.__date {
      max-width:none;
      min-width:auto;
      //margin-left: 0;
      margin-top: 20px;
      
      app-datepicker-block {
        ::ng-deep {
          .mat-form-field {
            width: 100%;
          }
        }
      }
    }
    
    &.__position {
      //max-width: 250px;
      //min-width: 250px;
    }
    
    app-simple-select, app-select-search, app-select-with-groups {
      //display: flex;
      //flex: 1;
      
      ::ng-deep {
        .box {
          //width: 100%;
        }
      }
    }
    
    app-datepicker-block {
      //display: block;
      //width: 100%;
      
      ::ng-deep {
        .mat-form-field-flex {
          //width: 100% !important;
          //box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
          //background-color: #fff;
          //border-radius: 3px;
          //overflow: hidden;
        }
      }
    }
    
    input {
      //width: 100%;
      //height: 35px;
      //box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
      //padding: 0 18px;
      //background-color: #fff;
      //border-radius: 3px;
      //overflow: hidden;
      //
      //font-family: 'SourceSansPro';
      //font-size: 16px;
      //color: #303233;
      
      //@include placeholder {
      //  //font-family: 'SourceSansPro';
      //  //font-size: 16px;
      //  //color: #AEB5BB;
      //}
      
      &:hover, &:focus {
        //box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
      }
    }
  }
  
  .data {
    //flex: 1;
    //display: flex;
    //flex-direction: column;
  }
  .btns {
    //width: 100%;
    //display: flex;
    //align-items: center;
    //justify-content: flex-end;
    //margin-top: 30px;
    
    .submit {
      //font-family: 'SourceSansPro';
      //font-size: 16px;
      //letter-spacing: 0.24px;
      //color: #ffffff;
      //padding: 5px 20px;
      //background-color: #A3ACB3;
      //height: 35px;
      //border-radius: 3px;
      
      &:hover {
        //background-color: #3A70CF;
      }
    }
  }
  
}


@media all and (max-width: 599px) {
  //@import "~src/assets/scss/_mixins";
  
  .content {
    //display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
  
  .photo {
    max-width: 140px;
    min-width: 140px;
    height: 140px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 26px;
    //position: relative;
    
    app-input-photo {
      ::ng-deep {
        .cover, .img {
          height: 140px;
          width: 100%;
        }
      }
    }
    
  }
  .error {
    //position: absolute;
    //right: 0;
    //bottom: 0;
    //font-family: 'SourceSansPro';
    //font-size: 14px;
    //letter-spacing: 0.35px;
    //color: #FF0000;
  }
  
  
  
  .label {
    //font-family: 'SourceSansPro';
    //font-size: 17px;
    //color: #AEB5BB;
    //margin-bottom: 6px;
    //padding-left: 10px;
  }
  
  .personData_row {
    //display: flex;
    //margin-bottom: 20px;
    //justify-content: space-between;
    //align-items: flex-start;
    //flex-direction: column;
  }
  
  .inp {
    //flex: 1;
    //margin-left: 40px;
    //position: relative;
    //width: 100%;
    
    &.__sirname {
      //margin-right: 40px;
      //max-width:none;
      //min-width:auto;
      //margin-left: 0;
    }
    
    &.__date {
      //max-width:none;
      //min-width:auto;
      ////margin-left: 0;
      //margin-top: 20px;
      
      app-datepicker-block {
        ::ng-deep {
          .mat-form-field {
            //width: 100%;
          }
        }
      }
    }
    
    &.__position {
      //max-width: 250px;
      //min-width: 250px;
    }
    
    app-simple-select, app-select-search, app-select-with-groups {
      //display: flex;
      //flex: 1;
      
      ::ng-deep {
        .box {
          //width: 100%;
        }
      }
    }
    
    app-datepicker-block {
      //display: block;
      //width: 100%;
      
      ::ng-deep {
        .mat-form-field-flex {
          //width: 100% !important;
          //box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
          //background-color: #fff;
          //border-radius: 3px;
          //overflow: hidden;
        }
      }
    }
    
    input {
      //width: 100%;
      //height: 35px;
      //box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
      //padding: 0 18px;
      //background-color: #fff;
      //border-radius: 3px;
      //overflow: hidden;
      //
      //font-family: 'SourceSansPro';
      //font-size: 16px;
      //color: #303233;
      
      //@include placeholder {
      //  //font-family: 'SourceSansPro';
      //  //font-size: 16px;
      //  //color: #AEB5BB;
      //}
      
      &:hover, &:focus {
        //box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
      }
    }
  }
  
  .data {
    width: 100%;
    //flex: 1;
    //display: flex;
    //flex-direction: column;
  }
  .btns {
    //width: 100%;
    //display: flex;
    //align-items: center;
    //justify-content: flex-end;
    //margin-top: 30px;
    
    .submit {
      //font-family: 'SourceSansPro';
      //font-size: 16px;
      //letter-spacing: 0.24px;
      //color: #ffffff;
      //padding: 5px 20px;
      //background-color: #A3ACB3;
      //height: 35px;
      //border-radius: 3px;
      
      &:hover {
        //background-color: #3A70CF;
      }
    }
  }
  
}
