<div class="list" [perfectScrollbar]="{wheelPropagation:false}">
  <a [href]="['/law', law.slug]" class="item" *ngFor="let law of laws">
    <div class="date_number">{{dateService.convert(law.adoption_date)}} №{{law.number}}</div>
    <div class="title">{{law.title}}</div>
  </a>
  <button type="button" class="btn_more" *ngIf="page !== last_page" (click)="pageHandler()">{{'law-page.btn-more' | translate}}</button>
</div>
<app-empy-list-string *ngIf="!laws.length" [text]="'errors.empy-widget-list' | translate"></app-empy-list-string>
