@import "~src/assets/scss/_variables";

.list {
  position: relative;
  max-height: 210px;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;
}

:host {
  width: 100%;
}

.item {
  padding: 12px 10px;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  flex: 1 0 auto;
  
  &:hover {
    background-color: #fff;
    
    .title {
      color: #3A70CF;
    }
  }
}

.date_number {
  font-family: 'SourceSansPro';
  font-size: 15px;
  color: #A3ACB3;
  margin-bottom: v_xs(1200, 6);
}

.title {
  font-family: 'SourceSansProSemiBold';
  font-size: 17px;
  letter-spacing: 0.26px;
  text-transform: uppercase;
  color: #767D80;
}

.btn_more {
  padding: 5px;
  font-family: 'SourceSansPro';
  font-size: 16px;
  color: #2053AB;
  cursor: pointer;
  display: block;
  margin: v_l(1200, 20) auto 0;
}
