<div class="box">
  <div class="container">
    <div class="row">
      <a href="https://www.facebook.com/democratium" target="_blank" class="fb_link">
        <svg class="svg-fb">
          <use [attr.xlink:href]="'#fb'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
      <div class="langs">
        <div class="langs_item" [class.__active]="defaultLang" (click)="langService.switch('uk')">{{'langs.ua' | translate}}</div>
        <div class="langs_item" [class.__active]="!defaultLang" (click)="langService.switch('ru')">{{'langs.ru' | translate}}</div>
      </div>
      <div class="top_menu">
        <a href="" routerLink="/user-agreement" target="_blank" class="top_menu-item">{{'footer.rools-btn' | translate}}</a>
        <a href="" routerLink="/privacy-policy" target="_blank" class="top_menu-item">{{'footer.politics-btn' | translate}}</a>
      </div>
    </div>
    <div class="row">
      <div class="middle_menu">
        <a href="" class="middle_menu-item" [routerLink]="[item.link]" *ngFor="let item of menu | async">{{item.text}}</a>
      </div>
    </div>
    <div class="row">
      <a href="" routerLink="/" class="logo">
        <svg class="svg-logo">
          <use [attr.xlink:href]="'#footer-logo'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
    </div>
    <div class="row">
      <span class="copyright">© {{copyYear}} <span [innerHTML]="'footer.copy-label' | translate"></span></span>
    </div>
    <div class="row">
      <span class="makeBy">{{'footer.created-by-label' | translate}}&nbsp;<a href="https://wander.black/" target="_blank">Wander Black</a></span>
    </div>
  </div>
</div>
