@import "../../../../../assets/scss/variables";

.box {
  background-color: #2C3647;
  padding: v_xl(1200, 3) 0;
  position: relative;
  z-index: 2;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  
  &:nth-of-type(1) {
    margin-bottom: v_l(1200, 7);
  }
  
  &:nth-of-type(2) {
    margin-bottom: 23px;
  }
  
  &:nth-of-type(3) {
    margin-bottom: v_xs(1200, 2);
  }
  
  &:nth-of-type(4) {
    margin-bottom: v_l(1200, 2);
  }
  
}

.fb_link {
  padding: 5px 10px;
  margin-right: 28px;
  
  &:hover {
    svg {
      fill: rgba(255, 255, 255, 1);
    }
  }
  
  .svg-fb {
    width: 10.4px;
    height: 20px;
    fill: rgba(255, 255, 255, .85);
  }
}

.langs {
  display: flex;
  align-items: center;
  //margin-right: 20px;
  margin-right: 0;
  .langs_item {
    font-family: 'SourceSansPro';
    font-size: 17px;
    text-transform: uppercase;
    padding: 5px 10px;
    color: rgba(255, 255, 255, .85);
    cursor: pointer;
    
    &.__active {
      font-family: 'SourceSansProSemiBold';
      pointer-events: none;
    }
    
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.top_menu {
  display: flex;
  align-items: center;
  
  .top_menu-item {
    font-family: 'SourceSansPro';
    font-size: 17px;
    color: rgba(255, 255, 255, .85);
    padding: 0 15px;
    
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.middle_menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  
  .middle_menu-item {
    font-family: 'SourceSansPro';
    font-size: 17px;
    text-transform: uppercase;
    color: #F3F3F3;
    padding: 5px 12px;
    
    &:hover {
      color: #fff;
    }
  }
}

.logo {
  &:hover {
    .svg-logo {
      fill: rgba(255, 255, 255, 1);
    }
  }
  
  .svg-logo {
    width: 132px;
    height: 15px;
    fill: rgba(255, 255, 255, .85);
  }
}

.copyright {
  font-family: 'SourceSansPro';
  font-size: 16px;
  color: #F3F3F3;
  color: rgba(243, 243, 243, .85);
  text-align: center;
}

.makeBy {
  font-family: 'SourceSansPro';
  font-size: 14px;
  color: #F3F3F3;
  color: rgba(243, 243, 243, .6);
  
  a {
    &:hover {
      color: #fff;
    }
  }
}

@media all and (max-width: 1199px) {
  .box {
    //background-color: #2C3647;
    padding: v_xl(960, 3) 0;
  }
  
  .row {
    //display: flex;
    //justify-content: center;
    //align-items: center;
  }
  
  .fb_link {
    //padding: 5px 10px;
    //margin-right: 28px;
    
    &:hover {
      svg {
        //fill: rgba(255, 255, 255, 1);
      }
    }
    
    .svg-fb {
      //width: 10.4px;
      //height: 20px;
      //fill: rgba(255, 255, 255, .85);
    }
  }
  
  .langs {
    //display: flex;
    //align-items: center;
    //margin-right: 20px;
    
    .lang_item {
      //font-family: 'SourceSansPro';
      //font-size: 17px;
      //text-transform: uppercase;
      //padding: 5px 10px;
      //color: rgba(255, 255, 255, .85);
      
      &:hover {
        //color: rgba(255, 255, 255, 1);
      }
    }
  }
  
  .top_menu {
    //display: flex;
    //align-items: center;
    
    .top_menu-item {
      //font-family: 'SourceSansPro';
      //font-size: 17px;
      //color: rgba(255, 255, 255, .85);
      //padding: 0 15px;
      
      &:hover {
        //color: rgba(255, 255, 255, 1);
      }
    }
  }
  
  .middle_menu {
    //display: flex;
    //align-items: center;
    //flex-wrap: wrap;
    //justify-content: center;
    
    .middle_menu-item {
      //font-family: 'SourceSansPro';
      //font-size: 17px;
      //text-transform: uppercase;
      //color: #F3F3F3;
      //padding: 0 12px;
      
      &:hover {
        //color: #fff;
      }
    }
  }
  
  .logo {
    &:hover {
      .svg-logo {
        //fill: rgba(255, 255, 255, 1);
      }
    }
    
    .svg-logo {
      //width: 152px;
      //height: 20px;
      //fill: rgba(255, 255, 255, .85);
    }
  }
  
  .copyright {
    //font-family: 'SourceSansPro';
    //font-size: 16px;
    //color: #F3F3F3;
    //color: rgba(243, 243, 243, .85);
  }
  
  .makeBy {
    //font-family: 'SourceSansPro';
    //font-size: 14px;
    //color: #F3F3F3;
    //color: rgb(243, 243, 243, .6);
  }
}

@media all and (max-width: 959px) {
  .box {
    //background-color: #2C3647;
    padding: v_xl(600, 3) 0;
  }
  
  .row {
    &:first-of-type {
      flex-wrap: wrap;
      
      &:after {
        order: 3;
        display: block;
        content: '';
        width: 100%;
      }
    }
    
    &:nth-of-type(1) {
      margin-bottom: v_l(1200, 2);
    }
    
    &:nth-of-type(2) {
      margin-bottom: v_xl(1200, 12);
    }
    
    &:nth-of-type(3) {
      //margin-bottom: v_xs(1200, 12);
    }
    
    &:nth-of-type(4) {
      //margin-bottom: v_l(1200, 2);
    }
    
    //display: flex;
    //justify-content: center;
    //align-items: center;
  }
  
  .fb_link {
    order: 1;
    //padding: 5px 10px;
    //margin-right: 28px;
    
    &:hover {
      svg {
        //fill: rgba(255, 255, 255, 1);
      }
    }
    
    .svg-fb {
      //width: 10.4px;
      //height: 20px;
      //fill: rgba(255, 255, 255, .85);
    }
  }
  
  .langs {
    order: 2;
    //display: flex;
    //align-items: center;
    margin-right: 0;
    
    .lang_item {
      //font-family: 'SourceSansPro';
      //font-size: 17px;
      //text-transform: uppercase;
      //padding: 5px;
      //color: rgba(255, 255, 255, .85);
      
      &:hover {
        //color: rgba(255, 255, 255, 1);
      }
    }
  }
  
  .top_menu {
    justify-content: center;
    order: 4;
    width: 100%;
    margin-top: v_l(600, 8);
    //display: flex;
    //align-items: center;
    
    .top_menu-item {
      //font-family: 'SourceSansPro';
      //font-size: 17px;
      //color: rgba(255, 255, 255, .85);
      //padding: 0 15px;
      
      &:hover {
        //color: rgba(255, 255, 255, 1);
      }
    }
  }
  
  .middle_menu {
    //display: flex;
    //align-items: center;
    //flex-wrap: wrap;
    //justify-content: center;
    &:after {
      display: block;
      content: '';
      width: 100%;
      order: 2;
    }
    
    .middle_menu-item {
      //font-family: 'SourceSansPro';
      //font-size: 17px;
      //text-transform: uppercase;
      //color: #F3F3F3;
      //padding: 0 12px;
      order: 1;
      padding: 5px;
      
      &:nth-of-type(6),
      &:nth-of-type(7),
      &:nth-of-type(8) {
        order: 3;
        margin-top: v_l(600, 10);
      }
      
      &:hover {
        //color: #fff;
      }
    }
  }
  
  .logo {
    &:hover {
      .svg-logo {
        //fill: rgba(255, 255, 255, 1);
      }
    }
    
    .svg-logo {
      //width: 152px;
      //height: 20px;
      //fill: rgba(255, 255, 255, .85);
    }
  }
  
  .copyright {
    //font-family: 'SourceSansPro';
    //font-size: 16px;
    //color: #F3F3F3;
    //color: rgba(243, 243, 243, .85);
  }
  
  .makeBy {
    //font-family: 'SourceSansPro';
    //font-size: 14px;
    //color: #F3F3F3;
    //color: rgb(243, 243, 243, .6);
  }
}

@media all and (max-width: 599px) {
  .box {
    //background-color: #2C3647;
    padding: v_xl(600, 7) 0;
  }
  
  .row {
    &:first-of-type {
      //flex-wrap: wrap;
      &:after {
        //order: 3;
        //display: block;
        //content: '';
        //width: 100%;
      }
    }
    
    &:nth-of-type(1) {
      margin-bottom: v_l(600, 15);
    }
    
    &:nth-of-type(2) {
      margin-bottom: v_xl(1200, 15);
    }
    
    &:nth-of-type(3) {
      //margin-bottom: v_xs(1200, 12);
    }
    
    &:nth-of-type(4) {
      //margin-bottom: v_l(1200, 2);
    }
    
    //display: flex;
    //justify-content: center;
    //align-items: center;
  }
  
  .fb_link {
    //order: 1;
    //padding: 5px 10px;
    //margin-right: 28px;
    
    &:hover {
      svg {
        //fill: rgba(255, 255, 255, 1);
      }
    }
    
    .svg-fb {
      //width: 10.4px;
      //height: 20px;
      //fill: rgba(255, 255, 255, .85);
    }
  }
  
  .langs {
    //order: 2;
    //display: flex;
    //align-items: center;
    //margin-right: 0;
    
    .lang_item {
      //font-family: 'SourceSansPro';
      //font-size: 17px;
      //text-transform: uppercase;
      //padding: 5px;
      //color: rgba(255, 255, 255, .85);
      
      &:hover {
        //color: rgba(255, 255, 255, 1);
      }
    }
  }
  
  .top_menu {
    //justify-content: center;
    //order: 4;
    //width: 100%;
    margin-top: v_l(600, 16);
    //display: flex;
    //align-items: center;
    flex-direction: column;
    
    .top_menu-item {
      padding: 8px;
      //font-family: 'SourceSansPro';
      //font-size: 17px;
      //color: rgba(255, 255, 255, .85);
      //padding: 0 15px;
      
      &:hover {
        //color: rgba(255, 255, 255, 1);
      }
    }
  }
  
  .middle_menu {
    //display: flex;
    //align-items: center;
    //flex-wrap: wrap;
    //justify-content: center;
    &:after {
      display: none;
      //content: '';
      //width: 100%;
      //order: 2;
    }
    
    .middle_menu-item {
      //font-family: 'SourceSansPro';
      //font-size: 17px;
      //text-transform: uppercase;
      //color: #F3F3F3;
      //padding: 0 12px;
      //order: 1;
      //padding: 5px;
      display: none;
      
      &:nth-of-type(6),
      &:nth-of-type(7),
      &:nth-of-type(8) {
        display: block;
        //order: 3;
        margin-top: 0;
      }
      
      &:hover {
        //color: #fff;
      }
    }
  }
  
  .logo {
    &:hover {
      .svg-logo {
        //fill: rgba(255, 255, 255, 1);
      }
    }
    
    .svg-logo {
      width: 115px;
      height: 15px;
      //fill: rgba(255, 255, 255, .85);
    }
  }
  
  .copyright {
    //font-family: 'SourceSansPro';
    //font-size: 16px;
    //color: #F3F3F3;
    //color: rgba(243, 243, 243, .85);
  }
  
  .makeBy {
    //font-family: 'SourceSansPro';
    //font-size: 14px;
    //color: #F3F3F3;
    //color: rgb(243, 243, 243, .6);
  }
}

