@import "~src/assets/scss/_mixins";

.box, :host {
  display: flex;
  flex: 1;
  flex-direction: column;
}


.messages {
  position: relative;
  flex: 1;
  //display: flex;
  //align-items: flex-end;
  display: block;
  height: 100%;
  overflow-x: hidden;
  margin-bottom: 36px;
  min-height: 300px;
  display: flex;
  align-items: flex-end;
  
  //overflow-: ;
  
  app-empy-list-string {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.list {
  position: absolute;
  display: flex;
  flex-direction: column;
  //height: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding-right: 20px;
}

.message {
  max-width: 65%;
  margin-top: 24px;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  
  &:first-of-type {
    margin-top: 0;
  }
  
  &.__opposite {
    align-self: flex-end;
    .date {
      align-self: flex-end;
    }
  }
  
  .user, .text, .date {
    font-size: 16px;
    line-height: 24px;
  }
  
  .user {
    font-family: 'SourceSansProSemiBold';
    color: #303233;
  }
  
  .text {
    font-family: 'SourceSansPro';
    color: #303233;
  }
  
  .date {
    align-self: flex-start;
    font-size: 14px;
    font-family: 'SourceSansPro';
    color: #A3ACB3;
    text-align: left;
  }

  
}

.tools {
  display: flex;
  align-items: center;
  
  input {
    height: 35px;
    background-color: transparent;
    flex: 1;
    border-bottom: 2px solid #A3ACB3;
    font-family: 'SourceSansPro';
    font-size: 16px;
    color: #303233;
    padding-right: 20px;
    margin-right: 8px;
    border-radius: 0;
    @include placeholder {
      font-family: 'SourceSansPro';
      font-size: 16px;
      color: #A3ACB3;
    }
    
    &:hover, &:focus {
      //box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
    }
    
    &:focus {
      border-bottom: 2px solid #303233;
    }
    
  }
  
  .submit {
    padding: 8px;
    pointer-events: none;
    
    svg {
      width: 16.5px;
      height: 18.1px;
      fill: #A3ACB3
    }
    
    &.__active {
      pointer-events: auto;
      
      svg {
        fill: #303233
      }
    }
  }
}

@media all and (max-width: 599px) {
  //@import "~src/assets/scss/_mixins";
  
  .box, :host {
    //display: flex;
    //flex: 1;
    //flex-direction: column;
  }
  
  
  .messages {
    //position: relative;
    //flex: 1;
    ////display: flex;
    ////align-items: flex-end;
    //display: block;
    //height: 100%;
    //overflow-x: hidden;
    //margin-bottom: 36px;
    //min-height: 300px;
    //overflow-: ;
  }
  
  .list {
    //position: absolute;
    //display: flex;
    //flex-direction: column;
    //height: 100%;
    //left: 0;
    //right: 0;
    //bottom: 0;
    //padding-right: 20px;
  }
  
  .message {
    max-width: 80%;
    //margin-top: 24px;
    //word-break: break-word;
    
    &:first-of-type {
      //margin-top: 0;
    }
    
    &.__opposite {
      //align-self: flex-end;
    }
    
    .user, .text, .date {
      //font-size: 16px;
      //line-height: 24px;
    }
    
    .user {
      //font-family: 'SourceSansProSemiBold';
      //color: #303233;
    }
    
    .text {
      //font-family: 'SourceSansPro';
      //color: #303233;
    }
    
    
    .date {
      //font-size: 14px;
      //font-family: 'SourceSansPro';
      //color: #A3ACB3;
    }
    
  }
  
  .tools {
    //display: flex;
    //align-items: center;
    
    input {
      //height: 35px;
      //background-color: transparent;
      //flex: 1;
      //border-bottom: 2px solid #A3ACB3;
      //font-family: 'SourceSansPro';
      //font-size: 16px;
      //color: #303233;
      //padding-right: 20px;
      //margin-right: 8px;
      
      @include placeholder {
        //font-family: 'SourceSansPro';
        //font-size: 16px;
        //color: #A3ACB3;
      }
      
      &:hover, &:focus {
        //box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
      }
      
      &:focus {
        //border-bottom: 2px solid #303233;
      }
      
    }
    
    .submit {
      //padding: 8px;
      //pointer-events: none;
      
      svg {
        //width: 16.5px;
        //height: 18.1px;
        //fill: #A3ACB3
      }
      
      &.__active {
        //pointer-events: auto;
        
        svg {
          //fill: #303233
        }
      }
    }
  }
}
