<div class="box" #boxEl>
  <div class="messages" [perfectScrollbar]="{wheelPropagation:false, suppressScrollX:true}" #messagesEl>
    <div class="list">
      <div class="message" *ngFor="let message of messages" [class.__opposite]="message.side === 'user'">
        <span class="text"><span class="user">{{message.side === 'admin' ? 'Dm' : 'Вы'}}: </span>{{message.text}}</span>
        <span class="date">{{date_s.convertWithTime(message.created_at)}}</span>
      </div>
    </div>
    <app-empy-list-string *ngIf="init && !messages.length" [text]="'account-page.notifications-tab.empty-error' | translate"></app-empy-list-string>
  </div>
  <div class="tools">
    <input type="text" [(ngModel)]="text" [placeholder]="'account-page.notifications-tab.input-placeholder' | translate"/>
    <button class="submit" [class.__active]="text" (click)="sendMessage()">
      <svg class="svg-submit">
        <use [attr.xlink:href]="'#submit'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </button>
  </div>
</div><!--submit.svg-->
