//@import "../../../../../assets/scss/variables";

.wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
  
  &.__active {
    opacity: 1;
    visibility: visible;
  }
}

.tint {
  background: rgba(247, 247, 247, 0.7);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  //opacity: 0;
  //visibility: hidden;
  //transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
}

.box {
  position: relative;
  background: #FFFFFF;
  border-radius: 3px;
  overflow: hidden;
  padding: 20px 0;
  max-width: 530px;
  width: 100%;
  z-index: 1001;
  max-height: 85%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 6px rgba(29, 54, 73, 0.1);
  //opacity: 0;
  //visibility: hidden;
  //transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
  
  app-empy-list-string {
    display: block;
    padding: 0 25px 15px;
  }
}

.top {
  display: flex;
  align-items: center;
  padding: 0 25px;
  margin-bottom: 45px;
  
  svg {
    width: 21.4px;
    height: 20px;
    fill: #303233;
    margin-bottom: 3px;
  }
  
  span {
    margin-left: 12px;
    font-family: 'SourceSansProSemiBold';
    font-size: 20px;
    color: #303233;
  }
}


.table {
  position: relative;
  z-index: 3;
  //display: flex;
  //flex-direction: column;
  //justify-content: flex-start;
  //align-items: flex-start;
}

.table_top {
  padding: 0 52px 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 14px;
  
  .table_top-item {
    min-width: 50px;
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .svg-building {
      width: 20px;
      height: 18.8px;
    }
    
    .svg-user {
      width: 16.1px;
      height: 20px;
    }
    .svg-doc {
      width: 17.7px;
      height: 20px;
    }
    
    
    &:nth-of-type(1) {
      svg {
        fill: #A3ACB3
      }
    }
    
    &:nth-of-type(2) {
      svg {
        fill: #6ED53B
      }
    }
    
    
    &:nth-of-type(3) {
      svg {
        fill: #F22A29
      }
    }
    
    &:nth-of-type(4) {
      
      svg {
        fill: #A3ACB3
      }
    }
    
    &:nth-of-type(5) {
      position: relative;
      
      &:before {
        display: block;
        content: '';
        z-index: 3;
        position: absolute;
        left: 10px;
        top: 11px;
        margin-top: -1px;
        width: 28px;
        height: 2px;
        background-color: #f22a29;
        transform: rotate(-45deg);
      }
      
      svg {
        fill: #A3ACB3
      }
    }
    
    &:nth-of-type(6) {
      position: relative;
      
      &:before {
        display: block;
        content: '';
        z-index: 3;
        position: absolute;
        left: 10px;
        top: 11px;
        margin-top: -1px;
        width: 28px;
        height: 2px;
        background-color: #f22a29;
        transform: rotate(-45deg);
      }
      
      svg {
        fill: #A3ACB3
      }
    }
    
  }
}

.table_content {
  position: relative;
  max-height: none;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  //align-items: center;
  //justify-content: flex-end;
  width: 100%;
  
  .table_content-item {
    width: 100%;
    
    &.__open {
      .table_item-top {
        background-color: #F5F6F7;
        
        .svg-array {
          transform: rotate(0);
        }
      }
    }
  }
  
  .table_item-top {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    
    &:hover {
      background-color: #F5F6F7;
    }
    
    .svg-array {
      fill: #C8D0D2;
      width: 12.8px;
      height: 6px;
      transform: rotate(180deg);
      transition: transform .1s ease-in-out;
    }
    
    .cell {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      

      
      &:nth-of-type(1) {
        flex: 1;
        justify-content: flex-start;
        padding-left: 10px;
        
        img {
          max-width: 50px;
          max-height: 30px;
        }
      }
      
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6),
      &:nth-of-type(7) {
        min-width: 50px;
        max-width: 50px;
        font-family: 'SourceSansPro';
        font-size: 17px;
        color: #6ED53B;
        
      }
      
      &:nth-of-type(8) {
        min-width: 42px;
        max-width: 42px;
      }
      
      &:nth-of-type(2) {
        color: #A3ACB3;
      }
      &:nth-of-type(3) {
        color: #6ED53B;
      }
      
      
      &:nth-of-type(4) {
        color: #F22A29;
      }
      
      &:nth-of-type(5) {
        color: #A3ACB3;
      }
      
      &:nth-of-type(6) {
        color: #A3ACB3;
      }
      
      &:nth-of-type(7) {
        color: #A3ACB3;
      }
      
      
    }
    
    
  }
  
  .dropdown {
    position: relative;
    
    .svg-building {
      width: 15px;
      height: 14px;
    }
    
    .svg-user {
      width: 12px;
      height: 15px;
    }
    
    .dropdown_item {
      display: flex;
      align-items: center;
      padding-right: 42px;
      
      .dropdown_cell {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &.__disabled {
          svg {
            display: none!important;
          }
          &:before {
            display: none!important;
          }
        }
        
        &:nth-of-type(1) {
          flex: 1;
          justify-content: flex-start;
          padding-left: 10px;
          
          font-family: 'SourceSansPro';
          font-size: 17px;
          letter-spacing: 0.26px;
          color: #6ED53B;
        }
        
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(5),
        &:nth-of-type(6) {
          min-width: 50px;
          max-width: 50px;
        }
        
        
        &:nth-of-type(2) {
          svg {
            fill: #6ED53B;
          }
        }
        
        &:nth-of-type(3) {
          svg {
            fill: #F22A29;
          }
        }
        
        &:nth-of-type(4) {
          svg {
            fill: #A3ACB3;
          }
        }
        
        &:nth-of-type(5) {
          position: relative;
          
          &:before {
            display: block;
            content: '';
            z-index: 3;
            position: absolute;
            left: 15px;
            top: 22px;
            margin-top: -1px;
            width: 20px;
            height: 2px;
            background-color: #f22a29;
            transform: rotate(-45deg);
          }
          
          svg {
            fill: #A3ACB3;
          }
        }
        
        &:nth-of-type(6) {
          position: relative;
          
          &:before {
            display: block;
            content: '';
            z-index: 3;
            position: absolute;
            left: 15px;
            top: 22px;
            margin-top: -1px;
            width: 20px;
            height: 2px;
            background-color: #f22a29;
            transform: rotate(-45deg);
          }
          
          svg {
            fill: #A3ACB3;
          }
        }
      }
    }
  }
}


@media all and (max-width: 599px) {
  .wrap {
    //position: fixed;
    //left: 0;
    //right: 0;
    //top: 0;
    //bottom: 0;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //z-index: 1000;
    //opacity: 0;
    //visibility: hidden;
    //transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    padding: 0 10px;
    &.__active {
      //opacity: 1;
      //visibility: visible;
    }
  }
  
  .tint {
    //background: rgba(247, 247, 247, 0.7);
    //position: fixed;
    //left: 0;
    //right: 0;
    //top: 0;
    //bottom: 0;
    //z-index: 1000;
    //opacity: 0;
    //visibility: hidden;
    //transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
  }
  
  .close {
    //position: absolute;
    //right: 0;
    //top: 0;
    //cursor: pointer;
    //width: 55px;
    //height: 55px;
    //z-index: 2;
    
    
    &:hover {
      &:before, &:after {
        //background-color: #1C1D1F;
      }
    }
    
    &:before, &:after {
      //display: block;
      //content: '';
      //position: absolute;
      //left: 50%;
      //top: 50%;
      //width: 22px;
      //height: 2px;
      //background-color: #A3ACB3;
    }
    
    &:before {
      //transform: translate(-50%, -50%) rotate(45deg);
    }
    
    &:after {
      //transform: translate(-50%, -50%) rotate(-45deg);
    }
    
  }
  
  .box {
    //position: relative;
    //background: #FFFFFF;
    //border-radius: 3px;
    //overflow: hidden;
    padding: 22px 10px;
    max-width: 480px;
    //width: 100%;
    //z-index: 1001;
    //max-height: 95%;
    //overflow: hidden;
    //display: flex;
    //flex-direction: column;
    //box-shadow : 0px 4px 6px rgba(29, 54, 73, 0.1);
    //opacity: 0;
    //visibility: hidden;
    //transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    
  }
  
  
  .table {
    //position: relative;
    //z-index: 3;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
  }
  
  .table_top {
    padding: 0;
    //display: flex;
    //align-items: center;
    //justify-content: flex-end;
    //width: 100%;
    //margin-bottom: 14px;
    
    .table_top-item {
      min-width: 32px;
      max-width: 32px;
      //display: flex;
      //justify-content: center;
      //align-items: center;
      
      .svg-building {
        width: 15px;
        height: 14px;
      }
      
      .svg-user {
        width: 12px;
        height: 15px;
      }
      
      &:nth-of-type(1) {
        svg {
          //fill: #6ED53B
        }
      }
      
      &:nth-of-type(2) {
        svg {
          //fill: #F22A29
        }
      }
      
      &:nth-of-type(3) {
        
        svg {
          //fill: #A3ACB3
        }
      }
      
      &:nth-of-type(4) {
        //position: relative;
        
        &:before {
          //display: block;
          //content: '';
          //z-index: 3;
          //position: absolute;
          left: 6px;
          top: 9px;
          margin-top: -1px;
          width: 20px;
          //height: 2px;
          //background-color: #f22a29;
          //transform: rotate(-45deg);
        }
        
        svg {
          //fill: #A3ACB3
        }
      }
      
      &:nth-of-type(5) {
        //position: relative;
        
        &:before {
          //display: block;
          //content: '';
          //z-index: 3;
          //position: absolute;
          left: 6px;
          top: 9px;
          //margin-top: -1px;
          width: 20px;
          //height: 2px;
          //background-color: #f22a29;
          //transform: rotate(-45deg);
        }
        
        svg {
          //fill: #A3ACB3
        }
      }
      &:nth-of-type(6) {
        //position: relative;
        
        &:before {
          //display: block;
          //content: '';
          //z-index: 3;
          //position: absolute;
          left: 6px;
          top: 9px;
          //margin-top: -1px;
          width: 20px;
          //height: 2px;
          //background-color: #f22a29;
          //transform: rotate(-45deg);
        }
        
        svg {
          //fill: #A3ACB3
        }
      }
      
      
    }
  }
  
  .table_content {
    //position: relative;
    //max-height: 250px;
    padding: 0;
    //display: flex;
    //flex-direction: column;
    ////align-items: center;
    ////justify-content: flex-end;
    //width: 100%;
    
    .table_content-item {
      //width: 100%;
      
      
      &.__open {
        .table_item-top {
          background-color: transparent;
          
          .svg-array {
            //transform: rotate(0);
          }
        }
      }
    }
    
    .table_item-top {
      //display: flex;
      //align-items: center;
      //width: 100%;
      //height: 50px;
      //border-radius: 3px;
      //overflow: hidden;
      //cursor: pointer;
      //pointer-events: none;
      
      &:hover {
        //background-color: #F5F6F7;
      }
      
      .svg-array {
        //fill: #C8D0D2;
        //width: 12.8px;
        //height: 6px;
        //transform: rotate(180deg);
        //transition: transform .1s ease-in-out;
      }
      
      .cell {
        //display: flex;
        //align-items: center;
        //justify-content: center;
        //height: 50px;
        
        &:nth-of-type(8) {
          display: none;
        }
        
        &:nth-of-type(1) {
          //flex: 1;
          //justify-content: flex-start;
          padding-left: 0;
          
          img {
            //max-width: 50px;
            //max-height: 30px;
          }
        }
        
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(5),
        &:nth-of-type(6),
        &:nth-of-type(7)
        {
          min-width: 32px;
          max-width: 32px;
          font-size: 15px;
          
          
        }
        
        &:nth-of-type(7) {
          //min-width: 42px;
          //max-width: 42px;
        }
        
        &:nth-of-type(2) {
          //color: #6ED53B;
        }
        
        &:nth-of-type(3) {
          //color: #F22A29;
        }
        
        &:nth-of-type(4) {
          //color: #A3ACB3;
        }
        
        &:nth-of-type(5) {
          //color: #A3ACB3;
        }
        
        &:nth-of-type(6) {
          //color: #A3ACB3;
        }
        
        
      }
      
      
    }
    
    .dropdown {
      display: none !important;
      //position: relative;
      .svg-building {
        //width: 15px;
        //height: 14px;
      }
      
      .svg-user {
        //width: 12px;
        //height: 15px;
      }
      
      .dropdown_item {
        //display: flex;
        //align-items: center;
        //padding-right: 42px;
        
        .dropdown_cell {
          //height: 40px;
          //display: flex;
          //align-items: center;
          //justify-content: center;
          &:nth-of-type(1) {
            //flex: 1;
            //justify-content: flex-start;
            //padding-left: 10px;
            //
            //font-family : 'SourceSansPro';
            //font-size : 17px;
            //letter-spacing : 0.26px;
            //color : #6ED53B;
          }
          
          &:nth-of-type(2),
          &:nth-of-type(3),
          &:nth-of-type(4),
          &:nth-of-type(5),
          &:nth-of-type(6) {
            //min-width: 50px;
            //max-width: 50px;
          }
          
          
          &:nth-of-type(2) {
            svg {
              //fill: #6ED53B;
            }
          }
          
          &:nth-of-type(3) {
            svg {
              //fill: #F22A29;
            }
          }
          
          &:nth-of-type(4) {
            svg {
              //fill: #A3ACB3;
            }
          }
          
          &:nth-of-type(5) {
            //position: relative;
            
            &:before {
              //display: block;
              //content: '';
              //z-index: 3;
              //position: absolute;
              //left: 15px;
              //top: 22px;
              //margin-top: -1px;
              //width: 20px;
              //height: 2px;
              //background-color: #f22a29;
              //transform: rotate(-45deg);
            }
            
            svg {
              //fill: #A3ACB3;
            }
          }
          
          &:nth-of-type(6) {
            //position: relative;
            
            &:before {
              //display: block;
              //content: '';
              //z-index: 3;
              //position: absolute;
              //left: 15px;
              //top: 22px;
              //margin-top: -1px;
              //width: 20px;
              //height: 2px;
              //background-color: #f22a29;
              //transform: rotate(-45deg);
            }
            
            svg {
              //fill: #A3ACB3;
            }
          }
        }
      }
    }
  }
}

