<div class="wrap" [class.__active]="isOpen">
  <div class="tint" (click)="close(); isOpen = false;"></div>
  <div class="box">
    <div class="top">
      <svg class="svg-building">
        <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
      <span>{{'law-page.votes-modal-title' | translate}}</span>
    </div>
    <app-empy-list-string *ngIf="!items.length" [text]="'errors.empy-widget-list' | translate"></app-empy-list-string>
    <div class="table_top" *ngIf="items.length">
      <div class="table_top-item" [matTooltip]="'law-page.votes-modal.all' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
        <svg class="svg-doc">
          <use [attr.xlink:href]="'#doc'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
      <div class="table_top-item" [matTooltip]="'law-page.votes-modal.for' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
        <svg class="svg-building">
          <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
      <div class="table_top-item" [matTooltip]="'law-page.votes-modal.against' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
        <svg class="svg-building">
          <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
      <div class="table_top-item" [matTooltip]="'law-page.votes-modal.abstained' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
        <svg class="svg-building">
          <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
      <div class="table_top-item" [matTooltip]="'law-page.votes-modal.not_vote' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
        <svg class="svg-building">
          <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
      <div class="table_top-item" [matTooltip]="'law-page.votes-modal.absent' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
        <svg class="svg-user">
          <use [attr.xlink:href]="'#user'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
    </div>
<!--    <div class="list" *ngIf="missings">-->
<!--      <div class="item" [matTooltip]="'tooltips.party.votes' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">-->
<!--        <svg class="svg-doc">-->
<!--          <use [attr.xlink:href]="'#doc'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
<!--        </svg>-->
<!--        <span>{{missings.votes}}</span>-->
<!--      </div>-->
<!--      <div class="item" [matTooltip]="'tooltips.party.for' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">-->
<!--        <svg class="svg-building svg-building-1">-->
<!--          <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
<!--        </svg>-->
<!--        <span>{{(missings.for * 100 / missings.votes).toFixed(1)}}%</span>-->
<!--      </div>-->
<!--      <div class="item" [matTooltip]="'tooltips.party.against' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">-->
<!--        <svg class="svg-building svg-building-2">-->
<!--          <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
<!--        </svg>-->
<!--        <span>{{(missings.against * 100 / missings.votes).toFixed(1)}}%</span>-->
<!--      </div>-->
<!--      <div class="item" [matTooltip]="'tooltips.party.abstained' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">-->
<!--        <svg class="svg-building svg-building-3">-->
<!--          <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
<!--        </svg>-->
<!--        <span>{{(missings.abstained * 100 / missings.votes).toFixed(1)}}%</span>-->
<!--      </div>-->
<!--      <div class="item __cross" [matTooltip]="'tooltips.party.not-vote' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">-->
<!--        <svg class="svg-building svg-building-3">-->
<!--          <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
<!--        </svg>-->
<!--        <span>{{(missings.not_vote * 100 / missings.votes).toFixed(1)}}%</span>-->
<!--      </div>-->
<!--      <div class="item __cross1" [matTooltip]="'tooltips.party.absent' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">-->
<!--        <svg class="svg-user">-->
<!--          <use [attr.xlink:href]="'#user'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
<!--        </svg>-->
<!--        <span>{{(missings.absent * 100 / missings.votes).toFixed(1)}}%</span>-->
<!--      </div>-->
<!--    </div>-->




    <app-btn-close (click)="close(); isOpen = false;"></app-btn-close>
    <div class="table" [perfectScrollbar]="{wheelPropagation:false}">
      <div class="table_content">
        <div class="table_content-item" *ngFor="let item of items" [class.__open]="item.isOpen">
          <div class="table_item-top" (click)="toggle(item)">
            <div class="cell">
              <img *ngIf="item.party.logo_xs" [src]="item.party.logo_xs" alt="">
              <span *ngIf="!item.party.logo_xs">{{item.party.title}}</span>
            </div>
            <div class="cell">{{item.votes}}</div>
            <div class="cell">{{item.for}}</div>
            <div class="cell">{{item.against}}</div>
            <div class="cell">{{item.abstained}}</div>
            <div class="cell">{{item.not_vote}}</div>
            <div class="cell">{{item.absent}}</div>
            <div class="cell">
              <svg class="svg-array">
                <use [attr.xlink:href]="'#array'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
          </div>
          <div class="dropdown" [hidden]="!item.isOpen">
            <div class="dropdown_item" *ngFor="let value of item.values">
              <div class="dropdown_cell">{{value.person.sirname}}</div>
              <div class="dropdown_cell" [class.__disabled]="value.vote !== 'for'">
                <svg class="svg-building">
                  <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
              <div class="dropdown_cell" [class.__disabled]="value.vote !== 'against'">
                <svg class="svg-building">
                  <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
              <div class="dropdown_cell" [class.__disabled]="value.vote !== 'abstained'">
                <svg class="svg-building">
                  <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
              <div class="dropdown_cell" [class.__disabled]="value.vote !== 'not_vote'">
                <svg class="svg-building">
                  <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
              <div class="dropdown_cell" [class.__disabled]="value.vote !== 'absent'">
                <svg class="svg-user">
                  <use [attr.xlink:href]="'#user'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

