<div class="box">
  <div class="slider">
    <div class="slider_wrap">

      <div class="swiper-container" [swiper]="config" [(index)]="i" #slider>
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let slide of slides">
            <div class="bg" [style.backgroundImage]="'url('+slide.md+')'"></div>
            <img [src]="slide.md" alt="">
          </div>
          <div *ngFor="let slide of slides"></div>
        </div>

      </div>
      <div class="button-prev">
        <div class="icon">
          <svg class="svg-arr">
            <use [attr.xlink:href]="'#swiper-arr'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
      <div class="button-next">
        <div class="icon">
          <svg class="svg-arr">
            <use [attr.xlink:href]="'#swiper-arr'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="bottom">
      <span class="current">{{i + 1}}/{{slides.length}}</span>
      <span class="descr" *ngIf="slides[i].caption">{{slides[i].caption}}</span>
    </div>
  </div>
</div>
