@import "../../../../../../assets/scss/variables";
@import '~swiper/dist/css/swiper.min.css';

:host {
  display: block;
  width: 100%;
}

.box {
  user-select: none;
}

.slider_wrap {
  position: relative;
}

.slider {
  position: relative;
  //margin-bottom: v_xs(1200, 3);
  width: 100%;
  //overflow: hidden;
  
  img {
    display: block;
    margin: 0 auto;
    max-height: 480px;
  }
  
  .swiper-container {
    position: relative;
    margin-bottom: 10px;
  }
  
  .swiper-slide {
    position: relative;
    
    .bg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      background-size: cover;
      background-repeat: no-repeat;
      filter: blur(55px);
      opacity: .7;
    }
    
    img {
      position: relative;
      z-index: 2;
    }
  }
  
  .button-prev, .button-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    //justify-content: flex-end;
    width: 50%;
    
    .icon {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #303233;
    }
    
    .svg-arr {
      width: 7px;
      height: 15px;
      fill: transparent;
      stroke: #fff;
    }
    
    &.swiper-button-disabled {
      opacity: .6;
      pointer-events: none;
      
      .svg-arr {
        stroke: #9FA5AB;
      }
    }
  }
  
  .button-prev {
    left: 0;
    padding-left: 20px;
    
    .icon {
      transform: rotate(180deg);
    }
    &:hover {
    
      .icon {
        transform: rotate(180deg) scale(1.2);
      }
    }
  }
  
  .button-next {
    right: 0;
    //transform: rotate(180deg);
    padding-right: 20px;
    justify-content: flex-end;
    &:hover {
    
      .icon {
        transform: scale(1.2);
      }
    }
  }
  
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .current, .descr {
    font-family: 'SourceSansPro';
    font-size: 16px;
    color: #A3ACB3;
  }
}


@media all and (max-width: 1199px) {
  :host {
    //display: block;
    //width: 100%;
  }
  
  .box {
    //user-select: none;
  }
  .slider {
    //position: relative;
    //margin-bottom: 6px;
    //width: 100%;
    //overflow: hidden;
    
    img {
      //display: block;
      //margin: 0 auto;
    }
    
    .swiper-container {
      margin-bottom: 6px;
    }
    
    //.button-prev, .button-next {
    //  //position: absolute;
    //  //top: 0;
    //  //bottom: 0;
    //  //z-index: 10;
    //  //outline: none;
    //  //cursor: pointer;
    //  //display: flex;
    //  //align-items: center;
    //  //justify-content: flex-end;
    //  //width: 35%;
    //  &:hover {
    //    .icon {
    //      transform: scale(1.15);
    //    }
    //    .svg-arr {
    //      transform: scale(1);
    //    }
    //  }
    //
    //  .svg-arr {
    //    width: 7px;
    //    height: 15px;
    //    //fill: transparent;
    //    stroke: #fff;
    //  }
    //
    //  &.swiper-button-disabled {
    //    //opacity: .6;
    //    //pointer-events: none;
    //
    //    .svg-arr {
    //      stroke: #fff;
    //    }
    //  }
    //}
    //
    //.icon {
    //  width: 35px;
    //  height: 35px;
    //  border-radius: 50%;
    //  overflow: hidden;
    //  //color : #A3ACB3;
    //  background-color: rgba(48, 50, 51, .7);
    //  display: flex;
    //  justify-content: center;
    //  align-items: center;
    //  //opacity: .7;
    //}
    //
    //.button-prev {
    //  //right: 0;
    //  transform: rotate(180deg) translateX(0);
    //  //padding-left: 12px;
    //}
    //
    //.button-next {
    //  //left: 0;
    //  transform: rotate(0) translateX(0);
    //  //padding-left: 12px;
    //}
    //
    //.button-prev {
    //  left: 0;
    //  right: auto;
    //  //transform: rotate(180deg);
    //  //padding-left: 22px;
    //  padding-left: auto;
    //  padding-right: 25px;
    //}
    //
    //.button-next {
    //  right: 0;
    //  left: auto;
    //  //left: 100%;
    //  padding-left: auto;
    //  padding-right: 25px;
    //}
    
  }
  
  .bottom {
    //display: flex;
    //align-items: center;
    //justify-content: space-between;
    
    .current, .descr {
      //font-family : 'SourceSansPro';
      //font-size : 16px;
      //color : #A3ACB3;
    }
  }
}


@media all and (max-width: 599px) {
  :host {
    //display: block;
    //width: 100%;
  }
  
  .box {
    //user-select: none;
  }
  .slider {
    //position: relative;
    //margin-bottom: 6px;
    //width: 100%;
    //overflow: hidden;
    
    img {
      //display: block;
      //margin: 0 auto;
      max-height: 360px;
    }
    
    .swiper-container {
      //margin-bottom: 6px;
    }
    
    .button-prev, .button-next {
      //position: absolute;
      //top: 0;
      //bottom: 0;
      //z-index: 10;
      //outline: none;
      //cursor: pointer;
      //display: flex;
      //align-items: center;
      //justify-content: flex-end;
      //width: 35%;
      &:hover {
        .svg-arr {
          //transform: scale(1.15);
        }
      }
      
      //.svg-arr {
      //  //width: 15px;
      //  //height: 30px;
      //  //fill: transparent;
      //  stroke: #fff;
      //}
      
      &.swiper-button-disabled {
        //opacity: .6;
        //pointer-events: none;
        
        .svg-arr {
          //stroke: #fff;
        }
      }
    }
    
    .button-prev {
      //left: 0;
      //right: auto;
      ////transform: rotate(180deg);
      ////padding-left: 22px;
      //padding-left: auto;
      //padding-right: 12px;
    }
    
    .button-next {
      //right: 0;
      //left: auto;
      ////left: 100%;
      //padding-left: auto;
      //padding-right: 12px;
    }
    
  }
  
  .bottom {
    padding: 0 12px;
    //display: flex;
    //align-items: center;
    //justify-content: space-between;
    
    .current, .descr {
      //font-family : 'SourceSansPro';
      //font-size : 16px;
      //color : #A3ACB3;
    }
  }
}


