@import "~src/assets/scss/_mixins";

.cover {
  background-color: #E6E8EB;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-bottom: 10px;
  
  svg {
    fill: #A3ACB3;
    
    &.__hide {
      display: none;
    }
  }
  
  .svg-fb {
    width: 20.8px;
    height: 40px;
  }
  
  .svg-tw {
    width: 40px;
    height: 31.5px;
  }
  
  .svg-ytb {
    width: 40px;
    height: 28.2px;
  }
  
}

.embed {
  margin-bottom: 10px;
  ::ng-deep {
    iframe {
      width: 100%!important;
    }
    twitter-widget {
      margin: 0 auto!important;
    }
  }
}

.inp {
  input {
    width: 100%;
    padding: 0 18px;
    height: 35px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    
    font-family: 'SourceSansPro';
    font-size: 16px;
    color: #303233;
    
    @include placeholder {
      font-family: 'SourceSansPro';
      font-size: 16px;
      color: #AEB5BB;
    }
    &:hover, &:focus {
      box-shadow : 0px 2px 4px rgba(156, 168, 174, 0.2);
    }
  }
}
