<div class="top">
  <div class="cover" *ngIf="!embed">
    <svg class="svg-fb" [class.__hide]="type !== 10">
      <use [attr.xlink:href]="'#fb'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <svg class="svg-tw" [class.__hide]="type !== 9">
      <use [attr.xlink:href]="'#tw'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <svg class="svg-ytb" [class.__hide]="type !== 8">
      <use [attr.xlink:href]="'#ytb'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </div>
  <div class="embed" *ngIf="embed" [innerHTML]="embed | safeHtml"></div>
</div>
<div class="inp">
  <input type="text" [(ngModel)]="embed" (ngModelChange)="embedChange.emit(embed); update();" [placeholder]="type === 10 ? 'Facebook embed' : type === 9 ? 'Twitter embed' : 'Youtube embed'">
</div>
