@import "~src/assets/scss/_variables";

:host {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  width: 320px;
  z-index: 10;
}

.nav {
  background-color: #fff;
  border-right: 3px;
  padding: 18px;
  width: 320px;
  
  .nav_head {
    font-family: 'SourceSansProSemiBold';
    font-size: 17px;
    text-transform: uppercase;
    color: #AEB5BB;
    margin-bottom: 13px;
  }
  
  .nav_list-item {
    padding: 5px 0;
    font-family: 'SourceSansProSemiBold';
    font-size: 16px;
    letter-spacing: 0.15px;
    color: #585D61;
    margin-bottom: 4px;
    cursor: pointer;
    
    &.__active {
      color: #3A70CF;
    }
    
    &:hover {
      color: #3A70CF;
    }
  }
}


@media all and (max-width: 1199px) {
  
  :host {
    //position: absolute;
    right: 15px;
    //top: 0;
    //bottom: 0;
    //display: block;
    width: 275px;
    //z-index: 10;
  }
  
  .box {
    //position: relative;
    //opacity: 0;
  }
  .nav {
    //background-color: #fff;
    //border-right: 3px;
    //padding: 18px;
    width: 275px;
    
    //.nav_head {
    //  font-family: 'SourceSansProSemiBold';
    //  font-size: 17px;
    //  text-transform: uppercase;
    //  color: #AEB5BB;
    //  margin-bottom: 13px;
    //}
    //
    //.nav_list-item {
    //  padding: 5px 0;
    //  font-family: 'SourceSansProSemiBold';
    //  font-size: 15px;
    //  letter-spacing: 0.15px;
    //  color: #585D61;
    //  margin-bottom: 4px;
    //  cursor: pointer;
    //
    //  &:hover {
    //    color: #2053AB;
    //  }
    //}
  }
}

@media all and (max-width: 959px) {
  
  :host {
    display: none;
  }
}
