<div class="box" appPageMinHeight>
  <!--  <app-right-widget-toolbar [search]="true" [share]="false"></app-right-widget-toolbar>-->
  <div class="fixed_wrap">
    <div class="fixed" appFixedWidget>
      <div class="nav">
        <div class="nav_head">{{'info-page.sections-title' | translate}}</div>
        <div class="nav_list">
          <div class="nav_list-item" [class.__active]="link.selected" *ngFor="let link of sections; let i = index" (click)="goTo(i, link)">{{link.title}}</div>
        </div>
      </div>
      <!--      <app-more-articles-widget [setArticles]="{articles: [], check: true}"  [title]="'material-page.more-articles-title' | translate"></app-more-articles-widget>-->
      <!--      <app-financial-help></app-financial-help>-->
    </div>
  </div>
</div>
