<div class="page">
  <div class="container">
    <h1>{{title}}</h1>
    <ng-container *ngFor="let item of data">
      <p *ngIf="item.type === 2" [innerHTML]="item.text"></p>
      <h2 *ngIf="item.type === 1" [innerHTML]="item.text"></h2>
    </ng-container>
  </div>
</div>
