//@import "~src/assets/scss/_variables";
//@import "~src/assets/scss/_mixins";

.page {
  padding: 50px 0;
  box-sizing: content-box;
}

.container {
  padding: 0;
  position: relative;
  max-width: 680px;
  
  & > *:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-family: 'SourceSansProBold';
  font-size: 35px;
  letter-spacing: 0.18px;
  color: #303233;
  margin-bottom: 34px;
}

h2 {
  font-family: 'SourceSansProSemiBold';
  font-size: 25px;
  color: #303233;
  margin-bottom: 24px;
}

p {
  font-family: 'SourceSansPro';
  font-size: 17px;
  line-height: 26px;
  color: #303233;
  margin-bottom: 34px;
  
  b {
    font-family: 'SourceSansProSemiBold';
  }
}


@media all and (max-width: 959px) {
  .page {
    padding: 40px 12px;
    //box-sizing: content-box;
  }
  
  .container {
    //padding: 0 30px;
    //position: relative;
    //max-width: 680px;
    
    & > *:last-child {
      //margin-bottom: 0;
    }
  }
  
  h1 {
    //font-family : 'SourceSansProBold';
    font-size: 30px;
    letter-spacing: 0.15px;
    //color : #303233;
    margin-bottom: 28px;
  }
  
  h2 {
    //font-family : 'SourceSansProSemiBold';
    //font-size : 25px;
    //color : #303233;
    margin-bottom: 20px;
  }
  
  p {
    //font-family : 'SourceSansPro';
    //font-size : 17px;
    //line-height : 26px;
    //color : #303233;
    margin-bottom: 28px;
  }
}


@media all and (max-width: 599px) {
  .page {
    padding: 30px 10px;
    //box-sizing: content-box;
  }
  
  .container {
    //padding: 0 30px;
    //position: relative;
    //max-width: 680px;
    
    & > *:last-child {
      //margin-bottom: 0;
    }
  }
  
  h1 {
    //font-family : 'SourceSansProBold';
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.13px;
    //color : #303233;
    //margin-bottom: 28px;
  }
  
  h2 {
    //font-family : 'SourceSansProSemiBold';
    font-size: 22px;
    line-height: 32.5px;
    //color : #303233;
    //margin-bottom: 20px;
  }
  
  p {
    //font-family : 'SourceSansPro';
    //font-size : 17px;
    //line-height : 26px;
    //color : #303233;
    margin-bottom: 35px;
  }
}






