:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.label {
  display: none;
  font-family: 'SourceSansProSemiBold';
  font-size: 17px;
  color: #767D82;
}

.table {
  //max-height: 305px;
  //overflow: hidden;
  //
  //
  //&.__show {
  //  max-height: none;
  //}
}

.row {
  display: flex;
  margin-bottom: 11px;
  height: 50px;
  
  &:last-of-type {
    margin-bottom: 0;
  }
  
  .col {
    display: flex;
    align-items: center;
    filter: grayscale(100%);
    
    
    &:nth-of-type(1) {
      //min-width: 270px;
      max-width: 270px;
      flex: 1;
      margin-right: 40px;
      justify-content: flex-end;
      
      text-align: right;
      font-family: 'SourceSansProSemiBold';
      font-size: 17px;
      color: #767D82;
    }
    
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6) {
      min-width: 30px;
      max-width: 30px;
      margin-right: 30px;
      
      opacity: 0.2;
      
      &.__active {
        filter: grayscale(0);
        opacity: 1;
      }
    }
    
    &:nth-of-type(6) {
      margin-right: 0;
    }
    
  }
}

.btn_more {
  font-family : 'SourceSansPro';
  font-size : 16px;
  color : #2053AB;
  cursor: pointer;
  margin: 20px auto 0;
  padding: 5px;
  display: inline-block;
}

@media all and (max-width: 959px) {
  .row {
    //display: flex;
    //margin-bottom: 16px;
    
    &:last-of-type {
      margin-bottom: 0;
    }
    
    .col {
      //display: flex;
      //align-items: center;
      
      &:nth-of-type(1) {
        //min-width: 270px;
        //max-width: 270px;
        //flex: 1;
        margin-right: 25px;
        //justify-content: flex-end;
        //
        //text-align: right;
        //font-family: 'SourceSansProSemiBold';
        font-size: 16px;
        //color: #767D82;
      }
      
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6) {
        //min-width: 40px;
        //max-width: 40px;
        margin-right: 25px;
      }
      
      &:nth-of-type(6) {
        margin-right: 0;
      }
      
    }
  }
}

@media all and (max-width: 599px) {
  .label {
    display: block;
    margin-bottom: 13px;
  }
  .row {
    //display: flex;
    //margin-bottom: 16px;
    //flex-wrap: wrap;
  
    margin-bottom: 28px!important;
    &:last-of-type {
      //margin-bottom: 0;
    }
    
    .col {
      //display: flex;
      //align-items: center;
      
      &:nth-of-type(1) {
        display: none;
        //color: #767D82;
      }
      img {
        max-width: 42px;
        max-height: 50px;
      }
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6) {
        min-width: auto;
        max-width: none;
        flex: 1;
        margin-right: 20px;
      }
      
      &:nth-of-type(6) {
        margin-right: 0;
      }
      
    }
  }
}

