<div class="table">
  <ng-container *ngFor="let row of rows; let i = index">
    <div [hidden]="i > 4 && !fullView">
      <div class="label">{{row.title}}</div>
      <div class="row">
        <div class="col">{{row.title}}</div>
        <div class="col" *ngFor="let party of parties" [class.__active]="row.values.indexOf(party.id) >= 0">
          <img [src]="party.logo" alt="">
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div class="btn_more" (click)="fullView = !fullView">{{'election-page.comparison.btn-more-' + (fullView ? 'close' : 'open') | translate}}</div>
