.widget_wrap {
  position: absolute;
  left: 0;
  top: 0;
}
.box {
  position: relative;
  &.__fixed {
    position: fixed;
    z-index: 10;
    top: 20px;
  }
}
@media all and (max-width: 1199px) {
  .widget_wrap {
    //position: absolute;
    left: 14px;
    //top: 0;
  }
  .box {
    //position: relative;
  }
}
