<div class="widget_wrap" #el>
  <div class="box" [class.__fixed]="fixed">
    <app-back-btn-fixed [rotate]="rotate"></app-back-btn-fixed>
    <app-social-widget direction="true" *ngIf="social"></app-social-widget>
  </div>
</div>

