<div class="party_list">
  <div class="party_list-item" *ngFor="let party of parties" [class.__descr]="party.isOpen">
    <div class="party_view" (click)="toggle(party, canvasEl, resultEl)">
      <div class="party_img">
        <img *ngIf="party.logo" [src]="party.logo" alt="">
        <span class="party_title" *ngIf="!party.logo">{{party.short}}</span>
      </div>
      <div class="party_label">{{party.title}}</div>
    </div>
    <div class="party_descr">
      <canvas #canvasEl></canvas>
      <div class="list">
        <div class="item" *ngFor="let item of party.groups" (click)="showModal(party, item)">
          <div class="item_img">
            <img *ngIf="item.logo" [src]="item.logo" alt="">
            <span class="party_title" *ngIf="!item.logo">{{item.short}}</span>
          </div>
          <div class="item_count">{{item.count}}</div>
        </div>
      </div>
      <div class="result" (click)="party.isOpen = false" #resultEl>
        <div class="result_count">{{party.member_count}}</div>
        <div class="result_img">
          <img *ngIf="party.logo" [src]="party.logo" alt="">
          <span class="party_title" *ngIf="!party.logo">{{party.short}}</span>
        </div>
      </div>
    </div>

  </div>
</div>
