<div class="page">
  <div class="box">
    <div class="cover" *ngIf="cover">
      <div class="cover_img">
        <img [src]="cover" alt="">
      </div>
      <div class="cover_content">
        <app-article-top [person]="person" [workplace]="workplace.short"></app-article-top>
        <div class="title">
          <h1>{{title}}</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="article">
        <ng-container *ngIf="!cover">
          <app-article-top [person]="person" [workplace]="workplace.short"></app-article-top>
          <h1>{{title}}</h1>
        </ng-container>
        <app-article-author [timestamp]="pub_time" [author]="author"></app-article-author>
        <app-popular-opinion-widget *ngIf="loadOpition"
                                    [setMood]="opitionMood"
                                    [setVerity]="opitionVerity"
                                    [moodUrl]="'/vote/material-user-improve'"
                                    [verityUrl]="'/vote/material-user-mark'"
                                    [infoSlug]="'material.vote'"
                                    [material_id]="material_id"></app-popular-opinion-widget>

        <ng-container *ngFor="let block of blocks">
          <h2 *ngIf="block.type === 1">{{block.h2}}</h2>
          <p *ngIf="block.type === 2" [innerHTML]="block.text"></p>
          <app-article-photo *ngIf="block.type === 3" [content]="block"></app-article-photo>
          <app-article-video *ngIf="block.type === 4" [content]="block"></app-article-video>
          <app-article-audio *ngIf="block.type === 5" [content]="block"></app-article-audio>
          <app-article-quote *ngIf="block.type === 6" [content]="block"></app-article-quote>
          <app-article-slider *ngIf="block.type === 7" [content]="block"></app-article-slider>
          <!--        <app-article-ytb-player *ngIf="block.type === 9" [content]="block"></app-article-ytb-player>-->
          <app-article-twitter-embed *ngIf="block.type === 9" [setContent]="block"></app-article-twitter-embed>
          <app-article-fb-embed *ngIf="block.type === 10 || block.type === 8" [content]="block"></app-article-fb-embed>
        </ng-container>
        <div class="source" *ngIf="sources.length">
          <span>{{'material-page.source-label' | translate}}:</span>
          <ng-container *ngFor="let source of sources; let indx = index">
            <a [href]="source.link" rel="nofollow" target="_blank">{{source.text}}</a>
            <ng-container *ngIf="(indx + 1) < sources.length">,</ng-container>
          </ng-container>
        </div>
        <app-article-tags [tags]="tags"></app-article-tags>
        <div class="bottom">
          <app-article-author [timestamp]="pub_time" [author]="author"></app-article-author>
          <app-social-widget></app-social-widget>
        </div>
        <app-more-articles-widget [setArticles]="{articles: articles, check: true}" [title]="'material-page.more-articles-title' | translate"></app-more-articles-widget>
        <app-article-similars [title]="'material-page.similar-head' | translate"  *ngIf="similars.length" [similars]="similars"></app-article-similars>
      </div>
      <app-right-widget [articles]="articles" [slug]="person.id"></app-right-widget>
    </div>
    <app-fixed-social [social]="true"></app-fixed-social>
  </div>

</div>
