@import "~src/assets/scss/_variables";

.page {
  padding: v_2xl(1200, 0) 0;
}

.box {
  max-width: 1040px;
  margin: 0 auto;
  width: 100%;
  padding-left: 88px;
  position: relative;
}

.cover {
  width: 100%;
  //height: 410px !important;
  //background-color: red;
  position: relative;
  //max-width: 1040px;
  //margin: 0 auto 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  

  
  .cover_content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 18px 33px;
    z-index: 3;
  }
  
  .cover_img {
    position: relative;
    width: 100%;
  
    img {
      width: 100%;
      //position: absolute;
      z-index: 1;
    }
  
    &:after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
      z-index: 2;
    }
  }
  

  
  app-article-top {
    display: block;
    //z-index: 3;
    //position: relative;
    
    ::ng-deep {
      .photo {
        width: 50px;
        height: 50px;
        margin-right: 12px;
      }
      
      .data {
        .name {
          font-size: 20px;
          color: #FFFFFF;
        }
        
        .pos_year {
          color: #FFFFFF;
        }
      }
    }
  }
  
  .title {
    position: relative;
    h1 {
      //position: relative;
      //z-index: 3;
      color: #fff;
    }
  }
}

.container {
  //padding: 0 88px;
  padding-right: 88px;
  padding-left: 0;
  position: relative;
}

.article {
  max-width: 590px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

app-article-top {
  display: block;
  margin-bottom: v_l(1200, 10);
}

app-article-author {
  display: block;
  margin-bottom: v_xl(1200, 0);
}


h1 {
  font-family: 'SourceSansProBold';
  font-size: 45px;
  line-height: 54px;
  letter-spacing: 0.23px;
  color: #303233;
  margin-bottom: v_l(1200, 10);
}

app-popular-opinion-widget {
  display: block;
  margin-bottom: v_xl(1200, 4);
}

app-more-articles-widget {
  display: none;
}

p {
  font-family: 'SourceSansPro';
  font-size: 17px;
  line-height: 26px;
  color: #303233;
  margin-bottom: v_xl(1200, 4);
  word-break: break-word;
  
  ::ng-deep {
    a {
      font-family: 'SourceSansPro';
      font-size: 17px;
      color: #2053AB;
      
      &:hover {
        color: #3A70CF;
      }
    }
  }
  
}

//app-article-photo {
//  display: block;
//  margin-bottom: v_l(1200, 10);
//}

h2 {
  font-family: 'SourceSansProSemiBold';
  font-size: 25px;
  color: #303233;
  margin-bottom: v_l(1200, 4);
}

app-article-quote {
  margin-bottom: v_xl(1200, 4);
}

app-article-video, app-article-audio, app-article-photo, app-article-slider, app-article-ytb-player, app-article-twitter-embed, app-article-fb-embed {
  display: block;
  margin-bottom: v_xl(1200, 4);
}

.source {
  font-family: 'SourceSansProSemiBold';
  font-size: 17px;
  color: #A3ACB3;
  margin-bottom: v_l(1200, 10);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  a {
    font-family: 'SourceSansPro';
    font-size: 17px;
    color: #2053AB;
    margin-left: 6px;
    white-space: nowrap;
    
    &:hover {
      color: #3A70CF;
    }
  }
}

app-article-tags {
  display: block;
  margin-bottom: v_l(1200, 4);
}


.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  //margin-bottom: v_2xl(1200, 3);
  
  app-article-author {
    margin-bottom: 0;
  }
}
app-article-similars, app-more-articles-widget {
  //display: block;
  margin-top: v_2xl(1200, 3);
}

@media all and (max-width: 1199px) {
  //@import "~src/assets/scss/_variables";
  
  .page {
    //padding: v_2xl(1200, 0) 0;
    padding: 50px 0;
  }
  
  .box {
    padding-left: 95px;
    padding-right: 15px;
  }
  
  .cover {
    //width: 100%;
    //height: 364px !important;
    ////background-color: red;
    //position: relative;
    //max-width: 1040px;
    ////margin: 0 auto 40px;
    //margin-bottom: 40px;
    //padding: 18px 33px;
    //display: flex;
    //justify-content: flex-end;
    //flex-direction: column;
    //
    //&:before {
    //  display: block;
    //  content: '';
    //  position: absolute;
    //  bottom: 0;
    //  right: 0;
    //  top: 0;
    //  left: 0;
    //  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    //  z-index: 2;
    //}
    //
    //app-article-top {
    //  display: block;
    //  z-index: 3;
    //  position: relative;
    //
    //  ::ng-deep {
    //    .photo {
    //      width: 50px;
    //      height: 50px;
    //      margin-right: 12px;
    //    }
    //
    //    .data {
    //      .name {
    //        font-size: 20px;
    //        color: #FFFFFF;
    //      }
    //    }
    //  }
    //}
    //
    //& >h1 {
    //  position: relative;
    //  z-index: 3;
    //  color: #fff;
    //}
  }
  
  .container {
    //padding: 0 88px;
    //position: relative;
    //padding-left: ;
    padding-right: 335px;
  }
  
  .article {
    max-width: none;
    //max-width: 590px;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
  }
  
  app-article-top {
    //display: block;
    margin-bottom: 26px;
  }
  app-article-author {
    //display: block;
    //margin-bottom: v_xl(1200, 0);
  }
  
  
  h1 {
    //font-family : 'SourceSansProBold';
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.18px;
    //color : #303233;
    margin-bottom: 20px;
  }
  
  app-popular-opinion-widget {
    //display: block;
    //margin-bottom: v_xl(1200, 4);
  }
  
  p {
    //font-family : 'SourceSansPro';
    //font-size : 17px;
    //line-height : 26px;
    //color : #303233;
    //margin-bottom: v_xl(1200, 4);
    //word-break: break-word;
    ::ng-deep {
      a {
        //font-family : 'SourceSansPro';
        //font-size : 17px;
        //color : #2053AB;
        
        &:hover {
          //color: #3A70CF;
        }
      }
    }
    
  }
  
  app-article-photo {
    //display: block;
    //margin-bottom: v_l(1200, 10);
  }
  
  h2 {
    //font-family : 'SourceSansProSemiBold';
    //font-size : 25px;
    //color : #303233;
    //margin-bottom: v_l(1200, 4);
  }
  
  app-article-quote {
    //margin-bottom: v_xl(1200, 4);
  }
  
  app-article-video, app-article-audio, app-article-slider, app-article-ytb-player, app-article-twitter-embed, app-article-fb-embed {
    //display: block;
    //margin-bottom: v_xl(1200, 4);
  }
  
  .source {
    //font-family : 'SourceSansProSemiBold';
    //font-size : 17px;
    //color : #A3ACB3;
    //margin-bottom: v_l(1200, 10);
    
    a {
      //font-family : 'SourceSansPro';
      //font-size : 17px;
      //color : #2053AB;
      
      &:hover {
        //color: #3A70CF;
      }
    }
  }
  
  app-article-tags {
    //display: block;
    //margin-bottom: v_l(1200, 4);
  }
  
  
  .bottom {
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
    //width: 100%;
    //margin-bottom: v_2xl(1200, 3);
    
    app-article-author {
      //margin-bottom: 0;
    }
  }
  
}

@media all and (max-width: 959px) {
  //@import "~src/assets/scss/_variables";
  
  .page {
    //padding: v_2xl(1200, 0) 0;
    padding: 40px 0;
  }
  .box {
    padding-left: 85px;
    padding-right: 12px;
  }
  
  .cover {
    //width: 100%;
    //height: auto !important;
    //padding: 0;
    ////background-color: red;
    //position: relative;
    //max-width: 1040px;
    ////margin: 0 auto 40px;
    //margin-bottom: 40px;
    //padding: 18px 33px;
    //display: flex;
    //justify-content: flex-end;
    //flex-direction: column;
    //
    .cover_img {
      position: relative;
      width: 100%;
  
      margin-bottom: 30px;
      img {
        width: 100%;
        //position: absolute;
        z-index: 1;
      }
    
      &:after {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
        z-index: 2;
      }
    }
    
    .cover_content {
      padding: 0;
      position: relative;
      left: auto;
      right: auto;
      bottom: 0;
    }
    
    //
    app-article-top {
      //display: block;
      //z-index: 3;
      //position: relative;
      
      ::ng-deep {
        .photo {
          width: 70px;
          height: 70px;
          margin-right: 20px;
        }
        
        .data {
          .name {
            //font-size: 20px;
            color: #303233;
          }
          
          .pos_year {
            color: #A3ACB3;
          }
        }
      }
    }
    
    .title h1 {
      color: #303233 !important;
    }
  }
  .container {
    //padding: 0 88px;
    //position: relative;
    padding-right: 30px;
  }
  
  .article {
    //max-width: none;
    //max-width: 590px;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
  }
  app-more-articles-widget {
    display: block;
    width: 100%;
    //margin-top: 34px;
    margin-bottom: 44px;
    
    ::ng-deep {
      .top {
        padding-right: 12px;
      }
    }
  }
  app-article-top {
    //display: block;
    //margin-bottom: v_l(1200, 10);
  }
  app-article-author {
    //display: block;
    //margin-bottom: v_xl(1200, 0);
    margin-bottom: 40px;
  }
  
  
  h1 {
    //font-family : 'SourceSansProBold';
    //font-size : 45px;
    //line-height : 54px;
    //letter-spacing : 0.23px;
    //color : #303233;
    //margin-bottom: v_l(1200, 10);
  }
  
  .source, app-article-tags, .bottom {
    order: 10;
  }
  app-article-similars, app-more-articles-widget {
    order: 11;
  }
  app-popular-opinion-widget {
    order: 9;
    //display: block;
    //margin-bottom: v_xl(1200, 4);
  }
  p {
    //font-family : 'SourceSansPro';
    //font-size : 17px;
    //line-height : 26px;
    //color : #303233;
    //margin-bottom: v_xl(1200, 4);
    margin-bottom: 34px;
    //word-break: break-word;
    ::ng-deep {
      a {
        //font-family : 'SourceSansPro';
        //font-size : 17px;
        //color : #2053AB;
        
        &:hover {
          //color: #3A70CF;
        }
      }
    }
    
  }
  
  app-article-photo {
    //display: block;
    //margin-bottom: v_l(1200, 10);
  }
  
  h2 {
    //font-family : 'SourceSansProSemiBold';
    //font-size : 25px;
    //color : #303233;
    //margin-bottom: v_l(1200, 4);
  }
  
  app-article-quote {
    //margin-bottom: v_xl(1200, 4);
  }
  
  app-article-video, app-article-audio, app-article-photo, app-article-slider, app-article-ytb-player, app-article-twitter-embed, app-article-fb-embed {
    //display: block;
    margin-bottom: 30px;
  }
  
  .source {
    //font-family : 'SourceSansProSemiBold';
    //font-size : 17px;
    //color : #A3ACB3;
    //margin-bottom: v_l(1200, 10);
    
    a {
      //font-family : 'SourceSansPro';
      //font-size : 17px;
      //color : #2053AB;
      
      &:hover {
        //color: #3A70CF;
      }
    }
  }
  
  app-article-tags {
    //display: block;
    //margin-bottom: v_l(1200, 4);
  }
  
  
  .bottom {
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
    //width: 100%;
    //margin-bottom: v_2xl(1200, 3);
    
    app-article-author {
      //margin-bottom: 0;
    }
  }
}

@media all and (max-width: 599px) {
  //@import "~src/assets/scss/_variables";
  
  .page {
    //padding: v_2xl(1200, 0) 0;
    padding: 30px 0 50px;
  }
  .container {
    padding: 0;
  }
  
  .box {
    padding: 0 10px;
  }
  
  .cover {
    //width: 100%;
    //height: auto !important;
    //padding: 0;
    ////background-color: red;
    //position: relative;
    //max-width: 1040px;
    ////margin: 0 auto 40px;
    //margin-bottom: 40px;
    //padding: 18px 33px;
    //display: flex;
    //justify-content: flex-end;
    //flex-direction: column;
    //
    &:before {
      //display: none;
    }
    
    //
    app-article-top {
      //display: block;
      //z-index: 3;
      //position: relative;
      display: flex;
      
      ::ng-deep {
        .box {
          //display: flex;
          align-items: flex-start;
        }
        
        .photo {
          width: 60px;
          flex: 1 0 auto;
          height: 60px;
          //border-radius: 50%;
          //overflow: hidden;
          margin-right: 10px;
          
          img {
            //width: 100%;
          }
        }
      }
    }
    
    & > h1 {
      color: #303233 !important;
    }
  }
  app-fixed-social {
    display: none;
  }
  .article {
    //max-width: none;
    //max-width: 590px;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
  }
  
  
  //app-more-articles-widget {
  //  display: block;
  //  width: 100%;
  //  margin-top: 34px;
  //
  //  ::ng-deep {
  //    .top {
  //      padding-right: 12px;
  //    }
  //  }
  //}
  
  app-article-similars, app-more-articles-widget, app-article-audio, app-article-top, app-article-author, h1, h2, app-popular-opinion-widget, p, app-article-quote, app-article-tags {
    padding: 0 12px;
  }
  
  .bottom, app-article-tags, .source, app-article-twitter-embed, app-article-fb-embed {
    padding: 0 20px;
  }
  app-article-top {
    //display: block;
    margin-bottom: 22px;
  }
  app-article-author {
    //display: block;
    //margin-bottom: v_xl(1200, 0);
  }
  
  
  h1 {
    //font-family : 'SourceSansProBold';
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.13px;
    //color : #303233;
    margin-bottom: 20px;
  }
  
  app-popular-opinion-widget {
    //order: 10;
    //display: block;
    //margin-bottom: v_xl(1200, 4);
  }
  
  p {
    //font-family : 'SourceSansPro';
    //font-size : 17px;
    //line-height : 26px;
    //color : #303233;
    //margin-bottom: v_xl(1200, 4);
    //word-break: break-word;
    ::ng-deep {
      a {
        //font-family : 'SourceSansPro';
        //font-size : 17px;
        //color : #2053AB;
        
        &:hover {
          //color: #3A70CF;
        }
      }
    }
    
  }
  
  app-article-photo {
    //display: block;
    //margin-bottom: v_l(1200, 10);
  }
  
  h2 {
    //font-family : 'SourceSansProSemiBold';
    font-size: 22px;
    //line-height : 32.5px;
    //color : #303233;
    margin-bottom: 22px;
  }
  
  app-article-quote {
    //margin-bottom: v_xl(1200, 4);
  }
  
  app-article-video, app-article-audio, app-article-photo, app-article-slider, app-article-ytb-player, app-article-twitter-embed, app-article-fb-embed {
    //display: block;
    margin-bottom: 35px;
  }
  
  .source {
    //font-family : 'SourceSansProSemiBold';
    //font-size : 17px;
    //color : #A3ACB3;
    //margin-bottom: v_l(1200, 10);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    span {
      margin-bottom: 4px;
    }
    
    a {
      //font-family : 'SourceSansPro';
      //font-size : 17px;
      //color : #2053AB;
      
      &:hover {
        //color: #3A70CF;
      }
    }
  }
  
  app-article-tags {
    //display: block;
    //margin-bottom: v_l(1200, 4);
  }
  
  
  .bottom {
    //display: flex;
    //justify-content: space-between;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    //align-items: center;
    //width: 100%;
    //margin-bottom: v_2xl(1200, 3);
    
    app-article-author {
      padding: 0;
      margin-bottom: 22px;
    }
  }
}
