<div class="page">
  <div class="container">
    <div class="top" [class.__search]="searchValue" #topEl>
      <h1>{{'party-list-page.head' | translate}}</h1>
      <div class="search_value" *ngIf="searchValue">
        <span>{{searchValue}}</span>
        <svg class="svg-cross" (click)="clearSearch()">
          <use [attr.xlink:href]="'#cross'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
      <button class="allFiltersBtn" type="button" [class.__active]="showFilters" (click)="showFilters = !showFilters; filtersToggle = false;">
        <svg class="svg-dropdown-btn">
          <use [attr.xlink:href]="'#dropdown-btn'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </button>
      <app-right-widget-toolbar [search]="false" [info]="true" [play]="false" [share]="true"></app-right-widget-toolbar>
    </div>
    <div class="filters" [class.__hidden]="!showFilters">
      <div class="filters_search" [hidden]="!filtersToggle">
        <input type="text" (keyup.enter)="searchHandler()" [placeholder]="'materials-list-page.search-placeholder' | translate" [(ngModel)]="filterParams.search" #searchEl/>
        <div class="searchButton" (click)="searchHandler()">
          <svg class="svg-arrow">
            <use [attr.xlink:href]="'#arrow'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
      <div class="filters_select" [hidden]="filtersToggle">
        <app-select-search [url]="'/workplaces/dict-party'"
                           [placeholder]="'add-material-page.where-workplace-placeholder' | translate"
                           [icon]="'portfolio'"
                           [setDefault]="true"
                           [allBtn]="false"
                           [listKey]="'title'"
                           [key]="'short'"
                           [direction]="'left'"
                           (valueChange)="changeWorkplace($event)"></app-select-search>
        <app-select-search *ngIf="isRegion"
                           [url]="'/regions/dict'"
                           [placeholder]="'add-material-page.region-placeholder' | translate"
                           [key]="'title'"
                           [listKey]="'title'"
                           [icon]="'place'"
                           [direction]="'right'"
                           (valueChange)="changeRegion($event)"></app-select-search>
        <app-select-with-groups *ngIf="isCity"
                                (change)="changeCity($event)"
                                [direction]="'right'"
                                [placeholder]="'add-material-page.city-placeholder' | translate"
                                [url]="'/cities/dict'"></app-select-with-groups>
        <app-select-with-groups *ngIf="isDistrict"
                                (change)="changeDistrict($event)"
                                [direction]="'right'"
                                [placeholder]="'add-material-page.district-placeholder' | translate"
                                [url]="'/districts/dict'"></app-select-with-groups>
        <app-select-search
          [direction]="'right'" [class.__disabled]="(isRegion && !filterParams.region_id) || (isCity && !filterParams.city_id) || (isDistrict && !filterParams.district_id)" *ngIf="isExt" [url]="'/workplace-exts/dict?' +
          ('workplace_id=' + filterParams.workplace_id) +
          (filterParams.region_id ? '&region_id=' + filterParams.region_id : '') +
          (filterParams.city_id ? '&city_id=' + filterParams.city_id : '') +
          (filterParams.district_id ? '&district_id=' + filterParams.district_id : '')" [placeholder]="'add-material-page.convocation-placeholder' | translate" [reset]="{workplace_id: filterParams.workplace_id, region_id: filterParams.region_id}" [icon]="'array'" [listKey]="'title'" [key]="'title'" [setDefault]="isExt" [allBtn]="false" (valueChange)="changeExt($event)"></app-select-search>

      </div>
    </div>
    <div class="table">
      <div class="table_filters">
        <div class="table_filters-item_wrap" [matTooltip]="'tooltips.party-list.members' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
          <div class="table_filters-item" [ngClass]="{
        '__active': filterParams.order_by === 'members',
        '__rotate': filterParams.direction === 'asc' && filterParams.order_by === 'members'
        }" (click)="filterHandler('members')">
            <svg class="svg-people">
              <use [attr.xlink:href]="'#people'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <svg class="svg-arrow">
              <use [attr.xlink:href]="'#array'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
        <div class="table_filters-item_wrap">
          <div class="table_filters-item" [ngClass]="{
        '__active': filterParams.order_by === 'title',
        '__rotate': filterParams.direction === 'asc' && filterParams.order_by === 'title'
        }" (click)="filterHandler('title')">
            <span>{{'party-list-page.filters.2' | translate}}</span>
            <svg class="svg-arrow">
              <use [attr.xlink:href]="'#array'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
        <div class="table_filters-item_wrap">
          <div class="table_filters-item">
            <span>{{'party-list-page.filters.3' | translate}}</span>
          </div>
        </div>

        <div class="table_filters-item_wrap">
          <div class="table_filters-item" [ngClass]="{
        '__active': filterParams.order_by === 'yes_count',
        '__rotate': filterParams.direction === 'asc' && filterParams.order_by === 'yes_count'
        }" (click)="filterHandler('yes_count')">
            <span>{{'party-list-page.filters.4' | translate}}</span>
            <svg class="svg-arrow">
              <use [attr.xlink:href]="'#array'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
        <div class="table_filters-item_wrap">
          <div class="table_filters-item" [ngClass]="{
        '__active': filterParams.order_by === 'no_count',
        '__rotate': filterParams.direction === 'asc' && filterParams.order_by === 'no_count'
        }" (click)="filterHandler('no_count')">
            <span>{{'party-list-page.filters.5' | translate}}</span>
            <svg class="svg-arrow">
              <use [attr.xlink:href]="'#array'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>


      </div>
      <div class="table_content">
        <a href="" [routerLink]="['/party', party.slug]" *ngFor="let party of parties | paginate: { itemsPerPage: filterParams.itemsPerPage, currentPage: filterParams.page, totalItems: filterParams.total}; let i = index">
          <div class="col">
            <span>{{party.members}}</span>
          </div>
          <div class="col">
            <div class="photo">
              <img [src]="party.logo" alt="">
            </div>
            <span>{{party.title}}</span>
          </div>
          <div class="col">
            <div *ngIf="party.is_improve === false" [matTooltip]="'tooltips.party-list.false' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
              <img class="smile-negative" [src]="'/assets/img/smiles/x3_negative.png'" alt="">
              <span>{{party.vote_percent}}%</span>
            </div>
            <div *ngIf="party.is_improve" [matTooltip]="'tooltips.party-list.true' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
              <img class="smile-improve" [src]="'/assets/img/smiles/x3_improve.png'" *ngIf="party.is_improve" alt="">
              <span>{{party.vote_percent}}%</span>
            </div>
            <div *ngIf="party.is_improve === null" [matTooltip]="'tooltips.party-list.null' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
              <img class="smile-necessary" [src]="'/assets/img/smiles/x3_necessary.png'" alt="">
              <span>{{party.vote_percent}}%</span>
            </div>

          </div>
          <div class="col" [innerText]="">{{party.yes_count}}</div>
          <div class="col">{{party.no_count}}</div>

        </a>
        <app-empy-list-string *ngIf="!parties.length" [text]="'errors.empy-widget-list-2' | translate"></app-empy-list-string>
      </div>

    </div>
    <div class="pagination_wrap" *ngIf="filterParams.lastPage > 1">
      <div class="pagination_btn" [class.__disabled]="filterParams.page < 2" (click)="changePageArrowHandler(-1)">
        <svg class="svg-arrow">
          <use [attr.xlink:href]="'#arrow'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
      <div class="currentPage">{{filterParams.page}}</div>
      <pagination-controls (pageChange)="changePageHandler($event)" directionLinks="false" autoHide="true"></pagination-controls>
      <div class="pagination_btn __rotate" [class.__disabled]="filterParams.page === filterParams.lastPage" (click)="changePageArrowHandler(1)">
        <svg class="svg-arrow">
          <use [attr.xlink:href]="'#arrow'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
    </div>
    <!--    <app-right-widget></app-right-widget>-->
  </div>
</div>
