.list {
  display: flex;
  flex-direction: column;
  
  .item {
    margin-bottom: 11px;
    
    &:last-of-type {
      margin-bottom: 0;
    }
    
    &:first-of-type {
      .label {
        color: #2064D9;
      }
      .progress {
        .progress_line {
          background: #2064D9;
          height: 15px;
        }
    
        .progress_percent {
          font-size: 20px;
          color: #2064D9;
        }
      }
    }
    
    &:nth-of-type(2) {
      .label {
        color: #2053AB;
      }
      .progress {
        .progress_line {
          background: #2053AB;
          height: 15px;
        }
    
        .progress_percent {
          font-size: 20px;
          color: #2053AB;
        }
      }
    }
    
    
  }
  
  .label {
    font-family: 'SourceSansPro';
    font-size: 15px;
    color: #95A8CC;
    margin-bottom: 4px;
  }
  
  .progress {
    display: flex;
    align-items: center;
    
    .progress_line {
      background: #95A8CC;
      border-radius: 2px;
      overflow: hidden;
      height: 5px;
    }
    
    .progress_percent {
      font-family: 'SourceSansPro';
      //font-size: 20px;
      font-size: 16px;
      color: #95A8CC;
      margin-left: 22px;
    }
  }
}
