<div class="list" *ngIf="parties.length">
  <div class="item" *ngFor="let party of parties">
    <div class="label">{{party.party}}</div>
    <div class="progress">
      <div class="progress_line" [style.width.%]="party.rating"></div>
      <div class="progress_percent">{{party.rating}}%</div>
    </div>
  </div>
</div>
<app-empy-list-string *ngIf="!parties.length" [text]="'errors.empy-widget-list' | translate"></app-empy-list-string>
