<div class="box">
  <div class="head" [innerHTML]="'law-page.law-opition-widget.head' | translate"></div>
  <div class="content" *ngIf="!empty" #contentEl>
    <ng-container *ngIf="platform.check()">
      <canvas #canvas></canvas>
    </ng-container>
    <div class="row_top">
      <svg class="svg-building">
        <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
      <span>{{'law-page.law-opition-widget.label' | translate}}</span>
    </div>
    <div class="row" #row1>
      <div class="icon __2" [matTooltip]="'tooltips.widget.law-for-negative.for' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
        <svg class="svg-building">
          <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
      <span>{{data.top_percent}}% - {{data?.for_party?.short}}</span>
    </div>
    <div class="row" #row2>
      <div class="icons">
        <div class="icon-1" [matTooltip]="'tooltips.widget.law-for-negative.negative-1' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
          <svg class="svg-building-1">
            <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <svg class="svg-half-building">
            <use [attr.xlink:href]="'#half-building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <div class="icon-2" [matTooltip]="'tooltips.widget.law-for-negative.negative-2' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
          <svg class="svg-user-building">
            <use [attr.xlink:href]="'#user-building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
      <span>{{data.bottom_percent}}% - {{data?.negative_party?.short}}</span>
    </div>

  </div>
  <app-empy-list-string *ngIf="empty" [text]="'errors.empy-widget-list' | translate"></app-empy-list-string>
</div>
