@import "~src/assets/scss/_variables";

.box {
  background: #FFFFFF;
  border-radius: 3px;
  padding: 15px;
  overflow: hidden;
}

.head {
  font-family: 'SourceSansProSemiBold';
  font-size: 17px;
  text-transform: uppercase;
  color: #AEB5BB;
  margin-bottom: v_l(1200, 10);
}

app-empy-list-string {
  display: block;
  padding-bottom: 10px;
}

.content {
  position: relative;
  
  canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.row_top {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  
  svg {
    width: 21.4px;
    height: 20px;
    fill: #AEB5BB;
    margin-right: 10px;
  }
  
  span {
    font-family: 'SourceSansProSemiBold';
    font-size: 16px;
    letter-spacing: 0.24px;
    color: #585D61;
  }
}

.row {
  display: flex;
  align-items: center;
  padding-left: 35px;
  margin-bottom: 12px;
  
  &:last-of-type {
    margin-bottom: 0;
  }
  
  .svg-building {
    width: 15px;
    height: 14px;
  }
  
  .svg-user {
    width: 15px;
    height: 20px;
  }
  
  
  .icon {
    cursor: pointer;
    position: relative;
    margin-right: 12px;
    margin-bottom: 2px;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &.__1 {
      svg {
        fill: #E82F2E;
      }
    }
    
    &.__2 {
      svg {
        fill: #6DCF3C;
      }
    }
    
    &.__3, &.__4 {
      position: relative;
      
      &:before {
        display: block;
        content: '';
        z-index: 3;
        position: absolute;
        left: -4px;
        top: 50%;
        margin-top: -1px;
        width: 22px;
        height: 2px;
        background-color: #f22a29;
        transform: rotate(-45deg);
      }
      
      svg {
        fill: #A3ACB3;
      }
      
    }
    
    &.__5 {
      svg {
        fill: #A3ACB3;
      }
    }
  }
  
  .icons {
    align-items: center;
    display: flex;
    margin-right: 12px;
  }
  
  .icon-1, .icon-2 {
    position: relative;
    line-height: 0;
    display: flex;
    align-items: center;
  }
  
  .icon-1 {
    margin-right: 6px;
    padding-right: 8px;
    
    .svg-half-building {
      right: 1px;
      bottom: 4px;
    }
  }
  
  .icon-2 {
    padding-bottom: 4px;
    position: relative;
    
    &:before {
      display: block;
      content: '';
      z-index: 3;
      position: absolute;
      left: -4px;
      top: 50%;
      margin-top: -1px;
      width: 26px;
      height: 2px;
      background-color: #f22a29;
      transform: rotate(-45deg);
    }
  }
  
  
  .svg-building {
    width: 16px;
    height: 15px;
    fill: #6DCF3C;
    margin-bottom: 2px;
  }
  
  .svg-building-1 {
    width: 16px;
    height: 15px;
    fill: #E82F2E;
    margin-bottom: 2px;
  }
  
  .svg-user-building {
    width: 21.7px;
    height: 17px;
    fill: #A3ACB3;
  }
  
  .svg-half-building {
    position: absolute;
    width: 11px;
    height: 15px;
    fill: #A3ACB3;
  }
  
  span {
    font-family: 'SourceSansPro';
    font-size: 15px;
    letter-spacing: 0.22px;
    color: #585D61;
  }
}

