@import "~src/assets/scss/_variables";

.page {
  padding: v_2xl(1200, 0) 0;
}

.container {
  padding: 0 0 0 88px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.election {
  flex: 1;
  padding-right: 40px;
  //max-width: 590px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  h1 {
    font-family: 'SourceSansProBold';
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0.18px;
    color: #303233;
    margin-bottom: v_xl(1200, 10);
    
  }
  app-online-voting {
    display: none;
  }
  app-online-voting, app-online-voting2 {
    //display: none;
    margin-bottom: 40px;
    width: 100%;
  }
  h2 {
    font-family: 'SourceSansProSemiBold';
    font-size: 25px;
    color: #303233;
    margin-bottom: v_l(1200, 6);
  }
  
  app-own-party {
    display: block;
    margin-bottom: 20px;
  }
  
  app-composition-list {
    margin-bottom: 40px;
  }
  
  .anchor-2 {
    h2 {
      margin-bottom: 16px;
    }
  }
}


@media all and (max-width: 1199px) {
  .container {
    //max-width: 1040px;
    //margin: 0 auto;
    //width: 100%;
    padding: 0 15px 0 95px;
  }
}
@media all and (max-width: 959px) {
  
  .page {
    padding: v_l(1200, 0) 0;
  }
  .container {
    //max-width: 1040px;
    //margin: 0 auto;
    //width: 100%;
    padding: 0 0 0 78px;
  }
  .election {
    //flex: 1;
    padding-right: 30px;
    ////max-width: 590px;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
    //
    h1 {
      margin-bottom: 20px;

    }
    //
    //h2 {
    //  font-family: 'SourceSansProSemiBold';
    //  font-size: 25px;
    //  color: #303233;
    //  margin-bottom: v_l(1200, 6);
    //}
    //
    //app-own-party {
    //  display: block;
    //  margin-bottom: 20px;
    //}
    //
    //app-composition-list {
    //  margin-bottom: 40px;
    //}
  
    h1 {
      order: 1;
    }
    app-online-voting {
      display: block;
      width: 100%;
      margin-bottom: 36px;
      order: 3;
    }
    app-online-voting2 {
      order: 2;
    }
    
  
    .anchor-1 {
      order: 2;
    }
    .anchor-1 {
      order: 2;
    }
    
    .anchor-2, .anchor-3 {
      order: 4;
    }
    
  }
  
  
}


@media all and (max-width: 599px) {
  
  .page {
    //padding: v_l(1200, 0) 0;
  }
  .container {
    //max-width: 1040px;
    //margin: 0 auto;
    //width: 100%;
    padding: 0 10px;
  }
  .election {
    padding: 0;
    //flex: 1;
    //padding-right: 30px;
    ////max-width: 590px;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
    //
    h1 {
      font-size : 25px;
      line-height : 30px;
      letter-spacing : 0.13px;
      margin-bottom: 18px;
    }
    //
    h2 {
      margin-bottom: 18px;
    }
    //
    //app-own-party {
    //  display: block;
    //  margin-bottom: 20px;
    //}
    //
    //app-composition-list {
    //  margin-bottom: 40px;
    //}
  
  
    app-online-voting {
      //display: none;
    }
  }
  
  app-online-voting {
    display: none;
  }
  app-fixed-social {
    display: none;
  }
}





