<div class="page">
  <div class="container">
    <div class="election">
      <h1>{{'election-page.head' | translate}}</h1>
      <app-online-voting [data]="partiesWidgetStats"></app-online-voting>
      <app-online-voting2 [data]="parties"></app-online-voting2>
      <div class="anchor-1">
        <h2>{{'election-page.composition-list-head' | translate}}</h2>
        <app-composition-list></app-composition-list>
      </div>
      <div class="anchor-2">
        <h2>{{'election-page.own-party-head' | translate}}</h2>
        <app-own-party></app-own-party>
      </div>
      <div class="anchor-3">
        <h2>{{'election-page.comparison-head' | translate}}</h2>
        <app-comparison></app-comparison>
      </div>
    </div>
    <app-fixed-social [rotate]="true" [social]="true"></app-fixed-social>
    <app-right-widget [data]="partiesWidgetStats"></app-right-widget>
  </div>
</div>
<app-parties-modal [setVisibility]="modalData" (close)="closeModal()"></app-parties-modal>
