<div class="box">
  <div class="wrap">
    <div class="photo">
      <img [src]="p.photo" alt="">
    </div>
    <div class="data">
      <div class="sirname">{{p.sirname}}</div>
      <div class="name">{{p.name}}</div>
      <div class="bottom">
        <div class="pos-year-party">
          <span *ngIf="p.hasOwnProperty('years_old_lastNumber')">{{p.position?.short}}<ng-container *ngIf="p.years_old && +p.years_old > 18">, {{p.years_old}}  {{ ('person-page.top.years' + (+p.years_old_lastNumber > 4 || !+p.years_old_lastNumber ? '-1' : +p.years_old_lastNumber === 1 ? '-3' : '-2')) | translate}}</ng-container></span>
          <div class="img" [matTooltip]="p.party?.short" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
            <img [src]="p.party?.logo_sm" alt="">
          </div>
        </div>
        <div class="rating" [matTooltip]="'tooltips.global-icn.rating' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
          <svg class="svg-star">
            <use [attr.xlink:href]="'#star'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <span>{{p.rating}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom __common">
    <div class="pos-year-party">
      <span *ngIf="p.hasOwnProperty('years_old_lastNumber')">{{p.position?.short}}, {{p.years_old}}  {{ ('person-page.top.years' + (+p.years_old_lastNumber > 4 || !+p.years_old_lastNumber ? '-1' : +p.years_old_lastNumber === 1 ? '-3' : '-2')) | translate}}</span>
      <div class="img">
        <img [src]="p.party?.logo_sm" alt="">
      </div>
    </div>
    <div class="rating" [matTooltip]="'tooltips.global-icn.rating' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
      <svg class="svg-star">
        <use [attr.xlink:href]="'#star'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
      <span>{{p.rating}}</span>
    </div>
  </div>
</div>
