.box {
  //display: flex;
  //align-items: center;

  
  .wrap {
    display: flex;
    align-items: center;
  }
  .photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    
    img {
      width: 100%;
    }
  }
  .data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .bottom {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  .__common {
    display: none;
  }
  .sirname {
    font-family: 'SourceSansProBold';
    font-size: 35px;
    letter-spacing: 0.18px;
    color: #303233;
    margin-bottom: 3px;
  }
  
  .name {
    font-family: 'SourceSansProSemiBold';
    font-size: 25px;
    letter-spacing: 0.13px;
    color: #303233;
    margin-bottom: 16px;
  }
  
  .pos-year-party {
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    
    span {
      font-family: 'SourceSansPro';
      font-size: 17px;
      letter-spacing: 0.09px;
      color: #303233;
    }
    
    .img {
      margin-left: 20px;
      line-height: 0;
    }
    
    img {
      max-width: 40px;
      max-height: 30px;
    }
  }
  
  .rating {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    svg {
      width: 20px;
      height: 19.2px;
      fill: #FFC800;
      display: block;
      margin-right: 10px;
    }
    
    span {
      font-family: 'SourceSansProSemiBold';
      font-size: 17px;
      letter-spacing: 0.26px;
      color: #303233;
    }
  }
}


@media all and (max-width: 1199px) {
  .box {
    //display: flex;
    //align-items: center;
    
    .photo {
      width: 140px;
      height: 140px;
      //border-radius: 50%;
      //overflow: hidden;
      //display: flex;
      //align-items: center;
      //justify-content: center;
      //margin-right: 20px;
      
      img {
        //width: 100%;
      }
    }
    
    .sirname {
      //font-family: 'SourceSansProBold';
      font-size: 30px;
      letter-spacing: 0.15px;
      //color: #303233;
      margin-bottom: 4px;
    }
    
    .name {
      //font-family: 'SourceSansProSemiBold';
      font-size: 22px;
      letter-spacing: 0.11px;
      //color: #303233;
      margin-bottom: 12px;
    }
    
    .pos-year-party {
      //margin-bottom: 3px;
      //display: flex;
      //align-items: center;
      
      span {
        //font-family: 'SourceSansPro';
        //font-size: 17px;
        //letter-spacing: 0.09px;
        //color: #303233;
      }
      
      .img {
        //margin-left: 20px;
        //line-height: 0;
      }
      
      img {
        //max-width: 40px;
        //max-height: 30px;
      }
    }
    
    .rating {
      //display: flex;
      //align-items: center;
      
      svg {
        //width: 20px;
        //height: 19.2px;
        //fill: #FFC800;
        //display: block;
        //margin-right: 10px;
      }
      
      span {
        //font-family: 'SourceSansProSemiBold';
        //font-size: 17px;
        //letter-spacing: 0.26px;
        //color: #303233;
      }
    }
  }
}

@media all and (max-width: 599px) {
  .box {
    //display: flex;
    //align-items: center;
    position: relative;
    padding-bottom: 35px;
    .__common {
      display: flex;
      align-items: center;
    }
    .wrap {
      margin-bottom: 16px;
      .bottom {
        display: none;
      }
    }
    .photo {
      min-width: 82px;
      max-width: 82px;
      height: 82px;
      //flex: 1 0 auto;
      //border-radius: 50%;
      //overflow: hidden;
      //display: flex;
      //align-items: center;
      //justify-content: center;
      //margin-right: 20px;
      
      img {
        //width: 100%;
      }
    }
    
    .sirname {
      //font-family: 'SourceSansProBold';
      font-size : 25px;
      letter-spacing: 0.15px;
      //color: #303233;
      margin-bottom: 4px;
    }
    
    .name {
      //font-family: 'SourceSansProSemiBold';
      font-size : 17px;
      letter-spacing: 0.11px;
      //color: #303233;
      margin-bottom: 0;
    }
    
    .bottom {
      //display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      //position: absolute;
      //bottom: 0;
      //left: 0;
      //right: 0;
    }
    
    .pos-year-party {
      //margin-bottom: 3px;
      //display: flex;
      align-items: flex-start;
      margin-bottom: 0;
      order: 2;
      
      span {
        //font-family: 'SourceSansPro';
        //font-size: 17px;
        //letter-spacing: 0.09px;
        //color: #303233;
        //margin-right: 10px;
      }
      
      .img {
        margin-left: 12px;
        //line-height: 0;
      }
      
      img {
        //max-width: 40px;
        //max-height: 30px;
      }
    }
    
    .rating {
      width: auto;
      justify-content: center;
      order: 1;
      margin-right: 10px;
      //display: flex;
      //align-items: center;
      
      svg {
        //width: 20px;
        //height: 19.2px;
        //fill: #FFC800;
        //display: block;
        //margin-right: 10px;
      }
      
      span {
        //font-family: 'SourceSansProSemiBold';
        //font-size: 17px;
        //letter-spacing: 0.26px;
        //color: #303233;
      }
    }
  }
}


