<div class="box" *ngIf="adoption && checkInit">
  <div class="row" *ngIf="adoption.improve?.for_count || adoption.improve?.negative_count">
    <div class="label">{{'person-page.stats.improve-label' | translate}}</div>
    <div class="icon">
      <img class="smile-improve" [src]="'/assets/img/smiles/x3_improve.png'" alt="">
    </div>
    <div class="arrows">
      <svg class="svg-arrow">
        <use [attr.xlink:href]="'#arrow-1'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
      <svg class="svg-arrow">
        <use [attr.xlink:href]="'#arrow-1'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
    <div class="result">
      <div class="result_row">
        <div class="icons">
          <div class="icon-1" [matTooltip]="('tooltips.'+ (checkSingle ? 'person' : 'party') +'.for') | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
            <svg class="svg-building">
              <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="result_row">
        <div class="icons">
          <div class="icon-1 __p" [matTooltip]="('tooltips.'+ (checkSingle ? 'person' : 'party') +'.negative-1') | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
            <svg class="svg-building-1">
              <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <svg class="svg-half-building">
              <use [attr.xlink:href]="'#half-building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <div class="icon-2" [matTooltip]="('tooltips.'+ (checkSingle ? 'person' : 'party') +'.negative-2') | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
            <svg class="svg-user-building">
              <use [attr.xlink:href]="'#user-building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="percent">
      <div class="percent_label"><span>{{adoption.improve?.for_percent}}%</span>{{'person-page.stats.true-label' | translate}}</div>
      <div class="percent_label"><span>{{adoption.improve?.against_percent}}%</span>{{'person-page.stats.false-label' | translate}}</div>
    </div>
  </div>
  <div class="row" *ngIf="adoption.worse?.for_count || adoption.worse?.negative_count">
    <div class="label">{{'person-page.stats.worse-label' | translate}}</div>
    <div class="icon">
      <img class="smile-worse" [src]="'/assets/img/smiles/x3_worse.png'" alt="">
    </div>
    <div class="arrows">
      <svg class="svg-arrow">
        <use [attr.xlink:href]="'#arrow-1'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
      <svg class="svg-arrow">
        <use [attr.xlink:href]="'#arrow-1'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
    <div class="result">
      <div class="result_row">
        <div class="icons">
          <div class="icon-1" [matTooltip]="('tooltips.'+ (checkSingle ? 'person' : 'party') +'.for') | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
            <svg class="svg-building">
              <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="result_row">
        <div class="icons">
          <div class="icon-1 __p" [matTooltip]="('tooltips.'+ (checkSingle ? 'person' : 'party') +'.negative-1') | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
            <svg class="svg-building-1">
              <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <svg class="svg-half-building">
              <use [attr.xlink:href]="'#half-building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <div class="icon-2" [matTooltip]="('tooltips.'+ (checkSingle ? 'person' : 'party') +'.negative-2') | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
            <svg class="svg-user-building">
              <use [attr.xlink:href]="'#user-building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="percent">
      <div class="percent_label"><span>{{adoption.worse?.for_percent}}%</span> {{'person-page.stats.true-label' | translate}}</div>
      <div class="percent_label"><span>{{adoption.worse?.against_percent}}%</span> {{'person-page.stats.false-label' | translate}}</div>
    </div>
  </div>
  <div class="row" *ngIf="adoption.necessary?.for_count || adoption.necessary?.negative_count">
    <div class="label">{{'person-page.stats.necessary-label' | translate}}</div>
    <div class="icon">
      <img class="smile-necessary" [src]="'/assets/img/smiles/x3_necessary.png'" alt="">
    </div>
    <div class="arrows">
      <svg class="svg-arrow">
        <use [attr.xlink:href]="'#arrow-1'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
      <svg class="svg-arrow">
        <use [attr.xlink:href]="'#arrow-1'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
    <div class="result">
      <div class="result_row">
        <div class="icons">
          <div class="icon-1" [matTooltip]="('tooltips.'+ (checkSingle ? 'person' : 'party') +'.for') | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
            <svg class="svg-building">
              <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="result_row">
        <div class="icons">
          <div class="icon-1 __p" [matTooltip]="('tooltips.'+ (checkSingle ? 'person' : 'party') +'.negative-1') | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
            <svg class="svg-building-1">
              <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <svg class="svg-half-building">
              <use [attr.xlink:href]="'#half-building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <div class="icon-2" [matTooltip]="('tooltips.'+ (checkSingle ? 'person' : 'party') +'.negative-2') | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
            <svg class="svg-user-building">
              <use [attr.xlink:href]="'#user-building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="percent">
      <div class="percent_label"><span>{{adoption.necessary?.for_percent}}%</span> {{'person-page.stats.true-label' | translate}}</div>
      <div class="percent_label"><span>{{adoption.necessary?.against_percent}}%</span>{{'person-page.stats.false-label' | translate}}</div>
    </div>
  </div>
</div>
<app-empy-list-string
  [text]="'errors.empy-widget-list' | translate"
  *ngIf="adoption &&
  !adoption?.improve?.for_count && !adoption?.improve?.negative_count &&
  !adoption?.worse?.for_count && !adoption?.worse?.negative_count &&
  !adoption?.necessary?.for_count && !adoption?.necessary?.negative_count
"></app-empy-list-string>
