.row {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  
  &:last-of-type {
    margin-bottom: 0;
  }
  
  .label {
    font-family: 'SourceSansProSemiBold';
    font-size: 17px;
    letter-spacing: 0.26px;
    color: #A3ACB3;
    max-width: 136px;
    min-width: 136px;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    max-width: 27px;
    min-width: 27px;
  }
  
  .arrows {
    max-width: 22px;
    min-width: 22px;
    position: relative;
    
    svg {
      position: absolute;
      left: 2px;
      top: 50%;
      width: 15px;
      height: 5.2px;
      margin-top: -2.6px;
      fill: #C8D0D2;
      
      &:first-of-type {
        transform: translateY(-10px) rotate(-25deg);
      }
      
      &:last-of-type {
        transform: translateY(10px) rotate(25deg);
      }
      
    }
  }
  
  .result {
    max-width: 96px;
    min-width: 96px;
    padding-right: 3px;
    
    .result_row {
      display: flex;
      align-items: center;
      
      &:first-of-type {
        margin-bottom: 9px;
        
        svg {
          fill: #6DCF3C;
        }
      }
      
      &:last-of-type {
        margin-top: 9px;
        
        //svg {
        //  fill: #F22A29;
        //}
      }
      
      
      svg {
        //width: 16px;
        //height: 15px;
        //margin-right: 5px;
        //margin-bottom: 4px;
      }
      
      span {
        font-family: 'SourceSansPro';
        font-size: 17px;
        letter-spacing: 0.09px;
        color: #000000;
      }
    }
    
    .icons {
      align-items: center;
      display: flex;
      width: 120px;
    }
    
    .icon-1, .icon-2 {
      position: relative;
      line-height: 0;
      display: flex;
      align-items: center;
    }
    
    .icon-1 {
      margin-right: 10px;
      padding-right: 0;
      &.__p {
        padding-right: 8px;
      }
      .svg-half-building {
        right: 1px;
        bottom: 4px;
      }
    }
    
    .icon-2 {
      padding-bottom: 4px;
      position: relative;
      
      &:before {
        display: block;
        content: '';
        z-index: 3;
        position: absolute;
        left: -4px;
        top: 50%;
        margin-top: -1px;
        width: 28px;
        height: 2px;
        background-color: #f22a29;
        transform: rotate(-45deg);
      }
    }
    
    
    .svg-building {
      width: 16px;
      height: 15px;
      fill: #6DCF3C;
      margin-bottom: 2px;
    }
    
    .svg-building-1 {
      width: 16px;
      height: 15px;
      fill: #E82F2E;
      margin-bottom: 2px;
    }
    
    .svg-user-building {
      width: 21.7px;
      height: 17px;
      fill: #A3ACB3;
    }
    
    .svg-half-building {
      position: absolute;
      width: 11px;
      height: 15px;
      fill: #A3ACB3;
    }
  }
  
  .percent {
    flex: 1;
    
    .percent_label {
      font-family: 'SourceSansPro';
      font-size: 17px;
      letter-spacing: 0.26px;
      color: #303233;
      display: flex;
      align-items: center;
      
      span {
        width: 50px;
      }
      
      &:first-of-type {
        margin-bottom: 9px;
      }
      
      &:last-of-type {
        margin-top: 9px;
      }
    }
  }
}


@media all and (max-width: 599px) {
  .row {
    //display: flex;
    //align-items: center;
    flex-wrap: wrap;
    //margin-bottom: 22px;
    &:last-of-type {
      //margin-bottom: 0;
    }
    
    .label {
      //font-family: 'SourceSansProSemiBold';
      //font-size: 17px;
      //letter-spacing: 0.26px;
      //color: #A3ACB3;
      max-width: none;
      min-width: auto;
      width: 100%;
      flex: 1 0 auto;
      margin-bottom: 8px;
    }
    
    .icon {
      //display: flex;
      //align-items: center;
      //justify-content: center;
      //line-height: 0;
      //max-width: 27px;
      //min-width: 27px;
    }
    
 
    
    
    .arrows {
      //max-width: 22px;
      //min-width: 22px;
      //position: relative;
      
      svg {
        //position: absolute;
        //left: 2px;
        //top: 50%;
        //width: 15px;
        //height: 5.2px;
        //margin-top: -2.6px;
        //fill: #C8D0D2;
        
        &:first-of-type {
          //transform: translateY(-10px) rotate(-25deg);
        }
        
        &:last-of-type {
          //transform: translateY(10px) rotate(25deg);
        }
        
      }
    }
    
    .result {
      max-width: 73px;
      min-width: 73px;
      
      .result_row {
        display: flex;
        align-items: center;
        
        &:first-of-type {
          margin-bottom: 9px;
          
          svg {
            //fill: #6DCF3C;
          }
        }
        
        &:last-of-type {
          margin-top: 9px;
          
          svg {
            //fill: #F22A29;
          }
        }
        .icon-2 {
          &:before {
            //display: block;
            //content: '';
            //z-index: 3;
            //position: absolute;
            left: -4px;
            //top: 50%;
            margin-top: -4px;
            //width: 28px;
            //height: 2px;
            //background-color: #f22a29;
            //-webkit-transform: rotate(-45deg);
            //transform: rotate(-45deg);
          }
        }
        
        svg {
          //width: 16px;
          //height: 15px;
          //margin-right: 5px;
          margin-bottom: 4px;
        }
        
        span {
          font-family: 'SourceSansPro';
          font-size: 17px;
          letter-spacing: 0.09px;
          color: #000000;
        }
      }
    }
    
    .percent {
      flex: 1;
      
      .percent_label {
        font-family: 'SourceSansPro';
        font-size: 17px;
        letter-spacing: 0.26px;
        color: #303233;
        
        &:first-of-type {
          margin-bottom: 9px;
        }
        
        &:last-of-type {
          margin-top: 9px;
        }
      }
    }
  }
}
