<div class="wrap" [class.__active]="isOpen">
  <div class="tint" (click)="close()"></div>
  <div class="box">
    <app-btn-close (click)="close()"></app-btn-close>
    <div class="top">
      <span>{{'contradiction-modal.title' | translate}}</span>
    </div>
    <div class="content" [class.__disabled]="disabled">
      <div class="tip" *ngIf="disabled">{{'contradiction-modal.role-error' | translate}}</div>
      <div class="inp_wrap">
        <div class="textarea_label">{{'contradiction-modal.input-label' | translate}}</div>
        <input type="text" [placeholder]="'contradiction-modal.input-placeholder' | translate" name="title-new" (input)="errors.title = '';" [(ngModel)]="model.title"/>
        <span class="error" *ngIf="errors.title">{{'feedback-modal.textarea-error' | translate}}</span>
      </div>
      <div class="textarea_wrap">
        <div class="textarea_label">{{'contradiction-modal.textarea-label' | translate}}</div>
        <textarea name="message" [placeholder]="'contradiction-modal.textarea-placeholder' | translate" (input)="errors.text = '';" [(ngModel)]="model.text"></textarea>
        <span class="error" *ngIf="errors.text">{{'feedback-modal.textarea-error' | translate}}</span>
      </div>
      <div class="btns">
        <button type="button" class="cancel" (click)="close()">{{'feedback-modal.cancel-btn' | translate}}</button>
        <button type="submit" class="submit" (click)="submit()">{{'feedback-modal.submit-btn' | translate}}</button>
      </div>
    </div>
  </div>
</div>

