@import "../../../../../../assets/scss/variables";

:host {
  display: block;
  width: 100%;
}

.head {
  font-family: 'SourceSansProSemiBold';
  font-size: 25px;
  color: #303233;
  margin-bottom: v_l(1200, 3);
}
.edit-icon {
  position: absolute;
  right: 40px;
  top: 15px;
  //display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  display: none;
}
.svg-edit {
  fill: #A3ACB3;
  width: 15px;
  height: 15px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  
  app-add-article-btn {
    ::ng-deep {
      .add_article {
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  app-simple-select {
  
    ::ng-deep {
      .box {
        width: 210px;
      }
    }
  }
  
  
}

.pagination_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  
  .currentPage {
    font-family: 'SourceSansProSemiBold';
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #767D80;
    width: 35px;
    text-align: center;
    margin: 0;
    display: none;
  }
  
  .pagination_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-right: 16px;
    
    &.__disabled {
      pointer-events: none;
      opacity: 0.5;
    }
    
    &.__rotate {
      transform: rotate(180deg);
      margin-left: 16px;
      margin-right: 0;
    }
    
    svg {
      width: 18.1px;
      height: 16.5px;
      fill: #AEB5BB;
    }
    
    &:hover {
      svg {
        fill: #7C858C;
      }
    }
  }
  
  ::ng-deep {
    .ngx-pagination {
      display: flex;
      align-items: center;
      margin: 0 auto;
      
      a, button {
        font-family: Arial;
        font-size: 15px;
        letter-spacing: 0.38px;
        color: #767D80;
        margin: 0 5px;
        
        &:hover {
          color: #2053AB;
          background-color: transparent;
        }
      }
      
      .current {
        color: #767D80;
        cursor: default;
        background-color: #fff;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.link_wrap {
  position: relative;
  margin-bottom: v_xs(1200, 0);
  
  &:hover {
    .edit-icon {
      display: flex;
    }
  }
  
  app-block-dropdown {
    
    opacity: 1;
    
    ::ng-deep {
      .btnOpen {
        //position: relative;
        //display: flex;
        //flex-direction: column;
        //align-items: center;
        //outline: none!important;
        //user-select: none;
        &:before, &:after {
          //display: block;
          //content: '';
        }
        
        &:before, &:after, .btnOpen_common {
          //width: 3px;
          //height: 3px;
          background-color: #7C858C;
          //border-radius: 50%;
          //overflow: hidden;
        }
        
        .btnOpen_common {
          //margin: 3px 0;
        }
      }
      
      .svg-basket {
        fill: #7C858C;
        //width: 15px;
        //height: 15px;
      }
    }
  }
}

.item {
  display: flex;
  position: relative;
  background: #FFFFFF;
  border-radius: 3px;
  overflow: hidden;
  min-height: 80px;
  &:hover {
    //.svg-edit {
    //  fill: #A3ACB3;
    //}
    .data_head {
      color: #3A70CF;
    }
  }
  
  &:last-of-type {
    margin-bottom: 0;
  }
}

.img {
  min-width: 80px;
  max-width: 80px;
  line-height: 0;
  margin-right: 20px;
  
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  object-fit: cover;
  
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    //max-height: none;
    max-width: none;
    max-height: 100%;
    
  }
}

//.list_img {
//  max-width: 140px;
//  min-width: 140px;
//
//
//}

.data {
  padding: v_s(1200, 4) 80px v_s(1200, 4) 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data_head {
  font-family: 'SourceSansProSemiBold';
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 0.26px;
  color: #303233;
  margin-bottom: v_xs(1200, 7);
  word-break: break-word;
}

.data_date {
  font-family: 'SourceSansPro';
  font-size: 14px;
  color: #AEB5BB;
}

@media all and (max-width: 959px) {
  app-add-article-btn {
    display: none;
  }
}

@media all and (max-width: 599px) {
  :host {
    //display: block;
    //width: 100%;
  }
  
  .head {
    //font-family : 'SourceSansProSemiBold';
    //font-size : 25px;
    //color : #303233;
    //margin-bottom: v_l(1200, 3);
  }
  .edit-icon {
    //position: absolute;
    //right: 40px;
    top: auto;
    bottom: 10px;
    right: 10px;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //line-height: 0;
  }
  .svg-edit {
    //fill: #A3ACB3;
    //width: 15px;
    //height: 15px;
  }
  .pagination_wrap {
    //display: flex;
    //align-items: center;
    //justify-content: center;
    //margin-top: 15px;
    
    pagination-controls {
      display: none !important;
    }
    
    .currentPage {
      display: block;
      margin: 0 15px;
    }
    
    .pagination_btn {
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //padding: 10px;
      //cursor: pointer;
      //margin-right: 16px;
      
      &.__disabled {
        //pointer-events: none;
        //opacity: 0.5;
      }
      
      &.__rotate {
        //transform: rotate(180deg);
        //margin-left: 16px;
        //margin-right: 0;
      }
      
      svg {
        //width: 18.1px;
        //height: 16.5px;
        //fill: #AEB5BB;
      }
      
      &:hover {
        svg {
          //fill: #7C858C;
        }
      }
    }
    
    ::ng-deep {
      .ngx-pagination {
        display: none;
        //display: flex;
        //align-items: center;
        //margin: 0 auto;
        
        a, button {
          //font-family: Arial;
          //font-size: 15px;
          //letter-spacing: 0.38px;
          //color: #767D80;
          //margin: 0 5px;
          
          &:hover {
            //color: #2053AB;
            //background-color: transparent;
          }
        }
        
        .current {
          //color: #767D80;
          //cursor: default;
          //background-color: #fff;
          //border-radius: 50%;
          //width: 35px;
          //height: 35px;
          //overflow: hidden;
          //display: flex;
          //justify-content: center;
          //align-items: center;
        }
      }
    }
  }
  .top {
    //display: flex;
    //align-items: center;
    //justify-content: space-between;
    //margin-bottom: 50px;
    //
    //app-add-article-btn {
    //  ::ng-deep {
    //    .add_article {
    //      &:hover {
    //        background-color: transparent;
    //      }
    //    }
    //  }
    //}
    app-simple-select {
      flex: 1;
      width: 100%;
      ::ng-deep {
        .box {
          width: 100%;
        }
      }
    }
    
    
  }
  .item {
    //display: flex;
    //position: relative;
    //background : #FFFFFF;
    //border-radius : 3px;
    //overflow: hidden;
    //margin-bottom: v_xs(1200, 0);
    min-height: 80px;
    padding: 10px;
    padding-right: 50px;
    
    &:hover {
      .data_head {
        //color: #3A70CF;
      }
    }
    
    &:last-of-type {
      //margin-bottom: 0;
    }
  }
  
  .img {
    //min-width: 80px;
    //max-width: 80px;
    //line-height: 0;
    //margin-right: 20px;
    display: none;
  }
  
  .data {
    padding: 0;
    //flex: 1;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
  }
  
  .data_head {
    //font-family : 'SourceSansProSemiBold';
    //font-size : 17px;
    //line-height : 17px;
    //letter-spacing : 0.26px;
    //color : #303233;
    //margin-bottom: v_xs(1200, 7);
  }
  
  .data_date {
    //font-family : 'SourceSansPro';
    //font-size : 14px;
    //color : #AEB5BB;
  }
}
