<div class="box">
  <div class="top">
    <app-simple-select [setValues]="lists" (valueChange)="changeList($event)"></app-simple-select>
    <app-add-article-btn [rLink]="['/create/material']" [skipLoc]="false"></app-add-article-btn>
  </div>
  <div class="list">
    <div class="link_wrap" *ngFor="let article of articles | paginate: { itemsPerPage: filterParams.itemsPerPage, currentPage: filterParams.page, totalItems: filterParams.total}; let i = index">
      <a href=""
         rel="nofollow"
         [target]="filterParams.status !== 'publish' ? '_self' : '_blank'"
         [routerLink]="['/edit/material', article.id]"
         class="item">
        <div class="img">
          <img [src]="article.cover" alt="">
        </div>
        <div class="data">
          <div class="data_head">{{article.title}}</div>
          <div class="data_date">{{date_s.convert(article.pub_time)}}</div>
        </div>
      </a>
      <div class="edit-icon">
        <svg class="svg-edit">
          <use [attr.xlink:href]="'#edit'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
      <app-block-dropdown (remove)="deleteArticle(article)"></app-block-dropdown>
    </div>
    <ng-container *ngIf="init && !articles.length">
      <app-empy-list-string *ngIf="filterParams.status === 'draft'" [text]="'Вы ещё ничего не написали :('"></app-empy-list-string>
      <app-empy-list-string *ngIf="filterParams.status === 'review'" [text]="'Вы нам ничего не отправили на провеку :('"></app-empy-list-string>
      <app-empy-list-string *ngIf="filterParams.status === 'publish'" [text]="'У Вас нет опубликованных материалов :('"></app-empy-list-string>
    </ng-container>
  </div>
  <div class="pagination_wrap" *ngIf="filterParams.lastPage > 1">
    <div class="pagination_btn" [class.__disabled]="filterParams.page < 2" (click)="changePageArrowHandler(-1)">
      <svg class="svg-arrow">
        <use [attr.xlink:href]="'#arrow'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
    <div class="currentPage">{{filterParams.page}}</div>
    <pagination-controls (pageChange)="changePageHandler($event)" directionLinks="false" autoHide="true"></pagination-controls>
    <div class="pagination_btn __rotate" [class.__disabled]="filterParams.page === filterParams.lastPage" (click)="changePageArrowHandler(1)">
      <svg class="svg-arrow">
        <use [attr.xlink:href]="'#arrow'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
  </div>
</div>
