.box {
  display: block;
  width: 100%;
  height: 100%;
  //max-height: 100vh;
  position: absolute;
  left: 0;
  //right: 0;
  top: 0;
  //bottom: 0;
  background-color: #F7F7F7;
  z-index: 9999999999999999;
  opacity: 0;
  visibility: hidden;
  transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
  //transition: opacity .01ms ease-in-out, visibility .01ms ease-in-out;

  &.__show {
    opacity: 1;
    visibility: visible;
    //transition: opacity .35s ease-in-out, visibility .35s ease-in-out;
  }
  .viewBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 100vh;
  }
}
