<div class="page">
  <div class="container">
    <div class="top" [class.__search]="searchValue" #topEl>
      <h1>{{'materials-list-page.head' | translate}}</h1>
      <div class="search_value" *ngIf="searchValue">
        <span>{{searchValue}}</span>
        <svg class="svg-cross" (click)="clearSearch()">
          <use [attr.xlink:href]="'#cross'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
      <button type="button"
              class="searchBtn"
              (click)="switchFilters(searchEl)"
              [class.__active]="filtersToggle"
              [matTooltip]="'tooltips.global-icn.search' | translate"
              matTooltipPosition="above"
              matTooltipClass="add-material-tooltip">
        <svg class="svg-magnif" *ngIf="!filtersToggle">
          <use [attr.xlink:href]="'#magnif'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <app-btn-close *ngIf="filtersToggle"></app-btn-close>
      </button>
      <button class="allFiltersBtn" type="button" [class.__active]="showFilters" (click)="showFilters = !showFilters; filtersToggle = false;">
        <svg class="svg-dropdown-btn">
          <use [attr.xlink:href]="'#dropdown-btn'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </button>
    </div>
    <div class="filters" [class.__hidden]="!showFilters">
      <div class="filters_search" [hidden]="!filtersToggle">
        <input type="text" (keyup.enter)="searchHandler()" [placeholder]="'materials-list-page.search-placeholder' | translate" [(ngModel)]="filterParams.search" #searchEl/>
        <div class="searchButton" (click)="searchHandler()">
          <svg class="svg-arrow">
            <use [attr.xlink:href]="'#arrow'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
      <div class="filters_select" [hidden]="filtersToggle">
        <!--        <app-select-search [url]="'/workplaces/dict'" [placeholder]="'add-material-page.where-workplace-placeholder' | translate" [icon]="true"-->
        <!--                           (valueChange)="filterParams.workplace_id = $event.id; updateList()"></app-select-search>-->
        <!--        <app-select-with-groups (change)="filterParams.region_id = $event.region_id; filterParams.city_id = $event.city_id;; updateList()" [url]="'/regions/dict'"></app-select-with-groups>-->
        <!--        <app-simple-select [setValues]="{arr:selectBoxValues}" (valueChange)="filterParams.is_truth = $event.type; updateList()"></app-simple-select>-->


        <app-select-search [url]="'/workplaces/dict-material'" [placeholder]="'add-material-page.where-workplace-placeholder' | translate" [icon]="'portfolio'" [allBtn]="true" [listKey]="'title'" [key]="'short'" [direction]="'left'" (valueChange)="changeWorkPlace($event)"></app-select-search>
        <app-select-search [url]="'/regions/dict'" [placeholder]="'add-material-page.region-placeholder' | translate" [allBtn]="true" [key]="'title'" [listKey]="'title'" [direction]="'left'" [icon]="'place'" (valueChange)="changeRegion($event)"></app-select-search>
        <app-select-with-groups (change)="changeCity($event)" [direction]="'right'" [placeholder]="'add-material-page.city-placeholder' | translate" [reset]="{region_id: filterParams.region_id}" [url]="'/cities/dict?' + (filterParams.region_id ? 'region_id=' + filterParams.region_id : '')
"></app-select-with-groups>

      </div>
    </div>
    <!--    <div class="nav" [perfectScrollbar]="{wheelPropagation:false}">-->
    <!--      <div class="nav_item __active">Последние</div>-->
    <!--      <div class="nav_item">Популярные</div>-->
    <!--      <div class="nav_item">Привлекавшиеся</div>-->
    <!--    </div>-->
    <div class="list">
      <a href="" class="list_item" [routerLink]="['/material', article.slug]" *ngFor="let article of articles | paginate: { itemsPerPage: filterParams.itemsPerPage, currentPage: filterParams.page, totalItems: filterParams.total}; let i = index">
        <div class="list_img">
          <img [src]="article.cover" alt=""/>
        </div>
        <div class="list_data">
          <app-article-tags *ngIf="article.tags.length" [tags]="article.tags"></app-article-tags>
          <div class="title">{{article.title}}</div>
          <div class="date">{{dateService.convert(article.pub_time)}}</div>
          <div class="icons">
            <div class="icons_item" *ngIf="article.is_positive === false" [matTooltip]="'tooltips.material-list.negative' | translate" matTooltipPosition="below" matTooltipClass="add-material-tooltip-bottom">
              <img class="smile-negative" [src]="'/assets/img/smiles/x3_negative.png'" alt="">
            </div>
            <div class="icons_item" *ngIf="article.is_positive === true" [matTooltip]="'tooltips.material-list.positive' | translate" matTooltipPosition="below" matTooltipClass="add-material-tooltip-bottom">
              <img class="smile-improve" [src]="'/assets/img/smiles/x3_improve.png'" alt="">
            </div>
            <div class="icons_item" *ngIf="article.is_positive === null" [matTooltip]="'tooltips.material-list.neutral' | translate" matTooltipPosition="below" matTooltipClass="add-material-tooltip-bottom">
              <img class="smile-improve" [src]="'/assets/img/smiles/x3_nohow.png'" alt="">
            </div>


            <div class="icons_item" *ngIf="article.is_truth === true" [matTooltip]="('tooltips.material-list.truth' | translate)" matTooltipPosition="below" matTooltipClass="add-material-tooltip-bottom">
              <svg class="svg-truth">
                <use [attr.xlink:href]="'#truth'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
            <div class="icons_item" *ngIf="article.is_truth === false" [matTooltip]="('tooltips.material-list.lie' | translate)" matTooltipPosition="below" matTooltipClass="add-material-tooltip-bottom">
              <svg class="svg-lying">
                <use [attr.xlink:href]="'#lying'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
            <div class="icons_item" *ngIf="article.is_truth === null" [matTooltip]="('tooltips.material-list.unclear' | translate)" matTooltipPosition="below" matTooltipClass="add-material-tooltip-bottom">
              <svg class="svg-unclear">
                <use [attr.xlink:href]="'#unclear'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
          </div>
        </div>
      </a>
      <app-empy-list-string *ngIf="!articles.length" [text]="'errors.empy-widget-list-2' | translate"></app-empy-list-string>
    </div>
    <div class="pagination_wrap" *ngIf="filterParams.lastPage > 1">
      <div class="pagination_btn" [class.__disabled]="filterParams.page < 2" (click)="changePageArrowHandler(-1)">
        <svg class="svg-arrow">
          <use [attr.xlink:href]="'#arrow'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
      <div class="currentPage">{{filterParams.page}}</div>
      <pagination-controls (pageChange)="changePageHandler($event)" directionLinks="false" autoHide="true"></pagination-controls>
      <div class="pagination_btn __rotate" [class.__disabled]="filterParams.page === filterParams.lastPage" (click)="changePageArrowHandler(1)">
        <svg class="svg-arrow">
          <use [attr.xlink:href]="'#arrow'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
    </div>
    <app-right-widget [attracted]="attracted" [moreArticles]="moreArticles"></app-right-widget>
  </div>
</div>
