@import "~src/assets/scss/_variables";
@import "~src/assets/scss/_mixins";

.page {
  padding: v_2xl(1200, 0) 0;
  box-sizing: content-box;
}

app-empy-list-string {
  display: block;
  margin-top: 30px;
}

.container {
  padding: 0;
  position: relative;
}

//.content {
//  max-width: 590px;
//  display: flex;
//  flex-direction: column;
//  justify-content: flex-start;
//  align-items: flex-start;
//}

.filters, .top, .list, .pagination_wrap {
  max-width: 680px;
}

.pagination_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  
  .currentPage {
    font-family: 'SourceSansProSemiBold';
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #767D80;
    width: 35px;
    text-align: center;
    margin: 0;
    display: none;
  }
  
  .pagination_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-right: 16px;
    
    &.__disabled {
      pointer-events: none;
      opacity: 0.5;
    }
    
    &.__rotate {
      transform: rotate(180deg);
      margin-left: 16px;
      margin-right: 0;
    }
    
    svg {
      width: 18.1px;
      height: 16.5px;
      fill: #AEB5BB;
    }
    
    &:hover {
      svg {
        fill: #7C858C;
      }
    }
  }
  
  ::ng-deep {
    .ngx-pagination {
      display: flex;
      align-items: center;
      margin: 0 auto;
      
      a, button {
        font-family: Arial;
        font-size: 15px;
        letter-spacing: 0.38px;
        color: #767D80;
        margin: 0 5px;
        
        &:hover {
          color: #2053AB;
          background-color: transparent;
        }
      }
      
      .current {
        color: #767D80;
        cursor: default;
        background-color: #fff;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}


.top {
  display: flex;
  align-items: center;
  margin-bottom: v_md(1200, 6);
  
  h1 {
    font-family: 'SourceSansProBold';
    font-size: 35px;
    letter-spacing: 0.18px;
    color: #303233;
    margin-right: 20px;
  }
  
  .search_value {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 11px;
    background-color: #fff;
    border-radius: 15px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    span {
      font-family: 'SourceSansPro';
      font-size: 15px;
      letter-spacing: 0.22px;
      color: #767D80;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    svg {
      min-width: 11.5px;
      max-width: 11.5px;
      height: 11.5px;
      fill: #A3ACB3;
      margin-top: 2px;
      margin-left: 7px;
      cursor: pointer;
      
      &:hover {
        fill: #7C858C;
      }
    }
  }
  
  .searchBtn {
    padding: 5px;
    cursor: pointer;
    margin: 0 0 0 auto;
    position: relative;
    
    app-btn-close {
      ::ng-deep {
        .close {
          position: relative;
          right: auto;
          top: auto;
          cursor: pointer;
          width: 20px;
          height: 20px;
          z-index: 2;
        }
      }
    }
    
    
    &.__active {
      svg {
        fill: #3A70CF
      }
    }
    
    &:hover {
      transform: scale(1.1);
      
      svg {
        fill: #303233;
      }
    }
    
    svg {
      width: 20px;
      height: 20px;
      fill: #A3ACB3;
    }
  }
  
  .allFiltersBtn {
    padding: 5px;
    cursor: pointer;
    display: block;
    line-height: 0;
    display: none;
    
    &.__active {
      svg {
        fill: #3A70CF
      }
    }
    
    svg {
      width: 23px;
      height: 14px;
      fill: #A3ACB3;
    }
  }
}

.filters {
  margin-bottom: v_xl(1200, 0);
  
  
  app-simple-select, app-select-search, app-select-with-groups {
    display: flex;
    flex: 1;
  }
  
  app-simple-select {
    ::ng-deep {
      .box {
        width: 100%;
      }
    }
  }
  
  app-select-with-groups {
    ::ng-deep {
      .box {
        width: 100%;
      }
    }
  }
  
  
  app-select-search {
    ::ng-deep {
      .box {
        width: 100%;
      }
    }
  }
  
  
  .filters_select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    & > * {
      margin-left: 40px;
    }
    
    & > *:first-child {
      margin-left: 0;
    }
    
  }
  
  .filters_search {
    width: 100%;
    position: relative;
    
    .searchButton {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      transform: rotate(180deg);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      
      &:hover {
        .svg-arrow {
          fill: #303233;
        }
      }
    }
    
    .svg-arrow {
      width: 18.1px;
      height: 16.5px;
      fill: #A3ACB3;
    }
    
    input {
      width: 100%;
      background: #FFFFFF;
      border-radius: 4px;
      height: 35px;
      overflow: hidden;
      font-family: 'SourceSansPro';
      font-size: 18px;
      color: #303233;
      padding: 0 42px 0 18px;
      
      @include placeholder {
        font-family: 'SourceSansPro';
        font-size: 18px;
        color: #AEB5BB;
      }
      box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
      
      &:hover, &:focus {
        box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
      }
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 8px;
  display: none;
  
  .nav_item {
    font-family: 'SourceSansProSemiBold';
    font-size: 16px;
    text-transform: uppercase;
    color: #AEB5BB;
    padding: 10px 0;
    cursor: pointer;
    margin-right: 30px;
    
    &:last-of-type {
      margin-right: 0;
    }
    
    &.__active {
      color: #3A70CF;
    }
  }
}

.list {
  
  .list_item {
    display: flex;
    overflow: hidden;
    border-radius: 3px;
    background-color: #ffffff;
    min-height: 140px;
    margin-bottom: v_md(1200, 0);
    width: 100%;
    position: relative;
    &:last-of-type {
      margin-bottom: v_xl(1200, 0);
    }
  }
  
  .list_img {
    max-width: 140px;
    min-width: 140px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    object-fit: cover;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: auto;
      width: auto;
      min-width: 100%;
      min-height: 100%;
      //max-height: none;
      max-width: none;
      max-height: 100%;
      
    }
  }
  
  .list_data {
    padding: 12px 20px 16px 160px;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
  }
  
  app-article-tags {
    display: block;
    margin-bottom: v_md(1200, 12);
  }
  
  .title {
    font-family: 'SourceSansProSemiBold';
    font-size: 20px;
    letter-spacing: 0.3px;
    color: #303233;
    padding-right: 40px;
    word-break: break-word;
    &:hover {
      color: #3A70CF;
    }
  }
  
  .date {
    margin: auto 0 0 0;
    font-family: 'SourceSansPro';
    font-size: 14px;
    letter-spacing: 0.21px;
    color: #AEB5BB;
  }
  
  .icons {
    position: absolute;
    right: 20px;
    bottom: 12px;
    display: flex;
    align-items: center;
    z-index: 1;
    
    .icons_item {
      margin-left: 10px;
      cursor: pointer;
      padding: 3px;
      
      img {
        width: 20px;
        height: 20px;
      }
      
      svg {
        fill: #A3ACB3;
      }
      
      .svg-truth {
        width: 17px;
        height: 20px;
      }
      
      .svg-lying {
        width: 16px;
        height: 16px;
      }
      
      .svg-unclear {
        width: 8px;
        height: 15px;
      }
      
      
    }
  }
}


@media all and (max-width: 1199px) {
  //@import "~src/assets/scss/_variables";
  //@import "~src/assets/scss/_mixins";
  
  .page {
    padding: 30px 15px 50px;
    //box-sizing: content-box;
  }
  
  .container {
    //padding: 0;
    //position: relative;
    padding-right: 320px;
  }
  
  //.content {
  //  max-width: 590px;
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: flex-start;
  //  align-items: flex-start;
  //}
  
  .filters, .top, .list, .pagination_wrap {
    max-width: none;
  }
  
  .pagination_wrap {
    //display: flex;
    //align-items: center;
    //justify-content: center;
    
    .pagination_btn {
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //padding: 10px;
      //cursor: pointer;
      //margin-right: 16px;
      
      &.__disabled {
        //pointer-events: none;
        //opacity: 0.5;
      }
      
      &.__rotate {
        //transform: rotate(180deg);
        //margin-left: 16px;
        //margin-right: 0;
      }
      
      svg {
        //width: 18.1px;
        //height: 16.5px;
        //fill: #AEB5BB;
      }
      
      &:hover {
        svg {
          //fill: #7C858C;
        }
      }
    }
    
    ::ng-deep {
      .ngx-pagination {
        //display: flex;
        //align-items: center;
        //margin: 0 auto;
        
        a, button {
          //font-family: Arial;
          //font-size: 15px;
          //letter-spacing: 0.38px;
          //color: #767D80;
          //margin: 0 5px;
          
          &:hover {
            //color: #2053AB;
            //background-color: transparent;
          }
        }
        
        .current {
          //color: #767D80;
          //cursor: default;
          //background-color: #fff;
          //border-radius: 50%;
          //width: 35px;
          //height: 35px;
          //overflow: hidden;
          //display: flex;
          //justify-content: center;
          //align-items: center;
        }
      }
    }
  }
  
  
  .top {
    //display: flex;
    //align-items: center;
    margin-bottom: 11px;
    
    h1 {
      //font-family: 'SourceSansProBold';
      //font-size: 35px;
      //letter-spacing: 0.18px;
      //color: #303233;
      //margin-right: 20px;
    }
    
    .search_value {
      //display: flex;
      //align-items: center;
      //height: 30px;
      //padding: 0 11px;
      //background-color: #fff;
      //border-radius: 15px;
      
      span {
        //font-family: 'SourceSansPro';
        //font-size: 15px;
        //letter-spacing: 0.22px;
        //color: #767D80;
      }
      
      svg {
        //width: 11.5px;
        //height: 11.5px;
        //fill: #A3ACB3;
        //margin-top: 2px;
        //margin-left: 7px;
        //cursor: pointer;
        
        &:hover {
          //fill: #7C858C;
        }
      }
    }
    
    .searchBtn {
      //padding: 5px;
      //cursor: pointer;
      //margin: 0 0 0 auto;
      
      &.__active {
        svg {
          //fill: #3A70CF
        }
      }
      
      &:hover {
        //transform: scale(1.1);
        
        svg {
          //fill: #303233;
        }
      }
      
      svg {
        //width: 20px;
        //height: 20px;
        //fill: #A3ACB3;
      }
    }
  }
  
  .filters {
    //margin-bottom: v_xl(1200, 0);
    
    .filters_select {
      //display: flex;
      //align-items: center;
      //justify-content: space-between;
    }
    
    .filters_search {
      //width: 100%;
      
      input {
        //width: 100%;
        //background: #FFFFFF;
        //border-radius: 4px;
        //height: 35px;
        //overflow: hidden;
        //font-family: 'SourceSansPro';
        //font-size: 18px;
        //color: #303233;
        //padding: 0 42px 0 18px;
        
        //@include placeholder {
        //  //font-family: 'SourceSansPro';
        //  //font-size: 18px;
        //  //color: #AEB5BB;
        //}
        //box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
        
        &:hover, &:focus {
          //box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
        }
      }
    }
    
    //app-select-with-groups {
    //  margin: 0 30px;
    //  flex: 1;
    //
    //  ::ng-deep {
    //    .box {
    //      max-width: none;
    //      width: 100%;
    //    }
    //  }
    //}
    //
    //app-select-search {
    //  ::ng-deep {
    //    .box {
    //      max-width: 194px;
    //    }
    //  }
    //}
    
  }
  
  
  .list {
    
    .list_item {
      //display: flex;
      //overflow: hidden;
      //border-radius: 3px;
      //background-color: #ffffff;
      //height: 140px;
      //margin-bottom: v_md(1200, 0);
      //width: 100%;
      &:last-of-type {
        //margin-bottom: v_xl(1200, 0);
      }
    }
    
    .list_img {
      //max-width: 140px;
      //min-width: 140px;
    }
    
    .list_data {
      //padding: v_md(1200, 8) 60px v_md(1200, 4) 20px;
      //display: flex;
      //flex-direction: column;
      //position: relative;
      //flex: 1;
    }
    
    app-article-tags {
      //display: block;
      //margin-bottom: v_md(1200, 12);
    }
    
    .title {
      //font-family: 'SourceSansProSemiBold';
      //font-size: 20px;
      //letter-spacing: 0.3px;
      //color: #303233;
      
      &:hover {
        //color: #3A70CF;
      }
    }
    
    .date {
      //margin: auto 0 0 0;
      //font-family: 'SourceSansPro';
      //font-size: 14px;
      //letter-spacing: 0.21px;
      //color: #AEB5BB;
    }
    
    .icons {
      //position: absolute;
      //right: 20px;
      //bottom: 12px;
      //display: flex;
      //align-items: center;
      //z-index: 1;
      
      .icons_item {
        //margin-left: 10px;
        //cursor: pointer;
        //padding: 3px;
        
        img {
          //width: 20px;
          //height: 20px;
        }
        
        svg {
          //fill: #A3ACB3;
        }
        
        .svg-truth {
          //width: 17px;
          //height: 20px;
        }
        
        .svg-lying {
          //width: 16px;
          //height: 16px;
        }
        
        
      }
    }
  }
}

@media all and (max-width: 959px) {
  //@import "~src/assets/scss/_variables";
  //@import "~src/assets/scss/_mixins";
  
  .page {
    padding: 30px 12px 50px;
    //box-sizing: content-box;
  }
  
  .container {
    //padding: 0;
    //position: relative;
    padding-right: 0;
  }
  
  //.content {
  //  max-width: 590px;
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: flex-start;
  //  align-items: flex-start;
  //}
  
  .filters, .top, .list, .pagination_wrap {
    max-width: none;
  }
  
  .pagination_wrap {
    //display: flex;
    //align-items: center;
    //justify-content: center;
    
    //.currentPage {
    //  display: block;
    //}
    //
    //pagination-controls {
    //  display: none;
    //}
    
    .pagination_btn {
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //padding: 10px;
      //cursor: pointer;
      //margin-right: 16px;
      
      &.__disabled {
        //pointer-events: none;
        //opacity: 0.5;
      }
      
      &.__rotate {
        //transform: rotate(180deg);
        //margin-left: 16px;
        //margin-right: 0;
      }
      
      svg {
        //width: 18.1px;
        //height: 16.5px;
        //fill: #AEB5BB;
      }
      
      &:hover {
        svg {
          //fill: #7C858C;
        }
      }
    }
    
    ::ng-deep {
      .ngx-pagination {
        //display: flex;
        //align-items: center;
        //margin: 0 auto;
        
        a, button {
          //font-family: Arial;
          //font-size: 15px;
          //letter-spacing: 0.38px;
          //color: #767D80;
          //margin: 0 5px;
          
          &:hover {
            //color: #2053AB;
            //background-color: transparent;
          }
        }
        
        .current {
          //color: #767D80;
          //cursor: default;
          //background-color: #fff;
          //border-radius: 50%;
          //width: 35px;
          //height: 35px;
          //overflow: hidden;
          //display: flex;
          //justify-content: center;
          //align-items: center;
        }
      }
    }
  }
  
  
  .top {
    //display: flex;
    //align-items: center;
    margin-bottom: 0;
    
    h1 {
      //font-family: 'SourceSansProBold';
      //font-size: 35px;
      //letter-spacing: 0.18px;
      //color: #303233;
      //margin-right: 20px;
    }
    
    .search_value {
      //display: flex;
      //align-items: center;
      //height: 30px;
      //padding: 0 11px;
      //background-color: #fff;
      //border-radius: 15px;
      
      span {
        //font-family: 'SourceSansPro';
        //font-size: 15px;
        //letter-spacing: 0.22px;
        //color: #767D80;
      }
      
      svg {
        //width: 11.5px;
        //height: 11.5px;
        //fill: #A3ACB3;
        //margin-top: 2px;
        //margin-left: 7px;
        //cursor: pointer;
        
        &:hover {
          //fill: #7C858C;
        }
      }
    }
    
    .allFiltersBtn {
      //padding: 5px;
      //cursor: pointer;
      //display: block;
      //line-height: 0;
      //display: none;
      display: block;
      margin-left: 12px;
      padding-top: 8px;
      
      &.__active {
        svg {
          //fill: #3A70CF
        }
      }
      
      svg {
        //width: 23px;
        //height: 14px;
        //fill: #A3ACB3;
      }
    }
    
    .searchBtn {
      //padding: 5px;
      //cursor: pointer;
      //margin: 0 0 0 auto;
      padding-top: 8px;
      
      &.__active {
        svg {
          //fill: #3A70CF
        }
      }
      
      &:hover {
        //transform: scale(1.1);
        
        svg {
          //fill: #303233;
        }
      }
      
      svg {
        //width: 20px;
        //height: 20px;
        //fill: #A3ACB3;
      }
    }
  }
  
  .filters {
    //margin-bottom: v_xl(1200, 0);
    margin: 12px 0;
    
    &.__hidden {
      display: none;
    }
    
    .filters_select {
      //display: flex;
      //align-items: center;
      //justify-content: space-between;
      
    }
    //.filters_select {
    //  //display: flex;
    //  //align-items: center;
    //  //justify-content: space-between;
    //  & > *:nth-child(1){
    //    z-index: 4
    //
    //  }
    //  & > *:nth-child(2){
    //    z-index: 3
    //  }
    //  & > *:nth-child(3){
    //    z-index: 2
    //  }
    //  & > *:nth-child(4){
    //    z-index: 1
    //  }
    //
    //
    //  & > * {
    //    margin-left: 0;
    //    margin-bottom: 16px;
    //  }
    //
    //  & > *:last-child {
    //    margin-bottom: 0;
    //    //margin-left: 0;
    //  }
    //
    //}
    .filters_search {
      //width: 100%;
      
      input {
        //width: 100%;
        //background: #FFFFFF;
        //border-radius: 4px;
        //height: 35px;
        //overflow: hidden;
        //font-family: 'SourceSansPro';
        //font-size: 18px;
        //color: #303233;
        //padding: 0 42px 0 18px;
        
        //@include placeholder {
        //  //font-family: 'SourceSansPro';
        //  //font-size: 18px;
        //  //color: #AEB5BB;
        //}
        //box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
        
        &:hover, &:focus {
          //box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
        }
      }
    }
    
    app-select-with-groups {
      //margin: 0 30px;
      flex: 1;

      ::ng-deep {
        .box {
          max-width: none;
          width: 100%;
        }
      }
    }

    app-select-search {
      ::ng-deep {
        .box {
          //max-width: 194px;
        }
      }
    }
    
  }
  .nav {
    display: flex;
  }
  
  .list {
    
    .list_item {
      //display: flex;
      //overflow: hidden;
      //border-radius: 3px;
      //background-color: #ffffff;
      //height: 140px;
      //margin-bottom: v_md(1200, 0);
      //width: 100%;
      &:last-of-type {
        //margin-bottom: v_xl(1200, 0);
      }
    }
    
    .list_img {
      //max-width: 140px;
      //min-width: 140px;
    }
    
    .list_data {
      //padding: v_md(1200, 8) 60px v_md(1200, 4) 20px;
      //display: flex;
      //flex-direction: column;
      //position: relative;
      //flex: 1;
    }
    
    app-article-tags {
      //display: block;
      //margin-bottom: v_md(1200, 12);
    }
    
    .title {
      //font-family: 'SourceSansProSemiBold';
      //font-size: 20px;
      //letter-spacing: 0.3px;
      //color: #303233;
      
      &:hover {
        //color: #3A70CF;
      }
    }
    
    .date {
      //margin: auto 0 0 0;
      //font-family: 'SourceSansPro';
      //font-size: 14px;
      //letter-spacing: 0.21px;
      //color: #AEB5BB;
    }
    
    .icons {
      //position: absolute;
      //right: 20px;
      //bottom: 12px;
      //display: flex;
      //align-items: center;
      //z-index: 1;
      
      .icons_item {
        //margin-left: 10px;
        //cursor: pointer;
        //padding: 3px;
        
        img {
          //width: 20px;
          //height: 20px;
        }
        
        svg {
          //fill: #A3ACB3;
        }
        
        .svg-truth {
          //width: 17px;
          //height: 20px;
        }
        
        .svg-lying {
          //width: 16px;
          //height: 16px;
        }
        
        
      }
    }
  }
}

@media all and (max-width: 599px) {
  //@import "~src/assets/scss/_variables";
  //@import "~src/assets/scss/_mixins";
  
  .page {
    padding: 20px 12px 30px;
    //box-sizing: content-box;
  }
  
  .container {
    //padding: 0;
    //position: relative;
    //padding-right: 0;
  }
  
  //.content {
  //  max-width: 590px;
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: flex-start;
  //  align-items: flex-start;
  //}
  
  .filters, .top, .list, .pagination_wrap {
    //max-width: none;
  }
  
  .pagination_wrap {
    //display: flex;
    //align-items: center;
    //justify-content: center;
    
    .currentPage {
      display: block;
      margin: 0 15px;
    }
    
    pagination-controls {
      display: none;
    }
    
    .pagination_btn {
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //padding: 10px;
      //cursor: pointer;
      //margin-right: 16px;
      
      &.__disabled {
        //pointer-events: none;
        //opacity: 0.5;
      }
      
      &.__rotate {
        //transform: rotate(180deg);
        //margin-left: 16px;
        //margin-right: 0;
      }
      
      svg {
        //width: 18.1px;
        //height: 16.5px;
        //fill: #AEB5BB;
      }
      
      &:hover {
        svg {
          //fill: #7C858C;
        }
      }
    }
    
    ::ng-deep {
      .ngx-pagination {
        //display: flex;
        //align-items: center;
        //margin: 0 auto;
        
        a, button {
          //font-family: Arial;
          //font-size: 15px;
          //letter-spacing: 0.38px;
          //color: #767D80;
          //margin: 0 5px;
          
          &:hover {
            //color: #2053AB;
            //background-color: transparent;
          }
        }
        
        .current {
          //color: #767D80;
          //cursor: default;
          //background-color: #fff;
          //border-radius: 50%;
          //width: 35px;
          //height: 35px;
          //overflow: hidden;
          //display: flex;
          //justify-content: center;
          //align-items: center;
        }
      }
    }
  }
  
  
  .top {
    //display: flex;
    //align-items: center;
    margin-bottom: 0;
    position: relative;
    
    &.__search {
      padding-bottom: 40px;
      
      .search_value {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    
    h1 {
      //font-family: 'SourceSansProBold';
      font-size: 25px;
      letter-spacing: 0.13px;
      //color: #303233;
      //margin-right: 20px;
    }
    
    .search_value {
      //display: flex;
      //align-items: center;
      //height: 30px;
      //padding: 0 11px;
      //background-color: #fff;
      //border-radius: 15px;
      
      span {
        //font-family: 'SourceSansPro';
        //font-size: 15px;
        //letter-spacing: 0.22px;
        //color: #767D80;
      }
      
      svg {
        //width: 11.5px;
        //height: 11.5px;
        //fill: #A3ACB3;
        //margin-top: 2px;
        //margin-left: 7px;
        //cursor: pointer;
        
        &:hover {
          //fill: #7C858C;
        }
      }
    }
    
    .allFiltersBtn {
      //padding: 5px;
      //cursor: pointer;
      //display: block;
      //line-height: 0;
      //display: none;
      display: block;
      margin-left: 16px;
      
      &.__active {
        svg {
          //fill: #3A70CF
        }
      }
      
      svg {
        //width: 23px;
        //height: 14px;
        //fill: #A3ACB3;
      }
    }
    
    .searchBtn {
      //padding: 5px;
      //cursor: pointer;
      //margin: 0 0 0 auto;
      
      &.__active {
        svg {
          //fill: #3A70CF
        }
      }
      
      &:hover {
        //transform: scale(1.1);
        
        svg {
          //fill: #303233;
        }
      }
      
      svg {
        //width: 20px;
        //height: 20px;
        //fill: #A3ACB3;
      }
    }
  }
  
  .filters {
    //margin-bottom: v_xl(1200, 0);
    margin: 12px 0;
    
    &.__hidden {
      display: none;
    }
    
    .filters_select {
      flex-direction: column;
      //display: flex;
      //align-items: center;
      //justify-content: space-between;
      
    }
    .filters_select {
      //display: flex;
      //align-items: center;
      //justify-content: space-between;
      & > *:nth-child(1){
        z-index: 4
      
      }
      & > *:nth-child(2){
        z-index: 3
      }
      & > *:nth-child(3){
        z-index: 2
      }
      & > *:nth-child(4){
        z-index: 1
      }
    
    
      & > * {
        margin-left: 0;
        margin-bottom: 16px;
      }
    
      & > *:last-child {
        margin-bottom: 0;
        //margin-left: 0;
      }
    
    }
    
    .filters_search {
      //width: 100%;
      
      input {
        //width: 100%;
        //background: #FFFFFF;
        //border-radius: 4px;
        //height: 35px;
        //overflow: hidden;
        //font-family: 'SourceSansPro';
        //font-size: 18px;
        //color: #303233;
        //padding: 0 42px 0 18px;
        
        //@include placeholder {
        //  //font-family: 'SourceSansPro';
        //  //font-size: 18px;
        //  //color: #AEB5BB;
        //}
        //box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
        
        &:hover, &:focus {
          //box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
        }
      }
    }
    
    app-select-with-groups, app-select-search, app-simple-select {
      //margin: 0 30px;
      //margin: 0;
      //flex: 1;
      width: 100%;
      //margin-bottom: 10px;

      ::ng-deep {
        .box {
          //max-width: none;
          //width: 100%;
        }
      }
    }

    app-simple-select {
      //margin-bottom: 0;
    }
  }
  
  .nav {
    position: relative;
    display: flex;
    width: 100%;
    padding-bottom: 8px;
    margin-bottom: 20px;
  }
  
  .list {
    
    .list_item {
      position: relative;
      //display: flex;
      //overflow: hidden;
      //border-radius: 3px;
      //background-color: #ffffff;
      height: auto;
      min-height: 111px;
      margin-bottom: 12px;
      //width: 100%;
      &:last-of-type {
        margin-bottom: 40px;
      }
    }
    
    .list_img {
      max-width: 40px;
      min-width: 40px;
      height: 40px;
      top: auto;
      position: absolute;
      bottom: 16px;
      left: 11px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;
      
      img {
        width: 100%;
      }
    }
    
    .list_data {
      padding: 11px;
      //display: flex;
      //flex-direction: column;
      //position: relative;
      //flex: 1;
    }
    
    app-article-tags {
      //display: block;
      //margin-bottom: v_md(1200, 12);
      display: none;
    }
    
    .title {
      //font-family: 'SourceSansProSemiBold';
      font-size: 17px;
      line-height: 19px;
      letter-spacing: 0.26px;
      margin-bottom: 10px;
      //color: #303233;
      
      &:hover {
        //color: #3A70CF;
      }
    }
    
    .date {
      //margin: auto 0 0 0;
      //font-family: 'SourceSansPro';
      //font-size: 14px;
      //letter-spacing: 0.21px;
      //color: #AEB5BB;
      margin-top: auto;
      padding-left: 50px;
      height: 50px;
      display: flex;
      align-items: center;
    }
    
    .icons {
      //position: absolute;
      right: 11px;
      bottom: 20px;
      //display: flex;
      //align-items: center;
      //z-index: 1;
      
      .icons_item {
        //margin-left: 10px;
        //cursor: pointer;
        //padding: 3px;
        
        img {
          //width: 20px;
          //height: 20px;
        }
        
        svg {
          //fill: #A3ACB3;
        }
        
        .svg-truth {
          //width: 17px;
          //height: 20px;
        }
        
        .svg-lying {
          //width: 16px;
          //height: 16px;
        }
        
        
      }
    }
  }
}


