<div class="box">
  <div class="top">
    <div class="head">{{title}}</div>
    <app-add-article-btn [rLink]="['/create/material']" [skipLoc]="false"></app-add-article-btn>
  </div>
  <div class="list" [perfectScrollbar]="{wheelPropagation:false, suppressScrollX: true}">
    <app-news-html-template *ngIf="!checkInit" [length]="4"></app-news-html-template>
    <div class="wrap" *ngIf="articles.length && checkInit">
      <a href="" [routerLink]="['/material', article.slug]" class="article __{{article.is_positive === null ? '3' : article.is_positive? '2' : '1'}}" [class.__photo]="article.hasOwnProperty('cover')" *ngFor="let article of articles">
        <div class="img" *ngIf="article.hasOwnProperty('cover')">
          <img [src]="article.cover" alt="">
        </div>
        <div class="data">
          <div class="title">{{article.title}}</div>
          <!--        <div class="data_speaker">-->
          <!--          <svg class="svg-speaker">-->
          <!--            <use [attr.xlink:href]="#speaker" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
          <!--          </svg>-->
          <!--          <span>3:24</span>-->
          <!--        </div>-->
          <div class="data_date">{{dateService.convertWithTime(article.pub_time)}}</div>
        </div>
      </a>
    </div>
    <app-empy-list-string *ngIf="!articles.length && checkInit" [text]="'errors.empy-widget-list' | translate"></app-empy-list-string>

  </div>
</div>
