@import "../../../../../assets/scss/variables";

.box {
  background: #FFFFFF;
  border-radius: 3px;
  padding: 10px 0 v_l(1200, -4) 10px;
  overflow: hidden;
}

.wrap {
  position: relative;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: v_s(1200, 0);
  padding-right: 6px;
  padding-left: 10px;
  .head {
    font-family: 'SourceSansProSemiBold';
    font-size: 17px;
    text-transform: uppercase;
    color: #AEB5BB;
    display: flex;
    align-items: center;
    padding-right: 10px;
  }
}

app-empy-list-string {
  padding-left: 10px;
}
.list {
  position: relative;
  padding-right: 15px;
  max-height: 320px;
  min-height: auto;
}
.article {
  display: flex;
  position: relative;
  padding-left: 10px;
  margin-bottom: v_md(1200, 6);
  //min-height: 55px;
  
  .img {
    //position: absolute;
    z-index: 2;
    //left: 10px;
    //top: 0;
    min-width: 55px;
    max-width: 55px;
    overflow: hidden;
    border-radius: 3px;
    margin-right: 10px;
  }
  
  &.__photo {
    //padding-left: 76px;
  
    &:before {
      display: block;
      left: 8px;
    }
  }
  
  &:last-of-type {
    margin-bottom: 0;
  }
  
  &:hover {
    .title {
      color : #2053AB;
    }
  }
  &:before {
    display: block;
    content: '';
    width: 4px;
    height: 4px;
    position: absolute;
    left: 0;
    top: 8px;
    border-radius: 50%;
    z-index: 3;
  }
  
  &.__1 {
    &:before {
      background-color: #F22A29;
    }
  }
  &.__2 {
    &:before {
      background-color: #FFC800;
    }
  }
  &.__3 {
    &:before {
      background-color: #A3ACB3;
    }
  }
  
  .title {
    font-family : 'SourceSansPro';
    font-size : 15px;
    line-height : 20px;
    letter-spacing : 0.22px;
    color : #303233;
    margin-bottom: 3px;
    word-break: break-word;
  }
  
  .data {
    //display: flex;
    //align-items: center;
  }
  
  .data_speaker {
    display: flex;
    align-items: center;
    margin-right: 18px;
    svg {
      width: 6.3px;
      height: 11px;
      fill: #A3ACB3;
      margin-right: 4px;
    }
    span {
      font-family : 'SourceSansPro';
      font-size : 13px;
      letter-spacing : 0.2px;
      color : #767D82;
    }
  }
  
  .data_date {
    font-family : 'SourceSansPro';
    font-size : 14px;
    color : #AEB5BB;
  }
}


@media all and (max-width: 599px) {
  .list {
    //position: relative;
    //padding-right: 15px;
    max-height: none;
    min-height: auto;
    overflow: visible!important;
    height: auto!important;
  }
  
  //.article {
  //}
}
