<div class="party_descr">
  <ng-container *ngIf="isPlatform" >
    <canvas #canvasEl></canvas>
  </ng-container>
  <div class="list" *ngIf="parties.length">
    <div class="item" *ngFor="let party of parties" (click)="showModal(party)">
      <div class="item_img">
        <img [src]="party.logo" alt="">
        <span class="party_title" *ngIf="!party.logo">{{party.short}}</span>
      </div>
      <div class="item_count">{{party.count}}</div>
    </div>
  </div>
  <div class="result" [hidden]="!parties.length" #resultEl>
    <div class="result_count">{{total}}</div>
    <div class="result_img">
      <img [src]="mainParty.logo" alt="">
      <span class="party_title" *ngIf="!mainParty.logo">{{mainParty.title}}</span>
    </div>
  </div>
</div>
<app-empy-list-string *ngIf="!parties.length" [text]="'errors.empy-widget-list' | translate"></app-empy-list-string>
