:host {
  display: block;
  margin-bottom: 20px;
}
.party_descr {
  align-items: center;
  //display: none;
  position: relative;
  display: flex;
  canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 100px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  cursor: pointer;
  padding-right: 32px;
  &:last-of-type {
    margin-bottom: 0;
  }
  
  &:hover {
    .item_count {
      color: #3A70CF;
    }
  }
  
  .item_img {
    max-width: 60px;
    min-width: 60px;
    max-height: 40px;
    min-height: 1px;
    width: 100%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      max-width: 60px;
      max-height: 40px;
    }
  }
  
  .item_count {
    font-family: 'SourceSansProSemiBold';
    font-size: 20px;
    letter-spacing: 0.3px;
    color: #303233;
    min-width: 40px;
    max-width: 40px;
    text-align: right;
  }
}

.result {
  padding-left: 23px;
  display: flex;
  align-items: center;
  cursor: pointer;
  .result_count {
    font-family : 'SourceSansProSemiBold';
    font-size : 20px;
    letter-spacing : 0.3px;
    color : #303233;
    margin-right: 30px;
  }
  
  .result_img {
    width: 80px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      max-width: 80px;
      max-height: 70px;
      width: auto;
      height: auto;
    }
  }
}


@media all and (max-width: 599px) {
  
  .party_descr {
    //align-items: center;
    //display: none;
    //position: relative;
    canvas {
      //position: absolute;
      //left: 0;
      //top: 0;
      //width: 100%;
      //height: 100%;
      //pointer-events: none;
    }
  }
  
  .list {
    //display: flex;
    //justify-content: flex-start;
    //align-items: flex-start;
    //flex-direction: column;
    margin-right: 90px;
  }
  
  .item {
    //display: flex;
    //align-items: center;
    //margin-bottom: 22px;
    //cursor: pointer;
    padding-right:22px;
    &:last-of-type {
      //margin-bottom: 0;
    }
    
    &:hover {
      .item_count {
        //color: #3A70CF;
      }
    }
    
    .item_img {
      min-width: 60px;
      max-width: 60px;
      //width: 100%;
      margin-right: 0;
      //display: flex;
      //align-items: center;
      //justify-content: center;
    }
    
    .item_count {
      //font-family: 'SourceSansProSemiBold';
      //font-size: 20px;
      //letter-spacing: 0.3px;
      //color: #303233;
      min-width: 36px;
      max-width: 36px;
      //text-align: right;
    }
  }
  
  .result {
    position: relative;
    //padding-top: 29px;
    margin-bottom: 35px;
    flex-direction: column;
    padding-left: 0;
    //display: flex;
    text-align: center;
    //align-items: center;
    //cursor: pointer;
    .result_count {
      width: 80px;
      //font-family : 'SourceSansProSemiBold';
      //font-size : 20px;
      //letter-spacing : 0.3px;
      //color : #303233;
      margin-right: 0;
      margin-bottom: 6px;
      padding: 10px 0;
    }
    .result_img {
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      //width: auto;
      height: auto;
    }
  }
  
}
