.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.top {
  position: relative;
  margin-bottom: 6px;
  width: 100%;
  overflow: hidden;
  
  &:hover {
    .img {
      .img_tint {
        opacity: 1;
      }
    }
  }
  label {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
  }
  input {
    display: none;
  }
}

.cover {
  background-color: #E6E8EB;
  overflow: hidden;
  border-radius: 3px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  
  
  &:hover {
    .tooltip {
      svg {
        fill: #303233
      }
      .text {
        color: #303233;
      }
    }
    
  }
  
}

.tooltip {
  display: flex;
  align-items: center;
  
  svg {
    width: 30px;
    height: 24px;
    fill: #A3ACB3;
  }
  
  .text {
    font-family: 'SourceSansPro';
    font-size: 16px;
    line-height: 18px;
    color: #7C858C;
  }
}

.img {
  position: relative;
  line-height: 0;
  border-radius: 50%;
  overflow: hidden;
  height: 140px;
  width: 140px;
  
  .img_tint {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background-color: rgba(28, 29, 31, .7);
    opacity: 0;
    transition: opacity .15s ease-in-out;
  }
  
  .tooltip {
    svg {
      fill: #fff;
    }
    
    .text {
      color: #fff;
    }
  }
  
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}


.error {
  position: absolute;
  right: 0;
  bottom: -10px;
  transform: translateY(50%);
  font-family : 'SourceSansPro';
  font-size : 14px;
  letter-spacing : 0.35px;
  color : #FF0000;
  z-index: 100;
  background-color: #F7F7F7;
  padding: 3px 10px;
}

