.box {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  font-family: 'SourceSansPro';
  font-size: 16px;
  color: #767D82;
  margin-right: 5px;
  padding: 5px;
  display: none;
  
  &:nth-of-type(1),
  &:nth-of-type(2),
  &:nth-of-type(3) {
    display: block;
  }
  
  &:first-of-type {
    padding-left: 0;
  }
  
  &:last-of-type {
    margin-right: 0;
  }
  
  //&:hover {
  //  color: #3A70CF;
  //}
}
