<div class="list" *ngIf="missings">
  <div class="item" [matTooltip]="'tooltips.party.votes' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
    <svg class="svg-doc">
      <use [attr.xlink:href]="'#doc'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span>{{missings.votes}}</span>
  </div>
  <div class="item" [matTooltip]="'tooltips.party.for' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
    <svg class="svg-building svg-building-1">
      <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span>{{(missings.for * 100 / missings.votes).toFixed(1)}}%</span>
  </div>
  <div class="item" [matTooltip]="'tooltips.party.against' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
    <svg class="svg-building svg-building-2">
      <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span>{{(missings.against * 100 / missings.votes).toFixed(1)}}%</span>
  </div>
  <div class="item" [matTooltip]="'tooltips.party.abstained' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
    <svg class="svg-building svg-building-3">
      <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span>{{(missings.abstained * 100 / missings.votes).toFixed(1)}}%</span>
  </div>
  <div class="item __cross" [matTooltip]="'tooltips.party.not-vote' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
    <svg class="svg-building svg-building-3">
      <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span>{{(missings.not_vote * 100 / missings.votes).toFixed(1)}}%</span>
  </div>
  <div class="item __cross1" [matTooltip]="'tooltips.party.absent' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
    <svg class="svg-user">
      <use [attr.xlink:href]="'#user'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span>{{(missings.absent * 100 / missings.votes).toFixed(1)}}%</span>
  </div>
</div>


