<div class="box"  appClickOutside (clickOutside)="close()">
  <button type="button" class="btnOpen_wrap" (click)="open()" [hidden]="isOpen">
    <div class="btnOpen">
      <div class="btnOpen_common"></div>
    </div>
  </button>
  <div class="btns">
    <button type="button"
            class="btnOpen_wrap"
            (click)="close(true)"
            [hidden]="!isOpen"
            [matTooltip]="'tooltips.global-icn.delete' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
      <svg class="svg-basket">
        <use [attr.xlink:href]="'#basket'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </button>
  </div>
</div>


