:host {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 3;
  opacity: 0;
  //transition: opacity .25s ease-in-out;
}

.box {
  position: relative;
}

.btnOpen_wrap {
  padding: 10px;
  cursor: pointer;
  
  &:hover {
    .btnOpen {
      &:before, &:after, .btnOpen_common {
        background-color: #303233;
      }
    }
    
    svg {
      fill: #7C858C!important;
    }
  }
}
.btns {
  display: flex;
  align-items: center;
  
  
 
  .svg-basket {
    fill: #A3ACB3!important;
    width: 15px;
    height: 15px;
  }
}
.btnOpen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none!important;
  user-select: none;
  &:before, &:after {
    display: block;
    content: '';
  }
  
  &:before, &:after, .btnOpen_common {
    width: 3px;
    height: 3px;
    background-color: #A3ACB3;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .btnOpen_common {
    margin: 3px 0;
  }
}


