<div class="page">
  <div class="container">
    <div class="top" [class.__search]="searchValue" #topEl>
      <h1>{{'laws-list-page.head' | translate}}</h1>
      <div class="search_value" *ngIf="searchValue && !isStatisticWidget">
        <span>{{searchValue}}</span>
        <svg class="svg-cross" (click)="clearSearch()">
          <use [attr.xlink:href]="'#cross'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
      <button type="button" *ngIf="!isStatisticWidget" class="searchBtn" (click)="switchFilters()" [class.__active]="filtersToggle" [matTooltip]="'tooltips.global-icn.search' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
        <svg class="svg-magnif" *ngIf="!filtersToggle">
          <use [attr.xlink:href]="'#magnif'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <app-btn-close *ngIf="filtersToggle"></app-btn-close>
      </button>
      <button class="allFiltersBtn" *ngIf="!isStatisticWidget" type="button" [class.__active]="showFilters" (click)="showFilters = !showFilters; filtersToggle = false;">
        <svg class="svg-dropdown-btn">
          <use [attr.xlink:href]="'#dropdown-btn'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </button>
    </div>
    <div class="filters" *ngIf="!isStatisticWidget" [class.__hidden]="!showFilters">
      <div class="filters_search" [hidden]="!filtersToggle">
        <input type="text" (keyup.enter)="searchHandler()" [placeholder]="'materials-list-page.search-placeholder' | translate" [(ngModel)]="filterParams.search" #searchEl/>
        <div class="searchButton" (click)="searchHandler()">
          <svg class="svg-arrow">
            <use [attr.xlink:href]="'#arrow'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
      <div class="filters_select" [hidden]="filtersToggle">
        <app-select-search [direction]="'left'" [url]="'/workplaces/dict-law'" [placeholder]="'add-material-page.where-workplace-placeholder' | translate" [icon]="'portfolio'" [setDefault]="true" [allBtn]="false" [listKey]="'title'" [key]="'short'" (valueChange)="changeWorkplace($event)"></app-select-search>
        <!--        2 section-->
        <app-select-search [direction]="'right'" *ngIf="isRegion" [url]="'/regions/dict'" [placeholder]="'add-material-page.region-placeholder' | translate" [key]="'title'" [listKey]="'title'" [icon]="'place'" (valueChange)="changeRegion($event)"></app-select-search>
        <app-select-with-groups [direction]="'right'" *ngIf="isCity" (change)="changeCity($event)" [placeholder]="'add-material-page.city-placeholder' | translate" [url]="'/cities/dict'"></app-select-with-groups>
        <app-select-with-groups [direction]="'right'" *ngIf="isDistrict" (change)="changeDistrict($event)" [placeholder]="'add-material-page.district-placeholder' | translate" [url]="'/districts/dict'"></app-select-with-groups>
        <app-select-search [direction]="'right'" [class.__disabled]="(isRegion && !filterParams.region_id) || (isCity && !filterParams.city_id) || (isDistrict && !filterParams.district_id)" *ngIf="isExt" [url]="'/workplace-exts/dict?' +
          ('workplace_id=' + filterParams.workplace_id) +
          (filterParams.region_id ? '&region_id=' + filterParams.region_id : '') +
          (filterParams.city_id ? '&city_id=' + filterParams.city_id : '') +
          (filterParams.district_id ? '&district_id=' + filterParams.district_id : '')" [placeholder]="'add-material-page.convocation-placeholder' | translate" [reset]="{workplace_id: filterParams.workplace_id, region_id: filterParams.region_id}" [icon]="'array'" [listKey]="'title'" [key]="'title'" [setDefault]="isExt" [allBtn]="false" (valueChange)="changeExt($event)"></app-select-search>
      </div>

    </div>
    <div class="nav" [perfectScrollbar]="{wheelPropagation:false}">
      <div class="nav_item" (click)="isStatisticWidget = false;" [class.__active]="!isStatisticWidget">{{'laws-list-page.nav-list-btn' | translate}}</div>
      <div class="nav_item" (click)="isStatisticWidget = true;" [class.__active]="isStatisticWidget">{{'laws-list-page.nav-widget-btn' | translate}}</div>
    </div>
    <div class="list" *ngIf="!isStatisticWidget">
      <a href="" class="list_item" [routerLink]="['/law', law.slug]" *ngFor="let law of articles | paginate: { itemsPerPage: filterParams.itemsPerPage, currentPage: filterParams.page, totalItems: filterParams.total}; let i = index">
        <div class="cell">
          <span *ngIf="law.adoption_date">{{dateService.convert(law.adoption_date)}}</span>
          <span *ngIf="!law.adoption_date">-</span>
        </div>
        <div class="cell">{{law.number}}</div>
        <div class="cell"
             [matTooltip]="('tooltips.law-list.' + ( law.is_improve === true  ? 'true' : law.is_improve === false ? 'false' : 'null')) | translate"
             matTooltipPosition="above"
             matTooltipClass="add-material-tooltip">
          <!--          <img [src]="'/assets/img/smiles/smile-' + (law.is_improve ? '1.png' : law.is_improve === false ? '4.png' : '5.png')" alt="">-->
          <img class="smile-improve" [src]="'/assets/img/smiles/x3_improve.png'" *ngIf="law.is_improve" alt="">
          <img class="smile-worse" [src]="'/assets/img/smiles/x3_worse.png'" *ngIf="law.is_improve === false" alt="">
          <img class="smile-necessary" [src]="'/assets/img/smiles/x3_necessary.png'" *ngIf="law.is_improve === null" alt="">
        </div>
        <div class="cell">{{law.title}}</div>
      </a>
      <app-empy-list-string *ngIf="!articles.length" [text]="'errors.empy-widget-list-2' | translate"></app-empy-list-string>
    </div>
    <div class="pagination_wrap" *ngIf="filterParams.lastPage > 1 && !isStatisticWidget">
      <div class="pagination_btn" [class.__disabled]="filterParams.page < 2" (click)="changePageArrowHandler(-1)">
        <svg class="svg-arrow">
          <use [attr.xlink:href]="'#arrow'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
      <div class="currentPage">{{filterParams.page}}</div>
      <pagination-controls (pageChange)="changePageHandler($event)" directionLinks="false" autoHide="true"></pagination-controls>
      <div class="pagination_btn __rotate" [class.__disabled]="filterParams.page === filterParams.lastPage" (click)="changePageArrowHandler(1)">
        <svg class="svg-arrow">
          <use [attr.xlink:href]="'#arrow'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
    </div>
    <app-law-opition-widget [hidden]="!isStatisticWidget" [changeAdoption]="opitionWidget"></app-law-opition-widget>
    <app-ratio-voting-widget [hidden]="!isStatisticWidget" [changeСompartion]="ratioWidget"></app-ratio-voting-widget>
    <app-right-widget [opitionWidget]="opitionWidget" [ratioWidget]="ratioWidget"></app-right-widget>
  </div>
</div>
