<div class="wrap" [class.__active]="isOpen">
  <div class="tint" (click)="isOpen = false; close.emit(isOpen)"></div>
  <div class="box">
    <div class="modal_label">
<!--      <div class="img">-->
<!--        <img [src]="logo" alt="">-->
<!--      </div>-->
      <span>{{title}}</span>
    </div>
    <app-btn-close (click)="isOpen = false; close.emit(isOpen)"></app-btn-close>
    <div class="content" [perfectScrollbar]="{wheelPropagation:false}">
      <div class="member" *ngFor="let member of members">
        <div class="member_photo">
          <img [src]="member.avatar" alt="">
        </div>
        <div class="member_name">
          <span>{{member.sirname}} {{member.name}}</span>
        </div>
        <div class="member_status">{{member.type}}</div>
        <div class="member_year">{{member.from}}</div>
      </div>

    </div>
  </div>
</div>

