@import "../../../../../assets/scss/variables";
.wrap {
  position: fixed;
  z-index: 10000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
  
  &.__active {
    opacity: 1;
    visibility: visible;
    .tint, .box {
      //opacity: 1;
      //visibility: visible;
    }
  }
  
  
  .tint {
    background: rgba(247, 247, 247, 0.7);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    //opacity: 0;
    //visibility: hidden;
    //transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
  }
  
  .close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 55px;
    height: 55px;
    
    
    &:hover {
      &:before, &:after {
        background-color: #1C1D1F;
      }
    }
    
    &:before, &:after {
      display: block;
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 22px;
      height: 2px;
      background-color: #A3ACB3;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    
  }
  
  .box {
    position: relative;
    background: #FFFFFF;
    border-radius: 3px;
    overflow: hidden;
    padding: 20px 0 20px 30px;
    //position: fixed;
    //left: 50%;
    //top: 50%;
    //transform: translate(-50%, -50%);
    max-width: 590px;
    width: 100%;
    z-index: 1001;
    max-height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    //opacity: 0;
    //visibility: hidden;
    //transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    
    box-shadow : 0px 4px 6px rgba(29, 54, 73, 0.1);
    & > *:last-child {
      margin-bottom: 0;
    }
  }
  
  .content {
    position: relative;
    padding-right: 30px;
  }
  
  .modal_label {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: flex-start;
    
    .img {
      //max-width: 50px;
      //max-height: 30px;
      margin-right: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      //width: 100%;
      //height: 100%;
      
      img {
        width: auto;
        height: auto;
        margin-bottom: 0;
        max-width: 100%;
        max-height: 35px;
      }
    }
    
    span {
      font-family : 'SourceSansProSemiBold';
      font-size : 20px;
      color : #303233;
    }
  }
  
  .member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
    .member_photo {
      min-width: 49px;
      max-width: 49px;
      height: 49px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 13px;
    }
    .member_name {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 20px;
      span {
        font-family : 'SourceSansProSemiBold';
        font-size : 17px;
        letter-spacing : 0.26px;
        color : #303233;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .member_status {
      min-width: 150px;
      max-width: 150px;
      font-family : 'SourceSansPro';
      font-size : 15px;
      letter-spacing : 0.22px;
      color : #AEB5BB;
    }
    .member_year {
      font-family : 'SourceSansPro';
      font-size : 15px;
      letter-spacing : 0.22px;
      color : #AEB5BB;
    }
    
  }

}


@media all and (max-width: 599px) {
  .wrap {
    //position: fixed;
    //z-index: 10000;
    //left: 0;
    //right: 0;
    //top: 0;
    //bottom: 0;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //opacity: 0;
    //visibility: hidden;
    //transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    padding: 0 5px;
    
    &.__active {
      //opacity: 1;
      //visibility: visible;
      .tint, .box {
        //opacity: 1;
        //visibility: visible;
      }
    }
    
    
    .tint {
      //background: rgba(247, 247, 247, 0.7);
      //position: fixed;
      //left: 0;
      //right: 0;
      //top: 0;
      //bottom: 0;
      //z-index: 1000;
      //opacity: 0;
      //visibility: hidden;
      //transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    }
    
    .close {
      //position: absolute;
      //right: 0;
      //top: 0;
      //cursor: pointer;
      //width: 55px;
      //height: 55px;
      
      
      &:hover {
        &:before, &:after {
          //background-color: #1C1D1F;
        }
      }
      
      &:before, &:after {
        //display: block;
        //content: '';
        //position: absolute;
        //left: 50%;
        //top: 50%;
        //width: 22px;
        //height: 2px;
        //background-color: #A3ACB3;
      }
      &:before {
        //transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after {
        //transform: translate(-50%, -50%) rotate(-45deg);
      }
      
    }
    
    .box {
      //position: relative;
      //background: #FFFFFF;
      //border-radius: 3px;
      //overflow: hidden;
      //padding: 20px 0 20px 30px;
      ////position: fixed;
      ////left: 50%;
      ////top: 50%;
      ////transform: translate(-50%, -50%);
      //max-width: 590px;
      //width: 100%;
      //z-index: 1001;
      max-height: 80%;
      //overflow: hidden;
      //display: flex;
      //flex-direction: column;
      ////opacity: 0;
      ////visibility: hidden;
      ////transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
      //
      //box-shadow : 0px 4px 6px rgba(29, 54, 73, 0.1);
      & > *:last-child {
        //margin-bottom: 0;
      }
    }
    
    .content {
      //position: relative;
      //padding-right: 30px;
    }
    
    .modal_label {
      //display: flex;
      //align-items: center;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 15px;
      min-height: 30px;
      max-height: 30px;
      
      .img {
        //max-width: 50px;
        //max-height: 30px;
        //margin-right: 12px;
        //display: flex;
        //align-items: center;
        //justify-content: center;
        //width: 100%;
        //height: 100%;
        margin-bottom: 10px;
        
        img {
          //width: auto;
          //height: auto;
          //margin-bottom: 0;
          //max-width: 100%;
          //max-height: 100%;
        }
      }
      
      span {
        //font-family : 'SourceSansProSemiBold';
        font-size : 17px;
        //color : #303233;
      }
    }
    
    .member {
      //display: flex;
      //align-items: center;
      //margin-bottom: 20px;
      position: relative;
      padding-left: 50px;
      height: 40px;
      flex-wrap: wrap;
      &:last-of-type {
        //margin-bottom: 0;
      }
      .member_photo {
        min-width: 40px;
        max-width: 40px;
        position: absolute;
        left: 0;
        top: 0;
        height: 40px;
        //display: flex;
        //justify-content: center;
        //align-items: center;
        //overflow: hidden;
        //border-radius: 50%;
        margin-right: 0;
      }
      .member_name {
        width: 100%;
        flex: 1 0 auto;
        //overflow: hidden;
        //text-overflow: ellipsis;
        padding-right: 0;
        margin-bottom: 3px;
        span {
          //font-family : 'SourceSansProSemiBold';
          font-size : 16px;
          letter-spacing : 0.24px;
          //color : #303233;
          //overflow: hidden;
          //text-overflow: ellipsis;
          //white-space: nowrap;
        }
      }
      .member_status {
        min-width: auto;
        max-width: none;
        //font-family : 'SourceSansPro';
        //font-size : 15px;
        //letter-spacing : 0.22px;
        //color : #AEB5BB;
        margin-right: 18px;
      }
      .member_year {
        //font-family : 'SourceSansPro';
        //font-size : 15px;
        //letter-spacing : 0.22px;
        //color : #AEB5BB;
      }
      
    }
    
  }
}

