@import "~src/assets/scss/_variables";

.box {
  display: flex;
  align-items: center;
  
  &:hover {
    .name {
      color: #3A70CF;
    }
  }
}

.photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  
  img {
    width: 100%;
  }
}

.data {
  display: flex;
  flex-direction: column;
  
  //.sirname {
  //  font-family : 'SourceSansProSemiBold';
  //  font-size : 20px;
  //  color : #303233;
  //}
  
  .name {
    font-family : 'SourceSansProSemiBold';
      font-size : 20px;
    color : #303233;
    margin-bottom: 4px;
  }
  
  .pos_year {
    font-family : 'SourceSansPro';
    font-size : 16px;
    color : #A3ACB3;
  }
  
}

@media all and (max-width: 599px) {
  .box {
    //display: flex;
    align-items: flex-start;
  }
  
  .photo {
    width: 60px;
    flex: 1 0 auto;
    height: 60px;
    //border-radius: 50%;
    //overflow: hidden;
    margin-right: 10px;
    
    img {
      //width: 100%;
    }
  }
}


