<a href="" [routerLink]="['/person', person.slug]" class="box">
  <div class="photo" *ngIf="person.avatar">
    <img [src]="person.avatar" alt="">
  </div>
  <div class="data">
<!--    <span class="sirname">{{person.sirname}}</span>-->
    <span class="name">{{person.sirname}} {{person.name}}</span>
    <span class="pos_year" *ngIf="workplace">{{workplace.short}}</span>
  </div>
</a>
