@import "../../../../../../assets/scss/variables";

:host {
  display: block;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.audio {
  position: relative;
  margin-bottom: v_xs(1200, 5);
  width: 100%;
  audio {
    width: 100%;
    outline: none;
  }
}


.descr {
  font-family : 'SourceSansPro';
  font-size : 16px;
  color : #A3ACB3;
  margin-right: 10px;
}
