@import "../../../../../assets/scss/variables";
.wrap {
  position: fixed;
  z-index: 10000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
  
  &.__active {
    opacity: 1;
    visibility: visible;
    .tint, .box {
      //opacity: 1;
      //visibility: visible;
    }
  }
}
.ytb {
  width: 100%;
  ::ng-deep {
    iframe {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }
}
.tint {
  background: rgba(247, 247, 247, 0.7);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  //opacity: 0;
  //visibility: hidden;
  //transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 55px;
  height: 55px;
  
  
  &:hover {
    &:before, &:after {
      background-color: #1C1D1F;
    }
  }
  
  &:before, &:after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 22px;
    height: 2px;
    background-color: #A3ACB3;
  }
  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
}

.box {
  position: relative;
  background: #FFFFFF;
  border-radius: 3px;
  overflow: hidden;
  padding: 20px 0 20px 30px;
  //position: fixed;
  //left: 50%;
  //top: 50%;
  //transform: translate(-50%, -50%);
  max-width: 590px;
  width: 100%;
  z-index: 1001;
  max-height: 95%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  //opacity: 0;
  //visibility: hidden;
  //transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
  
  box-shadow : 0px 4px 6px rgba(29, 54, 73, 0.1);
  & > *:last-child {
    margin-bottom: 0;
  }
}

.content {
  position: relative;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal_label {
  display: flex;
  align-items: center;
  margin-bottom: v_l(1200, 6);
  svg {
  
    fill: #303233;
    margin-right: 12px;
  }
  .svg-info {
    width: 8.3px;
    height: 20px;
  }
  
  .svg-play {
    width: 20px;
    height: 20px;
  }
  
  span {
    font-family : 'SourceSansProSemiBold';
    font-size : 20px;
    color : #303233;
  }
}

.link {
  font-family : 'SourceSansPro';
  font-size : 17px;
  color : #3A70CF;
  margin-top: 16px;
  align-self: flex-end;
}

.title {
  font-family : 'SourceSansProSemiBold';
  font-size : 20px;
  color : #AEB5BB;
  margin-bottom: v_s(1200, 2);
}

h2 {
  font-family : 'SourceSansProSemiBold';
  font-size : 20px;
  color : #AEB5BB;
  margin-bottom: 12px;
}

p {
  font-family : 'SourceSansPro';
  font-size : 17px;
  line-height : 26px;
  color : #424B4F;
  margin-bottom: v_s(1200, 2);
  
  strong {
    font-family : 'SourceSansProBold';
  }
}

img {
  display: block;
  width: 100%;
  margin-bottom: v_s(1200, 2);
}

