<div class="wrap" [class.__active]="isOpen">
  <div class="tint" (click)="close()"></div>
  <div class="box">
    <div class="modal_label">
      <svg *ngIf="icon" #iconEl>
        <use [attr.xlink:href]="'#' + icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
      <span>{{('info-modal.titles.' + title) | translate}}</span>
    </div>
    <app-btn-close (click)="close()"></app-btn-close>
    <div class="content" [perfectScrollbar]="{wheelPropagation:false}">
      <h2>{{sub_title}}</h2>
      <ng-container *ngFor="let block of blocks">
        <div class="ytb" *ngIf="block.type === 8" [innerHTML]="block.data | safeHtml"></div>
        <p *ngIf="block.type === 2" [innerHTML]="block.data"></p>
        <img [src]="block.data" *ngIf="block.type === 3"/>
      </ng-container>
      <a [href]="link" class="link" target="_blank" *ngIf="link">{{'info-modal.all-video-btn' | translate}}</a>
    </div>
  </div>
</div>

