@import "../../../../../../assets/scss/variables";

:host {
  //position: absolute;
  //right: 0;
  //top: 0;
  //bottom: 0;
  //display: block;
  //width: 320px;
  //z-index: 10;
}

.box {
  //position: relative;
  width: 320px;
}
.widget {
  width: 320px;
}
app-right-widget-toolbar, app-online-voting {
  display: block;
  margin-bottom: v_md(1200, 0);
  width: 320px;
}

app-online-voting {
  margin-bottom: 0;
}

@media all and (max-width: 959px) {
  :host {
    display: none;
  }
}


