textarea {
  resize: none;
  background-color: transparent;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  padding: 6px 10px;
  height: 48px!important;
  font-family : 'SourceSansProSemiBold';
  font-size : 25px;
  line-height : 32.5px;
  color : #303233;
  &:focus {
    background-color: #fff;
  }
}
