@import "../../../../../assets/scss/mixins";

.box {
  width: 223px;
  position: relative;
  z-index: 100;
  cursor: pointer;
  
  &:focus-within {
  
  }
  
  .top, .dropdown_select-top {
    position: relative;
  }
  
  .top {
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 18px 0 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
    
    .placeholder {
      font-family: 'SourceSansPro';
      font-size: 18px;
      color: #AEB5BB;
    }
    
    &:hover {
      box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
    }
    
    .value {
      font-family: 'SourceSansPro';
      font-size: 18px;
      color: #5D6569;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      //width: 100%;
      position: absolute;
      left: 18px;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  
  input {
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    height: 35px;
    overflow: hidden;
    font-family: 'SourceSansPro';
    font-size: 18px;
    color: #5D6569;
    padding: 0 42px 0 18px;
    cursor: pointer;
    
    @include placeholder {
      font-family: 'SourceSansPro';
      font-size: 18px;
      color: #AEB5BB;
    }
    box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
    
    &:hover, &:focus {
      box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
    }
    
    //&:focus {
    //  & + svg {
    //    fill: #303233;
    //  }
    //}
  }
  
  .svg-place {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    fill: #DBE0E2;
    width: 14.2px;
    height: 17px;
    pointer-events: none;
    
    &.__active {
      //fill: #303233;
    }
    
  }
  
  .dropdown_select {
    position: relative;
  }
  
  .dropdown_list-wrap {
    position: absolute;
    top: 100%;
    //left: 0;
    //right: 0;
    width: auto;
    min-width: 100%;
    box-shadow: 0px 4px 6px rgba(29, 54, 73, 0.1);
    background: #FFFFFF;
    border-radius: 3px;
    margin-top: 3px;
  
    &.__right {
      right: 0;
    }
    &.__left {
      left: 0;
    }
  }
  
  .dropdown_list {
    position: relative;
    max-height: 285px;
    
    //::ng-deep {
    //
    //}
  }
  
  .dropdown_list-item {
    min-height: 35px;
    padding: 6px 30px 6px 13px;
    span {
      font-family: 'SourceSansPro';
      font-size: 16px;
      //line-height: 23px;
      color: #767D80;
      //white-space: nowrap;
      word-break: break-word;
    }
  }
  
  .dropdown_list-group_label, .dropdown_list-item {
    display: flex;
    align-items: center;
    
    height: 35px;
    padding: 0 30px 0 13px;
    position: relative;
    cursor: pointer;
    
    &:hover {
      background-color: #F7F7F7;
      
      span {
        color: #303233
      }
      
      .svg-array {
        fill: #303233;
      }
    }
    
    span {
      font-family: 'SourceSansPro';
      font-size: 16px;
      //line-height: 23px;
      color: #767D80;
      white-space: nowrap;
      //word-break: break-word;
    }
  }
  
  .svg-array {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 10.1px;
    height: 5px;
    fill: #9CA8AE;
    z-index: 1;
    transform: rotate(180deg);
    transition: transform .1s ease-in-out;
    pointer-events: none;
    
    &.__rotate {
      transform: rotate(0);
    }
  }
}

@media all and (max-width: 959px) {
  //@import "../../../../../assets/scss/mixins";
  
  .box {
    //width: 223px;
    //position: relative;
    //z-index: 100;
    //cursor: pointer;
    
    &:focus-within {
    
    }
    
    .top, .dropdown_select-top {
      //position: relative;
    }
    
    .top {
      //width: 100%;
      //background: #FFFFFF;
      //border-radius: 4px;
      //height: 35px;
      //display: flex;
      //align-items: center;
      //padding: 0 18px 0 18px;
      //white-space: nowrap;
      //text-overflow: ellipsis;
      //overflow: hidden;
      //position: relative;
      //box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
      
      .placeholder {
        //font-family: 'SourceSansPro';
        //font-size: 18px;
        //color: #AEB5BB;
      }
      
      &:hover {
        //box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
      }
      
      .value {
        //font-family: 'SourceSansPro';
        //font-size: 18px;
        //color: #5D6569;
        //white-space: nowrap;
        //text-overflow: ellipsis;
        //overflow: hidden;
        ////width: 100%;
        //position: absolute;
        //left: 18px;
        //right: 40px;
        //top: 50%;
        //transform: translateY(-50%);
      }
    }
    
    input {
      //width: 100%;
      //background: #FFFFFF;
      //border-radius: 4px;
      //height: 35px;
      //overflow: hidden;
      //font-family: 'SourceSansPro';
      //font-size: 18px;
      //color: #5D6569;
      //padding: 0 42px 0 18px;
      //cursor: pointer;
      
      //@include placeholder {
      //  //font-family: 'SourceSansPro';
      //  //font-size: 18px;
      //  //color: #AEB5BB;
      //}
      //box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
      
      &:hover, &:focus {
        //box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
      }
      
      //&:focus {
      //  & + svg {
      //    fill: #303233;
      //  }
      //}
    }
    
    .svg-place {
      //position: absolute;
      //right: 15px;
      //top: 50%;
      //transform: translateY(-50%);
      //fill: #DBE0E2;
      //width: 14.2px;
      //height: 17px;
      //pointer-events: none;
      
      &.__active {
        //fill: #303233;
      }
      
    }
    
    .dropdown_select {
      //position: relative;
    }
    
    .dropdown_list-wrap {
      //position: absolute;
      //top: 100%;
      //left: 0;
      //right: 0;
      //width: 100%;
      //box-shadow: 0px 4px 6px rgba(29, 54, 73, 0.1);
      //background: #FFFFFF;
      //border-radius: 3px;
      //margin-top: 3px;
    }
    
    .dropdown_list {
      //position: relative;
      //max-height: 285px;
      
      //::ng-deep {
      //
      //}
    }
    
    .dropdown_list-item {
      //min-height: 35px;
      //padding: 6px 30px 6px 13px;
      span {
        //font-family: 'SourceSansPro';
        //font-size: 16px;
        ////line-height: 23px;
        //color: #767D80;
        ////white-space: nowrap;
        //word-break: break-word;
      }
    }
    
    .dropdown_list-group_label, .dropdown_list-item {
      //display: flex;
      //align-items: center;
      //
      //height: 35px;
      //padding: 0 30px 0 13px;
      //position: relative;
      //cursor: pointer;
      
      &:hover {
        //background-color: #F7F7F7;
        
        span {
          //color: #303233
        }
        
        .svg-array {
          //fill: #303233;
        }
      }
      
      span {
        //font-family: 'SourceSansPro';
        //font-size: 16px;
        ////line-height: 23px;
        //color: #767D80;
        //white-space: nowrap;
        //word-break: break-word;
      }
    }
    
    .svg-array {
      //position: absolute;
      //right: 15px;
      //top: 50%;
      //transform: translateY(-50%);
      //width: 10.1px;
      //height: 5px;
      //fill: #9CA8AE;
      //z-index: 1;
      //transform: rotate(180deg);
      //transition: transform .1s ease-in-out;
      //pointer-events: none;
      
      &.__rotate {
        //transform: rotate(0);
      }
    }
  }
}


@media all and (max-width: 599px) {
  //@import "../../../../../assets/scss/mixins";
  
  .box {
    //width: 223px;
    //position: relative;
    //z-index: 100;
    //cursor: pointer;
    
    &:focus-within {
    
    }
    
    .top, .dropdown_select-top {
      //position: relative;
    }
    
    .top {
      //width: 100%;
      //background: #FFFFFF;
      //border-radius: 4px;
      //height: 35px;
      //display: flex;
      //align-items: center;
      //padding: 0 18px 0 18px;
      //white-space: nowrap;
      //text-overflow: ellipsis;
      //overflow: hidden;
      //position: relative;
      //box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
      
      .placeholder {
        //font-family: 'SourceSansPro';
        //font-size: 18px;
        //color: #AEB5BB;
      }
      
      &:hover {
        //box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
      }
      
      .value {
        //font-family: 'SourceSansPro';
        //font-size: 18px;
        //color: #5D6569;
        //white-space: nowrap;
        //text-overflow: ellipsis;
        //overflow: hidden;
        ////width: 100%;
        //position: absolute;
        //left: 18px;
        //right: 40px;
        //top: 50%;
        //transform: translateY(-50%);
      }
    }
    
    input {
      //width: 100%;
      //background: #FFFFFF;
      //border-radius: 4px;
      //height: 35px;
      //overflow: hidden;
      //font-family: 'SourceSansPro';
      //font-size: 18px;
      //color: #5D6569;
      //padding: 0 42px 0 18px;
      //cursor: pointer;
      
      //@include placeholder {
      //  //font-family: 'SourceSansPro';
      //  //font-size: 18px;
      //  //color: #AEB5BB;
      //}
      //box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
      
      &:hover, &:focus {
        //box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
      }
      
      //&:focus {
      //  & + svg {
      //    fill: #303233;
      //  }
      //}
    }
    
    .svg-place {
      //position: absolute;
      //right: 15px;
      //top: 50%;
      //transform: translateY(-50%);
      //fill: #DBE0E2;
      //width: 14.2px;
      //height: 17px;
      //pointer-events: none;
      
      &.__active {
        //fill: #303233;
      }
      
    }
    
    .dropdown_select {
      //position: relative;
    }
    
    .dropdown_list-wrap {
      //position: absolute;
      //top: 100%;
      //left: 0;
      //right: 0;
      width: 100%;
      max-width: 100%;
      //box-shadow: 0px 4px 6px rgba(29, 54, 73, 0.1);
      //background: #FFFFFF;
      //border-radius: 3px;
      //margin-top: 3px;
    }
    
    .dropdown_list {
      //position: relative;
      //max-height: 285px;
      
      //::ng-deep {
      //
      //}
    }
    
    .dropdown_list-item {
      //min-height: 35px;
      //padding: 6px 30px 6px 13px;
      span {
        //font-family: 'SourceSansPro';
        //font-size: 16px;
        ////line-height: 23px;
        //color: #767D80;
        ////white-space: nowrap;
        white-space: normal;
        word-break: break-word;
      }
    }
    
    .dropdown_list-group_label, .dropdown_list-item {
      //display: flex;
      //align-items: center;
      //
      //height: 35px;
      //padding: 0 30px 0 13px;
      //position: relative;
      //cursor: pointer;
      
      &:hover {
        //background-color: #F7F7F7;
        
        span {
          //color: #303233
        }
        
        .svg-array {
          //fill: #303233;
        }
      }
      
      span {
        //font-family: 'SourceSansPro';
        //font-size: 16px;
        ////line-height: 23px;
        //color: #767D80;
        //white-space: nowrap;
        //word-break: break-word;
      }
    }
    
    .svg-array {
      //position: absolute;
      //right: 15px;
      //top: 50%;
      //transform: translateY(-50%);
      //width: 10.1px;
      //height: 5px;
      //fill: #9CA8AE;
      //z-index: 1;
      //transform: rotate(180deg);
      //transition: transform .1s ease-in-out;
      //pointer-events: none;
      
      &.__rotate {
        //transform: rotate(0);
      }
    }
  }
}




