<div class="box"  appClickOutside (clickOutside)="close()">
  <div class="top" [hidden]="active" (click)="switchInputs(searchEl)">
    <!--    <input type="text" (focus)="switchInputs(searchEl)" [value]="choiceTitle" [placeholder]="placeholder"/>-->
    <span class="placeholder" *ngIf="!choiceTitle">{{placeholder}}</span>
    <span class="value" *ngIf="choiceTitle">{{choiceTitle}}</span>
    <svg class="svg-place">
      <use [attr.xlink:href]="'#place'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </div>
  <div class="dropdown_select" [hidden]="!active" #el>
    <div class="dropdown_select-top">
      <input type="text" [placeholder]="placeholder" [(ngModel)]="serach" (input)="service.get(url, serach)" #searchEl/>
<!--      <svg class="svg-place">-->
<!--        <use [attr.xlink:href]="'#place'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
<!--      </svg>-->
    </div>
    <div [ngClass]="'dropdown_list-wrap __' + direction">
      <div class="dropdown_list" [perfectScrollbar]="{wheelPropagation:false}">
        <div class="dropdown_list-group">
          <div class="dropdown_list-group-cities">
            <div class="dropdown_list-item"(click)="apply({id: '', title: allBtnText}, {id: '', title: allBtnText})">
              <span>{{allBtnText}}</span>
            </div>
          </div>
        </div>
        <div class="dropdown_list-group" *ngFor="let state of states">
          <div class="dropdown_list-group_label" (click)="toggleState(state)" [hidden]="states.length === 1">
            <span>{{state.title}}</span>
            <svg class="svg-array" [class.__rotate]="state.isOpen">
              <use [attr.xlink:href]="'#array'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>

          <div class="dropdown_list-group-cities" [hidden]="!state.isOpen && states.length !== 1">
            <div class="dropdown_list-item" *ngFor="let city of state.list" (click)="apply(city, state)">
              <span>{{city.title}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
