@import "../../../../../../assets/scss/variables";
:host {
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
img {
  line-height: 0;
  display: block;
  margin: 0 auto v_xs(1200, 5);
  width: auto;
  max-height: 480px;
}
span {
  font-family : 'SourceSansPro';
  font-size : 16px;
  color : #A3ACB3;
  margin-right: 10px;
}

@media all and (max-width: 959px) {
  :host {
    //width: 100%;
  }
  
  .box {
    //display: flex;
    //flex-direction: column;
    //align-items: flex-end;
    //justify-content: flex-start;
  }
  img {
    //line-height: 0;
    //display: block;
    //width: 100%;
    margin: 0 auto 6px;
  }
  span {
    //font-family : 'SourceSansPro';
    font-size : 15px;
    //color : #A3ACB3;
    //margin-right: 10px;
  }
}

@media all and (max-width: 599px) {
  :host {
    //width: 100%;
  }
  
  .box {
    //display: flex;
    //flex-direction: column;
    //align-items: flex-end;
    //justify-content: flex-start;
  }
  img {
    //line-height: 0;
    //display: block;
    //width: 100%;
    //margin-bottom: 6px;
    max-height: 360px;
  }
  span {
    //font-family : 'SourceSansPro';
    //font-size : 15px;
    //color : #A3ACB3;
    //margin-right: 10px;
  }
}

