<div class="box"  appClickOutside (clickOutside)="close()">
  <div class="photo">
    <svg class="svg-user" *ngIf="!person">
      <use [attr.xlink:href]="'#user'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <img *ngIf="person" [src]="person.photo" alt="">
  </div>
  <div class="data">
    <div class="label" (click)="open()">
      <span *ngIf="!active && !person">{{'add-material-page.person-block.label' | translate}}</span>
      <div class="title" *ngIf="!active && person">
        <div class="name">{{person.sirname}} {{person.name}}</div>
        <!--        <div class="pos">{{person.sirname}} {{person.name}}</div>-->
      </div>
      <svg class="svg-array" *ngIf="!active">
        <use [attr.xlink:href]="'#array'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
    <app-select-search [hidden]="!active" [addBtn]="true" [setValue]="person" [url]="'/persons/dict'" [placeholder]="'add-material-page.person-block.select-placeholder' | translate" [icon]="'array'" [allBtn]="false" [key]="'title'" (valueChange)="apply($event)" (toggleModal)="openModal.emit(true)"></app-select-search>
  </div>
</div>

