:host {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  z-index: 10;
}

.box {
  display: flex;
  //align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
}

.photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #D8DCDF;
  overflow: hidden;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  svg {
    width: 21px;
    height: 23px;
    fill: #A3ACB3;
    margin-bottom: 3px;
  }
}

.data {
  .title {
    .name {
      font-family: 'SourceSansProSemiBold';
      font-size: 20px;
      color: #303233;
    }
    
    .pos {
      font-family: 'SourceSansPro';
      font-size: 16px;
      color: #A3ACB3;
      margin-top: 3px;
    }
  }
  
  .label {
    //height: 35px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    
    span {
      font-family: 'SourceSansProSemiBold';
      font-size: 20px;
      color: #303233;
    }
    
    svg {
      width: 10px;
      height: 5px;
      fill: #9CA8AE;
      transform: rotate(180deg);
      margin-left: 20px;
    }
  }
  
}
