<div class="box">
  <div class="top">
    <label>
      <input type="file" (change)="getPhoto($event)"/>
    </label>
    <div class="cover" *ngIf="!img">
      <div class="tooltip">
        <svg class="svg-tools-4">
          <use [attr.xlink:href]="'#tools-4'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <div class="text" [innerHTML]="'add-material-page.photo-block.label' | translate"></div>
      </div>
    </div>
    <div class="img" *ngIf="img">
      <div class="img_tint">
        <div class="tooltip">
          <svg class="svg-tools-4">
            <use [attr.xlink:href]="'#tools-4'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <div class="text" [innerHTML]="'add-material-page.photo-block.change-img' | translate"></div>
        </div>
      </div>
      <img [src]="img | safeUrl" alt="image">
    </div>
  </div>
  <div class="inp">
    <input [hidden]="lang !== 'ru'" title="" type="text"  [placeholder]="'add-material-page.blocks.placeholder_ru' | translate"  [(ngModel)]="descrRu" (ngModelChange)="newDescrRu.emit(descrRu)">
    <input [hidden]="lang !== 'ua'" title="" type="text"  [placeholder]="'add-material-page.blocks.placeholder_ua' | translate" [(ngModel)]="descrUa" (ngModelChange)="newDescrUa.emit(descrUa)">
  </div>
</div>
<div class="error" *ngIf="error">{{error}}</div>
