.app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #F7F7F7;
  overflow: hidden;
  
  &:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 110px;
    background: linear-gradient(0deg, rgba(247, 247, 247, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(0, 0, 0, 1) 100%);
  }
}

.load {
  //position: fixed;
  //z-index: 9999999999999999999;
  //background-color: #F7F7F7;
  //left: 0;
  //right: 0;
  //top: 0;
  //bottom: 0;
}

.content {
  position: relative;
  flex: 1;
  padding: 56px 0 0;
  //position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  
  &.__isBrowser {
    ::ng-deep {
      router-outlet ~ * {
        display: none;
      }
    }
  }
  
  ::ng-deep {
    router-outlet ~ * {
      flex: 1;
      
    }
  }
}


