<div class="app">
  <app-header [defaultLang]="defaultLang" [isMenu]="isMenu" (menuToggle)="isMenu = $event" (authToggle)="isAuth = true"></app-header>
<!--  <div class="content" [class.__isBrowser]="!platform.check()">-->
<!--&lt;!&ndash;        <app-page-preloader [class.__show]="isPreloader"></app-page-preloader>&ndash;&gt;-->
<!--    <router-outlet (deactivate)="closeMainMenu()"></router-outlet>-->
<!--  </div>-->

  <div class="content" [@routeAnimation]="o.isActivated ? o.activatedRoute : ''" [class.__isBrowser]="!platform.check()">
        <app-page-preloader></app-page-preloader>
    <router-outlet #o="outlet" (deactivate)="routeChange()"></router-outlet>
  </div>
<!--  -->
<!--  -->
  <app-footer [defaultLang]="defaultLang"></app-footer>
    <app-main-menu-modal (close)="closeMainMenu()" [defaultLang]="defaultLang" [class.__active]="isMenu"></app-main-menu-modal>
  <!--  <app-auth-modal [setVisibility]="isAuth" (closeModal)="isAuth = $event"></app-auth-modal>-->
  <!--  <app-info-modal></app-info-modal>-->
  <app-app-notifications></app-app-notifications>
  <!--  <app-feedback-modal></app-feedback-modal>-->
  <!--  <app-add-person-modal></app-add-person-modal>-->
  <!--  <app-post-layout-preloader *ngIf="isLoading"></app-post-layout-preloader>-->
  <router-outlet name="modals"></router-outlet>
</div>
