<div class="box" appClickOutside (clickOutside)="close()" [class.__icon]="icon">
  <div class="top" [class.__hidden]="active" (click)="switchInputs()">
    <!--    <input type="text" (focus)="switchInputs(searchEl)" [value]="choiceTitle" [placeholder]="placeholder"/>-->
    <span class="placeholder" *ngIf="!choiceTitle">{{placeholder}}</span>
    <span class="value" *ngIf="choiceTitle">{{choiceTitle}}</span>
    <svg [class]="'svg-' + icon" [ngClass]="{'__active': choiceTitle}">
      <use [attr.xlink:href]="'#' + icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </div>
  <div class="dropdown_select" [class.__hidden]="!active" #el>
    <div class="dropdown_select-top">
      <input type="text" [placeholder]="placeholder" [(ngModel)]="serach" (input)="searchApi()" #searchEl/>
    </div>
    <div [ngClass]="'dropdown_list-wrap __' + direction">
      <div class="dropdown_list" [perfectScrollbar]="{wheelPropagation:false}">
        <div class="dropdown_list-item" *ngIf="allBtn" (click)="apply({
        id: '',
        short:  allBtnText,
        title: allBtnText
        })">
          <span>{{allBtnText}}</span>
        </div>
        <div class="dropdown_list-item" *ngFor="let item of data" (click)="apply(item)">
          <span>{{item[listKey]}}</span>
          <!--          <span *ngIf="item.hasOwnProperty('title')">{{item.short}}</span>-->
          <span *ngIf="item.hasOwnProperty('sirname')">{{item.sirname + ' ' + item.name}}</span>
        </div>
      </div>
      <div class="addBtnPerson_wrap" *ngIf="addBtn">
        <a href="/create/person" target="_blank" (click)="close()" class="addBtnPerson">
          <div class="icon"></div>
          <span>{{'input-select.add-person-btn' | translate}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
