.box {
  z-index: 9999999999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(247, 247, 247, .7);
  display: flex;
  justify-content: center;
  //flex-direction: column;
  align-items: center;
  .label {
    font-family: 'SourceSansProSemiBold';
    font-size: 20px;
    letter-spacing: 0.1px;
    color: #3A70CF;
    margin-right: 12px;
    padding-bottom: 3px;
  }
  
}
