editor {
  font-family : 'Source Sans Pro';
  font-size : 17px;
  line-height : 26px;
  color : #303233;
  
  ::ng-deep {
    & > div {
      min-height: 78px;
      border-radius: 3px;
      padding: 6px 10px;
      &:focus {
        background-color: #fff;
      }
    }
    
    
    a {
      text-decoration: underline;
    }
    * {
      //border: none!important;
      //background-color: transparent!important;
      outline: none!important;
    }
  }
}


