<div class="box">
  <div class="item_wrap" *ngIf="search">
    <div class="btn">
      <svg class="svg-magnif">
        <use [attr.xlink:href]="'#magnif'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
  </div>
  <div class="item_wrap" *ngIf="share">
    <div class="btn" (click)="shareIsOpen = true" [hidden]="shareIsOpen"
         [matTooltip]="'tooltips.global-icn.share' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
      <svg class="svg-share">
        <use [attr.xlink:href]="'#share'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
    <app-social-widget [hidden]="!shareIsOpen"></app-social-widget>
    <app-btn-close  (click)="shareIsOpen = false" [hidden]="!shareIsOpen"></app-btn-close>
  </div>
  <div class="item_wrap" *ngIf="add_person">
    <a href="" [routerLink]="['/create/person']" class="btn"
         [matTooltip]="'tooltips.global-icn.add-person' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
      <svg class="svg-add">
        <use [attr.xlink:href]="'#add'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a>
    <app-social-widget [hidden]="!shareIsOpen"></app-social-widget>
    <app-btn-close  (click)="shareIsOpen = false" [hidden]="!shareIsOpen"></app-btn-close>
  </div>
  <div class="item_wrap" *ngIf="info"
       [matTooltip]="'tooltips.global-icn.feedback' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
    <div class="btn" (click)="onpenFeedback()">
      <svg class="svg-attantion">
        <use [attr.xlink:href]="'#attantion'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
  </div>
  <div class="item_wrap" *ngIf="play"
       [matTooltip]="'tooltips.global-icn.video-tutors' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
    <div class="btn" (click)="openVideo()">
      <svg class="svg-play">
        <use [attr.xlink:href]="'#play'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
  </div>
</div>
