.box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.item_wrap {
  margin-left: 10px;
  display: flex;
  align-items: center;
  
  ::ng-deep {
    .close {
      position: relative;
      right: auto;
      top: auto;
      cursor: pointer;
      width: 30px;
      height: 30px;
      z-index: 2;
      margin-left: 8px;
      
      &:hover {
        transform: scale(1.1);
        
        &:before, &:after {
          background-color: #7C858C;
        }
        
        
      }
    }
  
    .social_item {
      margin-left: 12px;
      padding: 0;
      height: 30px;
      //width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    //.svg-fb {
    //  width: 12px;
    //  height: 23px;
    //}
    //
    //.svg-tw {
    //  width: 29.3px;
    //  height: 23px;
    //}
    //
    //.svg-tm {
    //  width: 27.4px;
    //  height: 23px;
    //}
    //
    //.svg-vb {
    //  width: 25.6px;
    //  height: 27px;
    //}
    //
    //.svg-link {
    //  width: 22.4px;
    //  height: 22.4px;
    //}
  }
}

.btn {
  line-height: 0;
  padding: 5px;
  cursor: pointer;
  
  &:first-of-type {
    margin-left: 0;
  }
  
  &:hover {
    transform: scale(1.1);
    
    svg {
      fill: #7C858C
    }
  }
}

svg {
  fill: #A3ACB3
}

.svg-add {
  width: 25px;
  height: 25px;
}

.svg-magnif {
  width: 24px;
  height: 24px;
}

.svg-share {
  width: 25px;
  height: 19.5px;
}


.svg-attantion {
  width: 23.4px;
  height: 25px;
}

.svg-play {
  width: 25px;
  height: 25px;
}


