<div class="page">
  <div class="container">
    <div class="person">
      <app-top [person]="person"></app-top>
      <app-single-opition-widget *ngIf="loadOpition" [question]="'person-page.voting.question' | translate" [opitionUrl]="'/vote/person-user'" [setOpition]="opition" [infoSlug]="'person.vote'" [id]="person.id"></app-single-opition-widget>
      <div class="title">
        <h2>{{'person-page.history-head' | translate}}</h2>
      </div>
      <app-parties-history [history]="{history: history, check: historyCheck}"></app-parties-history>
      <div class="title">
        <div class="icon" (click)="showInfo('person.stat.improve')">
          <svg class="svg-info">
            <use [attr.xlink:href]="'#info'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <h2>{{'person-page.stats-head' | translate}}</h2>
      </div>
      <app-statistic [checkSingle]="true" [setAdoption]="static"></app-statistic>
      <h3 *ngIf="missings">
        <div class="icon" (click)="showInfo('person.stat.vote')">
          <svg class="svg-info">
            <use [attr.xlink:href]="'#info'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        {{missings?.inactivity_place}}{{'person-page.inactivity-place' | translate}} <br>
        <span>{{'person-page.not-vote-label' | translate}} - {{missings?.not_vote_percent}}% / {{'person-page.mission-label' | translate}}&nbsp;-&nbsp;{{missings?.absent_percent}}%</span>

      </h3>
      <app-missings *ngIf="missings" [setVoting]="missings"></app-missings>
      <div class="row" *ngIf="problems.length">
        <div class="title">
          <div class="icon" (click)="showInfo('person.law.violation')">
            <svg class="svg-info">
              <use [attr.xlink:href]="'#info'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <h2>{{'person-page.laws-problems-head' | translate}}</h2>
        </div>
        <app-add-article-btn [rLink]="['/create/material']" [skipLoc]="false"></app-add-article-btn>
      </div>
      <app-laws-problems *ngIf="problems.length" [setProblems]="problems"></app-laws-problems>
      <app-social-widget></app-social-widget>
      <app-more-articles-widget [setArticles]="{articles: articles, check: checkHttpArticles}" [title]="'person-page.more-articles-title' | translate"></app-more-articles-widget>
    </div>
    <app-fixed-social [rotate]="false" [social]="true"></app-fixed-social>
    <app-right-widget [slug]="{articles: articles, check: checkHttpArticles}"></app-right-widget>
  </div>
</div>
