@import "~src/assets/scss/_variables";

.page {
  padding: v_2xl(1200, 0) 0;
  //box-sizing: content-box;
}

.container {
  padding: 0 88px;
  position: relative;
}
.title {
  position: relative;
  margin-bottom: 23px;
  //padding-left: 16px;
  
  .icon {
    position: absolute;
    right: 100%;
    transform: translate(0, -15%);
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    vertical-align: super;
    &:hover {
      svg {
        fill: #303233;
      }
    }
    
    svg {
      width: 6.2px;
      height: 15px;
      fill: #A3ACB3;
    }
  }
}
.person {
  max-width: 590px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  app-top, app-single-opition-widget, app-parties-history, app-statistic, app-missings, app-laws-problems {
    display: block;
    width: 100%;
  }
  app-top {
    margin-bottom: 50px;
  }
  
  app-single-opition-widget, app-parties-history, app-missings {
    margin-bottom: 46px;
  }
  app-statistic {
    margin-bottom: 40px;
  }
  app-parties-history {
    margin-bottom: 46px;
  }
  
  
  app-more-articles-widget, app-social-widget {
    display: none;
  }
  
  h2 {
    font-family : 'SourceSansProSemiBold';
    font-size : 25px;
    color : #303233;
    //line-height: 35px;
    display: inline-block;
  }
  h3 {
    position: relative;
    font-family : 'SourceSansProSemiBold';
    font-size: 17px;
    letter-spacing : 0.3px;
    color : #303233;
    margin-bottom: 20px;
    font-weight: normal!important;
    display: flex;
    flex-direction: column;
  
    .icon {
      position: absolute;
      right: 100%;
      transform: translate(0, -36%);
      padding: 5px;
      cursor: pointer;
      display: inline-block;
      vertical-align: super;
      &:hover {
        svg {
          fill: #303233;
        }
      }
    
      svg {
        width: 6.2px;
        height: 15px;
        fill: #A3ACB3;
      }
    }
    span {
      margin-top: 5px;
      font-family : 'SourceSansPro';
      //color : #303233;
    }
  }
  ::ng-deep {
    .add_article {
      &:hover {
        background-color: transparent;
      }
    }
  }
  
  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}


@media all and (max-width: 1199px) {
  ////@import "~src/assets/scss/_variables";
  ////@import "~src/assets/scss/_mixins";
  //
  //.page {
  //  padding: 30px 15px;
  //  //box-sizing: content-box;
  //}
  //
  //.container {
  //  //padding: 0;
  //  //position: relative;
  //  padding-right: 320px;
  //}
  //
  ////.content {
  ////  max-width: 590px;
  ////  display: flex;
  ////  flex-direction: column;
  ////  justify-content: flex-start;
  ////  align-items: flex-start;
  ////}
  //
  //.filters, .top, .list, .pagination_wrap {
  //  max-width: none;
  //}
  
  //@import "~src/assets/scss/_variables";
  
  .page {
    padding: 50px 0;
      //padding: 30px 0;
    //padding: v_2xl(1200, 0) 0;
    //box-sizing: content-box;
  }
  
  .title {
    margin-bottom: 24px;
  }
  .container {
    //padding: 0 88px;
    padding-right: 335px;
    padding-left: 95px;
    //position: relative;
  }
  
  .person {
    max-width: none;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
    
    app-top, app-single-opition-widget, app-parties-history, app-statistic, app-missings, app-laws-problems {
      //display: block;
      //width: 100%;
    }
    app-top {
      margin-bottom: 37px;
    }
    
    app-single-opition-widget, app-parties-history, app-missings {
      margin-bottom: 35px;
    }
    app-statistic {
      margin-bottom: 35px;
    }
    
    h2 {
      //font-family : 'SourceSansProSemiBold';
      //font-size : 20px;
      //color : #303233;
      //line-height: 35px;
    }
    h3 {
      //font-family : 'SourceSansProSemiBold';
      //font-size : 20px;
      //letter-spacing : 0.3px;
      //color : #303233;
      margin-bottom: 14px;
    }
    ::ng-deep {
      .add_article {
        &:hover {
          //background-color: transparent;
        }
      }
    }
    
    .row {
      //width: 100%;
      //display: flex;
      //justify-content: space-between;
    }
  }
}


@media all and (max-width: 959px) {
  ////@import "~src/assets/scss/_variables";
  ////@import "~src/assets/scss/_mixins";
  //
  //.page {
  //  padding: 30px 15px;
  //  //box-sizing: content-box;
  //}
  //
  //.container {
  //  //padding: 0;
  //  //position: relative;
  //  padding-right: 320px;
  //}
  //
  ////.content {
  ////  max-width: 590px;
  ////  display: flex;
  ////  flex-direction: column;
  ////  justify-content: flex-start;
  ////  align-items: flex-start;
  ////}
  //
  //.filters, .top, .list, .pagination_wrap {
  //  max-width: none;
  //}
  
  //@import "~src/assets/scss/_variables";
  
  .page {
    padding: 40px 0;
      //padding: 30px 0;
    //padding: v_2xl(1200, 0) 0;
    //box-sizing: content-box;
  }
  
  .container {
    //padding: 0 88px;
    padding-right: 30px;
    padding-left: 85px;
    //position: relative;
  }
  
  .person {
    //max-width: none;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
    
    app-top, app-single-opition-widget, app-parties-history, app-statistic, app-missings, app-laws-problems {
      //display: block;
      //width: 100%;
    }
    app-top {
      //margin-bottom: 37px;
    }
    
    app-single-opition-widget, app-parties-history, app-missings {
      //margin-bottom: 35px;
    }
    app-statistic {
      //margin-bottom: 35px;
    }
  
    app-more-articles-widget {
      display: block;
      width: 100%;
      margin-top: 34px;
      
      ::ng-deep {
        .top {
          padding-right: 12px;
        }
      }
    }
    
    h2 {
      //font-family : 'SourceSansProSemiBold';
      //font-size : 25px;
      //color : #303233;
      //margin-bottom: 23px;
      //line-height: 35px;
    }
    h3 {
      //font-family : 'SourceSansProSemiBold';
      //font-size : 20px;
      //letter-spacing : 0.3px;
      //color : #303233;
      //margin-bottom: 10px;
    }
    
    app-add-article-btn {
      display: block;
      margin-top: 6px;
    }
    ::ng-deep {
      .add_article {
        &:hover {
          //background-color: transparent;
        }
      }
    }
    
    .row {
      //width: 100%;
      //display: flex;
      //justify-content: space-between;
    }
  }
}

@media all and (max-width: 599px) {
  ////@import "~src/assets/scss/_variables";
  ////@import "~src/assets/scss/_mixins";
  //
  //.page {
  //  padding: 30px 15px;
  //  //box-sizing: content-box;
  //}
  //
  //.container {
  //  //padding: 0;
  //  //position: relative;
  //  padding-right: 320px;
  //}
  //
  ////.content {
  ////  max-width: 590px;
  ////  display: flex;
  ////  flex-direction: column;
  ////  justify-content: flex-start;
  ////  align-items: flex-start;
  ////}
  //
  //.filters, .top, .list, .pagination_wrap {
  //  max-width: none;
  //}
  
  //@import "~src/assets/scss/_variables";
  
  .page {
    padding: 30px 0 50px;
      //padding: 30px 0;
    //padding: v_2xl(1200, 0) 0;
    //box-sizing: content-box;
  }
  app-fixed-social {
    display: none;
  }
  
  .container {
    padding: 0 12px;
    //padding-right: 30px;
    //padding-left: 85px;
    //position: relative;
  }
  .title {
    margin-bottom: 20px;
    padding: 0 10px;
    
    .icon {
      right: auto;
      left: -4px;
    }
  }
  .person {
    //max-width: none;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
    
    app-top, app-single-opition-widget, app-parties-history, app-statistic, app-missings, app-laws-problems {
      //display: block;
      //width: 100%;
    }
    app-top {
      margin-bottom: 40px;
      padding: 0 10px;
    }
    
    app-single-opition-widget, app-parties-history, app-missings {
      margin-bottom: 38px;
    }
    app-statistic, app-missings {
      padding: 0 10px;
    }
    app-parties-history {
      margin-bottom: 20px;
      padding: 0 10px;
    }
    app-social-widget {
      display: block;
      width: 100%;
      margin-top: 28px;
    }
    app-more-articles-widget {
      //display: block;
      //width: 100%;
      margin-top: 28px;
    
      //::ng-deep {
      //  .top {
      //    padding-right: 12px;
      //  }
      //}
    }
    h2 {
      //font-family : 'SourceSansProSemiBold';
      font-size : 22px;
      //color : #303233;
      //line-height: 35px;
    }
    h3 {
      //font-family : 'SourceSansProSemiBold';
      font-size : 17px;
      //letter-spacing : 0.3px;
      //color : #303233;
      margin-bottom: 14px;
      padding: 0 10px;
  
      .icon {
        right: auto;
        left: -4px;
      }
    }
    ::ng-deep {
      .add_article {
        &:hover {
          //background-color: transparent;
        }
      }
    }
    
    .row {
      //width: 100%;
      //display: flex;
      //justify-content: space-between;
    }
  }
}



