<div class="box">
  <div class="img">
    <img [src]="data.logo" alt="">
  </div>
  <div class="data">
    <span class="title">{{data.title}}</span>
    <div class="rating" [matTooltip]="'tooltips.global-icn.rating' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
      <svg class="svg-star">
        <use [attr.xlink:href]="'#star'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
      <span>{{data.rating}}</span>
    </div>
  </div>
</div>
