.box {
  display: flex;
  
  .img {
    margin-right: 20px;
    line-height: 0;
    
    img {
      max-width: 140px;
    }
  }
  
  .data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .title {
    font-family: 'SourceSansProBold';
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #303233;
    margin-bottom: 11px;
  }
  
  .rating {
    display: flex;
    align-items: center;
    svg {
      width: 24px;
      height: 23px;
      fill: #FFC800;
      margin-right: 8px;
    }
    span {
      font-family : 'SourceSansProSemiBold';
      font-size : 20px;
      color: #303233;
    }
  }
  

}

@media all and (max-width: 1199px) {
  .box {
    //display: flex;
    
    .img {
      //margin-right: 20px;
      //line-height: 0;
      
      img {
        max-width: 130px;
      }
    }
    
    .data {
      //display: flex;
      //flex-direction: column;
    }
    
    .title {
      //font-family: 'SourceSansProBold';
      font-size : 25px;
      line-height : 32px;
      letter-spacing : 0.13px;
      //color: #303233;
      //margin-bottom: 11px;
    }
    
    .rating {
      //display: flex;
      //align-items: center;
      svg {
        width: 21px;
        height: 20px;
        //fill: #FFC800;
        //margin-right: 8px;
      }
      span {
        //font-family : 'SourceSansProSemiBold';
        font-size : 17px;
        letter-spacing : 0.26px;
        //color: #303233;
      }
    }
    
    
  }
}


@media all and (max-width: 959px) {
  .box {
    //display: flex;
    
    .img {
      //margin-right: 20px;
      //line-height: 0;
      
      img {
        max-width: 100px;
      }
    }
    
    .data {
      //display: flex;
      //flex-direction: column;
    }
    
    .title {
      //font-family: 'SourceSansProBold';
      //font-size : 25px;
      //line-height : 32px;
      //letter-spacing : 0.13px;
      //color: #303233;
      //margin-bottom: 11px;
    }
    
    .rating {
      //display: flex;
      //align-items: center;
      svg {
        width: 21px;
        height: 20px;
        //fill: #FFC800;
        //margin-right: 8px;
      }
      span {
        //font-family : 'SourceSansProSemiBold';
        font-size : 17px;
        letter-spacing : 0.26px;
        //color: #303233;
      }
    }
    
    
  }
}

@media all and (max-width: 599px) {
  .box {
    //display: flex;
    flex-direction: column;
    .img {
      margin-right: 0;
      //line-height: 0;
      margin-bottom: 17px;
      
      img {
        max-width: 130px;
      }
    }
    
    .data {
      //display: flex;
      //flex-direction: column;
    }
    
    .title {
      //font-family: 'SourceSansProBold';
      font-size : 20px;
      line-height : 26px;
      letter-spacing : 0.1px;
      //color: #303233;
      margin-bottom: 12px;
    }
    
    .rating {
      //display: flex;
      //align-items: center;
      svg {
        width: 21px;
        height: 20px;
        //fill: #FFC800;
        //margin-right: 8px;
      }
      span {
        ////font-family : 'SourceSansProSemiBold';
        //font-size : 17px;
        //letter-spacing : 0.26px;
        //color: #303233;
      }
    }
    
    
  }
}




