<div class="box">
  <div class="addMaterial">
    <div class="addMaterial_icon"></div>
    <span>{{'mobile-modal.add-material-btn' | translate}}</span>
  </div>
  <div class="nav">
    <a href="" class="nav_item" (click)="close.emit(true)" [routerLink]="[item.link]" *ngFor="let item of menu | async">{{item.text}}</a>
  </div>

  <div class="bottom">
    <a href="" class="fb_link">
      <svg class="svg-fb">
        <use [attr.xlink:href]="'#fb'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a>
    <div class="langs">
      <div class="langs_item" (click)="langService.switch('uk')">{{'langs.ua' | translate}}</div>
      <div class="langs_item" (click)="langService.switch('ru')">{{'langs.ru' | translate}}</div>
<!--      <div class="langs_item" [class.__active]="defaultLang" (click)="langService.switch('uk')">{{'langs.ua' | translate}}</div>-->
<!--      <div class="langs_item" [class.__active]="!defaultLang" (click)="langService.switch('ru')">{{'langs.ru' | translate}}</div>-->
<!--      -->
    </div>
  </div>
</div>
