@import "../../../../../assets/scss/variables";

:host {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .98);
  z-index: 9;
  display: none;
  
  &.__active {
    display: block;
  }
}

.box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 40px + v_2xl(960, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &:before {
    display: block;
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    height: 45px;
    z-index: 10;
  }
}

.addMaterial {
  display: flex;
  align-items: center;
  margin-bottom: v_xl(960, 14);
  
  .addMaterial_icon {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #3A70CF;
    margin-right: 10px;
    
    &:before, &:after {
      display: block;
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 9px;
      height: 2px;
      transform: translate(-50%, -50%);
      background-color: #3A70CF;
    }
    
    &:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    
  }
  
  span {
    font-family: 'SourceSansProBold';
    font-size: 17px;
    color: rgba(58, 112, 207, .85);
  }
}

.nav {
  display: flex;
  flex-direction: column;
  margin-bottom: v_l(960, 5);
  
  .nav_item {
    font-family: 'SourceSansPro';
    font-size: 20px;
    color: rgba(58, 112, 207, .8);
    padding: 15px 10px;
    text-align: center;
    
    &.__active {
      color: rgba(58, 112, 207, 1);
    }
  }
}

.bottom {
  display: flex;
  margin: auto 0 v_l(960, 5);
}

.fb_link {
  padding: 5px 10px;
  margin-right: 28px;
  
  .svg-fb {
    width: 10.4px;
    height: 20px;
    fill: #3A70CF;
  }
}

.langs {
  display: flex;
  align-items: center;
  margin-right: 20px;
  
  .langs_item {
    font-family: 'SourceSansPro';
    font-size: 17px;
    text-transform: uppercase;
    padding: 5px 10px;
    color: #3A70CF;
    cursor: pointer;
  
    &.__active {
      font-family: 'SourceSansProSemiBold';
      pointer-events: none;
    }
  }
}
