<div class="box">
  <div class="label">{{'account-page.roles-tab.form.title' | translate}}</div>
  <textarea [(ngModel)]="text"></textarea>
  <div class="bottom">
    <div class="inp_label">
      <span *ngIf="!files.length">{{'account-page.roles-tab.form.files-label' | translate}}</span>
      <span *ngIf="files.length">{{'account-page.roles-tab.form.files-selected-label' | translate}}{{files.length}}</span>
      <label class="attach"> <input type="file" (change)="getFiles($event)" multiple/> </label>
      <div class="error" *ngIf="error">{{error}}</div>
    </div>
    <div class="btns">
      <button class="cancel" (click)="reset()">{{'account-page.roles-tab.form.cancel-btn' | translate}}</button>
      <button class="submit" (click)="saveHandler()">{{'account-page.roles-tab.form.submit-btn' | translate}}</button>
    </div>
  </div>
</div>
