.box {
  .label {
    font-family: 'SourceSansPro';
    font-size: 17px;
    color: #AEB5BB;
    margin-bottom: 6px;
  }
  
  textarea {
    resize: none;
    width: 100%;
    height: 70px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    padding: 12px;
    font-family: 'SourceSansPro';
    font-size: 17px;
    color: #303233;
    margin-bottom: 30px;
  }
  
  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .cancel {
    font-family: 'SourceSansPro';
    font-size: 16px;
    letter-spacing: 0.24px;
    color: #A3ACB3;
    padding: 5px 20px;
    margin-right: 18px;
    
    &:hover {
      color: #3A70CF
    }
  }
  
  .submit {
    font-family: 'SourceSansPro';
    font-size: 16px;
    letter-spacing: 0.24px;
    color: #ffffff;
    padding: 5px 20px;
    background-color: #A3ACB3;
    height: 35px;
    border-radius: 3px;
    
    &:hover {
      background-color: #3A70CF;
    }
  }
  
  
  
  .inp_label {
    position: relative;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'SourceSansPro';
      font-size: 16px;
      letter-spacing: 0.24px;
      color: #ffffff;
      padding: 5px 20px;
      background-color: #A3ACB3;
      height: 35px;
      border-radius: 3px;
      
      &:hover {
        background-color: #3A70CF;
      }
    }
    
    label {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      cursor: pointer;
      border-radius: 50%;
      overflow: hidden;
    }
    input {
      display: none;
    }
  }
  .error {
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    margin-top: 3px;
    font-family: 'SourceSansPro';
    font-size: 14px;
    letter-spacing: 0.35px;
    color: #FF0000;
  }
}
