<div class="wrap" [class.__active]="isOpen">
  <div class="tint" (click)="close()"></div>
  <div class="box">
    <app-btn-close (click)="close()"></app-btn-close>
    <div class="top">
      <svg class="svg-attantion">
        <use [attr.xlink:href]="'#attantion'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
      <span>{{'feedback-modal.title' | translate}}</span>
    </div>
    <div class="content" [class.__disabled]="disabled">
      <div class="tip" *ngIf="disabled">{{'feedback-modal.login-error' | translate}}</div>
      <form (ngSubmit)="f.form.valid && submit(f)" #f="ngForm" novalidate>
        <div class="radio_row">
          <label class="radio"> <input type="radio" name="type" value="proposal" [(ngModel)]="model.type" #type="ngModel">
            <span class="checkmark"></span>
            <span class="radio_label">{{'feedback-modal.radio-1' | translate}}</span>
          </label> <label class="radio"> <input type="radio" name="type" value="complaint" [(ngModel)]="model.type" #type="ngModel">
          <span class="checkmark"></span>
          <span class="radio_label">{{'feedback-modal.radio-2' | translate}}</span>
        </label> <label class="radio"> <input type="radio" name="type" value="not_working" [(ngModel)]="model.type" #type="ngModel">
          <span class="checkmark"></span>
          <span class="radio_label">{{'feedback-modal.radio-3' | translate}}</span>
        </label>
        </div>
        <div class="textarea_wrap">
          <div class="textarea_label">{{'feedback-modal.textarea-label' | translate}}</div>
          <textarea name="message" [placeholder]="'feedback-modal.textarea-placeholder' | translate" (input)="error = false;" [(ngModel)]="model.text" #text="ngModel" required></textarea>
          <span class="error" *ngIf="f.submitted && text.invalid">{{'feedback-modal.textarea-error' | translate}}</span>
        </div>
        <div class="btns">
          <button type="button" class="cancel" (click)="close()">{{'feedback-modal.cancel-btn' | translate}}</button>
          <button type="submit" class="submit">{{'feedback-modal.submit-btn' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

