.box {
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  height: 50px;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  transform: translateY(-100%);
  transition: transform .2s ease-in-out;
  display: none;
  
  &.__active {
    transform: translateY(0);
  }
  
  
  app-social-widget {
    ::ng-deep {
      .social_item {
        margin-left: 16px;
      }
    }
  }
  
  app-back-btn-fixed {
    height: 35px;
    width: 35px;
    display: block;
    ::ng-deep {
    .backBtn {
      width: 35px;
      height: 35px;
      background-color: #F7F7F7;
    }
    }
  }
  
}

@media all and (max-width: 599px) {

  .box {
    display: flex;
  }
}
