<div class="page">
  <div class="container">
    <h1>{{'account-page.title' | translate}}</h1>
    <div class="nav">
      <a href="" class="nav_item" *ngFor="let item of menu | async; let i = index" [routerLink]="item.link" [routerLinkActive]="'__active'">{{item.text}}
        <svg class="svg-bell" *ngIf="isNotif && i === 2">
          <use [attr.xlink:href]="'#bell'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
      <!--      <a href="" class="nav_item" [routerLink]="'account-page.nav[1].link' | translate" [routerLinkActive]="'__active'">{{'account-page.nav[1].text' | translate}}</a>-->
      <!--      <a href="" class="nav_item" [routerLink]="'account-page.nav[2].link' | translate" [routerLinkActive]="'__active'">{{'account-page.nav[2].text' | translate}}-->
      <!--        <svg class="svg-bell" *ngIf="isNotif">-->
      <!--          <use [attr.xlink:href]="#bell" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
      <!--        </svg>-->
      <!--      </a>-->
      <!--      <a href="" class="nav_item" [routerLink]="'account-page.nav[3].link' | translate" routerLinkActive="__active">{{'account-page.nav[3].text' | translate}}</a>-->
    </div>
    <div class="tabs">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
