//@import "~src/assets/scss/_variables";
//@import "~src/assets/scss/_mixins";
:host {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.page {
  padding: 50px 0;
  box-sizing: content-box;
  flex: 1;
}

.container {
  padding: 0;
  position: relative;
  max-width: 680px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'SourceSansProBold';
  font-size: 35px;
  letter-spacing: 0.18px;
  color: #303233;
  margin-bottom: 20px;
}

.tabs {
  height: 100%;
  flex: 1;
  display: flex;
}

.nav {
  margin-bottom: 35px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  
  .nav_item {
    position: relative;
    font-family: 'SourceSansProSemiBold';
    font-size: 16px;
    text-transform: uppercase;
    color: #AEB5BB;
    padding: 5px;
    margin-right: 26px;
    
    &:hover {
      color: #3A70CF;
    }
    
    &.__active {
      color: #3A70CF;
      pointer-events: none;
    }
    
    &:first-of-type {
      padding-left: 0;
    }
    
    
    &:last-of-type {
      margin-right: 0;
    }
  }
  
  .svg-bell {
    width: 9px;
    height: 9.5px;
    fill: #3A70CF;
    position: absolute;
    left: 100%;
    //bottom: 100%;
    top: 0;
    //transform: translateY(50%);
    //margin-left: 3px;
    
    //&.__active {
    //}
  }
}


@media all and (max-width: 959px) {
  .page {
    padding: 40px 12px;
    //box-sizing: content-box;
  }
  
  .container {
    //padding: 0 30px;
    //position: relative;
    //max-width: 680px;
    
    & > *:last-child {
      //margin-bottom: 0;
    }
  }
  
  h1 {
    //font-family : 'SourceSansProBold';
    font-size: 30px;
    letter-spacing: 0.15px;
    //color : #303233;
    margin-bottom: 16px;
  }
}


@media all and (max-width: 599px) {
  .page {
    padding: 30px 0;
    //box-sizing: content-box;
  }
  
  .container {
    //padding: 0 30px;
    //position: relative;
    //max-width: 680px;
    
    & > *:last-child {
      //margin-bottom: 0;
    }
  }
  
  h1 {
    //font-family : 'SourceSansProBold';
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.13px;
    padding: 0 10px;
    //color : #303233;
    //margin-bottom: 28px;
  }
  .nav {
    padding-left: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    //width: 100%;
    //overflow-x: auto;
    //overflow-y: hidden;
    //.nav_item {
    //  font-family: 'SourceSansProSemiBold';
    //  font-size: 16px;
    //  text-transform: uppercase;
    //  color: #AEB5BB;
    //  padding: 5px;
    //  margin-right: 26px;
    //
    //  &:first-of-type {
    //    padding-left: 0;
    //  }
    //
    //  &.__active {
    //    color: #3A70CF;
    //  }
    //
    //  &:last-of-type {
    //    margin-right: 0;
    //  }
    //}
  }
  
  .tabs {
    padding: 0 10px;
  }
}






