@import "~src/assets/scss/_variables";

:host {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  width: 320px;
  z-index: 10;
}

.box {
  //position: relative;
}
.widget {
  width: 320px;
}
app-right-widget-toolbar, app-more-articles-widget, app-law-opition-widget, app-ratio-voting-widget {
  display: block;
  margin-bottom: v_md(1200, 0);
  width: 320px;
  &.__fixed {
    position: fixed;
    z-index: 10;
    top: 20px;
  }
}



@media all and (max-width: 1199px) {
  
  :host {
    //position: absolute;
    right: 15px;
    //top: 0;
    //bottom: 0;
    //display: block;
    width: 290px;
    //z-index: 10;
  }
  
  .box {
    //position: relative;
    //opacity: 0;
  }
  .widget {
    width: 290px;
  }
  app-right-widget-toolbar, app-more-articles-widget, app-law-opition-widget, app-ratio-voting-widget  {
    //display: block;
    //margin-bottom: v_md(1200, 0);
    width: 290px;
  }
}

@media all and (max-width: 959px) {
  
  :host {
    display: none;
  }
}
