textarea {
  resize: none;
  background-color: transparent;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  padding: 6px 10px;
  
  font-family : 'SourceSansProSemiBold';
  font-size : 45px;
  line-height : 54px;
  letter-spacing : 0.23px;
  color : #303233;
  &:focus, &:hover {
    background-color: #fff;
  }
}
