<div class="addBlockBtn_wrap" [class.__hidden]="isOpen" (click)="open()">
  <div class="addBlockBtn"
       [matTooltip]="'add-material-page.add-block-widget.label' | translate"
       matTooltipPosition="above"
       matTooltipClass="add-material-tooltip"></div>
</div>
<div class="tools" [class.__hidden]="!isOpen"  appClickOutside (clickOutside)="close()">
  <button type="button"
          class="tools_item"
          (click)="add(2)"
          [matTooltip]="'add-material-page.add-block-widget.add-text' | translate"
          matTooltipPosition="above"
          matTooltipClass="add-material-tooltip tooltip_pos-top">
    <svg class="svg-tools-1">
      <use [attr.xlink:href]="'#tools-1'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </button>
  <button type="button"
          class="tools_item"
          (click)="add(1)"
          [matTooltip]="'add-material-page.add-block-widget.add-h2' | translate"
          matTooltipPosition="above"
          matTooltipClass="add-material-tooltip tooltip_pos-top">
    <svg class="svg-tools-2">
      <use [attr.xlink:href]="'#tools-2'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </button>
  <button type="button"
          class="tools_item"
          (click)="add(6)"
          [matTooltip]="'add-material-page.add-block-widget.add-cite' | translate"
          matTooltipPosition="above"
          matTooltipClass="add-material-tooltip tooltip_pos-top">
    <svg class="svg-tools-3">
      <use [attr.xlink:href]="'#tools-3'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </button>
  <button type="button"
          class="tools_item"
          (click)="add(3)"
          [matTooltip]="'add-material-page.add-block-widget.add-photo' | translate"
          matTooltipPosition="above"
          matTooltipClass="add-material-tooltip tooltip_pos-top">
    <svg class="svg-tools-4">
      <use [attr.xlink:href]="'#tools-4'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </button>
  <button type="button"
          class="tools_item"
          (click)="add(7)"
          [matTooltip]="'add-material-page.add-block-widget.add-gallery' | translate"
          matTooltipPosition="above"
          matTooltipClass="add-material-tooltip tooltip_pos-top">
    <svg class="svg-tools-5">
      <use [attr.xlink:href]="'#tools-5'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </button>
  <button type="button"
          class="tools_item"
          (click)="add(4)"
          [matTooltip]="'add-material-page.add-block-widget.add-video' | translate"
          matTooltipPosition="above"
          matTooltipClass="add-material-tooltip tooltip_pos-top">
    <svg class="svg-tools-6">
      <use [attr.xlink:href]="'#tools-6'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </button>
  <button type="button"
          class="tools_item"
          (click)="add(5)"
          [matTooltip]="'add-material-page.add-block-widget.add-audio' | translate"
          matTooltipPosition="above"
          matTooltipClass="add-material-tooltip tooltip_pos-top">
    <svg class="svg-tools-7">
      <use [attr.xlink:href]="'#tools-7'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </button>
  <button type="button"
          class="tools_item"
          (click)="add(10)"
          matTooltip="Facebook embed"
          matTooltipPosition="above"
          matTooltipClass="add-material-tooltip tooltip_pos-top">
    <svg class="svg-fb">
      <use [attr.xlink:href]="'#fb'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </button>
  <button type="button"
          class="tools_item"
          (click)="add(9)"
          matTooltip="Twitter embed"
          matTooltipPosition="above"
          matTooltipClass="add-material-tooltip tooltip_pos-top">
    <svg class="svg-tw">
      <use [attr.xlink:href]="'#tw'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </button>
  <button type="button"
          class="tools_item"
          (click)="add(8)"
          matTooltip="Youtube embed"
          matTooltipPosition="above"
          matTooltipClass="add-material-tooltip tooltip_pos-top">
    <svg class="svg-ytb">
      <use [attr.xlink:href]="'#ytb'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </button>
</div>
