
.addBlockBtn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  width: 100%;
  cursor: pointer;
  
  &.__hidden {
    display: none;
  }
}
.addBlockBtn {
  position: relative;
  background-color: #A3ACB3;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 0;
  
  &:hover {
    background-color: #7C858C;
  }
  
  &:before, &:after {
    display: block;
    content: '';
    width: 10px;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  &:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.tools {
  display: flex;
  align-items: center;
  max-width: 620px;
  height: 62px;
  justify-content: space-between;
  margin: 0 auto;
  &.__hidden {
    display: none;
  }
  
  .tools_item {
    padding: 10px;
    
    &:hover {
  transform: scale(1.1);
      svg {
        fill: #7C858C;
      }
    }
  }
  
  svg {
    fill: #A3ACB3;
  }
  
  .svg-tools-1 {
    width: 30px;
    height: 20px;
  }
  .svg-tools-2 {
    width: 27.6px;
    height: 19.6px;
  }
  .svg-tools-3 {
    width: 26.8px;
    height: 20px;
  }
  .svg-tools-4 {
    width: 26.5px;
    height: 22.5px;
  }
  .svg-tools-5 {
    width: 27.5px;
    height: 24px;
  }
  .svg-tools-6 {
    width: 24.3px;
    height: 28px;
  }
  .svg-tools-7 {
    width: 19.5px;
    height: 25px;
  }
  .svg-fb {
    width: 13px;
    height: 25px;
  }
  .svg-tw {
    width: 25.5px;
    height: 20px;
  }
  .svg-ytb {
    width: 28.4px;
    height: 20px;
  }
  
  
  
}
