<div class="backBtn" [class.__rotate]="rotate" (click)="clickHandler()">
  <svg class="svg-back-page-btn">
    <use [attr.xlink:href]="'#back-page-btn'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
  </svg>
</div>
