@import "../../../../../assets/scss/variables";

.backBtn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 0;
  margin-bottom: v_l(1200, 5);
  
  &.__rotate {
    transform: rotate(90deg);
  }
  
  &:hover {
    svg {
      fill: #7C858C
    }
  }
  
  svg {
    width: 16.7px;
    height: 15px;
    fill: #AEB5BB;
  }
}
