:host {
  ::ng-deep {
    .mat-form-field-appearance-legacy .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
    .mat-form-field-label-wrapper {
      padding-top: 0;
      display: flex !important;
      align-items: center !important;
      height: auto !important;
      top: 50% !important;
      transform: translateY(-50%) !important;
      
      .mat-form-field-label {
        top: auto !important;
        position: relative !important;
        font-family: 'SourceSansPro' !important;
        font-size: 18px !important;
        color: #AEB5BB !important;
        transform: none !important;
      }
      
      input {
        height: 100% !important;
        color: #303233 !important;
        font-family: 'SourceSansPro' !important;
        font-size: 18px !important;
      }
    }
    
    .mat-form-field-underline {
      display: none !important;
    }
    
    .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      display: none !important;
    }
    
    .mat-form-field-infix {
      border: none;
      height: 100% !important;
  
      input {
        height: 100% !important;
        color: #303233 !important;
        font-family: 'SourceSansPro' !important;
        font-size: 18px !important;
      }
    }
    
    
    .mat-form-field-subscript-wrapper {
      display: none !important;
    }
    
    input {
      height: 100% !important;
      color: #303233 !important;
      font-family: 'Source Sans Pro' !important;
      font-size: 18px !important;
    }
    
    .mat-form-field-flex {
      background: #FFFFFF !important;
      border-radius: 4px !important;
      overflow: hidden !important;
      height: 35px !important;
      width: 147px !important;
      padding: 0 12px 0 15px !important;
      display: flex !important;
      align-items: center !important;
      transition: box-shadow .2s ease-in-out;
      
      &:hover {
        box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
      }
    }
    
  }
  
  .icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0;
    z-index: 10;
    cursor: pointer;
    
    &.__active {
      svg {
        //fill: #303233;
      }
    }
    
    svg {
      width: 15.8px;
      height: 17px;
      fill: #D8DCDF;
    }
  }
  
}
