<mat-form-field>
  <input matInput
         [matDatepicker]="picker"
         [(ngModel)]="date"
         (ngModelChange)="newDate.emit(date.unix())"
         autocomplete="off"
         placeholder="20-10-2018">
  <div class="icon" [class.__active]="date" (click)="picker.open()">
    <svg class="svg-calendar" matDatepickerToggleIcon>
      <use [attr.xlink:href]="'#calendar'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </div>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
