@import "~src/assets/scss/_variables";
@import "~src/assets/scss/_mixins";

.list {
  position: relative;
  max-height: 360px;
}

:host {
  width: 100%;
}

.law_head {
  margin-bottom: v_l(1200, 6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
  span {
    font-family: 'SourceSansProSemiBold';
    font-size: 25px;
    color: #303233;
  }
  
  .addBtn {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 35px;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    
    &:hover {
      background-color: #EBECED;
    }
    
    span {
      font-family: 'SourceSansProSemiBold';
      font-size: 16px;
      letter-spacing: 0.24px;
      color: #2053AB;
    }
    
    .icon {
      display: block;
      position: relative;
      width: 8px;
      height: 8px;
      margin-right: 6px;
      
      &:before, &:after {
        display: block;
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 2px;
        background-color: #2053AB;
      }
      
      &:after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }
  
  
}

.comment {
  padding-left: 50px;
  position: relative;
  margin-bottom: 20px;
  padding-right: 30px;
  
  &.__withPosition {
    padding-left: 77px;
    
    .comment_img {
      width: 60px;
      height: 60px;
      
      svg {
        width: 30px;
        height: 31px;
      }
    }
  }
  
  .comment_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    background-color: #767D80;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    
    svg {
      width: 17px;
      height: 18.5px;
      fill: #F7F7F7;
      margin-bottom: 3px;
    }
  }
  
  .author {
    font-family: 'SourceSansProSemiBold';
    font-size: 17px;
    color: #303233;
  }
  
  .position {
    font-family: 'SourceSansPro';
    font-size: 15px;
    color: #767D80;
  }
  
  .date {
    margin-top: 3px;
    font-family: 'SourceSansPro';
    font-size: 14px;
    color: #A3ACB3;
  }
  
  .comment_top {
    margin-bottom: 16px;
  }
  
  .comment_content {
    font-family: 'SourceSansPro';
    font-size: 16px;
    line-height: 24px;
    color: #303233;
    word-break: break-word;
  }
  
}

.btn_more {
  padding: 5px;
  font-family: 'SourceSansPro';
  font-size: 16px;
  color: #2053AB;
  cursor: pointer;
  display: block;
  margin: v_l(1200, 20) auto 0;
}

.user_pane {
  padding-left: 50px;
  position: relative;
  margin-top: v_l(1200, 0);
  
  &.__withPosition {
    padding-left: 77px;
    
    .avatar {
      width: 60px;
      height: 60px;
      
      svg {
        width: 30px;
        height: 31px;
      }
    }
  }
  
  .avatar {
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    background-color: #767D80;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    
    svg {
      width: 17px;
      height: 18.5px;
      fill: #F7F7F7;
      margin-bottom: 3px;
    }
  }
  
  .name {
    font-family: 'SourceSansProSemiBold';
    font-size: 17px;
    color: #303233;
  }
  
  .bottom {
    display: flex;
    align-items: flex-end;
    
    &.__active {
      input {
        border-color: #303233;
      }
      
      button {
        pointer-events: auto;
      }
      
      svg {
        fill: #2053AB;
      }
    }
  }
  
  textarea {
    margin-top: 4px;
    height: 38px!important;
    //padding: 0 12px;
    background-color: transparent;
    display: block;
    flex: 1;
    font-family: 'SourceSansPro';
    font-size: 17px;
    color: #303233;
    border-bottom: 2px solid #A3ACB3;
    resize: none;
    padding: 6px 12px;
    
    &.__disabled {
      pointer-events: none;
    }
    &:focus {
      border-color: #303233;
    }
    
    @include placeholder {
      font-family: 'SourceSansPro';
      font-size: 17px;
      line-height: 26px;
      color: #A3ACB3;
    }
  }
  
  button {
    padding: 3px 5px;
    margin-left: 15px;
    pointer-events: none;
    
    &:hover {
      svg {
        fill: #3A70CF !important;
      }
    }
  }
  
  svg {
    width: 16.5px;
    height: 18.1px;
    fill: #A3ACB3;
  }
}

@media all and (max-width: 599px) {
  .law_head {
    //margin-bottom: v_l(1200, 6);
    //display: flex;
    //align-items: center;
    align-items: flex-start;
    //justify-content: space-between;
    //width: 100%;
    //
    //span {
    //  font-family: 'SourceSansProSemiBold';
    //  font-size: 25px;
    //  color: #303233;
    //}
    
    
    .addBtn {
      //position: relative;
      //display: flex;
      //align-items: center;
      flex: 1 0 auto;
      justify-content: center;
      padding: 0;
      height: 26px;
      min-width: 26px;
      max-width: 26px;
      border-radius: 50%;
      border: 2px solid #2053AB;
      //overflow: hidden;
      &:hover {
        //background-color: #F3F4F5;
      }
      
      span {
        //font-family: 'SourceSansProSemiBold';
        //font-size: 16px;
        //letter-spacing: 0.24px;
        //color: #2053AB;
        display: none;
      }
      
      .icon {
        display: block !important;
        //display: block;
        //position: relative;
        //width: 8px;
        //height: 8px;
        margin-right: 0;
        //margin-top: 1px;
        &:before, &:after {
          //display: block;
          //content: '';
          //position: absolute;
          //left: 50%;
          //top: 50%;
          //transform: translate(-50%, -50%);
          //width: 8px;
          //height: 2px;
          //background-color: #2053AB;
        }
        
        &:after {
          //transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
    
    
  }
  
  
  .comment {
    //padding-left: 50px;
    //position: relative;
    //margin-bottom: 20px;
    padding-right: 16px;
    
    &.__withPosition {
      padding-left: 50px;
      
      .comment_img {
        width: 35px;
        height: 35px;
        
        svg {
          width: 17px;
          height: 18.5px;
        }
      }
    }
    
    .comment_img {
      //position: absolute;
      //left: 0;
      //top: 0;
      //width: 35px!important;
      //height: 35px!important;
      //background-color: #767D80;
      //border-radius: 50%;
      //overflow: hidden;
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //line-height: 0;
      
      svg {
        //width: 17px;
        //height: 18.5px;
        //fill: #F7F7F7;
        //margin-bottom: 3px;
      }
    }
    
    .author {
      //font-family: 'SourceSansProSemiBold';
      //font-size: 17px;
      //color: #303233;
    }
    
    .position {
      //font-family: 'SourceSansPro';
      //font-size: 15px;
      //color: #767D80;
    }
    
    .date {
      //margin-top: 3px;
      //font-family: 'SourceSansPro';
      //font-size: 14px;
      //color: #A3ACB3;
    }
    
    .comment_top {
      //margin-bottom: 16px;
    }
    
    .comment_content {
      //font-family: 'SourceSansPro';
      //font-size: 16px;
      //line-height: 24px;
      //color: #303233;
    }
    
  }
  
  
  .user_pane {
    //padding-left: 50px;
    //position: relative;
    //margin-top: v_l(1200, 0);
    
    &.__withPosition {
      padding-left: 50px;
      
      .avatar {
        width: 35px;
        height: 35px;
        
        svg {
          width: 17px;
          height: 18.5px;
        }
      }
    }
    
    .avatar {
      //position: absolute;
      //left: 0;
      //top: 0;
      //width: 35px;
      //height: 35px;
      //background-color: #767D80;
      //border-radius: 50%;
      //overflow: hidden;
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //line-height: 0;
      
      svg {
        //width: 17px;
        //height: 18.5px;
        //fill: #F7F7F7;
        //margin-bottom: 3px;
      }
    }
    
    .name {
      //font-family: 'SourceSansProSemiBold';
      //font-size: 17px;
      //color: #303233;
    }
    
    .bottom {
      //display: flex;
      //align-items: flex-end;
      
      &.__active {
        input {
          //border-color: #303233;
        }
        
        button {
          //pointer-events: auto;
        }
        
        svg {
          //fill: #2053AB;
        }
      }
    }
    
    input {
      //height: 38px;
      //background-color: transparent;
      //display: block;
      //flex: 1;
      //font-family: 'SourceSansPro';
      //font-size: 17px;
      //color: #303233;
      //border-bottom: 2px solid #A3ACB3;
      
      &:focus {
        //border-color: #303233;
      }
      
      @include placeholder {
        //font-family: 'SourceSansPro';
        //font-size: 17px;
        //line-height: 26px;
        //color: #A3ACB3;
      }
    }
    
    button {
      //padding: 3px 5px;
      //margin-left: 15px;
      //pointer-events: none;
      
      &:hover {
        svg {
          //fill: #3A70CF !important;
        }
      }
    }
    
    svg {
      //width: 16.5px;
      //height: 18.1px;
      //fill: #A3ACB3;
    }
  }
}

