<div class="law_head">
  <span>{{title}}</span>
  <!--  <div class="addBtn" *ngIf="addBtn" (click)="inputShow()">-->
  <!--    <span class="icon"></span>-->
  <!--    <span>{{'more-articles-widget.add-btn' | translate}}</span>-->
  <!--  </div>-->
</div>
<div class="list" [perfectScrollbar]="{wheelPropagation:false}" #messagesEl>
  <div class="comment" [class.__withPosition]="position" *ngFor="let comment of cmnts">
    <div class="comment_img">
      <svg class="svg-profile" *ngIf="!comment.user.avatar">
        <use [attr.xlink:href]="'#profile'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
      <img *ngIf="comment.user.avatar" [src]="comment.user.avatar" alt="">
      <!--      <img src="" alt="">-->
    </div>
    <div class="comment_top">
      <div class="author">{{comment.user.name}}</div>
      <div class="position" *ngIf="position">{{comment.user.position}}</div>
      <div class="date">{{date_s.convertWithTime(comment.created_at)}}</div>
    </div>
    <div class="comment_content">{{comment.text}}</div>
  </div>
  <!--  <button type="button" class="btn_more">{{'law-page.text-more' | translate}}</button>-->
</div>
<app-empy-list-string *ngIf="!cmnts.length" [text]="'errors.empy-widget-list' | translate"></app-empy-list-string>
<div class="user_pane" *ngIf="isChat" [class.__withPosition]="position">
  <div class="avatar">
    <svg class="svg-profile" *ngIf="!user.avatar">
      <use [attr.xlink:href]="'#profile'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <img *ngIf="user.avatar" [src]="user.avatar" alt="">
  </div>
  <div class="top">
    <div class="name">{{user.name}}<ng-container *ngIf="!user.name">{{'law-page.comments-user' | translate}}</ng-container></div>
  </div>
  <div class="bottom" [class.__active]="text" (click)="checkAuth()">
    <textarea [class.__disabled]="!user.name" autosize [(ngModel)]="text" [minRows]="1" [useImportant]="true" [maxlength]="1000"></textarea>
    <button type="button" (click)="sendMessage()">
      <svg class="svg-submit">
        <use [attr.xlink:href]="'#submit'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </button>
  </div>
</div>
