<div class="box">
  <div class="head">
    <span>{{'person-page.voting.title' | translate}}</span>
    <div class="icon" (click)="showInfo()">
      <svg class="svg-info">
        <use [attr.xlink:href]="'#info'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
  </div>
  <div class="label">{{question}}</div>
  <div class="row" [hidden]="!mood.can_vote">
    <div class="choice">
      <div class="choice_item" (click)="checkOpitionMood('true')">
        <svg class="svg-true">
          <use [attr.xlink:href]="'#true'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <span>{{'person-page.voting.true' | translate}}</span>
      </div>
      <div class="choice_item" (click)="checkOpitionMood('false')">
        <svg class="svg-false">
          <use [attr.xlink:href]="'#false'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <span>{{'person-page.voting.false' | translate}}</span>
      </div>
    </div>
  </div>
<!--  <div class="label">{{'material-page.popular-opinion-widget.q-label-1' | translate}}</div>-->
  <div class="row row_result" [hidden]="!mood.total && mood.can_vote">
    <div class="result_line" [class.__top]="mood.true > mood.false" [style.maxWidth.%]="mood.true_width">
      <div class="choice_item">
        <svg class="svg-true">
          <use [attr.xlink:href]="'#true'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <span>{{'person-page.voting.true' | translate}}</span>
      </div>
      <div class="result_line-count"
           [class.__active]="mood.true_width"
           [check]="mood.total"
           appCheckCountPos><b>{{mood.true_width}}%</b></div>
    </div>
    <div class="result_line" [class.__top]="mood.false > mood.true" [style.maxWidth.%]="mood.false_width">
      <div class="choice_item">
        <svg class="svg-false">
          <use [attr.xlink:href]="'#false'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <span>{{'person-page.voting.false' | translate}}</span>
      </div>
      <div class="result_line-count"
           [class.__active]="mood.false_width"
           [check]="mood.total"
           appCheckCountPos><b>{{mood.false_width}}%</b></div>
    </div>
  </div>
</div>
