<div class="box" [class.__hide]="isHide">
  <div class="container">
    <div class="mobileBtn" [class.__active]="isMenu" (click)="toggleMenu()"></div>
    <button type="button" (click)="backHandler()" class="backPageBtn">
      <svg class="svg-back-page-btn">
        <use [attr.xlink:href]="'#back-page-btn'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </button>
    <a href="" routerLink="/" class="logo">
      <svg class="svg-logo">
        <use [attr.xlink:href]="'#logo'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a>
    <div class="nav">
      <a href="" class="nav_item" [routerLink]="item.link" *ngFor="let item of menu | async">{{item.text}}</a>
    </div>
    <div class="common">
      <div class="langs" *ngIf="!checkLangCookie">
        <div class="langs_item" [class.__active]="defaultLang" (click)="langService.switch('uk')">{{'langs.ua' | translate}}</div>
        <div class="langs_item" [class.__active]="!defaultLang" (click)="langService.switch('ru')">{{'langs.ru' | translate}}</div>
      </div>
      <a href="" routerLink="/donate" class="btn_small"
         [matTooltip]="'tooltips.global-icn.donate' | translate" matTooltipPosition="below" matTooltipClass="add-material-tooltip-bottom">
        <svg class="svg-lightning">
          <use [attr.xlink:href]="'#lightning'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
      <a href="" routerLink="/info" class="btn_small __info"
         [matTooltip]="'tooltips.global-icn.about' | translate" matTooltipPosition="below" matTooltipClass="add-material-tooltip-bottom">
        <svg class="svg-info">
          <use [attr.xlink:href]="'#info'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
      <div class="user_wrap" *ngIf="isLogin && user"  appClickOutside (clickOutside)="closeDropdown()">
        <div class="user" (click)="isDropdown = !isDropdown">
          <div class="icon">
            <svg class="svg-user" *ngIf="!user.avatar">
              <use [attr.xlink:href]="'#user'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <img *ngIf="user.avatar" [src]="user.avatar" alt="">
          </div>
          <div class="btn">
            <div class="btn_common"></div>
          </div>
        </div>
        <div class="user_dropdown" [hidden]="!isDropdown">
          <a href="" class="user_dropdown-item" (click)="isDropdown = false;" [routerLink]="profile.link" *ngFor="let profile of profileDropdown | async">{{profile.text}}</a>
          <div class="user_dropdown-item" (click)="isDropdown = false; appAuth.logout();">{{'header.logout' | translate}}</div>
        </div>
      </div>
      <!--      <div class="logout" *ngIf="isLogin && user" (click)="appAuth.logout();">{{'header.logout' | translate}}</div>-->
      <button type="button" class="loginBtn" *ngIf="!isLogin" (click)="openAuth()">
        <span>{{'header.login-btn' | translate}}</span>
        <svg class="svg-profile">
          <use [attr.xlink:href]="'#profile'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
