.box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 76px;
  display: flex;
  align-items: flex-end;
  z-index: 10;
  transition: transform .3s ease-in-out;
  //background-color: #F7F7F7;
  
  &.__hide {
    transform: translateY(-100%);
  }
}

.container {
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
  box-sizing: content-box;
}

.mobileBtn {
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: relative;
  display: none;
  margin-right: 15px;
  
  &.__active {
    &:before, &:after {
      //display: block;
      //content: '';
      //position: absolute;
      //height: 2px;
      //background-color: #3A70CF;
      left: 50%;
      top: 50%;
    }
    
    &:before {
      //top: 10px;
      transform: translate(-50%, -50%) rotate(45deg);
      //width: 25px;
    }
    
    &:after {
      bottom: auto;
      width: 25px;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  
  &:before, &:after {
    display: block;
    content: '';
    position: absolute;
    height: 2px;
    background-color: #3A70CF;
    left: 0;
  }
  
  &:before {
    top: 10px;
    width: 25px;
  }
  
  &:after {
    bottom: 4px;
    width: 15px;
  }
  
  
}

.backPageBtn {
  display: none;
  padding: 10px;
  
  svg {
    width: 18.1px;
    height: 16.4px;
    fill: #3A70CF;
  }
}

.logo {
  padding: 0 5px;
  height: 35px;
  //display: flex;
  //align-items: center;
  //box-sizing: content-box;
  //display: inline-block;
  margin-right: 25px;
  
  &:hover {
    transform: scale(1.08);
  }
  
  .svg-logo {
    width: 40px;
    height: 25px;
    fill: #3A70CF;
  }
}

.nav {
  display: flex;
  //justify-content: flex-end;
  height: 35px;
  
  .nav_item {
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    //padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    font-family: 'SourceSansProSemiBold';
    font-size: 17px;
    color: rgba(32, 83, 171, .85);
    //display: none;
    outline: none;
    
    //&:nth-of-type(1),
    //&:nth-of-type(2),
    //&:nth-of-type(3){
    //  display: flex;
    //}
    
    &:hover {
      color: rgba(32, 83, 171, 1);
      //font-family: 'SourceSansProSemiBold';
      //transform: scale(1.04);
    }
  }
}

.common {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  align-items: center;
}

.langs {
  margin-right: 20px;
  display: flex;
  align-items: center;
  //height: 35px;
  
  .langs_item {
    display: inline-block;
    padding: 5px 5px;
    font-family: 'SourceSansPro';
    font-size: 17px;
    color: rgba(32, 83, 171, .85);
    cursor: pointer;
    
    &.__active {
      font-family: 'SourceSansProSemiBold';
      pointer-events: none;
    }
    
    &:hover {
      color: rgba(32, 83, 171, 1);
      transform: scale(1.1);
    }
  }
}

.btn_small {
  padding: 5px 10px;
  
  &:hover {
    svg {
      fill: rgba(32, 83, 171, 1);
    }
    
    transform: scale(1.15);
  }
  &.__info {
    margin-left: 10px;
  }
  
  .svg-lightning {
    width: 10.7px;
    height: 21px;
    fill: rgba(32, 83, 171, .85);
  }
  
  .svg-info {
    width: 8.3px;
    height: 20px;
    fill: rgba(32, 83, 171, .85);
  }
}

.user_wrap {
  position: relative;
  margin-left: 20px;
  display: flex;
  .user {
    cursor: pointer;
    display: flex;
    align-items: center;
    
    &:hover {
      .icon {
        
        //transform: scale(1.1);
      }
    }
  }
  
  .icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(58, 112, 207, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    
    svg {
      width: 15.7px;
      height: 17px;
      fill: #3A70CF;
    }
  }
  
  .btn {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none !important;
    user-select: none;
    //margin-left: 10px;
    padding-left: 10px;
    //display: none;
    &:before, &:after {
      display: block;
      content: '';
    }
    
    &:before, &:after, .btn_common {
      width: 2px;
      height: 2px;
      background-color: #A3ACB3;
      border-radius: 50%;
      overflow: hidden;
    }
    
    .btn_common {
      margin: 3px 0;
    }
  }
  
  .user_dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 2px;
    background: #FFFFFF;
    border-radius: 3px;
    margin-top: 18px;
    z-index: 10;
    box-shadow: 0px 4px 6px rgba(29, 54, 73, 0.1);
    padding: 5px 0;
  }
  
  .user_dropdown-item {
    padding: 0 20px;
    height: 35px;
    font-family: 'SourceSansPro';
    font-size: 17px;
    color: #7C858C;
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    justify-content: center;
    
    &:hover {
      color: #2053AB;
      background-color: #F7F7F7;
    }
  }
}

.logout {
  font-family: 'SourceSansPro';
  font-size: 15px;
  letter-spacing: 0.22px;
  color: #3A70CF;
  margin-left: 15px;
  padding: 5px;
  cursor: pointer;
}

.loginBtn {
  padding: 0 20px;
  height: 35px;
  margin: auto 0 0 28px;
  border-style: Solid;
  border-color: #3A70CF;
  border-width: 1px;
  border-radius: 3px;
  
  span {
    font-family: 'SourceSansPro';
    font-size: 15px;
    letter-spacing: 0.22px;
    color: #3A70CF;
  }
  
  .svg-profile {
    width: 19px;
    height: 20px;
    fill: #3A70CF;
    display: none;
  }
  
  &:hover {
    transform: scale(1.05);
  }
}

@media all and (max-width: 1199px) {
  .box {
    //position: absolute;
    //left: 0;
    //right: 0;
    //top: 0;
    //height: 56px;
    //display: flex;
    //align-items: flex-end;
    //z-index: 1000;
  }
  
  .container {
    //display: flex;
    //align-items: flex-end;
  }
  
  .logo {
    //padding: 10px 5px 10px 0;
    //height: 25px;
    //box-sizing: content-box;
    //display: inline-block;
    margin-right: 15px;
    //padding: 10px 15px;
    
    .svg-logo {
      //width: 40px;
      //height: 25px;
      //fill: #3A70CF;
    }
  }
  
  .nav {
    //display: flex;
    //justify-content: flex-end;
    
    a {
      //padding: 10px;
      //margin: 0 5px;
      //
      //font-family: 'SourceSansPro';
      //font-size: 17px;
      //color: rgba(32, 83, 171, .85);
      
      &:hover {
        //color: rgba(32, 83, 171, 1);
      }
    }
  }
  
  .common {
    //margin-left: auto;
    //margin-right: 0;
    //display: flex;
  }
  
  .langs {
    //margin-right: 14px;
    //display: flex;
    //align-items: center;
    
    a {
      //display: inline-block;
      //padding: 5px 5px;
      //font-family: 'SourceSansPro';
      //font-size: 17px;
      //color: rgba(32, 83, 171, .85);
      
      &:hover {
        //color: rgba(32, 83, 171, 1);
      }
    }
  }
  
  .btn_small {
    //padding: 5px 10px;
    
    &:hover {
      svg {
        //fill: rgba(32, 83, 171, 1);
      }
    }
    
    .svg-lightning {
      //width: 10.7px;
      //height: 21px;
      //fill: rgba(32, 83, 171, .85);
    }
    
    .svg-info {
      //width: 8.3px;
      //height: 20px;
      //fill: rgba(32, 83, 171, .85);
    }
  }
  
  .loginBtn {
    //font-family: Arial;
    //font-size: 15px;
    //letter-spacing: 0.22px;
    //color: #3A70CF;
    //padding: 0 20px;
    //height: 35px;
    //margin: auto 0 0 28px;
    //border-style: Solid;
    //border-color: #3A70CF;
    //border-width: 1px;
    //border-radius: 3px;
    
    &:hover {
      //transform: scale(1.05);
    }
  }
}

@media all and (max-width: 959px) {
  .box {
    //position: absolute;
    //left: 0;
    //right: 0;
    //top: 0;
    height: auto;
    min-height: 61px;
    //display: flex;
    align-items: center;
    //z-index: 1000;
  }
  
  .container {
    //display: flex;
    //align-items: flex-end;
    line-height: 0;
    height: 100%;
    padding-top: 15px;
    align-items: center;
  }
  
  .mobileBtn {
    //width: 25px;
    //height: 16px;
    //position: relative;
    //display: none;
    display: block;
    margin-left: 10px;
    
    &:before, &:after {
      //display: block;
      //content: '';
      //position: absolute;
      //height: 2px;
      //background-color: #3A70CF;
      //left: 0;
    }
    
    &:before {
      //top: 0;
      //width: 25px;
    }
    
    &:after {
      //bottom: 4px;
      //width: 15px;
    }
    
    
  }
  
  .logo {
    padding: 0 10px;
    //height: 25px;
    display: flex;
    align-items: center;
    line-height: 0;
    //box-sizing: content-box;
    //display: inline-block;
    margin-right: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 8px;
    //padding: 10px 15px;
    &:hover {
      transform: translate(-50%, -50%);
    }
    .svg-logo {
      //width: 40px;
      //height: 25px;
      //fill: #3A70CF;
    }
  }
  
  .nav {
    display: none;
    //display: flex;
    //justify-content: flex-end;
    
    a {
      //padding: 10px;
      //margin: 0 5px;
      //
      //font-family: 'SourceSansPro';
      //font-size: 17px;
      //color: rgba(32, 83, 171, .85);
      
      &:hover {
        //color: rgba(32, 83, 171, 1);
      }
    }
  }
  
  .common {
    //margin-left: auto;
    //margin-right: 0;
    //display: flex;
    align-items: center;
  }
  
  .langs {
    margin-right: 8px;
    //display: flex;
    //align-items: center;
    
    .langs_item {
      line-height: normal;
      //display: inline-block;
      padding: 2px 5px;
      //font-family: 'SourceSansPro';
      //font-size: 17px;
      //color: rgba(32, 83, 171, .85);
      
      &:hover {
        //color: rgba(32, 83, 171, 1);
      }
    }
  }
  
  .btn_small {
    padding: 0 15px;
    display: flex;
    align-items: flex-end;
    
    &:hover {
      svg {
        //fill: rgba(32, 83, 171, 1);
      }
    }
    
    .svg-lightning {
      //width: 10.7px;
      //height: 21px;
      //fill: rgba(32, 83, 171, .85);
    }
    
    .svg-info {
      //width: 8.3px;
      //height: 20px;
      //fill: rgba(32, 83, 171, .85);
    }
  }
  
  .loginBtn {
    //font-family: Arial;
    //font-size: 15px;
    //letter-spacing: 0.22px;
    //color: #3A70CF;
    //padding: 0 20px;
    //height: 35px;
    //margin: auto 0 0 28px;
    //border-style: Solid;
    //border-color: #3A70CF;
    //border-width: 1px;
    //border-radius: 3px;
    margin-left: 0;
    height: 20px;
    padding: 0 15px;
    border: none;
    border-radius: 0;
    
    span {
      display: none;
    }
    
    .svg-profile {
      display: block;
    }
    
    &:hover {
      transform: none;
      
      .svg-profile {
        fill: rgba(32, 83, 171, 1);
      }
    }
  }
}

@media all and (max-width: 599px) {
  .box {
    //position: absolute;
    //left: 0;
    //right: 0;
    //top: 0;
    //height: 36px;
    //display: flex;
    //align-items: flex-end;
    //z-index: 1000;
  }
  
  .container {
    //display: flex;
    //align-items: flex-end;
    //line-height: 0;
    //height: 100%;
  }
  
  .mobileBtn {
    margin-left: 10px;
    //width: 25px;
    //height: 16px;
    //position: relative;
    //display: none;
    display: block;
    //padding-bottom: 7px;
    margin-bottom: 5px;
    //padding-left: 10px;
    
    &:before, &:after {
      //display: block;
      //content: '';
      //position: absolute;
      //height: 2px;
      //background-color: #3A70CF;
      //left: 0;
    }
    
    &:before {
      //top: 0;
      //width: 25px;
    }
    
    &:after {
      //bottom: 4px;
      //width: 15px;
    }
    
    
  }
  
  .backPageBtn {
    display: block;
    padding: 5px 10px 8px;
    line-height: 0;
    //display: flex;
    //align-items: flex-end;
    svg {
      //width: 18.1px;
      //height: 16.4px;
      //fill: #3A70CF;
    }
  }
  
  .logo {
    //padding: 0 10px;
    ////height: 25px;
    //display: flex;
    //align-items: flex-end;
    //line-height: 0;
    ////box-sizing: content-box;
    ////display: inline-block;
    //margin-right: 0;
    //position: absolute;
    //left: 50%;
    //top: 50%;
    //transform: translate(-50%, -50%);
    //padding: 10px 15px;
    //margin-bottom: 5px;
    padding-bottom: 8px;
    
    .svg-logo {
      width: 33px;
      height: 20px;
      //fill: #3A70CF;
    }
  }
  
  .nav {
    display: none;
    //display: flex;
    //justify-content: flex-end;
    
    a {
      //padding: 10px;
      //margin: 0 5px;
      //
      //font-family: 'SourceSansPro';
      //font-size: 17px;
      //color: rgba(32, 83, 171, .85);
      
      &:hover {
        //color: rgba(32, 83, 171, 1);
      }
    }
  }
  
  .common {
    //margin-left: auto;
    //margin-right: 0;
    //display: flex;
    //align-items: flex-end;
    display: flex;
    align-items: center;
  }
  
  .langs {
    display: none;
    //margin-right: 8px;
    //display: flex;
    //align-items: center;
    
    a {
      //line-height: 1.15;
      ////display: inline-block;
      //padding: 2px 5px;
      //font-family: 'SourceSansPro';
      //font-size: 17px;
      //color: rgba(32, 83, 171, .85);
      
      &:hover {
        //color: rgba(32, 83, 171, 1);
      }
    }
  }
  
  .btn_small {
    padding: 5px 8px;
    margin-left: 8px;
    //display: flex;
    //align-items: flex-end;
    &.__info {
      //display: none;
    }
    
    &:hover {
      svg {
        //fill: rgba(32, 83, 171, 1);
      }
    }
    
    .svg-lightning {
      //width: 10.7px;
      //height: 21px;
      //fill: rgba(32, 83, 171, .85);
    }
    
    .svg-info {
      //width: 8.3px;
      //height: 20px;
      //fill: rgba(32, 83, 171, .85);
    }
  }
  .user_wrap {
    margin-left: 8px;
  }
  .loginBtn {
    //font-family: Arial;
    //font-size: 15px;
    //letter-spacing: 0.22px;
    //color: #3A70CF;
    padding: 0 20px 0;
    height: auto;
    padding-right: 10px;
    margin: auto;
    //border-style: Solid;
    //border-color: #3A70CF;
    //border-width: 1px;
    //border-radius: 3px;
    //margin-left: 0;
    //height: 20px;
    //padding: 0 15px;
    //border: none;
    //border-radius: 0;
    
    span {
      //display: none;
    }
    
    .svg-profile {
      //display: block;
    }
    
    &:hover {
      //transform: none;
      
      .svg-profile {
        //fill: rgba(32, 83, 171, 1);
      }
    }
  }
}

