<div class="box">
  <div class="icon">
    <svg class="svg-quote">
      <use [attr.xlink:href]="'#quote'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </div>
  <div class="content">
    <textarea autosize [(ngModel)]="value" (ngModelChange)="newCite.emit(value);"></textarea>
    <input type="text" [(ngModel)]="descr" [placeholder]="placeholder | translate" (ngModelChange)="newDescr.emit(descr);">
  </div>
</div>
