.box {
  position: relative;
  padding-top: 20px;
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}


.icon {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-30%);
  
  svg {
    width: 120px;
    height: 90px;
    fill: #E6E8EB;
  }
}

input, textarea {
  font-family : 'SourceSansProSemiBold';
  background-color: transparent;
  border-radius: 3px;
  overflow: hidden;
  &:focus {
    background-color: #fff;
  }
}

input {
  width: 305px;
  height: 33px;
  text-align: right;
  padding: 0 18px;
  
  font-size : 16px;
  color : #303233;
}

textarea {
  resize: none;
  width: 100%;
  padding: 6px 10px;
  font-size : 20px;
  line-height : 26px;
  color : #303233;
  
  margin-bottom: 10px;

}

