@import "../../../../../../assets/scss/variables";

:host {
  display: block;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.video {
  position: relative;
  margin-bottom: v_xs(1200, 5);
  width: 100%;
  line-height: 0;
  background-color: #000000;
  
  video {
    width: 100%;
    max-height: 480px;
    outline: none;
  }
  
  .cover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
    
    &.__hide {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .play {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .8);
    z-index: 5;
    cursor: pointer;
    transition: background-color .15s ease-in-out, transform .15s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    user-select: none;
    
    &:before {
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      transform: translateX(3px);
      border-left: 20px solid #1C1D1F;
      
    }
    
    &:hover {
      background-color: rgba(255, 255, 255, 1);
      transform: scale(1.1);
    }
  }
}


.descr {
  font-family: 'SourceSansPro';
  font-size: 16px;
  color: #A3ACB3;
  margin-right: 10px;
}

@media all and (max-width: 959px) {
  
  :host {
    //display: block;
    //width: 100%;
  }
  
  .box {
    //display: flex;
    //flex-direction: column;
    //align-items: flex-end;
    //justify-content: flex-start;
  }
  
  .video {
    //position: relative;
    //margin-bottom: v_xs(1200, 5);
    margin-bottom: 6px;
    //width: 100%;
    video {
      //width: 100%;
    }
    
    .cover {
      //position: absolute;
      //left: 0;
      //right: 0;
      //top: 0;
      //bottom: 0;
      //z-index: 1;
      //background-position: 50% 50%;
      //background-size: cover;
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
      
      &.__hide {
        //opacity: 0;
        //visibility: hidden;
      }
    }
    
    .play {
      //width: 70px;
      //height: 70px;
      //border-radius: 50%;
      //background-color: rgba(255, 255, 255, .8);
      //z-index: 5;
      //cursor: pointer;
      //transition: background-color .15s ease-in-out, transform .15s ease-in-out;
      //display: flex;
      //justify-content: center;
      //align-items: center;
      
      &:before {
        //display: block;
        //content: '';
        //width: 0;
        //height: 0;
        //border-top: 15px solid transparent;
        //border-bottom: 15px solid transparent;
        //transform: translateX(3px);
        //border-left: 20px solid #1C1D1F;
        
      }
      
      &:hover {
        //background-color: rgba(255, 255, 255, 1);
        //transform: scale(1.1);
      }
    }
  }
  
  
  .descr {
    //font-family : 'SourceSansPro';
    font-size: 15px;
    //color : #A3ACB3;
    //margin-right: 10px;
  }
}

@media all and (max-width: 599px) {
  
  :host {
    //display: block;
    //width: 100%;
  }
  
  .box {
    //display: flex;
    //flex-direction: column;
    //align-items: flex-end;
    //justify-content: flex-start;
  }
  
  .video {
    //position: relative;
    //margin-bottom: v_xs(1200, 5);
    //margin-bottom: 6px;
    //width: 100%;
    video {
      //width: 100%;
      max-height: 360px;
    }
    
    .cover {
      //position: absolute;
      //left: 0;
      //right: 0;
      //top: 0;
      //bottom: 0;
      //z-index: 1;
      //background-position: 50% 50%;
      //background-size: cover;
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
      
      &.__hide {
        //opacity: 0;
        //visibility: hidden;
      }
    }
    
    .play {
      width: 55px;
      height: 55px;
      //border-radius: 50%;
      //background-color: rgba(255, 255, 255, .8);
      //z-index: 5;
      //cursor: pointer;
      //transition: background-color .15s ease-in-out, transform .15s ease-in-out;
      //display: flex;
      //justify-content: center;
      //align-items: center;
      
      &:before {
        //display: block;
        //content: '';
        //width: 0;
        //height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        //transform: translateX(3px);
        border-left: 15px solid #1C1D1F;
        
      }
      
      &:hover {
        //background-color: rgba(255, 255, 255, 1);
        //transform: scale(1.1);
      }
    }
  }
  
  
  .descr {
    //font-family : 'SourceSansPro';
    //font-size : 15px;
    //color : #A3ACB3;
    //margin-right: 10px;
  }
}

