<div class="box">
  <div class="video">
    <video [controls]="false" #videoEl>
      <source [src]="content.video + '#t=0.1'" type="video/mp4">
    </video>

    <div class="cover" [class.__hide]="isPlay">
      <!--    <div class="cover" [class.__hide]="isPlay" [style.backgroundImage]="'url(' + 'https://static.stereogum.com/uploads/2018/09/tobacco-600-1-1536432033-compressed.jpg' + ')'">-->
      <div class="play" (click)="play(videoEl)"></div>
    </div>
  </div>
  <div class="descr" *ngIf="content.caption">{{content.caption}}</div>
</div>
