@import "../../../../../../assets/scss/variables";

:host {
  display: block;
  width: 100%;
}

.head {
  font-family : 'SourceSansProSemiBold';
  font-size : 25px;
  color : #303233;
  margin-bottom: v_l(1200, 3);
}

.item {
  display: flex;
  position: relative;
  background : #FFFFFF;
  border-radius : 3px;
  overflow: hidden;
  margin-bottom: v_xs(1200, 0);
  
  &:hover {
    .data_head {
      color: #3A70CF;
    }
  }
  
  &:last-of-type {
    margin-bottom: 0;
  }
}

.img {
  min-width: 80px;
  max-width: 80px;
  height: 80px;
  line-height: 0;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  
  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.data {
  padding: v_s(1200, 4) 30px v_s(1200, 4) 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data_head {
  font-family : 'SourceSansProSemiBold';
  font-size : 17px;
  line-height : 17px;
  letter-spacing : 0.26px;
  color : #303233;
  margin-bottom: v_xs(1200, 7);
  word-break: break-word;
}

.data_date {
  font-family : 'SourceSansPro';
  font-size : 14px;
  color : #AEB5BB;
}



@media all and (max-width: 599px) {
  :host {
    //display: block;
    //width: 100%;
  }
  
  .head {
    //font-family : 'SourceSansProSemiBold';
    //font-size : 25px;
    //color : #303233;
    //margin-bottom: v_l(1200, 3);
  }
  
  .item {
    //display: flex;
    //position: relative;
    //background : #FFFFFF;
    //border-radius : 3px;
    //overflow: hidden;
    //margin-bottom: v_xs(1200, 0);
    min-height: 80px;
    padding: 10px;
    
    &:hover {
      .data_head {
        //color: #3A70CF;
      }
    }
    
    &:last-of-type {
      //margin-bottom: 0;
    }
  }
  
  .img {
    //min-width: 80px;
    //max-width: 80px;
    //line-height: 0;
    //margin-right: 20px;
    display: none;
  }
  
  .data {
    padding: 0;
    //flex: 1;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
  }
  
  .data_head {
    //font-family : 'SourceSansProSemiBold';
    //font-size : 17px;
    //line-height : 17px;
    //letter-spacing : 0.26px;
    //color : #303233;
    //margin-bottom: v_xs(1200, 7);
  }
  
  .data_date {
    //font-family : 'SourceSansPro';
    //font-size : 14px;
    //color : #AEB5BB;
  }
}
