<div class="box">
  <div class="head">{{title}}</div>
  <div class="list">
    <a href="" [routerLink]="['/material', similar.slug]" class="item" *ngFor="let similar of similars">
      <div class="img">
        <img [src]="similar.cover" alt="">
      </div>
      <div class="data">
        <div class="data_head">{{similar.title}}</div>
        <div class="data_date">{{dateService.convert(similar.pub_time)}}</div>
      </div>
    </a>
  </div>
</div>
