@import "assets/scss/reset";
@import "assets/scss/blank";
@import "assets/scss/variables";
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html,
body {
  position: relative;
  height: 100%;
  
  
  &.scrollOff {
    overflow: hidden;
  }
  
  &.__mousedwn {
    * {
      
      //cursor: url("/assets/img/clenched_hand.png"), pointer !important;
      cursor: move!important;
    }
  }
}
[hidden] {
  display: none !important;
}
.mat-datepicker-content {
  box-shadow: 0px 4px 6px rgba(29, 54, 73, 0.1)!important;
}
.mat-calendar-body-selected {
  background-color: #3A70CF!important;
  //color: #fff;
}
//.ps--active-x > .ps__rail-x, .ps--active-y > .ps__rail-y {
//  display: block;
//  background-color: transparent;
//}

.ps__rail-y, .ps__rail-x {
  background-color: transparent !important;
}

.ps__thumb-y {
  background-color: #D8DCDF !important;
  width: 6px !important;
}

.ps__thumb-x  {
  background-color: #D8DCDF !important;
  height: 6px !important;
}
.adsbygoogle {
  margin-top: 20px;
}

body {
  min-height: 100%;
  overflow-y: scroll;
}
.smile-improve {
max-width: 22px;
min-width: 22px;
}
.smile-worse {
  max-width: 22px;
  min-width: 22px;

}
.smile-necessary {
  max-width: 22px;
  min-width: 22px;
}
.smile-negative {
  max-width: 22px;
  min-width: 22px;
}




.container {
  max-width: 1040px;
  margin: 0 auto;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  
  .container {
    flex: 1;
  }
}

.__v_2xl {
  margin-bottom: v_2xl(1200, 0);
}

.__v_xl {
  margin-bottom: v_xl(1200, 0);
}

.__v_l {
  margin-bottom: v_l(1200, 0);
}

.__v_md {
  margin-bottom: v_md(1200, 0);
}

.__v_s {
  margin-bottom: v_s(1200, 0);
}

.__v_xs {
  margin-bottom: v_xs(1200, 0);
}
.cdk-overlay-container {
  z-index: 10000;
}
.add-material-tooltip {
  background-color: rgba(124, 133, 140, .95);
  padding: 3px 6px 5px;
  position: relative !important;
  font-family: 'SourceSansPro';
  font-size: 14px;
  letter-spacing: 0.21px;
  color: #FFFFFF;
  overflow: visible !important;
  border-radius: 2px!important;
  
  &:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    
    border-color: transparent;
    border-top-color: rgba(124, 133, 140, .95);
    border-width: 6px;
    margin-left: -6px;
  }
  
  &.tooltip_pos-top {
    top: 6px;
  }
  
}

.add-material-tooltip-bottom {
  background-color: rgba(124, 133, 140, .95);
  padding: 3px 6px 5px;
  position: relative !important;
  font-family: 'SourceSansPro';
  font-size: 14px;
  letter-spacing: 0.21px;
  color: #FFFFFF;
  overflow: visible !important;
  bottom: 8px;
  
  &:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    
    border-color: transparent;
    border-bottom-color: rgba(124, 133, 140, .95);
    border-width: 6px;
    margin-left: -6px;
  }
}


@media all and (max-width: 1199px) {
  .container {
    //max-width: 1040px;
    //margin: 0 auto;
    //width: 100%;
    padding: 0 15px;
  }
}

@media all and (max-width: 959px) {
  .container {
    //max-width: 1040px;
    //margin: 0 auto;
    //width: 100%;
    padding: 0 12px;
  }
}

@media all and (max-width: 599px) {
  .container {
    //max-width: 1040px;
    //margin: 0 auto;
    //width: 100%;
    padding: 0 10px;
  }
}

