<div class="box">
  <a href="" [routerLink]="['/donate']" class="show_modal">
    <svg class="svg-lightning">
      <use [attr.xlink:href]="'#lightning'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
    <span>{{'financial-help-widget.financial-help-btn' | translate}}</span>
  </a>
<!--  <button type="button" class="other">{{'financial-help-widget.other-btn' | translate}}</button>-->
</div>
