@import "../../../../../assets/scss/variables";

.box {
  padding: v_l(1200, 0) 40px v_l(1200, 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.show_modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  background-color: #A3ACB3;
  width: 100%;
  border-radius: 3px;
  
  &:hover {
    background-color: #4981E0;
  }
  
  svg {
    width: 10.7px;
    height: 21px;
    margin-right: 10px;
    fill: #FFFFFF;
  }
  
  span {
    font-family: 'SourceSansProSemiBold';
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 4px;
  }
}

.other {
  font-family: 'SourceSansPro';
  font-size : 15px;
  letter-spacing : 0.22px;
  color : #767D82;
  margin-top: v_md(1200, 3);
  
  &:hover {
    color: #4981E0;
  }
}
