<div class="box">
  <div class="top">
    <div class="cover" *ngIf="!video">
      <label>
        <input type="file" (change)="getVideo($event)"/>
      </label>
      <div class="tooltip">
        <svg class="svg-tools-6">
          <use [attr.xlink:href]="'#tools-6'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <div class="text">{{'add-material-page.video-block.label' | translate}}</div>
      </div>
    </div>
    <div class="video" *ngIf="video">
      <video controls>
        <source [src]="video | safeUrl" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="inp">
    <input [hidden]="lang !== 'ru'" title="" type="text" [placeholder]="'add-material-page.blocks.placeholder_ru' | translate" [(ngModel)]="descrRu" (ngModelChange)="newDescrRu.emit(descrRu)">
    <input [hidden]="lang !== 'ua'" title="" type="text" [placeholder]="'add-material-page.blocks.placeholder_ua' | translate" [(ngModel)]="descrUa" (ngModelChange)="newDescrUa.emit(descrUa)">
  </div>
</div>
<div class="error" *ngIf="error">{{error}}</div>
