:host {
  display: block;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.list {
  overflow: hidden;
  width: 100%;
  &.__hidden {
    .item {
      display: none;
      
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6),
      &:nth-of-type(7),
      &:nth-of-type(8),
      &:nth-of-type(9),
      &:nth-of-type(10) {
        display: flex;
        
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    
    &:last-of-type {
      margin-bottom: 0;
    }
    &:hover {
      .name {
        span {
          //font-family: 'SourceSansProSemiBold';
          //letter-spacing : 0.28px;
          color: #3A70CF;
        }
      }
    }
  }
  
  .rating {
    max-width: 68px;
    min-width: 68px;
    display: flex;
    align-items: center;
    
    svg {
      width: 16.7px;
      height: 16px;
      fill: #FFC800;
      margin-right: 6px;
      margin-bottom: 2px;
    }
    
    span {
      font-family: 'SourceSansPro';
      font-size: 15px;
      color: #767D80;
    }
  }
  
  .photo {
    max-width: 50px;
    min-width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
  }
  
  .name {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    br {
      display: none;
    }
    span {
      font-family: 'SourceSansPro';
      font-size: 19px;
      letter-spacing: 0.28px;
      color: #303233;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  
}

.more {
  display: inline-block;
  margin: 10px auto 0;
  padding: 5px;
  font-family : 'SourceSansPro';
  font-size : 16px;
  color : #2053AB;
  cursor: pointer;
}


@media all and (max-width: 599px) {
  :host {
    //display: block;
    //width: 100%;
  }
  
  .box {
    //display: flex;
    //flex-direction: column;
    //align-items: flex-start;
    //justify-content: center;
    //width: 100%;
  }
  .list {
    //overflow: hidden;
    //width: 100%;
    &.__hidden {
      .item {
        //display: none;
        
        &:nth-of-type(1),
        &:nth-of-type(3),
        &:nth-of-type(2) {
          //display: flex;
          
          &:last-of-type {
            //margin-bottom: 0;
          }
        }
      }
    }
    .item {
      //display: flex;
      //align-items: center;
      //margin-bottom: 18px;
      
      &:last-of-type {
        //margin-bottom: 0;
      }
      &:hover {
        .name {
          span {
            //font-family: 'SourceSansProSemiBold';
            //letter-spacing : 0.28px;
          }
        }
      }
    }
    
    .rating {
      display: none;
      //max-width: 68px;
      //min-width: 68px;
      //display: flex;
      //align-items: center;
      
      svg {
        //width: 16.7px;
        //height: 16px;
        //fill: #FFC800;
        //margin-right: 6px;
        //margin-bottom: 2px;
      }
      
      span {
        //font-family: 'SourceSansPro';
        //font-size: 15px;
        //color: #767D80;
      }
    }
    
    .photo {
      max-width: 40px;
      min-width: 40px;
      height: 40px;
      //overflow: hidden;
      //border-radius: 50%;
      //display: flex;
      //align-items: center;
      //justify-content: center;
      //margin-right: 12px;
    }
    
    .name {
      //flex: 1;
      //overflow: hidden;
      //text-overflow: ellipsis;
      //white-space: nowrap;
      br {
        display: block;
      }
      span {
        //font-family: 'SourceSansPro';
        font-size : 17px;
        letter-spacing : 0.26px;
        //color: #303233;
        //overflow: hidden;
        //text-overflow: ellipsis;
        //white-space: nowrap;
      }
    }
    
  }
  
  .more {
    //display: inline-block;
    //margin: 10px auto 0;
    //padding: 5px;
    //font-family : 'SourceSansPro';
    //font-size : 16px;
    //color : #2053AB;
    //cursor: pointer;
  }
  
}
