<div class="box" *ngIf="members.length">
  <div class="list" [class.__hidden]="!isOpen">
    <a href="" [routerLink]="['/person', member.slug]" class="item" *ngFor="let member of members">
      <div class="rating">
        <svg class="svg-star">
          <use [attr.xlink:href]="'#star'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <span>{{member.rating}}</span>
      </div>
      <div class="photo">
        <img [src]="member.avatar" alt="">
      </div>
      <div class="name">
        <span>{{member.sirname}}<br> {{member.name}}</span>
      </div>
    </a>
  </div>
  <div class="more" (click)="isOpen = !isOpen">{{('person-page.laws-problems.btn-label-' + (isOpen ? 'close' : 'open')) | translate}}</div>
</div>
<app-empy-list-string *ngIf="!members.length" [text]="'errors.empy-widget-list' | translate"></app-empy-list-string>
