@import "~src/assets/scss/_variables";

.box {
  background: #FFFFFF;
  border-radius: 3px;
  padding: 15px;
  overflow: hidden;
  min-height: auto;
}

app-empy-list-string {
  display: block;
  padding-bottom: 10px;
}

.head {
  font-family: 'SourceSansProSemiBold';
  font-size: 17px;
  text-transform: uppercase;
  color: #AEB5BB;
  margin-bottom: v_l(1200, 10);
}

.content {
  position: relative;
  
  canvas {
    position: absolute;
    left: 0;
    top: 2px;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.row_top {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
  
  b {
    font-family: 'SourceSansProBold';
    font-size: 25px;
    letter-spacing: 0.38px;
    color: #585D61;
    margin-right: 8px;
  }
  
  span {
    font-family: 'SourceSansPro';
    font-size: 15px;
    letter-spacing: 0.22px;
    color: #585D61;
    padding-bottom: 2px;
  }
}

.cell {
  display: block;
  width: 42px;
  text-align: right;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 22px;
  &:last-of-type {
    margin-bottom: 0;
  }
  
  .icon {
    margin: 0 10px;
    line-height: 0;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .value {
    font-family: 'SourceSansProSemiBold';
    font-size: 20px;
    letter-spacing: 0.3px;
    color: #585D61;
    display: inline-block;
    margin-top: 2px;
  }
  
  .result {
    padding-top: 5px;
    
    .label {
      font-family: 'SourceSansPro';
      font-size: 15px;
      letter-spacing: 0.22px;
      color: #A3ACB3;
      margin-bottom: 10px;
    }
    
    .res_value {
      display: flex;
      align-items: center;
      
      .btn {
        display: flex;
        align-items: center;
        margin-right: 20px;
        span {
          font-family: 'SourceSansPro';
          font-size: 15px;
          letter-spacing: 0.22px;
          color: #303233;
          margin-left: 8px;
        }
      }
      .icons {
        align-items: center;
        display: flex;
      }
      .icon-1, .icon-2 {
        position: relative;
        line-height: 0;
        display: flex;
        align-items: center;
      }
      .icon-1{
        margin-right: 6px;
        padding-right: 8px;
        .svg-half-building {
          right: 1px;
          bottom: 4px;
        }
      }
      .icon-2{
        padding-bottom: 4px;
        position: relative;
        &:before {
          display: block;
          content: '';
          z-index: 3;
          position: absolute;
          left: -4px;
          top: 50%;
          margin-top: -1px;
          width: 26px;
          height: 2px;
          background-color: #f22a29;
          transform: rotate(-45deg);
        }
      }
      
      
      .svg-building {
        width: 16px;
        height: 15px;
        fill: #6DCF3C;
        margin-bottom: 2px;
      }
      
      .svg-building-1 {
        width: 16px;
        height: 15px;
        fill: #E82F2E;
        margin-bottom: 2px;
      }
      
      .svg-user-building {
        width: 21.7px;
        height: 17px;
        fill: #A3ACB3;
      }
      
      .svg-half-building {
        position: absolute;
        width: 11px;
        height: 15px;
        fill: #A3ACB3;
      }
    }
  }
}

