<div class="box">
  <div class="head" [innerHTML]="'laws-list-page.law-opition-widget.head' | translate"></div>
  <div class="content" *ngIf="!empty" #contentEl>
    <ng-container *ngIf="platform.check()">
            <canvas #canvas></canvas>
    </ng-container>
    <div class="row_top"><b class="cell">{{adoption.laws_count}}</b>
      <span>{{'laws-list-page.law-opition-widget.adopted-in' | translate}}</span>
    </div>
    <div class="row" *ngIf="adoption.laws_improve" #row1>
      <div class="cell">
        <span class="value">{{adoption.laws_improve}}</span>
      </div>
      <div class="icon">
        <img class="smile-improve" [src]="'/assets/img/smiles/x3_improve.png'" alt="">
      </div>
      <div class="result">
        <div class="label">{{'laws-list-page.law-opition-widget.improve-label' | translate}}</div>
        <div class="res_value">
          <div class="btn">
            <svg class="svg-building" [matTooltip]="'tooltips.widget.laws-improve.for' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
              <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <span>{{adoption.improve_stat.for_percent}}%</span>
          </div>
           <div class="btn">
             <div class="icons">
               <div class="icon-1" [matTooltip]="'tooltips.widget.laws-improve.negative-1' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
                 <svg class="svg-building-1">
                   <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                 </svg>
                 <svg class="svg-half-building">
                   <use [attr.xlink:href]="'#half-building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                 </svg>
               </div>
               <div class="icon-2">
                 <svg class="svg-user-building" [matTooltip]="'tooltips.widget.laws-improve.negative-2' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
                   <use [attr.xlink:href]="'#user-building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                 </svg>
               </div>
             </div>
            <span>{{adoption.improve_stat.against_percent}}%</span>
          </div>

        </div>
      </div>
    </div>
    <div class="row" *ngIf="adoption.laws_worse" #row2>
      <div class="cell">
        <span class="value">{{adoption.laws_worse}}</span>
      </div>
      <div class="icon">
        <img class="smile-worse" [src]="'/assets/img/smiles/x3_worse.png'" alt="">
      </div>
      <div class="result">
        <div class="label">{{'laws-list-page.law-opition-widget.worse-label' | translate}}</div>
        <div class="res_value">
          <div class="btn">
            <svg class="svg-building" [matTooltip]="'tooltips.widget.laws-improve.for' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
              <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <span>{{adoption.worse_stat.for_percent}}%</span>
          </div>
           <div class="btn">
             <div class="icons">
               <div class="icon-1" [matTooltip]="'tooltips.widget.laws-improve.negative-1' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
                 <svg class="svg-building-1">
                   <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                 </svg>
                 <svg class="svg-half-building">
                   <use [attr.xlink:href]="'#half-building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                 </svg>
               </div>
               <div class="icon-2" [matTooltip]="'tooltips.widget.laws-improve.negative-2' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
                 <svg class="svg-user-building">
                   <use [attr.xlink:href]="'#user-building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                 </svg>
               </div>
             </div>
            <span>{{adoption.worse_stat.against_percent}}%</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="adoption.laws_necessary" #row3>
      <div class="cell">
        <span class="value">{{adoption.laws_necessary}}</span>
      </div>
      <div class="icon">
        <img class="smile-necessary" [src]="'/assets/img/smiles/x3_necessary.png'" alt="">
      </div>
      <div class="result">
        <div class="label">{{'laws-list-page.law-opition-widget.necessary-label' | translate}}</div>
        <div class="res_value">
          <div class="btn">
            <svg class="svg-building" [matTooltip]="'tooltips.widget.laws-improve.for' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
              <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <span>{{adoption.necessary_stat.for_percent}}%</span>
          </div>
           <div class="btn">
             <div class="icons">
               <div class="icon-1" [matTooltip]="'tooltips.widget.laws-improve.negative-1' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
                 <svg class="svg-building-1">
                   <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                 </svg>
                 <svg class="svg-half-building">
                   <use [attr.xlink:href]="'#half-building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                 </svg>
               </div>
               <div class="icon-2" [matTooltip]="'tooltips.widget.laws-improve.negative-2' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
                 <svg class="svg-user-building">
                   <use [attr.xlink:href]="'#user-building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                 </svg>
               </div>
             </div>
            <span>{{adoption.necessary_stat.against_percent}}%</span>
          </div>
        </div>
      </div>
    </div>


  </div>
  <app-empy-list-string  *ngIf="empty" [text]="'errors.empy-widget-list-2' | translate"></app-empy-list-string>

</div>
