<div class="box" *ngIf="platform.check()">
  <div class="head">{{'election-page.online-voting2.head' | translate}}</div>
  <div class="subhead" *ngIf="!isLogin && !isVote">{{'election-page.online-voting.subhead' | translate}}</div>
  <div class="content" [class.__disabled]="isVote">
    <div class="vote_item" (click)="vote(party)" *ngFor="let party of parties; let i = index" [hidden]="i > 4 && !fullView">
<!--      <div class="vote_img">-->
<!--        <img [src]="party.logo" alt="">-->
<!--      </div>-->
      <div class="vote_label" *ngIf="!isVote">#{{party.short}}</div>
      <div class="vote_progress" *ngIf="isVote">
        <div class="vote_label">#{{party.short}}</div>
        <div class="vote_progress-percent">{{party.percent}}%</div>
        <div class="vote_progress-line" [style.maxWidth.%]="party.percent"></div>
      </div>
    </div>
  </div>
</div>
<div class="btn_more" (click)="fullView = !fullView">{{'election-page.comparison.btn-more-' + (fullView ? 'close' : 'open') | translate}}</div>
