@import "~src/assets/scss/_variables";

.box {
  //background: #FFFFFF;
  //border-radius: 3px;
  //padding: 15px;
  overflow: hidden;
}
.btn_more {
  font-family : 'SourceSansPro';
  font-size : 16px;
  color : #2053AB;
  cursor: pointer;
  margin: 0 auto;
  padding: 5px;
  display: inline-block;
}
.head {
  font-family: 'SourceSansProSemiBold';
  font-size : 25px;
  color : #303233;
  color : rgb(48, 50, 51);
  margin-bottom: 6px;
}

.subhead {
  font-family: 'SourceSansPro';
  font-size: 16px;
  letter-spacing: 0.21px;
  color : #303233;
}

.content {
  margin-top: v_l(1200, 4);
  
  &.__disabled {
    pointer-events: none;
  }
}

.vote_item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: v_md(1200, 0);
  height: 35px;
  &:last-of-type {
    //margin-bottom: 0;
  }
  
  &:hover {
    .vote_label {
      color: #303233;
    }
  }
  
  .vote_img {
    min-width: 50px;
    max-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
    
    img {
      max-height: 35px;
    }
  }
  
  .vote_label {
    white-space: nowrap;
    font-family: 'SourceSansPro';
    font-size : 16px;
    color : #767D82;
    margin-right: 6px;
    z-index: 2;
    padding-left: 15px;
  }
  
  .vote_progress-percent {
    padding: 0 9px;
    font-family: 'SourceSansProSemiBold';
    font-size: 20px;
    color: #2053AB;
    position: relative;
    z-index: 2;
  }
  
  .vote_progress {
    height: 35px;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }
  
  .vote_progress-line {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    width: 100%;
    max-width: 0;
    background-color: #ECF2FA;
    border-radius: 17px;
    overflow: hidden;
    //transition: max-width .0.s linear;
    will-change: max-width;
  }
}

