<app-mobile-share-widget></app-mobile-share-widget>
<div class="page">
  <div class="container">
    <div class="law">
      <h1>{{law.title}}</h1>
      <div class="top">
        <div class="top_left">
          <div class="top_left-row">
            <span *ngIf="law.adoption_date">{{dateService.convert(law.adoption_date)}}</span>
            <span class="separator" *ngIf="law.adoption_date">|</span>
            {{law.number}}
          </div>
          <div class="top_left-row">{{law.workplace?.short}}</div>
        </div>
        <div class="top_right-btn" (click)="getVotes()">
          <svg class="svg-building">
            <use [attr.xlink:href]="'#building'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <span>{{'law-page.how-vote-btn' | translate}}</span>
        </div>
      </div>
      <app-law-opition-widget [newData]="lawOpitionWidget"></app-law-opition-widget>
      <app-ratio-voting-widget [newData]="lawRatioWidget"></app-ratio-voting-widget>
      <app-popular-opinion-widget *ngIf="loadOpition" [moodUrl]="'/vote/law-user-improve'" [verityUrl]="'/vote/law-user'" [setMood]="opitionMood" [setVerity]="opitionVerity" [infoSlug]="'law.vote'" (changeWidget)="changeRatio($event)" [id]="law_id"></app-popular-opinion-widget>
      <div class="law_head __mb0">
        <span>{{'law-page.law-text-title' | translate}}</span>
        <a [href]="law.link" rel="nofollow" *ngIf="law.link" target="_blank" [matTooltip]="'law-page.source-link' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
          <svg class="svg-law_source">
            <use [attr.xlink:href]="'#law_source'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </a>
      </div>
      <div class="law_content" [innerHTML]="showLaw ? (law.full_text | safeHtml) : (law.text | safeHtml)"></div>
      <div class="law-content_more">
        <div (click)="textHandler()" *ngIf="!showLaw && !law.is_full">{{'law-page.text-more' | translate}}</div>
        <div (click)="textHandler()" *ngIf="showLaw && !law.is_full">{{'law-page.text-close' | translate}}</div>
      </div>
      <div class="law_head">
        <div class="title">
          <div class="icon" (click)="showInfo()">
            <svg class="svg-info">
              <use [attr.xlink:href]="'#info'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <span>{{'law-page.contradicts-title' | translate}}</span>
        </div>
        <app-add-article-btn (click)="checkAuth()" [rLink]="['', {outlets: {modals: 'contradiction'}}]" [skipLoc]="true" [state]="{id: law_id, role: role}"></app-add-article-btn>
      </div>
      <app-law-list-bottom *ngIf="bottomListResp.hasOwnProperty('list')" [changeList]="{list: bottomListResp.list, last_page: bottomListResp.last_page}" (changePage)="changePage($event)"></app-law-list-bottom>
      <app-comments [law_id]="law_id" [comments]="specialistComments" [title]="'law-page.specialist-comments-title' | translate" is [position]="true"></app-comments>
      <!--      <app-comments [title]="'law-page.comments-title' | translate"></app-comments>-->
    </div>
    <app-fixed-social [social]="true"></app-fixed-social>
    <app-right-widget [lawOpitionWidget]="lawOpitionWidget" [lawRatioWidget]="lawRatioWidget"></app-right-widget>
  </div>
</div><!--<app-votes-modal [data]="modalItems" [lawId]="law_id"></app-votes-modal>-->
