@import "~src/assets/scss/_variables";

.page {
  padding: v_2xl(1200, 0) 0;
}

.container {
  padding: 0 88px;
  position: relative;
}

app-law-opition-widget, app-ratio-voting-widget {
  display: none;
}

.law {
  max-width: 590px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  h1 {
    font-family: 'SourceSansProBold';
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.18px;
    color: #303233;
    margin-bottom: v_l(1200, 6);
  }
  
  .separator {
    display: inline-block;
    margin: 0 12px;
  }
  
  .top_left-row {
    font-family: 'SourceSansPro';
    font-size: 15px;
    color: #A3ACB3;
    margin-bottom: v_xs(1200, 6);
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  
  .top {
    display: flex;
    align-items: flex-end;
    margin-bottom: v_xl(1200, 4);
    width: 100%;
    justify-content: space-between;
  }
  
  .top_right-btn {
    display: flex;
    align-items: center;
    margin-left: 40px;
    cursor: pointer;
    
    &:hover {
      span {
        color: #3A70CF;
      }
      
      svg {
        fill: #3A70CF;
      }
    }
    
    span {
      font-family: 'SourceSansProSemiBold';
      font-size: 16px;
      letter-spacing: 0.24px;
      color: #2053AB;
    }
    
    svg {
      width: 21.4px;
      height: 20px;
      fill: #2053AB;
      margin-right: 10px;
      margin-bottom: 2px;
    }
  }
  
  
  app-popular-opinion-widget {
    display: block;
    margin-bottom: v_xl(1200, 4);
  }
  
  .law_head {
    margin-bottom: v_l(1200, 6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    .title {
      position: relative;
    }
    
    &.__mb0 {
      margin-bottom: 0;
      margin-bottom: 15px;
  
      justify-content: flex-start;
      align-items: flex-start;
      
      a {
        display: inline-block;
        //margin-left: 6px;
        padding: 0 5px ;
        vertical-align: super;
        &:hover {
          svg {
            fill: #303233
          }
        }
      }
      
      svg {
        width: 11px;
        height: 12px;
        fill: #A3ACB3
      }
    }
    
    span {
      font-family: 'SourceSansProSemiBold';
      font-size: 25px;
      color: #303233;
    }
    
    .icon {
      position: absolute;
      right: 100%;
      transform: translate(0, -15%);
      padding: 5px;
      cursor: pointer;
      display: inline-block;
      vertical-align: super;
      
      &:hover {
        svg {
          fill: #303233;
        }
      }
      
      svg {
        width: 6.2px;
        height: 15px;
        fill: #A3ACB3;
      }
    }
    
    .addBtn {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 10px;
      height: 35px;
      border-radius: 3px;
      overflow: hidden;
      
      &:hover {
        background-color: #EBECED;
      }
      
      span {
        font-family: 'SourceSansProSemiBold';
        font-size: 16px;
        letter-spacing: 0.24px;
        color: #2053AB;
      }
      
      .icon {
        display: block;
        position: relative;
        width: 8px;
        height: 8px;
        margin-right: 6px;
        
        &:before, &:after {
          display: block;
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 8px;
          height: 2px;
          background-color: #2053AB;
        }
        
        &:after {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
    
    
  }
  
  .law_content {
    margin-bottom: 25px;
    
    ::ng-deep {
      & > *:last-child {
        margin-bottom: 0 !important;
      }
      
      .rvps2 {
        font-family: 'SourceSansPro';
        font-size: 17px;
        line-height: 26px;
        color: #303233;
        margin-bottom: 16px;
      }
      
      .rvps7 {
        margin-top: 24px;
      }
      
      .rvts15 {
        font-family: 'SourceSansProBold';
        font-size: 24px;
        //line-height: 26px;
        color: #303233;
        margin: 0 0 8px !important;
        display: inline-block;
      }
      
      .rvts9 {
        font-family: 'SourceSansProBold';
        font-size: 18px;
        //line-height: 26px;
        color: #303233;
        margin: 22px 0;
      }
      
      a {
        color: #2053AB;
        text-decoration: underline;
      }
      
      .rvts37 {
        color: #303233;
        font-family: 'SourceSansProBold';
        font-size: 12px;
        vertical-align: super;
      }
    }
  }
  
  .law-content_more {
    font-family: 'SourceSansPro';
    font-size: 16px;
    color: #2053AB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: v_xl(1200, 6);
    
    div {
      cursor: pointer;
      padding: 3px;
      
      &:hover {
        color: #3A70CF;
      }
    }
  }
  
  app-law-list-bottom, app-comments {
    display: block;
    margin-bottom: v_xl(1200, 4);
  }
  
  app-comments {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}


@media all and (max-width: 1199px) {
  //@import "~src/assets/scss/_variables";
  
  .page {
    //padding: v_2xl(1200, 0) 0;
    padding: 50px 0;
  }
  
  .container {
    //padding: 0 88px;
    //position: relative;
    padding-right: 335px;
    padding-left: 95px;
  }
  
  .law {
    max-width: none;
    //max-width: 590px;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
    
    h1 {
      //font-family: 'SourceSansProBold';
      font-size: 30px;
      line-height: 36px;
      letter-spacing: 0.15px;
      //color: #303233;
      margin-bottom: 18px;
    }
    
    .separator {
      //display: inline-block;
      //margin: 0 12px;
    }
    
    .top_left-row {
      //font-family: 'SourceSansPro';
      //font-size: 15px;
      //color: #A3ACB3;
      //margin-bottom: v_xs(1200, 6);
      
      &:last-of-type {
        //margin-bottom: 0;
      }
    }
    
    .top {
      //display: flex;
      //align-items: flex-end;
      //margin-bottom: v_xl(1200, 4);
    }
    
    .top_right-btn {
      //display: flex;
      //align-items: center;
      //margin-left: 40px;
      //cursor: pointer;
      
      &:hover {
        span {
          //color: #3A70CF;
        }
        
        svg {
          //fill: #3A70CF;
        }
      }
      
      span {
        //font-family: 'SourceSansProSemiBold';
        //font-size: 16px;
        //letter-spacing: 0.24px;
        //color: #2053AB;
      }
      
      svg {
        //width: 21.4px;
        //height: 20px;
        //fill: #2053AB;
        //margin-right: 10px;
        //margin-bottom: 2px;
      }
    }
    
    app-popular-opinion-widget {
      //display: block;
      //margin-bottom: v_xl(1200, 4);
      margin-bottom: 36px;
    }
    
    .law_head {
      //margin-bottom: v_l(1200, 6);
      //display: flex;
      //align-items: center;
      //justify-content: space-between;
      //width: 100%;
      
      span {
        //font-family: 'SourceSansProSemiBold';
        //font-size: 25px;
        //color: #303233;
      }
      
      .addBtn {
        //position: relative;
        //display: flex;
        //align-items: center;
        //padding: 0 10px;
        //height: 35px;
        //border-radius : 3px;
        //overflow: hidden;
        &:hover {
          //background-color: #EBECED;
        }
        
        span {
          //font-family: 'SourceSansProSemiBold';
          //font-size: 16px;
          //letter-spacing: 0.24px;
          //color: #2053AB;
        }
        
        .icon {
          //display: block;
          //position: relative;
          //width: 8px;
          //height: 8px;
          //margin-right: 6px;
          &:before, &:after {
            //display: block;
            //content: '';
            //position: absolute;
            //left: 50%;
            //top: 50%;
            //transform: translate(-50%, -50%);
            //width: 8px;
            //height: 2px;
            //background-color: #2053AB;
          }
          
          &:after {
            //transform: translate(-50%, -50%) rotate(90deg);
          }
        }
      }
      
      
    }
    
    .law_content {
      //font-family: 'SourceSansPro';
      //font-size: 17px;
      //line-height: 26px;
      //color: #303233;
      //margin-bottom: v_l(1200, 6);
    }
    
    .law-content_more {
      //font-family: 'SourceSansPro';
      //font-size: 16px;
      //color: #2053AB;
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //width: 100%;
      //margin-bottom: v_xl(1200, 6);
      div {
        //cursor: pointer;
        //padding: 3px;
        
        &:hover {
          //color: #3A70CF;
        }
      }
    }
    
    app-law-list-bottom, app-comments {
      //display: block;
      //margin-bottom: v_xl(1200, 4);
    }
    
    app-comments {
      &:last-of-type {
        //margin-bottom: 0;
      }
    }
  }
}


@media all and (max-width: 959px) {
  //@import "~src/assets/scss/_variables";
  
  .page {
    //padding: v_2xl(1200, 0) 0;
    padding: 40px 0;
  }
  
  .container {
    //padding: 0 88px;
    //position: relative;
    padding-right: 30px;
    padding-left: 85px;
  }
  
  app-law-opition-widget, app-ratio-voting-widget {
    display: block;
    width: 100%;
    //margin-top: 34px;
    margin-bottom: 20px;
    
    ::ng-deep {
      .top {
        padding-right: 12px;
      }
    }
  }
  
  .law {
    //max-width: none;
    //max-width: 590px;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
    
    h1 {
      //font-family: 'SourceSansProBold';
      font-size: 25px;
      line-height: 32px;
      letter-spacing: 0.13px;
      //color: #303233;
      margin-bottom: 20px;
    }
    
    .separator {
      //display: inline-block;
      //margin: 0 12px;
    }
    
    .top_left-row {
      //font-family: 'SourceSansPro';
      //font-size: 15px;
      //color: #A3ACB3;
      //margin-bottom: v_xs(1200, 6);
      
      &:last-of-type {
        //margin-bottom: 0;
      }
    }
    
    .top {
      //display: flex;
      //align-items: flex-end;
      //margin-bottom: v_xl(1200, 4);
      margin-bottom: 35px;
    }
    
    .top_right-btn {
      //display: flex;
      //align-items: center;
      margin-left: 28px;
      //cursor: pointer;
      
      &:hover {
        span {
          //color: #3A70CF;
        }
        
        svg {
          //fill: #3A70CF;
        }
      }
      
      span {
        //font-family: 'SourceSansProSemiBold';
        //font-size: 16px;
        //letter-spacing: 0.24px;
        //color: #2053AB;
      }
      
      svg {
        //width: 21.4px;
        //height: 20px;
        //fill: #2053AB;
        //margin-right: 10px;
        //margin-bottom: 2px;
      }
    }
    
    app-popular-opinion-widget {
      //display: block;
      //margin-bottom: v_xl(1200, 4);
    }
    
    .law_head {
      //margin-bottom: v_l(1200, 6);
      //display: flex;
      //align-items: center;
      //justify-content: space-between;
      //width: 100%;
      
      span {
        //font-family: 'SourceSansProSemiBold';
        //font-size: 25px;
        //color: #303233;
      }
      
      .addBtn {
        //position: relative;
        //display: flex;
        //align-items: center;
        //padding: 0 10px;
        //height: 35px;
        //border-radius : 3px;
        //overflow: hidden;
        &:hover {
          //background-color: #EBECED;
        }
        
        span {
          //font-family: 'SourceSansProSemiBold';
          //font-size: 16px;
          //letter-spacing: 0.24px;
          //color: #2053AB;
        }
        
        .icon {
          //display: block;
          //position: relative;
          //width: 8px;
          //height: 8px;
          //margin-right: 6px;
          &:before, &:after {
            //display: block;
            //content: '';
            //position: absolute;
            //left: 50%;
            //top: 50%;
            //transform: translate(-50%, -50%);
            //width: 8px;
            //height: 2px;
            //background-color: #2053AB;
          }
          
          &:after {
            //transform: translate(-50%, -50%) rotate(90deg);
          }
        }
      }
      
      
    }
    
    .law_content {
      //font-family: 'SourceSansPro';
      //font-size: 17px;
      //line-height: 26px;
      //color: #303233;
      //margin-bottom: v_l(1200, 6);
    }
    
    .law-content_more {
      //font-family: 'SourceSansPro';
      //font-size: 16px;
      //color: #2053AB;
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //width: 100%;
      //margin-bottom: v_xl(1200, 6);
      div {
        //cursor: pointer;
        //padding: 3px;
        
        &:hover {
          //color: #3A70CF;
        }
      }
    }
    
    app-law-list-bottom, app-comments {
      //display: block;
      //margin-bottom: v_xl(1200, 4);
    }
    
    app-comments {
      &:last-of-type {
        //margin-bottom: 0;
      }
    }
  }
}

@media all and (max-width: 599px) {
  //@import "~src/assets/scss/_variables";
  
  .page {
    //padding: v_2xl(1200, 0) 0;
    //padding: 30px 0 50px;
  }
  
  .container {
    //padding: 0 88px;
    //position: relative;
    padding: 0 12px;
  }
  
  app-law-opition-widget, app-ratio-voting-widget {
    //display: block;
    //width: 100%;
    //margin-top: 34px;
    margin-bottom: 12px;
    
    ::ng-deep {
      .top {
        //padding-right: 12px;
      }
    }
  }
  
  app-fixed-social {
    display: none;
  }
  .law {
    //max-width: none;
    //max-width: 590px;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
    
    h1 {
      //font-family: 'SourceSansProBold';
      font-size: 25px;
      line-height: 32px;
      letter-spacing: 0.13px;
      //color: #303233;
      //margin-bottom: 20px;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.1px;
    }
    
    .separator {
      //display: inline-block;
      //margin: 0 12px;
    }
    
    .top_left-row {
      //font-family: 'SourceSansPro';
      //font-size: 15px;
      //color: #A3ACB3;
      //margin-bottom: v_xs(1200, 6);
      
      &:last-of-type {
        //margin-bottom: 0;
      }
    }
    
    .top {
      //display: flex;
      //align-items: flex-end;
      flex-direction: column;
      align-items: flex-start;
      //margin-bottom: v_xl(1200, 4);
    }
    
    .top_right-btn {
      //display: flex;
      //align-items: center;
      margin-left: 0;
      margin-top: 24px;
      //cursor: pointer;
      
      &:hover {
        span {
          //color: #3A70CF;
        }
        
        svg {
          //fill: #3A70CF;
        }
      }
      
      span {
        //font-family: 'SourceSansProSemiBold';
        //font-size: 16px;
        //letter-spacing: 0.24px;
        //color: #2053AB;
      }
      
      svg {
        //width: 21.4px;
        //height: 20px;
        //fill: #2053AB;
        //margin-right: 10px;
        //margin-bottom: 2px;
      }
    }
    
    app-popular-opinion-widget {
      //display: block;
      //margin-bottom: v_xl(1200, 4);
    }
    
    .law_head {
      margin-bottom: 22px;
      padding: 0 10px;
      //display: flex;
      align-items: flex-start;
      position: relative;
      //justify-content: space-between;
      //width: 100%;
      .icon {
        right: auto;
        left: -4px;
      }
      
      .title {
        position: static;
      }
      
      span {
        //font-family: 'SourceSansProSemiBold';
        font-size: 22px;
        //color: #303233;
      }
      
      .addBtn {
        //position: relative;
        //display: flex;
        //align-items: center;
        //padding: 0 10px;
        //height: 35px;
        //border-radius : 3px;
        //overflow: hidden;
        &:hover {
          //background-color: #EBECED;
        }
        
        span {
          //font-family: 'SourceSansProSemiBold';
          //font-size: 16px;
          //letter-spacing: 0.24px;
          //color: #2053AB;
        }
        
        .icon {
          //display: block;
          //position: relative;
          //width: 8px;
          //height: 8px;
          //margin-right: 6px;
          &:before, &:after {
            //display: block;
            //content: '';
            //position: absolute;
            //left: 50%;
            //top: 50%;
            //transform: translate(-50%, -50%);
            //width: 8px;
            //height: 2px;
            //background-color: #2053AB;
          }
          
          &:after {
            //transform: translate(-50%, -50%) rotate(90deg);
          }
        }
      }
      
      
    }
    
    .law_content {
      padding: 0 10px;
      //font-family: 'SourceSansPro';
      //font-size: 17px;
      //line-height: 26px;
      //color: #303233;
      //margin-bottom: v_l(1200, 6);
    }
    
    .law-content_more {
      //font-family: 'SourceSansPro';
      //font-size: 16px;
      //color: #2053AB;
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //width: 100%;
      //margin-bottom: v_xl(1200, 6);
      div {
        //cursor: pointer;
        //padding: 3px;
        
        &:hover {
          //color: #3A70CF;
        }
      }
    }
    
    app-law-list-bottom, app-comments {
      //display: block;
      //margin-bottom: v_xl(1200, 4);
    }
    
    app-comments {
      &:last-of-type {
        //margin-bottom: 0;
      }
    }
  }
}
