.box {
  .title {
    font-family: 'SourceSansProSemiBold';
    font-size: 25px;
    color: #303233;
    margin-bottom: 22px;
  }
  
  .content {
    display: flex;
    align-items: center;
  }
  
  .photo {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 22px;
    
    img {
      width: 100%;
    }
  }
  
  .data {
    display: flex;
    flex-direction: column;
  }
  
  .name {
    font-family: 'SourceSansProSemiBold';
    font-size: 20px;
    letter-spacing: 0.1px;
    color: #303233;
    margin-bottom: 4px;
    
    br {
      display: none;
    }
  }
  
  .position-years {
    font-family : 'SourceSansPro';
    font-size : 17px;
    letter-spacing : 0.09px;
    color : #000000;
  }
}

@media all and (max-width: 1199px) {
  .box {
    .title {
      //font-family: 'SourceSansProSemiBold';
      //font-size: 25px;
      //color: #303233;
      //margin-bottom: 22px;
    }
    
    .content {
      //display: flex;
      //align-items: center;
    }
    
    .photo {
      //width: 44px;
      //height: 44px;
      //border-radius: 50%;
      //overflow: hidden;
      //display: flex;
      //align-items: center;
      //justify-content: center;
      //margin-right: 22px;
      
      img {
        //width: 100%;
      }
    }
    
    .data {
      //display: flex;
      //flex-direction: column;
    }
    
    .name {
      //font-family: 'SourceSansProSemiBold';
      //font-size: 20px;
      //letter-spacing: 0.1px;
      //color: #303233;
      //margin-bottom: 4px;
    }
    
    .position-years {
      //font-family : 'SourceSansPro';
      //font-size : 17px;
      //letter-spacing : 0.09px;
      //color : #000000;
    }
  }
}
@media all and (max-width: 959px) {
  .box {
    .title {
      //font-family: 'SourceSansProSemiBold';
      //font-size: 25px;
      //color: #303233;
      //margin-bottom: 22px;
    }
    
    .content {
      //display: flex;
      //align-items: center;
    }
    
    .photo {
      //width: 44px;
      //height: 44px;
      //border-radius: 50%;
      //overflow: hidden;
      //display: flex;
      //align-items: center;
      //justify-content: center;
      //margin-right: 22px;
      
      img {
        //width: 100%;
      }
    }
    
    .data {
      //display: flex;
      //flex-direction: column;
    }
    
    .name {
      //font-family: 'SourceSansProSemiBold';
      //font-size: 20px;
      //letter-spacing: 0.1px;
      //color: #303233;
      //margin-bottom: 4px;
    }
    
    .position-years {
      //font-family : 'SourceSansPro';
      //font-size : 17px;
      //letter-spacing : 0.09px;
      //color : #000000;
    }
  }
}
@media all and (max-width: 599px) {
  .box {
    .title {
      //font-family: 'SourceSansProSemiBold';
      //font-size: 25px;
      //color: #303233;
      //margin-bottom: 22px;
      display: none;
    }
    
    .content {
      //display: flex;
      //align-items: center;
    }
    
    .photo {
      width: 51px;
      height: 51px;
      //border-radius: 50%;
      //overflow: hidden;
      //display: flex;
      //align-items: center;
      //justify-content: center;
      margin-right: 20px;
      
      img {
        //width: 100%;
      }
    }
    
    .data {
      //display: flex;
      //flex-direction: column;
    }
    
    .name {
      //font-family: 'SourceSansProSemiBold';
      font-size : 17px;
      line-height : 19px;
      letter-spacing : 0.09px;
      //color: #303233;
      //margin-bottom: 4px;
  
      br {
        display: block;
      }
    }
    
    .position-years {
      display: none;
      //font-family : 'SourceSansPro';
      //font-size : 17px;
      //letter-spacing : 0.09px;
      //color : #000000;
    }
  }
}

