<a href="" [routerLink]="['/person', h.slug]" class="box">
  <div class="title">{{'party-page.leader-label' | translate}}</div>
  <div class="content">
    <div class="photo">
      <img [src]="h.avatar" alt="">
    </div>
    <div class="data">
      <span class="name">{{h.sirname}}<br> {{h.name}}</span>
      <span class="position-years">
        <span *ngIf="h.hasOwnProperty('years_old_lastNumber')">
          {{h.years_old}}
          {{ ('person-page.top.years' +
            (+h.years_old_lastNumber > 4 || !+h.years_old_lastNumber ? '-1' : +h.years_old_lastNumber === 1 ? '-3' : '-2')) | translate}}</span></span>
    </div>
  </div>
</a>
