<div class="page" *ngIf="platform.check()">
  <div class="container">
    <div class="page-top">
      <h1>{{('add-material-page.title-' + title) | translate}}</h1>
      <div class="top_tips">
        <a [href]="'/preview/' + slug " target="_blank" *ngIf="isAuth && slug" class="top_tips-item" rel="nofollow" [matTooltip]="'tooltips.global-icn.preview-material' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
          <svg class="svg-eye">
            <use [attr.xlink:href]="'#eye'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <!--          <span>{{'add-material-page.rools-btn' | translate}}</span>-->
        </a>
        <a href="" rel="nofollow" [routerLink]="['/account/materials']" *ngIf="isAuth" class="top_tips-item" [matTooltip]="'tooltips.global-icn.user-materials' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
          <svg class="svg-list">
            <use [attr.xlink:href]="'#list'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <!--          <span>{{'add-material-page.rools-btn' | translate}}</span>-->
        </a>
        <button type="button" class="top_tips-item" (click)="showInfo('material.publish.rules')" [matTooltip]="'tooltips.global-icn.rules' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
          <svg class="svg-attantion-2">
            <use [attr.xlink:href]="'#attantion-2'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <!--          <span>{{'add-material-page.rools-btn' | translate}}</span>-->
        </button>
        <!--        -->
        <button type="button" class="top_tips-item" (click)="showInfo('material.publish.video')"

                [matTooltip]="'tooltips.global-icn.video-tutors' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
          <svg class="svg-play">
            <use [attr.xlink:href]="'#play'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <!--          <span>{{'add-material-page.training-btn' | translate}}</span>-->
        </button>
        <div class="right_widget">
          <div class="fixed_wrap">
            <div class="langs" appFixedWidget>
              <app-langs-widget [class.__arrow]="translateHover" [lang]="lang" (switch)="switchLang($event)"></app-langs-widget>
<!--              <button type="button" (mouseenter)="translateHover = true;" (mouseleave)="translateHover = false;" [matTooltip]="'tooltips.global-icn.translate-all' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip" (click)="translate()" class="gglTranslate">-->
<!--                &lt;!&ndash; Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  &ndash;&gt;-->
<!--                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30.5px" height="30px" viewBox="0 0 30.5 30" style="enable-background:new 0 0 30.5 30;" xml:space="preserve">-->
<!--<style type="text/css">-->
<!--	.st0 {-->
<!--    fill: #E6E6E6;-->
<!--  }-->

<!--  .st1 {-->
<!--    fill: #64818E;-->
<!--  }-->

<!--  .st2 {-->
<!--    fill: #4455B6;-->
<!--  }-->

<!--  .st3 {-->
<!--    fill: #518FF5;-->
<!--  }-->
<!--</style>-->
<!--                  <defs>-->
<!--</defs>-->
<!--                  <g>-->
<!--	<path class="st0" d="M28.5,5.5H15.7l2.7,8.2l2.4,7.4l1.2,3.5L16.8,30l0,0h11.7c1.1,0,2-0.9,2-2V7.4C30.5,6.3,29.6,5.5,28.5,5.5z"/>-->
<!--                    <path class="st1" d="M23.2,13.1v-1.7H22v1.7h-3.8l0.2,0.6l0.2,0.6h6.1c-0.4,0.8-1,2.1-2,3.5c-0.8-1.1-1.4-1.8-1.4-1.8l-0.4-0.5-->
<!--		l-1,0.7l0.4,0.5c0,0,0.6,0.9,1.6,2.1c-0.4,0.4-0.9,1-1.4,1.5l0.2,0.7l0.2,0.6c0.6-0.6,1.2-1.3,1.7-1.9c1,1.2,1.9,2.2,2.9,3.1-->
<!--		l0.4,0.4l0.9-0.9L26.5,22c-0.9-0.9-1.9-2-3-3.3c1.3-1.9,2.2-3.7,2.5-4.5h2v-1.2H23.2z"/>-->
<!--                    <polygon class="st2" points="15,24.5 16.8,30 22,24.5 	"/>-->
<!--                    <path class="st3" d="M20.8,21l-2.4-7.4l-2.7-8.2L13.8,0H2C0.9,0,0,0.9,0,2v20.6c0,1.1,0.9,2,2,2h13h7L20.8,21z M13.3,12.7-->
<!--		c0,0.1,0,0.1,0,0.1c0,0.1,0,0.2-0.1,0.4c0,0.1,0,0.1,0,0.2c0,0.1,0,0.2-0.1,0.3c0,0,0,0.1-0.1,0.1c0,0.1-0.1,0.2-0.1,0.3-->
<!--		c0,0,0,0.1-0.1,0.1c0,0.1-0.1,0.2-0.1,0.3c0,0,0,0.1-0.1,0.1c-0.1,0.1-0.1,0.2-0.2,0.3c0,0-0.1,0.1-0.1,0.1-->
<!--		c-0.1,0.1-0.1,0.2-0.2,0.2c0,0-0.1,0.1-0.1,0.1c-0.1,0.1-0.1,0.2-0.2,0.2c0,0,0,0,0,0l0,0c-0.8,0.7-1.9,1.1-3,1.1-->
<!--		c-1.8,0-3.4-1-4.1-2.6l0,0l0,0l0,0l0,0c-0.3-0.6-0.5-1.3-0.5-2c0-0.7,0.2-1.4,0.5-2C5.6,8.6,7.2,7.6,9,7.6c1.2,0,2.2,0.4,3,1.1-->
<!--		L10.7,10c-0.5-0.4-1-0.6-1.7-0.6c-1.2,0-2.2,0.8-2.6,1.9c-0.1,0.3-0.1,0.6-0.1,0.8c0,0.3,0,0.6,0.1,0.8c0.4,1.1,1.4,1.9,2.6,1.9-->
<!--		c0.6,0,1.1-0.2,1.6-0.4c0.1-0.1,0.2-0.1,0.2-0.2c0,0,0.1-0.1,0.1-0.1c0.1-0.1,0.1-0.1,0.2-0.2c0,0,0.1-0.1,0.1-0.1-->
<!--		c0.1-0.1,0.1-0.2,0.1-0.3c0,0,0-0.1,0.1-0.1c0.1-0.1,0.1-0.3,0.1-0.4H9v-1.8h4.3c0.1,0.3,0.1,0.6,0.1,0.8-->
<!--		C13.4,12.3,13.4,12.5,13.3,12.7z"/>-->
<!--</g>-->
<!--</svg>-->

<!--              </button>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="login_error" *ngIf="!isAuth">{{'add-material-page.login-error' | translate}}</div>
    <div class="content">
      <div class="content_top">
        <div class="time_place">
          <div class="inp">
            <div class="label">{{'add-material-page.datepicker-label' | translate}}</div>
            <app-datepicker-block [setDate]="topData.pub_time" (newDate)="topData.pub_time = $event; errors.pub_time = null"></app-datepicker-block>
            <div class="error" *ngIf="errors.pub_time">{{errors.pub_time}}</div>
          </div>
          <div class="inp __workplace">
            <div class="label">{{'add-material-page.where-workplace-label' | translate}}</div>
            <app-select-search [url]="'/workplaces/dict'" [placeholder]="'add-material-page.where-workplace-placeholder' | translate" [icon]="'portfolio'" [setValue]="topData.workplace" [allBtn]="false" [listKey]="'title'" [key]="'short'" (valueChange)="topData.workplace_id = $event.id; errors.workplace_id = null"></app-select-search>

            <div class="error" *ngIf="errors.workplace_id">{{errors.workplace_id}}</div>
          </div>
        </div>
        <div class="workplace_selects">
          <div class="inp">
            <div class="label">{{'add-person-modal.region-label' | translate}}</div>
            <app-select-search [url]="'/regions/dict'" [placeholder]="'add-material-page.region-placeholder' | translate" [key]="'title'" [listKey]="'title'" [icon]="'place'" [setValue]="topData.region" (valueChange)="changeRegion($event)">></app-select-search>

            <div class="error" *ngIf="errors.region_id">{{errors.region_id}}</div>
          </div>
          <div class="inp">
            <div class="label">{{'add-person-modal.district-label' | translate}}</div>
            <app-select-with-groups (change)="changeDistrict($event)" [placeholder]="'add-material-page.district-placeholder' | translate" [reset]="{region_id: topData.region_id}" [setValue]="topData.district" [url]="'/districts/dict?' + (topData.region_id ? 'region_id=' + topData.region_id : '')"></app-select-with-groups>
            <div class="error" *ngIf="errors.district_id">{{errors.district_id}}</div>
          </div>
          <div class="inp">
            <div class="label">{{'add-person-modal.city-label' | translate}}</div>
            <app-select-with-groups [placeholder]="'add-material-page.city-placeholder' | translate" (change)=" topData.city_id = $event.id; errors.city_id = null" [setValue]="topData.city" [reset]="{district_id: topData.district_id, region_id: topData.region_id}" [url]="'/cities/dict?' + (topData.district_id ? 'district_id=' + topData.district_id : '')
           + (topData.district_id ? '&': '')
            + (topData.region_id ? 'region_id=' + topData.region_id : '')
"></app-select-with-groups>
            <div class="error" *ngIf="errors.city_id">{{errors.city_id}}</div>
          </div>
        </div>
        <div class="checkboxes_wrap">
          <div class="checkboxes_title info_icon">
            <div class="label">{{'add-material-page.checkbox-label' | translate}}</div>
            <div class="icon" (click)="showInfo('material.publish.crime')">
              <svg class="svg-info">
                <use [attr.xlink:href]="'#info'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
          </div>
          <div class="checkboxes">
            <div class="checkbox">
              <app-checkbox [value]="administrative_checkbox" (newValue)="administrative_checkbox = $event; criminal_checkbox = false"></app-checkbox>
              <div class="checkbox_label" [class.__checked]="administrative_checkbox">{{'add-material-page.checkbox-1' | translate}}</div>
            </div>
            <div class="checkbox">
              <app-checkbox [value]="criminal_checkbox" (newValue)="criminal_checkbox = $event; administrative_checkbox = false"></app-checkbox>
              <div class="checkbox_label" [class.__checked]="criminal_checkbox">{{'add-material-page.checkbox-2' | translate}}</div>
            </div>
          </div>
        </div>
        <div class="top_cover">
          <div class="info_icon label">{{'add-material-page.cover-label' | translate}}
            <div class="icon" (click)="showInfo('material.publish.cover')">
            <svg class="svg-info">
              <use [attr.xlink:href]="'#info'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div></div>
          <div class="top_cover-inp">
            <app-photo-block [img]="topData.cover" [formats]="['jpg', 'jpeg', 'png', 'gif']" [minWidth]="640" (newImg)="topData.cover = $event"></app-photo-block>
            <div class="delete" *ngIf="topData.cover" (click)="deleteCover()">
              <svg class="svg-basket">
                <use [attr.xlink:href]="'#basket'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="person_wrap">
          <app-person-block [setPerson]="topData.person" (valueChange)="topData.person_id = $event; errors.person_id = null" (openModal)="openModal()"></app-person-block>
          <div class="error" *ngIf="errors.person_id">{{errors.person_id}}</div>
        </div>
        <app-h1-block [hidden]="lang !== 'ua'" [changeValue]="topData.title_ua" (newValue)="topData.title_ua = $event;"></app-h1-block>
        <app-h1-block [hidden]="lang !== 'ru'" [changeValue]="topData.title_ru" (newValue)="topData.title_ru = $event"></app-h1-block>
        <!--        <div class="header"></div>-->
        <app-article-author></app-article-author>
      </div>
      <div class="blocks" cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="block" *ngFor="let block of blocks; let i = index" cdkDrag>
          <div class="block_box">
            <div class="block_wrap" cdkDragHandle (mousedown)="dragStart()"></div>
            <div class="tooltip">
              <svg class="svg-tooltip" (click)="showInfo(false, block.type)">
                <use [attr.xlink:href]="'#tooltip'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
            <app-block-dropdown (remove)="deleteBlock(block)"></app-block-dropdown>
            <div class="block_content">

              <ng-container *ngIf="block.type === 1">
                <app-h2-block [hidden]="lang !== 'ua'" (newValue)="block.h2_ua = $event" [changeValue]="block.h2_ua"></app-h2-block>
                <app-h2-block [hidden]="lang !== 'ru'" (newValue)="block.h2_ru = $event" [changeValue]="block.h2_ru"></app-h2-block>
              </ng-container>

              <ng-container *ngIf="block.type === 2">
                <app-text-block [hidden]="lang !== 'ua'" (newValue)="block.text_ua = $event" [changeValue]="block.text_ua"></app-text-block>
                <app-text-block [hidden]="lang !== 'ru'" (newValue)="block.text_ru = $event" [changeValue]="block.text_ru"></app-text-block>
              </ng-container>

              <ng-container *ngIf="block.type === 3">
                <app-photo-block [img]="block.img" [lang]="lang" [descrRu]="block.caption_ru" [descrUa]="block.caption_ua" [formats]="['jpg', 'jpeg', 'png', 'gif']" [minWidth]="320" (newImg)="block.img = $event" (newDescrRu)="block.caption_ru = $event" (newDescrUa)="block.caption_ua = $event"></app-photo-block>

              </ng-container>

              <ng-container *ngIf="block.type === 4">
                <app-video-block [video]="block.video" [lang]="lang" [descrRu]="block.caption_ru" [descrUa]="block.caption_ua" [formats]="['mp4']" (newVideo)="block.video = $event" (newDescrRu)="block.caption_ru = $event" (newDescrUa)="block.caption_ua = $event"></app-video-block>
              </ng-container>

              <ng-container *ngIf="block.type === 5">
                <app-audio-block [audio]="block.audio" [lang]="lang" [descrRu]="block.caption_ru" [descrUa]="block.caption_ua" [formats]="['mp3', 'ogg']" (newAudio)="block.audio = $event" (newDescrRu)="block.caption_ru = $event" (newDescrUa)="block.caption_ua = $event"></app-audio-block>
              </ng-container>

              <ng-container *ngIf="block.type === 6">
                <app-quote-block [hidden]="lang !== 'ua'" [placeholder]="'add-material-page.blocks.placeholder_ua'" [changeСontent]="block.cite_ua" [changeDescr]="block.caption_ua" (newCite)="block.cite_ua = $event" (newDescr)="block.caption_ua = $event"></app-quote-block>
                <app-quote-block [hidden]="lang !== 'ru'" [placeholder]="'add-material-page.blocks.placeholder_ru'" [changeСontent]="block.cite_ru" [changeDescr]="block.caption_ru" (newCite)="block.cite_ru = $event" (newDescr)="block.caption_ru = $event"></app-quote-block>
              </ng-container>

              <ng-container *ngIf="block.type === 7">
                <app-gallery-block [formats]="['jpg', 'jpeg', 'png', 'gif']" [minWidth]="320" [lang]="lang" [(setSlides)]="block.slides"></app-gallery-block>
              </ng-container>


              <ng-container *ngIf="block.type === 8 || block.type === 9 || block.type === 10">
                <app-embed-block [type]="block.type" [(embed)]="block.embed"></app-embed-block>
              </ng-container>

            </div>
          </div>
          <app-add-block-btn (addBlock)="addBlock(i, $event)"></app-add-block-btn>
        </div>
      </div>
      <app-add-block-btn (addBlock)="addBlock(blocks.length - 1, $event)"></app-add-block-btn>
      <div class="bottom">
        <div class="inp">
          <div class="label">{{'add-material-page.source-label' | translate}}</div>
          <div class="inp_wrap" *ngFor="let inp of source_list; let inp_i = index">
            <input type="text" [(ngModel)]="inp.value" [placeholder]="'add-material-page.source-placeholder' | translate" class="source">
            <div class="delete" *ngIf="inp_i" (click)="deleteSource(inp)">
              <svg class="svg-basket">
                <use [attr.xlink:href]="'#basket'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="add_source" (click)="addSource()" *ngIf="source_list.length < 3">
          <div class="add_source-icon"></div>
          <span>{{'add-material-page.add-source-btn' | translate}}</span>
        </div>
        <div class="btns" *ngIf="isAuth">
          <button class="btn" (click)="publish()" *ngIf="material_id">{{'add-material-page.post-btn' | translate}}</button>
          <button class="btnFull" (click)="submit()">{{'add-material-page.save-draft-btn' | translate}}</button>
        </div>
      </div>
    </div>
    <app-fixed-social [social]="false"></app-fixed-social>
  </div>
</div>
<div class="disabled_layout">
  {{'errors.response-error' | translate}}
</div>
