@import "~src/assets/scss/_variables";
@import "~src/assets/scss/_mixins";

.disabled_layout {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #F7F7F7;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'SourceSansProBold';
  font-size: 24px;
  letter-spacing: 0.18px;
  color: #303233;
  padding: 30px;
  text-align: center;
  display: none;
}

.page {
  padding: v_2xl(1200, 0) 0;
  
  button {
    outline: none;
  }
  
  ::ng-deep {
    button {
      outline: none;
    }
    
  }
}

.top_cover {
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  
  &:hover {
    .delete {
      opacity: 1;
      visibility: visible;
    }
  }
  
  .top_cover-inp {
    position: relative;
  }
  
  .delete {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    margin-left: 6px;
    padding: 10px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    //transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
    
    &:hover {
      .svg-basket {
        fill: #fff;
      }
    }
    
    .svg-basket {
      fill: #A3ACB3;
      width: 15px;
      height: 15px;
    }
  }
}

.time_place {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  z-index: 5;
  
  .inp {
    //margin-right: 40px;
    &.__workplace {
      flex: 1;
      margin-left: 40px;
    }
  }
  
  app-select-search {
    display: block;
    flex: 1;
    
    ::ng-deep {
      .box {
        width: 100%;
      }
    }
  }
}

.workplace_selects {
  display: flex;
  margin-bottom: 34px;
  position: relative;
  z-index: 2;
  
  .inp {
    flex: 1;
  }
  
  app-simple-select, app-select-search, app-select-with-groups {
    display: flex;
    flex: 1;
  }
  
  app-simple-select {
    ::ng-deep {
      .box {
        width: 100%;
      }
    }
  }
  
  app-select-with-groups {
    ::ng-deep {
      .box {
        width: 100%;
      }
    }
  }
  
  
  app-select-search {
    ::ng-deep {
      .box {
        width: 100%;
      }
    }
  }
  
  & > * {
    margin-left: 40px;
  }
  
  & > *:first-child {
    margin-left: 0;
  }
}
.info_icon {
  position: relative;
  
  .icon {
    position: absolute;
    right: 100%;
    top: 0;
    transform: translate(10px, -43%);
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    vertical-align: super;
    &:hover {
      svg {
        fill: #303233;
      }
    }
    
    svg {
      width: 6.2px;
      height: 15px;
      fill: #A3ACB3;
    }
  }
}
.checkboxes_wrap {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  .checkboxes_title {
    margin-bottom: 15px;
    position: relative;
  

  }
  
  .checkboxes {
    display: flex;
    align-items: center;
    
    .checkbox {
      display: flex;
      align-items: center;
      
      
      &:first-of-type {
        margin-right: 32px;
      }
      
      app-checkbox {
        display: block;
        margin-right: 12px;
        
        ::ng-deep {
          .switch {
            
            input:checked + .slider {
              background-color: #3A70CF;
            }
            
            input:focus + .slider {
              box-shadow: 0 0 1px #3A70CF;
            }
          }
          
        }
      }
      
      .checkbox_label {
        font-family: 'SourceSansPro';
        font-size: 16px;
        color: #A3ACB3;
        transition: color .4s;
        
        &.__checked {
          color: #3A70CF;
        }
      }
    }
  }
}

.label {
  font-family: 'SourceSansPro';
  font-size: 17px;
  color: #AEB5BB;
  margin-bottom: 6px;
  padding-left: 10px;
}

.container {
  //padding: 0 0 0 88px;
  position: relative;
}

.page-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 0 0 88px;
  
  h1 {
    font-family: 'SourceSansProBold';
    font-size: 35px;
    letter-spacing: 0.18px;
    color: #303233;
  }
  
  .top_tips {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .top_tips-item {
    display: flex;
    align-items: center;
    margin-left: 24px;
    padding: 3px;
    position: relative;
    z-index: 2;
    
    &:hover {
      span {
        color: #7C858C;
      }
      
      svg {
        fill: #7C858C;
      }
    }
    
    
    svg {
      fill: #A3ACB3;
      //margin-right: 10px;
    }
    
    .svg-attantion-2 {
      width: 25px;
      height: 22.4px;
    }
    
    .svg-play {
      width: 25px;
      height: 25px;
    }
    
    .svg-eye {
      width: 27px;
      height: 18px;
    }
    
    .svg-list {
      width: 25px;
      height: 14.2px;
    }
    
    span {
      font-family: 'SourceSansPro';
      font-size: 16px;
      color: #A3ACB3;
    }
  }
}

.login_error {
  font-family: 'SourceSansProSemiBold';
  font-size: 17px;
  letter-spacing: 0.26px;
  color: #FF0000;
  margin-bottom: 32px;
  
  //max-width: 770px;
  width: 100%;
  padding: 0 0 0 88px;
  max-width: 590px;
  box-sizing: content-box;
}

.right_widget {
  position: absolute;
  padding-top: 50px;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  width: 132px;
  
  .langs {
    display: flex;
    align-items: center;
  }
  
  .gglTranslate {
    margin-left: 20px;
    line-height: 0;
  }
}

.content_top {
  box-sizing: content-box;
  padding: 0 0 0 88px;
  max-width: 590px;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 770px;
  width: 100%;
}

app-article-author {
  display: block;
  margin-bottom: v_md(1200, 0);
  pointer-events: none;
}

.person_wrap {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

app-person-block {
}

app-h1-block {
  display: block;
  margin-bottom: 34px;
}


.block {
  position: relative;
  width: 100%;
  //padding: 11px;
  //background-color: #F7F7F7;
  
  &:last-of-type {
    //padding: 11px;
    
    app-add-block-btn {
      ::ng-deep {
        .addBlockBtn_wrap {
          display: none;
        }
      }
    }
  }
  
  .block_box {
    position: relative;
    padding: 11px;
    
    &:hover {
      .block_wrap, .tooltip, app-block-dropdown {
        opacity: 1;
      }
      
      ::ng-deep {
        textarea, .mce-content-body, input {
          background-color: #fff!important;
        }
      }
    }
  }
  
  
  app-add-block-btn {
    ::ng-deep {
      .addBlockBtn_wrap {
        //position: absolute;
        //bottom: 0;
        //left: 0;
        //right: 0;
        opacity: 0;
        //visibility: hidden;
        transition: opacity .2s ease-in-out;
        z-index: 3;
        cursor: pointer;
        
        &:hover {
          opacity: 1;
          //visibility: visible;
        }
      }
    }
  }
  
  .tooltip {
    position: absolute;
    padding: 5px;
    left: 10px;
    top: 5px;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    
    &:hover {
      svg {
        fill: #303233;
      }
    }
    
    svg {
      width: 15px;
      height: 15px;
      fill: #A3ACB3
    }
  }
  
  .block_wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    border: 2px dashed #D9D9D9;
    opacity: 0;
    //transition: .15s ease-in-out;
    cursor: pointer;
  }
  
  .block_content {
    position: relative;
    z-index: 2;
    max-width: 590px;
    width: 100%;
    margin: 0 auto;
  }
}


.cdk-drag-preview {
  box-sizing: border-box;
  //border-radius: 4px;
  //box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  //0 8px 10px 1px rgba(0, 0, 0, 0.14),
  //0 3px 14px 2px rgba(0, 0, 0, 0.12);
  
  .block_wrap {
    border: 2px dashed #D9D9D9;
    cursor: move !important;
    opacity: 1;
    background-color: #FFFEF2;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.blocks.cdk-drop-list-dragging .block:not(.cdk-drag-placeholder) {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.error {
  position: absolute;
  top: 100%;
  margin-top: 2px;
  right: 0;
  font-family: 'Source Sans Pro';
  font-size: 13px;
  letter-spacing: 0.33px;
  color: #FF0000;
  text-align: right;
}

.inp {
  position: relative;
}

.bottom {
  max-width: 590px;
  width: 100%;
  box-sizing: content-box;
  padding: 0 0 0 88px;
  display: flex;
  flex-direction: column;
  
  .inp {
  }
  
  .add_source {
    display: flex;
    align-items: center;
    align-self: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    
    .add_source-icon {
      display: block;
      position: relative;
      width: 8px;
      height: 8px;
      margin-right: 6px;
      
      &:before, &:after {
        display: block;
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 2px;
        background-color: #2053AB;
      }
      
      &:after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
    
    span {
      font-family: 'SourceSansProSemiBold';
      font-size: 16px;
      letter-spacing: 0.24px;
      color: #2053AB;
    }
  }
  
  .delete {
    cursor: pointer;
    margin-left: 6px;
    padding: 10px;
    
    &:hover {
      .svg-basket {
        fill: #303233;
      }
    }
    
    .svg-basket {
      fill: #A3ACB3;
      width: 15px;
      height: 15px;
    }
  }
  
  .inp_wrap {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    
    input {
      flex: 1;
    }
  }
  
  
  input {
    width: 100%;
    height: 35px;
    box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
    padding: 0 18px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    
    font-family: 'SourceSansPro';
    font-size: 16px;
    color: #303233;
    
    @include placeholder {
      font-family: 'SourceSansPro';
      font-size: 16px;
      color: #AEB5BB;
    }
    
    &:hover, &:focus {
      box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
    }
  }
  
  .btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 32px;
  }
  
  .btn {
    font-family: 'SourceSansPro';
    font-size: 16px;
    letter-spacing: 0.24px;
    color: #A3ACB3;
    padding: 5px 20px;
    margin-right: 18px;
    
    &:hover {
      color: #3A70CF
    }
  }
  
  .btnFull {
    font-family: 'SourceSansPro';
    font-size: 16px;
    letter-spacing: 0.24px;
    color: #ffffff;
    padding: 5px 20px;
    background-color: #A3ACB3;
    height: 35px;
    border-radius: 3px;
    
    &:hover {
      background-color: #3A70CF;
    }
  }
  
}


@media all and (max-width: 959px) {
  .disabled_layout {
    //position: fixed;
    //left: 0;
    //right: 0;
    //top: 0;
    //bottom: 0;
    //background-color: #F7F7F7;
    //z-index: 100;
    display: flex;
    //align-items: center;
    //justify-content: center;
    //font-family: 'SourceSansProBold';
    //font-size: 24px;
    //letter-spacing: 0.18px;
    //color: #303233;
    //padding: 30px;
    //text-align: center;
    //display: none;
  }
}
