.top {
  margin-bottom: 30px;
  
  .title {
    font-family: 'SourceSansProSemiBold';
    font-size: 25px;
    margin-bottom: 16px;
    color: #303233;
    
    &.__active {
      color: #3A70CF;
    }
  }
  
  .label {
    font-family: 'SourceSansPro';
    font-size: 16px;
    color: #303233;
  }
}

.item {
  margin-bottom: 35px;
  &:last-of-type {
    margin-bottom: 0;
  }
  .item_title {
    font-family: 'SourceSansProSemiBold';
    font-size: 25px;
    color: #303233;
    margin-bottom: 18px;
  
    &.__active {
      color: #3A70CF;
    }
  }
  
  .person-1 {
    display: flex;
    margin-bottom: 16px;
    //align-items: center;
    .img_wrap {
      position: relative;
  
      .svg-shield {
        position: absolute;
        right: 0;
        top: 0;
        width: 13px;
        height: 15.3px;
        fill: #767D82;
        transform: translateX(-50%);
      }
    }
    .img {
      width: 35px;
      height: 35px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 9px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      
      .svg-user {
        width: 15.3px;
        height: 16.6px;
        fill: #DBE0E2;
      }
      
   
    }
    
    .name {
      font-family: 'SourceSansProSemiBold';
      font-size: 16px;
      color: #767D82;
    }
  }
  .person-2 {
    display: flex;
    margin-bottom: 16px;
    //align-items: center;
    .img_wrap {
      position: relative;
  
      .svg-shield {
        position: absolute;
        right: 0;
        top: 0;
        width: 13px;
        height: 15.3px;
        fill: #767D82;
        transform: translateX(-50%);
      }
    }
    .img {
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 11px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      
      .svg-user {
        width: 21.8px;
        height: 23.6px;
        fill: #DBE0E2;
      }
    }
    
    .name {
      font-family: 'SourceSansProSemiBold';
      font-size : 17px;
      color : #303233;
      //margin-bottom: 3px;
    }
    
    .pos {
      font-family: 'SourceSansPro';
      font-size : 15px;
      color : #767D80;
    }
  }
  
  
  .text {
    font-family: 'SourceSansPro';
    font-size : 16px;
    line-height : 24px;
    color : #303233;
    margin-bottom: 20px;
  }
  
  .btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    .submit {
      font-family: 'SourceSansPro';
      font-size: 16px;
      letter-spacing: 0.24px;
      color: #ffffff;
      padding: 5px 20px;
      background-color: #A3ACB3;
      height: 35px;
      border-radius: 3px;
  
      &:hover {
        background-color: #3A70CF;
      }
    }
  }
}


@media all and (max-width: 599px) {
  .top {
    margin-bottom: 20px;
    
    .title {
      //font-family: 'SourceSansProSemiBold';
      font-size : 22px;
      //line-height : 26px;
      //color: #3A70CF;
      margin-bottom: 12px;
    }
    
    .label {
      //font-family: 'SourceSansPro';
      //font-size : 16px;
      line-height : 24px;
      //color: #303233;
    }
  }
  
  .item {
    .item_title {
      //font-family: 'SourceSansProSemiBold';
      font-size : 22px;
      line-height : 26px;
      //color: #303233;
      margin-bottom: 12px;
    }
    
    .person-1 {
      //display: flex;
      //margin-bottom: 16px;
      //align-items: center;
      .img_wrap {
        //position: relative;
        
        .svg-shield {
          //position: absolute;
          //right: 0;
          //top: 0;
          //width: 13px;
          //height: 15.3px;
          //fill: #767D82;
          //transform: translateX(-50%);
        }
      }
      .img {
        //width: 35px;
        //height: 35px;
        //overflow: hidden;
        //border-radius: 50%;
        //margin-right: 9px;
        //background-color: #fff;
        //display: flex;
        //align-items: center;
        //justify-content: center;
        
        .svg-user {
          //width: 15.3px;
          //height: 16.6px;
          //fill: #DBE0E2;
        }
        
        
      }
      
      .name {
        //font-family: 'SourceSansProSemiBold';
        //font-size: 16px;
        //color: #767D82;
      }
    }
    .person-2 {
      //display: flex;
      //margin-bottom: 16px;
      //align-items: center;
      .img_wrap {
        //position: relative;
        
        .svg-shield {
          //position: absolute;
          //right: 0;
          //top: 0;
          //width: 13px;
          //height: 15.3px;
          //fill: #767D82;
          //transform: translateX(-50%);
        }
      }
      .img {
        //width: 50px;
        //height: 50px;
        //overflow: hidden;
        //border-radius: 50%;
        //margin-right: 11px;
        //background-color: #fff;
        //display: flex;
        //align-items: center;
        //justify-content: center;
        
        .svg-user {
          //width: 21.8px;
          //height: 23.6px;
          //fill: #DBE0E2;
        }
      }
      
      .name {
        //font-family: 'SourceSansProSemiBold';
        //font-size : 17px;
        //color : #303233;
        //margin-bottom: 3px;
      }
      
      .pos {
        //font-family: 'SourceSansPro';
        //font-size : 15px;
        //color : #767D80;
      }
    }
    
    
    .text {
      //font-family: 'SourceSansPro';
      //font-size : 16px;
      //line-height : 24px;
      //color : #303233;
      //margin-bottom: 20px;
    }
    
    .btns {
      //width: 100%;
      //display: flex;
      //align-items: center;
      //justify-content: flex-end;
      
      .submit {
        //font-family: 'SourceSansPro';
        //font-size: 16px;
        //letter-spacing: 0.24px;
        //color: #ffffff;
        //padding: 5px 20px;
        //background-color: #A3ACB3;
        //height: 35px;
        //border-radius: 3px;
        
        &:hover {
          //background-color: #3A70CF;
        }
      }
    }
  }
}
