<a href="" routerLink="/" class="box" *ngIf="author.hasOwnProperty('avatar')">
  <div class="photo">
    <img [src]="author.avatar" alt="">
  </div>
  <div class="data">
    <span class="name">{{author.name}}</span>
    <span class="date">{{dateService.convert(timestamp)}}</span>
  </div>
</a>
