@import "../../../../../assets/scss/variables";

.box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  pointer-events: none;
}

.photo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 14px;
  
  img {
    width: 100%;
  }
}

.data {
  display: flex;
  flex-direction: column;
  
  .name {
    font-family : 'SourceSansProSemiBold';
    font-size : 16px;
    color : #767D82;
    margin-bottom: v_xs(1200, 10);
  }
  
  .date {
    font-family : 'SourceSansPro';
    font-size : 14px;
    color : #AEB5BB;
  }
  
}
