.list {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  padding-bottom: 18px;
}

.item {
  margin-right: 36px;
  
  &:last-of-type {
    margin-right: 0;
  }
}

.img {
  margin-bottom: 18px;
  line-height: 0;
  display: flex;
  align-items: center;
  height: 40px;
  img {
    max-width: 80px;
    max-height: 40px;
    width: auto;
    height: auto;
  }
}

.title {
  font-family : 'SourceSansPro';
  font-size : 16px;
  letter-spacing : 0.24px;
  color : #303233;
  margin-bottom: 6px;
}

.years {
  font-family : 'SourceSansPro';
  font-size : 14px;
  color : #AEB5BB;
  white-space: nowrap;
}
