<div class="list" [perfectScrollbar]="{wheelPropagation:false, suppressScrollX: false, suppressScrollY: true}" *ngIf="h.length && init">
  <div class="item" *ngFor="let item of h">
    <div class="img">
      <img [src]="item.logo_sm" alt="">
    </div>
    <div class="title">{{item.type}}</div>
    <div class="years">{{item._from}}<span *ngIf="item.check_year">–{{item._to}}</span></div>
  </div>
</div>
<app-empy-list-string [text]="'errors.empy-widget-list-1' | translate" *ngIf="!h.length && init"></app-empy-list-string>
<!--from: "2007-01-01"-->
<!--logo_sm: "https://res.democratium.net/storage/party/logo/sm/nuns.png"-->
<!--short: "НУНС"-->
<!--slug: "nuns"-->
<!--title: "Наша Україна – Народна самооборона"-->
<!--to: "2007-01-01"-->
<!--type: "Балотування"-->
