@import "~src/assets/scss/_variables";
@import "~src/assets/scss/_mixins";

.page {
  padding: v_2xl(1200, 0) 0;
  box-sizing: content-box;
}

app-empy-list-string {
  display: block;
  margin-top: 30px;
}

.container {
  padding: 0;
  position: relative;
}

.pagination_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  
  .currentPage {
    font-family: 'SourceSansProSemiBold';
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #767D80;
    width: 35px;
    text-align: center;
    margin: 0;
    display: none;
  }
  
  .pagination_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-right: 16px;
    
    &.__disabled {
      pointer-events: none;
      opacity: 0.5;
    }
    
    &.__rotate {
      transform: rotate(180deg);
      margin-left: 16px;
      margin-right: 0;
    }
    
    svg {
      width: 18.1px;
      height: 16.5px;
      fill: #AEB5BB;
    }
    
    &:hover {
      svg {
        fill: #7C858C;
      }
    }
  }
  
  ::ng-deep {
    .ngx-pagination {
      display: flex;
      align-items: center;
      margin: 0 auto;
      
      a, button {
        font-family: Arial;
        font-size: 15px;
        letter-spacing: 0.38px;
        color: #767D80;
        margin: 0 5px;
        
        &:hover {
          color: #2053AB;
          background-color: transparent;
        }
      }
      
      .current {
        color: #767D80;
        cursor: default;
        background-color: #fff;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}


.top {
  display: flex;
  align-items: center;
  margin-bottom: v_md(1200, 6);
  
  h1 {
    font-family: 'SourceSansProBold';
    font-size: 35px;
    letter-spacing: 0.18px;
    color: #303233;
    margin-right: 20px;
  }
  
  .search_value {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 11px;
    background-color: #fff;
    border-radius: 15px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    span {
      font-family: 'SourceSansPro';
      font-size: 15px;
      letter-spacing: 0.22px;
      color: #767D80;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    svg {
      min-width: 11.5px;
      max-width: 11.5px;
      height: 11.5px;
      fill: #A3ACB3;
      margin-top: 2px;
      margin-left: 7px;
      cursor: pointer;
      
      &:hover {
        fill: #7C858C;
      }
    }
  }
  
  .allFiltersBtn {
    padding: 5px;
    cursor: pointer;
    display: block;
    line-height: 0;
    display: none;
    
    &.__active {
      svg {
        fill: #3A70CF
      }
    }
    
    svg {
      width: 23px;
      height: 14px;
      fill: #A3ACB3;
    }
  }
  
  .searchBtn {
    padding: 5px;
    cursor: pointer;
    margin: auto 0 auto auto;
    display: block;
    line-height: 0;
    
    app-btn-close {
      ::ng-deep {
        .close {
          position: relative;
          right: auto;
          top: auto;
          cursor: pointer;
          width: 20px;
          height: 20px;
          z-index: 2;
        }
      }
    }
    
    &.__active {
      svg {
        fill: #3A70CF
      }
    }
    
    &:hover {
      transform: scale(1.1);
      
      svg {
        fill: #303233;
      }
    }
    
    svg {
      width: 20px;
      height: 20px;
      fill: #A3ACB3;
    }
  }
}

.filters {
  margin-bottom: 30px;
  
  app-simple-select, app-select-search, app-select-with-groups {
    display: flex;
    flex: 1;
  }
  
  app-simple-select {
    ::ng-deep {
      .box {
        width: 100%;
      }
    }
  }
  
  app-select-with-groups {
    ::ng-deep {
      .box {
        width: 100%;
      }
    }
  }
  
  
  app-select-search {
    ::ng-deep {
      .box {
        width: 100%;
      }
    }
  }
  
  
  .filters_select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    & > * {
      margin-left: 40px;
    }
    
    & > *:first-child {
      margin-left: 0;
    }
    
  }
  
  .filters_search {
    width: 100%;
    position: relative;
    
    .searchButton {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      transform: rotate(180deg);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      
      &:hover {
        .svg-arrow {
          fill: #303233;
        }
      }
    }
    
    .svg-arrow {
      width: 18.1px;
      height: 16.5px;
      fill: #A3ACB3;
    }
    
    input {
      width: 100%;
      background: #FFFFFF;
      border-radius: 4px;
      height: 35px;
      overflow: hidden;
      font-family: 'SourceSansPro';
      font-size: 18px;
      color: #303233;
      padding: 0 42px 0 18px;
      
      @include placeholder {
        font-family: 'SourceSansPro';
        font-size: 18px;
        color: #AEB5BB;
      }
      box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
      
      &:hover, &:focus {
        box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
      }
    }
  }
  
  //app-select-search, app-select-with-groups, app-simple-select {
  //  flex: 1;
  //
  //  ::ng-deep {
  //    .box {
  //      width: auto;
  //    }
  //  }
  //}
  
  //app-select-with-groups {
  //  margin: 0 40px;
  //}
}


.table_filters {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
  .table_filters-item_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
    .table_filters-item {
      padding: 10px;
      padding-left: 9px;
      cursor: pointer;
      display: flex;
      align-items: center;
      
      &.__active {
        span {
          color: #303233;
        }
        
        svg {
          fill: #303233;
        }
      }
      
      &.__rotate {
        .svg-arrow {
          transform: rotate(0);
        }
      }
    }
    
    &:nth-of-type(1) {
      max-width: 75px;
      min-width: 75px;
    }
    
    &:nth-of-type(2) {
      padding-left: 62px;
      flex: 1;
    }
    
    &:nth-of-type(3) {
      max-width: 140px;
      min-width: 140px;
      pointer-events: none !important;
    }
    
    &:nth-of-type(4) {
      max-width: 90px;
      min-width: 90px;
    }
    
    &:nth-of-type(5) {
      max-width: 120px;
      min-width: 120px;
    }
    
    
  }
  
  span {
    font-family: 'SourceSansPro';
    font-size: 14px;
    letter-spacing: 0.21px;
    color: #AEB5BB;
  }
  
  svg {
    fill: #AEB5BB;
  }
  
  .svg-star {
    width: 10.4px;
    height: 10px;
    margin-right: 9px;
  }
  
  .svg-arrow {
    width: 10px;
    height: 5px;
    margin-left: 9px;
    transform: rotate(180deg);
    
  }
  
}

.table_content {
  a {
    display: flex;
    align-items: center;
    height: 70px;
    border-radius: 3px;
    overflow: hidden;
    
    &:hover {
      background-color: #fff;
    }
    
  }
  
  .col {
    padding-left: 9px;
    
    .svg-star {
      width: 16.7px;
      height: 16px;
      margin-right: 5px;
      fill: #FFC800;
    }
    
    .photo {
      margin-right: 12px;
      min-width: 50px;
      max-width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
    }
    
    &:nth-of-type(1) {
      max-width: 75px;
      min-width: 75px;
      display: flex;
      align-items: center;
      span {
        font-family: 'SourceSansPro';
        font-size: 15px;
        color: #767D80;
      }
    }
    
    &:nth-of-type(2) {
      flex: 1;
      display: flex;
      align-items: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-right: 20px;
      
      span {
        font-family: 'SourceSansPro';
        font-size: 19px;
        letter-spacing: 0.28px;
        color: #303233;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    
    &:nth-of-type(3) {
      max-width: 140px;
      min-width: 140px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      img {
        max-width: 30px;
        max-height: 35px;
        height: auto;
        width: auto;
      }
      
      span {
        font-family: 'SourceSansPro';
        font-size: 15px;
        letter-spacing: 0.22px;
        color: #767D80;
      }
    }
    
    &:nth-of-type(4), &:nth-of-type(5) {
      max-width: 90px;
      min-width: 90px;
      
      font-family: Source Sans Pro;
      font-size: 15px;
      letter-spacing: 0.22px;
      color: #767D80;
      color: rgb(118, 125, 128);
    }
    &:nth-of-type(5) {
  
      max-width: 120px;
      min-width: 120px;
    }
    
    
  }
}


@media all and (max-width: 1199px) {
  
  .page {
    //padding: v_2xl(1200, 0) 0;allFiltersBtn
    //box-sizing: content-box;
    padding: 30px 15px;
  }
  
  .container {
    //padding: 0;
    //position: relative;
  }
  
  .pagination_wrap {
    //display: flex;
    //align-items: center;
    //justify-content: center;
    //margin-top: 15px;
    .pagination_btn {
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //padding: 10px;
      //cursor: pointer;
      //margin-right: 16px;
      
      &.__disabled {
        //pointer-events: none;
        //opacity: 0.5;
      }
      
      &.__rotate {
        //transform: rotate(180deg);
        //margin-left: 16px;
        //margin-right: 0;
      }
      
      svg {
        //width: 18.1px;
        //height: 16.5px;
        //fill: #AEB5BB;
      }
      
      &:hover {
        svg {
          //fill: #7C858C;
        }
      }
    }
    
    ::ng-deep {
      .ngx-pagination {
        //display: flex;
        //align-items: center;
        //margin: 0 auto;
        
        a, button {
          //font-family: Arial;
          //font-size: 15px;
          //letter-spacing: 0.38px;
          //color: #767D80;
          //margin: 0 5px;
          
          &:hover {
            //color: #2053AB;
            //background-color: transparent;
          }
        }
        
        .current {
          //color: #767D80;
          //cursor: default;
          //background-color: #fff;
          //border-radius: 50%;
          //width: 35px;
          //height: 35px;
          //overflow: hidden;
          //display: flex;
          //justify-content: center;
          //align-items: center;
        }
      }
    }
  }
  
  
  .top {
    //display: flex;
    //align-items: center;
    //margin-bottom: v_md(1200, 6);
    
    h1 {
      //font-family: 'SourceSansProBold';
      //font-size: 35px;
      //letter-spacing: 0.18px;
      //color: #303233;
      //margin-right: 20px;
    }
    
    .search_value {
      //display: flex;
      //align-items: center;
      //height: 30px;
      //padding: 0 11px;
      //background-color: #fff;
      //border-radius: 15px;
      
      span {
        //font-family: 'SourceSansPro';
        //font-size: 15px;
        //letter-spacing: 0.22px;
        //color: #767D80;
      }
      
      svg {
        //width: 11.5px;
        //height: 11.5px;
        //fill: #A3ACB3;
        //margin-top: 2px;
        //margin-left: 7px;
        //cursor: pointer;
        
        &:hover {
          //fill: #7C858C;
        }
      }
    }
    
    .searchBtn {
      //padding: 5px;
      //cursor: pointer;
      //margin: auto 10px auto auto;
      //display: block;
      //line-height: 0;
      
      &.__active {
        svg {
          //fill: #3A70CF
        }
      }
      
      &:hover {
        //transform: scale(1.1);
        
        svg {
          //fill: #303233;
        }
      }
      
      svg {
        //width: 20px;
        //height: 20px;
        //fill: #A3ACB3;
      }
    }
  }
  
  .filters {
    //margin-bottom: 30px;
    
    .filters_select {
      //display: flex;
      //align-items: center;
      //justify-content: space-between;
    }
    
    .filters_search {
      //width: 100%;
      
      input {
        //width: 100%;
        //background: #FFFFFF;
        //border-radius: 4px;
        //height: 35px;
        //overflow: hidden;
        //font-family: 'SourceSansPro';
        //font-size: 18px;
        //color: #303233;
        //padding: 0 42px 0 18px;
        
        @include placeholder {
          //font-family: 'SourceSansPro';
          //font-size: 18px;
          //color: #AEB5BB;
        }
        //box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
        
        &:hover, &:focus {
          //box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
        }
      }
    }
    
    app-select-search, app-select-with-groups, app-simple-select {
      //flex: 1;
      
      ::ng-deep {
        .box {
          //width: auto;
        }
      }
    }
    
    app-select-with-groups {
      //margin: 0 40px;
    }
  }
  
  
  .table_filters {
    //display: flex;
    //align-items: center;
    //margin-bottom: 10px;
    .table_filters-item_wrap {
      //display: flex;
      //justify-content: flex-start;
      //align-items: flex-start;
      .table_filters-item {
        //padding: 10px;
        //padding-left: 9px;
        //cursor: pointer;
        //display: flex;
        //align-items: center;
        &.__active {
          span {
            //color: #303233;
          }
          
          svg {
            //fill: #303233;
          }
        }
        
        &.__rotate {
          .svg-arrow {
            //transform: rotate(0);
          }
        }
      }
      
      &:nth-of-type(1) {
        //max-width: 75px;
        //min-width: 75px;
      }
      
      &:nth-of-type(2) {
        //padding-left: 62px;
        //flex: 1;
      }
      
      &:nth-of-type(3) {
        //max-width: 140px;
        //min-width: 140px;
        //pointer-events: none!important;
      }
      
      &:nth-of-type(4) {
        //max-width: 90px;
        //min-width: 90px;
      }
      
      &:nth-of-type(5) {
        //max-width: 90px;
        //min-width: 90px;
      }
      
      
    }
    
    span {
      //font-family: 'SourceSansPro';
      //font-size: 14px;
      //letter-spacing: 0.21px;
      //color: #AEB5BB;
    }
    
    svg {
      //fill: #AEB5BB;
    }
    
    .svg-star {
      //width: 10.4px;
      //height: 10px;
      //margin-right: 9px;
    }
    
    .svg-arrow {
      //width: 10px;
      //height: 5px;
      //margin-left: 9px;
      //transform: rotate(180deg);
      
    }
    
  }
  
  .table_content {
    a {
      //display: flex;
      //align-items: center;
      //height: 70px;
      //border-radius: 3px;
      //overflow: hidden;
      
      &:hover {
        //background-color: #fff;
      }
      
    }
    
    .col {
      //padding-left: 9px;
      .svg-star {
        //width: 16.7px;
        //height: 16px;
        //margin-right: 5px;
        //fill: #FFC800;
      }
      
      .photo {
        //margin-right: 12px;
        //min-width: 50px;
        //max-width: 50px;
        //height: 50px;
        //overflow: hidden;
        //border-radius: 50%;
      }
      
      &:nth-of-type(1) {
        //max-width: 75px;
        //min-width: 75px;
        
        span {
          //font-family : 'SourceSansPro';
          //font-size : 15px;
          //color : #767D80;
        }
      }
      
      &:nth-of-type(2) {
        //flex: 1;
        //display: flex;
        //align-items: center;
        //overflow: hidden;
        //white-space: nowrap;
        //text-overflow: ellipsis;
        //padding-right: 20px;
        span {
          //font-family : 'SourceSansPro';
          //font-size : 19px;
          //letter-spacing : 0.28px;
          //color : #303233;
          //overflow: hidden;
          //white-space: nowrap;
          //text-overflow: ellipsis;
        }
      }
      
      &:nth-of-type(3) {
        //max-width: 140px;
        //min-width: 140px;
        img {
          //max-width: 30px;
          //max-height: 35px;
          //height: auto;
          //width: auto;
        }
        
        span {
          //font-family : 'SourceSansPro';
          //font-size : 15px;
          //letter-spacing : 0.22px;
          //color : #767D80;
        }
      }
      
      &:nth-of-type(4), &:nth-of-type(5) {
        //max-width: 90px;
        //min-width: 90px;
        //
        //font-family : Source Sans Pro;
        //font-size : 15px;
        //letter-spacing : 0.22px;
        //color : #767D80;
        //color : rgb(118, 125, 128);
      }
      
    }
  }
}


@media all and (max-width: 959px) {
  
  .page {
    //padding: v_2xl(1200, 0) 0;
    //box-sizing: content-box;
    padding: 30px 12px;
  }
  
  .container {
    //padding: 0;
    //position: relative;
  }
  
  .pagination_wrap {
    //display: flex;
    //align-items: center;
    //justify-content: center;
    //margin-top: 15px;
    .pagination_btn {
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //padding: 10px;
      //cursor: pointer;
      //margin-right: 16px;
      
      &.__disabled {
        //pointer-events: none;
        //opacity: 0.5;
      }
      
      &.__rotate {
        //transform: rotate(180deg);
        //margin-left: 16px;
        //margin-right: 0;
      }
      
      svg {
        //width: 18.1px;
        //height: 16.5px;
        //fill: #AEB5BB;
      }
      
      &:hover {
        svg {
          //fill: #7C858C;
        }
      }
    }
    
    ::ng-deep {
      .ngx-pagination {
        //display: flex;
        //align-items: center;
        //margin: 0 auto;
        
        a, button {
          //font-family: Arial;
          //font-size: 15px;
          //letter-spacing: 0.38px;
          //color: #767D80;
          //margin: 0 5px;
          
          &:hover {
            //color: #2053AB;
            //background-color: transparent;
          }
        }
        
        .current {
          //color: #767D80;
          //cursor: default;
          //background-color: #fff;
          //border-radius: 50%;
          //width: 35px;
          //height: 35px;
          //overflow: hidden;
          //display: flex;
          //justify-content: center;
          //align-items: center;
        }
      }
    }
  }
  
  
  .top {
    //display: flex;
    //align-items: center;
    //margin-bottom: v_md(1200, 6);
    app-right-widget-toolbar {
      display: none;
    }
    
    h1 {
      //font-family: 'SourceSansProBold';
      //font-size: 35px;
      //letter-spacing: 0.18px;
      //color: #303233;
      //margin-right: 20px;
    }
    
    .search_value {
      //display: flex;
      //align-items: center;
      //height: 30px;
      //padding: 0 11px;
      //background-color: #fff;
      //border-radius: 15px;
      
      span {
        //font-family: 'SourceSansPro';
        //font-size: 15px;
        //letter-spacing: 0.22px;
        //color: #767D80;
      }
      
      svg {
        //width: 11.5px;
        //height: 11.5px;
        //fill: #A3ACB3;
        //margin-top: 2px;
        //margin-left: 7px;
        //cursor: pointer;
        
        &:hover {
          //fill: #7C858C;
        }
      }
    }
    
    .allFiltersBtn {
      //padding: 5px;
      //cursor: pointer;
      //display: block;
      //line-height: 0;
      //display: none;
      display: block;
      margin-left: 12px;
      
      &.__active {
        svg {
          //fill: #3A70CF
        }
      }
      
      svg {
        //width: 23px;
        //height: 14px;
        //fill: #A3ACB3;
      }
    }
    
    .searchBtn {
      //padding: 5px;
      //cursor: pointer;
      //margin: auto 10px auto auto;
      //display: block;
      //line-height: 0;
      
      &.__active {
        svg {
          //fill: #3A70CF
        }
      }
      
      &:hover {
        //transform: scale(1.1);
        
        svg {
          //fill: #303233;
        }
      }
      
      svg {
        //width: 20px;
        //height: 20px;
        //fill: #A3ACB3;
      }
    }
  }
  
  .filters {
    //margin-bottom: 30px;
    
    &.__hidden {
      display: none;
    }
    
    .filters_select {
      //display: flex;
      //align-items: center;
      //justify-content: space-between;
      flex-wrap: wrap;
      
      &:after {
        display: block;
        content: '';
        width: 100%;
        order: 2;
      }
      
      & > *:nth-child(1),
      & > *:nth-child(2) {
        order: 1;
        margin-bottom: 12px;
        position: relative;
        z-index: 3;
      }
      
      & > *:nth-child(3),
      & > *:nth-child(4),
      & > *:nth-child(5) {
        order: 3;
        z-index: 2;
      }
      & > *:nth-child(3){
        margin-left: 0;
      }
      
      
    }
    
    .filters_search {
      //width: 100%;
      
      input {
        //width: 100%;
        //background: #FFFFFF;
        //border-radius: 4px;
        //height: 35px;
        //overflow: hidden;
        //font-family: 'SourceSansPro';
        //font-size: 18px;
        //color: #303233;
        //padding: 0 42px 0 18px;
        
        @include placeholder {
          //font-family: 'SourceSansPro';
          //font-size: 18px;
          //color: #AEB5BB;
        }
        //box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
        
        &:hover, &:focus {
          //box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
        }
      }
    }
    
    app-select-search, app-select-with-groups, app-simple-select {
      //flex: 1;
      
      ::ng-deep {
        .box {
          //width: auto;
        }
      }
    }
    
    app-select-with-groups {
      //margin: 0 30px;
    }
  }
  
  
  .table_filters {
    //display: flex;
    //align-items: center;
    //margin-bottom: 10px;
    .table_filters-item_wrap {
      //display: flex;
      //justify-content: flex-start;
      //align-items: flex-start;
      .table_filters-item {
        //padding: 10px;
        //padding-left: 9px;
        //cursor: pointer;
        //display: flex;
        //align-items: center;
        &.__active {
          span {
            //color: #303233;
          }
          
          svg {
            //fill: #303233;
          }
        }
        
        &.__rotate {
          .svg-arrow {
            //transform: rotate(0);
          }
        }
      }
      
      &:nth-of-type(1) {
        max-width: 66px;
        min-width: 66px;
      }
      
      &:nth-of-type(2) {
        padding-left: 52px;
        //flex: 1;
      }
      
      &:nth-of-type(3) {
        display: none;
        //max-width: 140px;
        //min-width: 140px;
        //pointer-events: none!important;
      }
      
      &:nth-of-type(4) {
        //max-width: 50px;
        //min-width: 50px;
        padding-right: 0;
      }
      
      &:nth-of-type(5) {
        //max-width: 90px;
        //min-width: 90px;
        padding-right: 0;
      }
      
      
    }
    
    span {
      //font-family: 'SourceSansPro';
      //font-size: 14px;
      //letter-spacing: 0.21px;
      //color: #AEB5BB;
    }
    
    svg {
      //fill: #AEB5BB;
    }
    
    .svg-star {
      //width: 10.4px;
      //height: 10px;
      //margin-right: 9px;
    }
    
    .svg-arrow {
      //width: 10px;
      //height: 5px;
      //margin-left: 9px;
      //transform: rotate(180deg);
      
    }
    
  }
  
  .table_content {
    a {
      //display: flex;
      //align-items: center;
      //height: 70px;
      //border-radius: 3px;
      //overflow: hidden;
      
      &:hover {
        //background-color: #fff;
      }
      
    }
    
    .col {
      //padding-left: 9px;
      .svg-star {
        //width: 16.7px;
        //height: 16px;
        //margin-right: 5px;
        //fill: #FFC800;
      }
      
      .photo {
        //margin-right: 12px;
        //min-width: 50px;
        //max-width: 50px;
        //height: 50px;
        //overflow: hidden;
        //border-radius: 50%;
      }
      
      &:nth-of-type(1) {
        max-width: 56px;
        min-width: 56px;
        
        span {
          //font-family : 'SourceSansPro';
          //font-size : 15px;
          //color : #767D80;
        }
      }
      
      &:nth-of-type(2) {
        //flex: 1;
        //display: flex;
        //align-items: center;
        //overflow: hidden;
        //white-space: nowrap;
        //text-overflow: ellipsis;
        //padding-right: 20px;
        span {
          //font-family : 'SourceSansPro';
          //font-size : 19px;
          //letter-spacing : 0.28px;
          //color : #303233;
          //overflow: hidden;
          //white-space: nowrap;
          //text-overflow: ellipsis;
        }
      }
      
      &:nth-of-type(3) {
        display: none;
        //max-width: 140px;
        //min-width: 140px;
        img {
          //max-width: 30px;
          //max-height: 35px;
          //height: auto;
          //width: auto;
        }
        
        span {
          //font-family : 'SourceSansPro';
          //font-size : 15px;
          //letter-spacing : 0.22px;
          //color : #767D80;
        }
      }
      
      &:nth-of-type(4) {
        //max-width: 50px;
        //min-width: 50px;
        //
        //font-family : Source Sans Pro;
        //font-size : 15px;
        //letter-spacing : 0.22px;
        //color : #767D80;
        //color : rgb(118, 125, 128);
      }
      
      &:nth-of-type(5) {
        //max-width: 90px;
        //min-width: 90px;
        //
        //font-family : Source Sans Pro;
        //font-size : 15px;
        //letter-spacing : 0.22px;
        //color : #767D80;
        //color : rgb(118, 125, 128);
      }
      
      
    }
  }
}


@media all and (max-width: 599px) {
  
  .page {
    //padding: v_2xl(1200, 0) 0;
    //box-sizing: content-box;
    padding: 20px 12px 30px;
  }
  
  .container {
    //padding: 0;
    //position: relative;
  }
  
  .pagination_wrap {
    //display: flex;
    //align-items: center;
    //justify-content: center;
    //margin-top: 15px;
    
    pagination-controls {
      display: none !important;
    }
    
    .currentPage {
      display: block;
      margin: 0 15px;
    }
    
    .pagination_btn {
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //padding: 10px;
      //cursor: pointer;
      //margin-right: 16px;
      
      &.__disabled {
        //pointer-events: none;
        //opacity: 0.5;
      }
      
      &.__rotate {
        //transform: rotate(180deg);
        //margin-left: 16px;
        //margin-right: 0;
      }
      
      svg {
        //width: 18.1px;
        //height: 16.5px;
        //fill: #AEB5BB;
      }
      
      &:hover {
        svg {
          //fill: #7C858C;
        }
      }
    }
    
    ::ng-deep {
      .ngx-pagination {
        display: none;
        //display: flex;
        //align-items: center;
        //margin: 0 auto;
        
        a, button {
          //font-family: Arial;
          //font-size: 15px;
          //letter-spacing: 0.38px;
          //color: #767D80;
          //margin: 0 5px;
          
          &:hover {
            //color: #2053AB;
            //background-color: transparent;
          }
        }
        
        .current {
          //color: #767D80;
          //cursor: default;
          //background-color: #fff;
          //border-radius: 50%;
          //width: 35px;
          //height: 35px;
          //overflow: hidden;
          //display: flex;
          //justify-content: center;
          //align-items: center;
        }
      }
    }
  }
  
  
  .top {
    //display: flex;
    //align-items: center;
    //margin-bottom: v_md(1200, 6);
    
    position: relative;
    
    &.__search {
      padding-bottom: 40px;
      
      .search_value {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    
    app-right-widget-toolbar {
      //display: none;
    }
    
    h1 {
      //font-family: 'SourceSansProBold';
      font-size: 25px;
      letter-spacing: 0.13px;
      //letter-spacing: 0.18px;
      //color: #303233;
      //margin-right: 20px;
    }
    
    .search_value {
      //display: flex;
      //align-items: center;
      //height: 30px;
      //padding: 0 11px;
      //background-color: #fff;
      //border-radius: 15px;
      
      span {
        //font-family: 'SourceSansPro';
        //font-size: 15px;
        //letter-spacing: 0.22px;
        //color: #767D80;
      }
      
      svg {
        //width: 11.5px;
        //height: 11.5px;
        //fill: #A3ACB3;
        //margin-top: 2px;
        //margin-left: 7px;
        //cursor: pointer;
        
        &:hover {
          //fill: #7C858C;
        }
      }
    }
    
    .allFiltersBtn {
      //padding: 5px;
      //cursor: pointer;
      //display: block;
      //line-height: 0;
      //display: none;
      //display: block;
      padding-top: 8px;
      &.__active {
        svg {
          //fill: #3A70CF
        }
      }
      
      svg {
        //width: 23px;
        //height: 14px;
        //fill: #A3ACB3;
      }
    }
    
    .searchBtn {
      //padding: 5px;
      //cursor: pointer;
      //margin: auto 10px auto auto;
      //display: block;
      //line-height: 0;
      
      &.__active {
        svg {
          //fill: #3A70CF
        }
      }
      
      &:hover {
        //transform: scale(1.1);
        
        svg {
          //fill: #303233;
        }
      }
      
      svg {
        //width: 20px;
        //height: 20px;
        //fill: #A3ACB3;
      }
    }
  }
  
  .filters {
    margin-bottom: 10px;
    
    &.__hidden {
      display: none;
    }
    
    .filters_select {
      flex-direction: column;
      //display: flex;
      //align-items: center;
      //justify-content: space-between;
      
      &:first-child {
        //display: none !important;
      }
    }
  
    .filters_select {
      //display: flex;
      //align-items: center;
      //justify-content: space-between;
      & > *:nth-child(1){
        z-index: 5
      
      }
      & > *:nth-child(2){
        z-index: 4
      }
      & > *:nth-child(3){
        z-index: 3
      }
      & > *:nth-child(4){
        z-index: 2
      }
      & > *:nth-child(5){
        z-index: 1
      }
      
    
    
      & > * {
        margin-left: 0;
        margin-bottom: 16px!important;
      }
    
      & > *:last-child {
        margin-bottom: 0;
        //margin-left: 0;
      }
    
    }
    .filters_search {
      //width: 100%;
      
      input {
        //width: 100%;
        //background: #FFFFFF;
        //border-radius: 4px;
        //height: 35px;
        //overflow: hidden;
        //font-family: 'SourceSansPro';
        //font-size: 18px;
        //color: #303233;
        //padding: 0 42px 0 18px;
        
        @include placeholder {
          //font-family: 'SourceSansPro';
          //font-size: 18px;
          //color: #AEB5BB;
        }
        //box-shadow: 0px 1px 2px rgba(156, 168, 174, 0.2);
        
        &:hover, &:focus {
          //box-shadow: 0px 2px 4px rgba(156, 168, 174, 0.2);
        }
      }
    }
    
    app-select-search, app-select-with-groups, app-simple-select {
      //flex: 1;
      position: relative;
      width: 100%;
      
      ::ng-deep {
        .box {
          //width: auto;
        }
      }
    }
    
    .first_select {
      z-index: 3;
    }
    
    .second_select {
      z-index: 1;
    }
    
    
    app-select-with-groups {
      //margin: 10px 0;
      z-index: 2;
    }
  }
  
  
  .table_filters {
    display: none;
    //display: flex;
    //align-items: center;
    //margin-bottom: 10px;
    .table_filters-item_wrap {
      //display: flex;
      //justify-content: flex-start;
      //align-items: flex-start;
      .table_filters-item {
        //padding: 10px;
        //padding-left: 9px;
        //cursor: pointer;
        //display: flex;
        //align-items: center;
        &.__active {
          span {
            //color: #303233;
          }
          
          svg {
            //fill: #303233;
          }
        }
        
        &.__rotate {
          .svg-arrow {
            //transform: rotate(0);
          }
        }
      }
      
      &:nth-of-type(1) {
        //max-width: 66px;
        //min-width: 66px;
      }
      
      &:nth-of-type(2) {
        //padding-left: 52px;
        //flex: 1;
      }
      
      &:nth-of-type(3) {
        //display: none;
        //max-width: 140px;
        //min-width: 140px;
        //pointer-events: none!important;
      }
      
      &:nth-of-type(4) {
        //max-width: 50px;
        //min-width: 50px;
        //padding-right: 0;
        display: none;
      }
      
      &:nth-of-type(5) {
        //max-width: 90px;
        //min-width: 90px;
        //padding-right: 0;
        display: none;
      }
      
      
    }
    
    span {
      //font-family: 'SourceSansPro';
      //font-size: 14px;
      //letter-spacing: 0.21px;
      //color: #AEB5BB;
    }
    
    svg {
      //fill: #AEB5BB;
    }
    
    .svg-star {
      //width: 10.4px;
      //height: 10px;
      //margin-right: 9px;
    }
    
    .svg-arrow {
      //width: 10px;
      //height: 5px;
      //margin-left: 9px;
      //transform: rotate(180deg);
      
    }
    
  }
  
  .table_content {
    a {
      //display: flex;
      //align-items: center;
      //height: 70px;
      //border-radius: 3px;
      //overflow: hidden;
      
      &:hover {
        background-color: transparent;
      }
      
    }
    
    .col {
      //padding-left: 9px;
      .svg-star {
        //width: 16.7px;
        //height: 16px;
        //margin-right: 5px;
        //fill: #FFC800;
      }
      
      .photo {
        //margin-right: 12px;
        min-width: 35px;
        max-width: 35px;
        height: 35px;
        //overflow: hidden;
        //border-radius: 50%;
      }
      
      &:nth-of-type(1) {
        //max-width: 56px;
        //min-width: 56px;
        padding-left: 0;
        display: flex;
        align-items: center;
        
        span {
          //font-family : 'SourceSansPro';
          //font-size : 15px;
          //color : #767D80;
        }
      }
      
      &:nth-of-type(2) {
        //flex: 1;
        //display: flex;
        //align-items: center;
        //overflow: hidden;
        //white-space: nowrap;
        //text-overflow: ellipsis;
        padding-right: 0;
        span {
          //font-family : 'SourceSansPro';
          font-size: 17px;
          letter-spacing: 0.26px;
          //color : #303233;
          //overflow: hidden;
          //white-space: nowrap;
          //text-overflow: ellipsis;
        }
      }
      
      &:nth-of-type(3) {
        //display: none;
        //max-width: 140px;
        //min-width: 140px;
        img {
          //max-width: 30px;
          //max-height: 35px;
          //height: auto;
          //width: auto;
        }
        
        span {
          //font-family : 'SourceSansPro';
          //font-size : 15px;
          //letter-spacing : 0.22px;
          //color : #767D80;
        }
      }
      
      &:nth-of-type(4) {
        //max-width: 50px;
        //min-width: 50px;
        //
        //font-family : Source Sans Pro;
        //font-size : 15px;
        //letter-spacing : 0.22px;
        //color : #767D80;
        //color : rgb(118, 125, 128);
        display: none;
      }
      
      &:nth-of-type(5) {
        //max-width: 90px;
        //min-width: 90px;
        //
        //font-family : Source Sans Pro;
        //font-size : 15px;
        //letter-spacing : 0.22px;
        //color : #767D80;
        //color : rgb(118, 125, 128);
        display: none;
      }
      
      
    }
  }
}
