<div class="page">
  <div class="container">
    <div class="top" [class.__search]="searchValue" #topEl>
      <h1>{{'person-list-page.head' | translate}}</h1>
      <div class="search_value" *ngIf="searchValue">
        <span>{{searchValue}}</span>
        <svg class="svg-cross" (click)="clearSearch()">
          <use [attr.xlink:href]="'#cross'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
      <button type="button" class="searchBtn" (click)="switchFilters(searchEl)" [class.__active]="filtersToggle" [matTooltip]="'tooltips.global-icn.search' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
        <svg class="svg-magnif" *ngIf="!filtersToggle">
          <use [attr.xlink:href]="'#magnif'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <app-btn-close *ngIf="filtersToggle"></app-btn-close>
      </button>
      <button class="allFiltersBtn" type="button" [class.__active]="showFilters" (click)="showFilters = !showFilters; filtersToggle = false;">
        <svg class="svg-dropdown-btn">
          <use [attr.xlink:href]="'#dropdown-btn'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </button>
      <app-right-widget-toolbar [add_person]="true" [search]="false" [info]="true" [play]="false" [playUrl]="'/video?page=politics'" [share]="true"></app-right-widget-toolbar>
    </div>
    <div class="filters" [class.__hidden]="!showFilters">
      <div class="filters_search" [hidden]="!filtersToggle">
        <input type="text" (keyup.enter)="searchHandler()" [placeholder]="'materials-list-page.search-placeholder' | translate" [(ngModel)]="filterParams.search" #searchEl/>
        <div class="searchButton" (click)="searchHandler()">
          <svg class="svg-arrow">
            <use [attr.xlink:href]="'#arrow'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
      <div class="filters_select" [hidden]="filtersToggle">
        <app-select-search [url]="'/workplaces/dict-person'" [placeholder]="'add-material-page.where-workplace-placeholder' | translate" [icon]="'portfolio'" [allBtn]="true" [listKey]="'title'" [key]="'short'" [direction]="'left'" (valueChange)="changeWorkPlace($event)"></app-select-search>
        <app-select-search [url]="'/regions/dict'" [placeholder]="'add-material-page.region-placeholder' | translate" [allBtn]="true" [key]="'title'" [listKey]="'title'" [icon]="'place'" [direction]="'left'" (valueChange)="changeRegion($event)"></app-select-search>
        <app-select-with-groups (change)="changeDistrict($event)" [reset]="{region_id: filterParams.region_id}" [placeholder]="'add-material-page.district-placeholder' | translate" [direction]="'left'" [url]="'/districts/dict?' + (filterParams.region_id ? 'region_id=' + filterParams.region_id : '')"></app-select-with-groups>
        <app-select-with-groups (change)="changeCity($event)" [direction]="'right'" [placeholder]="'add-material-page.city-placeholder' | translate" [reset]="{district_id: filterParams.district_id, region_id: filterParams.region_id}" [url]="'/cities/dict?' + (filterParams.district_id ? 'district_id=' + filterParams.district_id : '')
           + (filterParams.district_id ? '&': '')
            + (filterParams.region_id ? 'region_id=' + filterParams.region_id : '')
"></app-select-with-groups>
        <app-select-search class="first_select" [direction]="'right'" [url]="'/parties/dict-person'" [placeholder]="'person-list-page.dict-person-placeholder' | translate" [icon]="'array'" [allBtn]="true" [listKey]="'title'" [key]="'short'" (valueChange)="changeParty($event)"></app-select-search>
      </div>
    </div>
    <div class="table">
      <div class="table_filters">
        <div class="table_filters-item_wrap">
          <div class="table_filters-item" [matTooltip]="'tooltips.global-icn.rating' | translate" matTooltipPosition="above" matTooltipClass="add-material-tooltip" [ngClass]="{
        '__active': filterParams.order_by === 'rating',
        '__rotate': filterParams.direction === 'asc' && filterParams.order_by === 'rating'
        }" (click)="filterHandler('rating')">
            <svg class="svg-star">
              <use [attr.xlink:href]="'#star'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <svg class="svg-arrow">
              <use [attr.xlink:href]="'#array'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
        <div class="table_filters-item_wrap">
          <div class="table_filters-item" [ngClass]="{
        '__active': filterParams.order_by === 'sirname',
        '__rotate': filterParams.direction === 'asc' && filterParams.order_by === 'sirname'
        }" (click)="filterHandler('sirname')">
            <span>{{'person-list-page.filters.2' | translate}}</span>
            <svg class="svg-arrow">
              <use [attr.xlink:href]="'#array'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
        <div class="table_filters-item_wrap">
          <div class="table_filters-item">
            <span>{{'person-list-page.filters.3' | translate}}</span>
          </div>
        </div>
        <div class="table_filters-item_wrap">
          <div class="table_filters-item" [ngClass]="{
        '__active': filterParams.order_by === 'for',
        '__rotate': filterParams.direction === 'asc' && filterParams.order_by === 'for'
        }" (click)="filterHandler('for')">
            <span>{{'person-list-page.filters.4' | translate}}</span>
            <svg class="svg-arrow">
              <use [attr.xlink:href]="'#array'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
        <div class="table_filters-item_wrap">
          <div class="table_filters-item" [ngClass]="{
        '__active': filterParams.order_by === 'against',
        '__rotate': filterParams.direction === 'asc' && filterParams.order_by === 'against'
        }" (click)="filterHandler('against')">
            <span>{{'person-list-page.filters.5' | translate}}</span>
            <svg class="svg-arrow">
              <use [attr.xlink:href]="'#array'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="table_content">
        <a href="" [routerLink]="['/person', person.slug]" *ngFor="let person of (persons | async).Persons | paginate: { itemsPerPage: filterParams.itemsPerPage, currentPage: filterParams.page, totalItems: filterParams.total}; let i = index">
          <div class="col">
            <svg class="svg-star">
              <use [attr.xlink:href]="'#star'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <span>{{person.rating}}</span>
          </div>
          <div class="col">
            <div class="photo">
              <img [src]="person.avatar" alt="">
            </div>
            <span>{{person.getFullName()}}</span>
          </div>
          <div class="col">
            <div class="party_icon" [matTooltip]="person.party.short" matTooltipPosition="above" matTooltipClass="add-material-tooltip">
              <img *ngIf="person.party.logo_sm" [src]="person.party.logo_sm" alt="">
            </div>
            <span *ngIf="!person.party.logo_sm">{{'person-list-page.non-partisan-label' | translate}}</span>
          </div>
          <div class="col" [innerText]="">{{person.vote_for}}</div>
          <div class="col">{{person.vote_against}}</div>
        </a>
        <app-empy-list-string *ngIf="!persons.length" [text]="'errors.empy-widget-list-2' | translate"></app-empy-list-string>
      </div>

    </div>
    <div class="pagination_wrap" *ngIf="filterParams.lastPage > 1">
      <div class="pagination_btn" [class.__disabled]="filterParams.page < 2" (click)="changePageArrowHandler(-1)">
        <svg class="svg-arrow">
          <use [attr.xlink:href]="'#arrow'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
      <div class="currentPage">{{filterParams.page}}</div>
      <pagination-controls (pageChange)="changePageHandler($event)" directionLinks="false" autoHide="true"></pagination-controls>
      <div class="pagination_btn __rotate" [class.__disabled]="filterParams.page === filterParams.lastPage" (click)="changePageArrowHandler(1)">
        <svg class="svg-arrow">
          <use [attr.xlink:href]="'#arrow'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
    </div>
    <!--    <app-right-widget></app-right-widget>-->
  </div>
</div>
