<div class="box">
  <div class="top">
    <div class="cover" *ngIf="!audio">
      <label>
        <input type="file" (change)="getAudio($event)"/>
      </label>
      <div class="tooltip">
        <svg class="svg-tools-7">
          <use [attr.xlink:href]="'#tools-7'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <div class="text">{{'add-material-page.audio-block.label' | translate}}</div>
      </div>
    </div>
    <div class="audio" *ngIf="audio">
      <audio controls>
        <source [src]="audio | safeUrl">
      </audio>
    </div>
  </div>
  <div class="inp">
    <input [hidden]="lang !== 'ru'" title="" type="text" [placeholder]="'add-material-page.blocks.placeholder_ru' | translate" [(ngModel)]="descrRu" (ngModelChange)="newDescrRu.emit(descrRu)">
    <input [hidden]="lang !== 'ua'" title="" type="text" [placeholder]="'add-material-page.blocks.placeholder_ua' | translate" [(ngModel)]="descrUa" (ngModelChange)="newDescrUa.emit(descrUa)">
  </div>
</div>
<div class="error" *ngIf="error">{{error}}</div>
