.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.top {
  position: relative;
  margin-bottom: 6px;
  width: 100%;
  overflow: hidden;
  
  &:hover {
    .img {
      .img_tint {
        opacity: 1;
      }
    }
  }
  label {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
  }
  input {
    display: none;
  }
}

.cover {
  background-color: #E6E8EB;
  overflow: hidden;
  border-radius: 3px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  
  
  &:hover {
    .tooltip {
      svg {
        fill: #303233
      }
      .text {
        color: #303233;
      }
    }
    
  }
  
}

.tooltip {
  display: flex;
  align-items: center;
  
  svg {
    width: 34.7px;
    height: 40px;
    fill: #7C858C;
    margin-right: 20px;
  }
  
  .text {
    font-family: 'SourceSansPro';
    font-size: 16px;
    line-height: 18px;
    color: #7C858C;
  }
}

.audio {
  position: relative;
  line-height: 0;
  padding: 35px 0 0;
  .delete {
    position: absolute;
    padding: 10px;
    right: 5px;
    top: 5px;
    z-index: 10;
    cursor: pointer;
    .svg-basket {
      fill: #A3ACB3;
      width: 15px;
      height: 15px;
    }
  }
  audio {
    display: block;
    width: 100%;
    outline: none;
  }
}


.inp {
  input {
    font-family: 'SourceSansProSemiBold';
    background-color: transparent;
    border-radius: 3px;
    overflow: hidden;
    
    width: 305px;
    height: 33px;
    text-align: right;
    padding: 0 18px;
    
    font-size: 16px;
    color: #303233;
    
    &:focus {
      background-color: #fff;
    }
  }
}

.error {
  position: absolute;
  right: 0;
  bottom: -10px;
  transform: translateY(50%);
  font-family : 'SourceSansPro';
  font-size : 14px;
  letter-spacing : 0.35px;
  color : #FF0000;
  z-index: 100;
  background-color: #F7F7F7;
  padding: 3px 10px;
}

