@import "~src/assets/scss/_variables";

.page {
  padding: v_2xl(1200, 0) 0;
}

.container {
  padding: 0 5px;
  position: relative;
}

.donate {
  max-width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  
  & > *:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-family: 'SourceSansProBold';
  font-size: 35px;
  letter-spacing: 0.18px;
  color: #303233;
  margin-bottom: 35px;
}

p {
  font-family: 'SourceSansPro';
  font-size: 17px;
  line-height: 26px;
  color: #303233;
  margin-bottom: 34px;
  ::ng-deep {
    strong {
      font-family: 'SourceSansProSemiBold';
    }
  }
}

h2 {
  font-family: 'SourceSansProSemiBold';
  font-size: 25px;
  color: #303233;
  margin-bottom: 24px;
}

@media all and (max-width: 1199px) {
  //@import "~src/assets/scss/_variables";
  
  .page {
    //padding: v_2xl(1200, 0) 0;
    padding: 50px 0;
  }
  
}

@media all and (max-width: 959px) {
  //@import "~src/assets/scss/_variables";
  
  .page {
    //padding: v_2xl(1200, 0) 0;
    padding: 40px 0;
  }
  
  .container {
    padding: 0 12px;
    //position: relative;
  }
  
  .donate {
    //max-width: 680px;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
    //margin: 0 auto;
  }
  
  h1 {
    //font-family: 'SourceSansProBold';
    font-size : 30px;
    letter-spacing : 0.15px;
    //color: #303233;
    margin-bottom: 30px;
  }
  
  p {
    //font-family: 'SourceSansPro';
    //font-size: 17px;
    //line-height: 26px;
    //color: #303233;
    margin-bottom: 30px;
  }
  
  h2 {
    //font-family: 'SourceSansProSemiBold';
    //font-size: 25px;
    //color: #303233;
    margin-bottom: 18px;
  }
}

@media all and (max-width: 599px) {
  //@import "~src/assets/scss/_variables";
  
  .page {
    //padding: v_2xl(1200, 0) 0;
    padding: 30px 0 50px;
  }
  
  .container {
    padding: 0 10px;
    //position: relative;
  }
  
  .donate {
    //max-width: 680px;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
    //margin: 0 auto;
  }
  
  h1 {
    //font-family: 'SourceSansProBold';
    font-size : 25px;
    letter-spacing : 0.13px;
    //color: #303233;
    //margin-bottom: 30px;
  }
  
  p {
    //font-family: 'SourceSansPro';
    //font-size: 17px;
    //line-height: 26px;
    //color: #303233;
    //margin-bottom: 30px;
  }
  
  h2 {
    //font-family: 'SourceSansProSemiBold';
    //font-size: 25px;
    //color: #303233;
    font-size : 22px;
    line-height : 28px;
    margin-bottom: 18px;
  }
}
