<div class="page">
  <div class="container">
    <div class="donate">
      <h1>{{'page-donate.title' | translate}}</h1>
      <ng-container *ngFor="let block of blocks">
        <h2 *ngIf="block.type === 1" [innerHTML]="block.data"></h2>
        <p *ngIf="block.type === 2" [innerHTML]="block.data"></p>
      </ng-container>
    </div>
  </div>
</div>
