@import "../../../../../../assets/scss/variables";
:host {
  display: block;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-top: 25px;
  position: relative;
}

.icon {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-30%);
  
  svg {
    width: 120px;
    height: 90px;
    fill: #E6E8EB;
  }
}

p {
  position: relative;
  font-family : 'SourceSansProSemiBold';
  font-size : 20px;
  line-height : 26px;
  color : #303233;
  width: 100%;
  margin-bottom: v_md(1200, 6);
  z-index: 2;
}

.descr {
  font-family : 'SourceSansProSemiBold';
  font-size : 16px;
  color : #A3ACB3;
  margin-right: 10px;
}
@media all and (max-width: 1199px) {
  :host {
    //display: block;
    //width: 100%;
  }
  
  .box {
    //display: flex;
    //flex-direction: column;
    //align-items: flex-end;
    //justify-content: flex-start;
    //padding-top: 25px;
    //position: relative;
  }
  
  .icon {
    //position: absolute;
    //left: 0;
    //top: 0;
    transform: translate(-20%, -5%);
    
    svg {
      width: 80px;
      height: 60px;
      //fill: #E6E8EB;
    }
  }
  
  p {
    //position: relative;
    //font-family : 'SourceSansProSemiBold';
    //font-size : 20px;
    //line-height : 26px;
    //color : #303233;
    //width: 100%;
    //margin-bottom: 6px;
    //z-index: 2;
  }
  
  .descr {
    //font-family : 'SourceSansProSemiBold';
    //font-size : 15px;
    //color : #A3ACB3;
    //margin-right: 10px;
  }
}


@media all and (max-width: 959px) {
  :host {
    //display: block;
    //width: 100%;
  }
  
  .box {
    //display: flex;
    //flex-direction: column;
    //align-items: flex-end;
    //justify-content: flex-start;
    //padding-top: 25px;
    //position: relative;
  }
  
  .icon {
    //position: absolute;
    //left: 0;
    //top: 0;
    transform: translateX(-5px);
    
    svg {
      //width: 120px;
      //height: 90px;
      //fill: #E6E8EB;
    }
  }
  
  p {
    //position: relative;
    //font-family : 'SourceSansProSemiBold';
    //font-size : 20px;
    //line-height : 26px;
    //color : #303233;
    //width: 100%;
    margin-bottom: 6px;
    //z-index: 2;
  }
  
  .descr {
    //font-family : 'SourceSansProSemiBold';
    font-size : 15px;
    //color : #A3ACB3;
    //margin-right: 10px;
  }
}


