<div class="box">
  <div class="icon">
    <svg class="svg-quote">
      <use [attr.xlink:href]="'#quote'" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </div>
  <p>{{content.cite}}</p>
  <div class="descr" *ngIf="content.caption">{{content.caption}}</div>
</div>
